<div id="serach-storeViewPanel" class="side-60 z-xl pos-abt h-full infoWindow-hidden background-white" style="top:0;left:0;overflow-y:scroll;" ng-class="{'infoWindow-active' : vm}">
  <div style="height:160px;" class="background-secondaryColor2 card-gradient bg-img-center end-xs p-f-md" ng-style="{ 'background-image': 'url(' + vm.images[0] + ')'}">
    <i class="pos-rlt z-lg white pointer icon-lg icon-close text-right" ng-click="closeInfowWindow()"></i>
  </div>
  <div class="m-t-n-xl set-flex between-xs container-edge-p m-b-lg">
    <div class='set-flex'>
      <div ng-if="vm.type !== 'request'" class="bg-img-center avatar thumb-lg background-lineColor m-r-sm pointer" ng-style="{ 'background-image': 'url(' + vm.logo + ')'}" ui-sref="store({store_id:vm.store_id})"></div>
      <div ng-if="vm.type !== 'request'" class="set-flex end-xs flex-column" style="max-width:300px;">
        <div class="w-full text-left pointer" ui-sref="store({store_id:vm.store_id})">{{vm.store_name}}</div>
        <div class="w-full text-left pointer" ui-sref="store({store_id:vm.store_id})">
          <rating star="vm.average_rating" total="vm.total_review"></rating>
        </div>
      </div>
      <!-- REQUEST -->
      <div ng-if="vm.type === 'request'" class="bg-img-center avatar thumb-lg background-lineColor m-r-sm pointer" ng-style="{ 'background-image': 'url(' + vm.user_info.picture + ')'}" ui-sref="store({store_id:vm.store_id})"></div>
      <div ng-if="vm.type === 'request'" class="set-flex end-xs flex-column" style="max-width:300px;">
        <div class="w-full text-left pointer" ui-sref="store({store_id:vm.store_id})">{{vm.user_info.name}}</div>
      </div>
    </div>
    <a ui-sref="store({store_id:vm.store_id})" target="_blank" class="m-l-sm set-flex bottom-xs">
      <button class="btn">
        <h6 class=" m-none ">
          Visit Shop
          </h6>
      </button>
    </a>
  </div>
  <div class="container-edge-p">
    <card-plate card-plate-id="infoWindowCard" no-next='false' id="sideInfoWindow-cardPlate" ng-if="vm" vm="vm"></card-plate>
  </div>
</div>