<div class="background-white r-3x p-f-2x">
  <h6 class="m-t-none m-b-sm">Wish List</h6>
  <hr class="grey-light-hr">
  <div class="row-edge form-group">
    <div class="col-xs-12">
      <card-plate card-plate-id="myLikes" ng-if="likes" vm="likes"></card-plate>
      <paginater version="v2" page-detail="pageDetail" search="search()"></paginater>
    </div>
  </div>
</div>