<div ng-class="{'modal-fade-out': fadeOut, 'modal': !isMobile, 'modal-mobile': isMobile}" close-by-key='close(null)' modal-key-close>
    <div ng-class="{'modal-dialog-sm r-3x background-white' : !isMobile}">
        <div class="set-flex flex-column p-t-md p-b-xs">
            <div class="p-md end-xs">
                <i ng-click="close()" class=" pointer icon-close grey"></i>
            </div>
            <h5 class="text-center p-md m-t-none m-b-sm">
          Are you sure?
        </h5>
            <p class="m-none text-center error-color">{{error}}</p>
            <p ng-if="message" class="text-center m-none">Please <span class="bold">Sign In</span> to {{message}}</p>
            <div class="p-f-lg">
                <div class="text-center">
                    <button class="cap btn btn-primary2 m-l m-r" ng-click="close()">
                        Cancel
                    </button>
                    <button class="cap btn btn-primary2 m-l m-r" ladda='loading' ng-click="submit()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>