<div class='d-home'>
  <section class="container-fluid background-natural" style='padding-left:0; padding-right:0;height:600px;'>
    <div class=" full-height set-flex flex-center flex-column  full-padding-lg background-red" style='padding:50px;height:600px;'>
      <h1 class="m-t m-b-xxl text-center text-4x bryant-pro-md white">
        Start selling locally today
      </h1>
      <button class="btn-invis m-b-md" ng-click="toForm()">Get Started</button>
      <p>
        <a class="white text-sm" ui-sref="menu.about({section:'contact'})">Contact Us</a>
      </p>
    </div>
  </section>
  <!-- Seller Intro -->
  <section class="container-fluid background-white  full-padding-3x set-flex flex-center" style="padding-top:80px;padding-bottom:80px;">
    <div class="row set-flex flex-vertical-center m-b-home flex-center">
      <div class="col-xs-12 col-sm-8">
        <div class="text-center">
          <h5 class="m-t m-b">
            Sell Where and When it’s Most Convenient to You.
          </h5>
          <h5>
            <small>Take control of your local sales! Antsquare helps you reach the buyers in your own community that didn’t even know you were there. Be discovered on the map, arrange for a convenient time and place to meet the buyer, and accept all major forms of payment—right from your mobile device. No hardware required.</small>
          </h5>
        </div>
      </div>
    </div>
  </section>
  <!-- Seller Info -->
  <div class="background-white">
    <section class="container-fluid background-white padding-3x" style="max-width:1800px;">
      <div class="row flex-center">
        <div>
          <div ng-repeat="slide in sellingSlide track by $index" class="row" style="padding-top:30px;padding-bottom:30px;">
            <div ng-if="$index % 2 === 0" class="set-flex flex-center">
              <div class="col-sm-1 hidden-xs">
              </div>
              <div class="col-xs-12 col-sm-5 sellRowHeight hidden-xs fadeInAct action" style="padding-right:50px;">
                <div class="sellerInfoImg img-bg-contain w-full  sellRowHeight sellRowWidth" ng-style="{ 'background-image': 'url(' + slide.image + ')' }">
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 sellRowHeight set-flex flex-center start-xs b-to-t-fade action text-left" style="padding-left:50px;">
                <div class="sellInfoTextWidth">
                  <div class="set-flex flex-center m-b start-xs">
                    <img class="m-r sellerSlideIcon" ng-src="{{slide.icon}}">
                    <h3 class="m-none secondaryColor2">{{slide.title}}</h3>
                  </div>
                  <p>
                    {{slide.content}}
                  </p>
                </div>
              </div>
            </div>
            <div ng-if="$index % 2 === 1" class="set-flex flex-center">
              <div class="col-xs-12 col-sm-5 sellRowHeight set-flex flex-center  b-to-t-fade action" style="padding-right:50px;">
                <div class="sellInfoTextWidth">
                  <div class="set-flex flex-center m-b start-xs">
                    <img class="m-r sellerSlideIcon" ng-src="{{slide.icon}}">
                    <h3 class="m-none secondaryColor2">{{slide.title}}</h3>
                  </div>
                  <p>
                    {{slide.content}}
                  </p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 sellRowHeight fadeInAct hidden-xs action" style="padding-left:140px;">
                <div class="sellerInfoImg img-bg-contain w-full  sellRowHeight sellRowWidth" ng-style="{ 'background-image': 'url(' + slide.image + ')' }">
                </div>
              </div>
            </div>
            <div class="col-sm-1 hidden-xs">
            </div>
          </div>
          <!-- left right swap -->
          <!-- <div ng-if="$index % 2 === 0">
            <div class="col-xs-12 col-sm-5 sellRowHeight hidden-xs fadeInAct" style="padding-right:50px;">
              <div class="sellerInfoImg img-bg-contain w-full  sellRowHeight sellRowWidth" ng-style="{ 'background-image': 'url(' + slide.image + ')' }">
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 sellRowHeight set-flex flex-center b-to-t-fade" scroll-effect add-class="action" range='1300' no-loop='true' style="padding-left:50px;">
              <div class="sellInfoTextWidth">
                <div class="set-flex flex-center m-b start-xs">
                  <img class="m-r sellerSlideIcon" ng-src="{{slide.icon}}">
                  <h3 class="m-none secondaryColor">{{slide.title}}</h3>
                </div>
                <p>
                  {{slide.content}}
                </p>
              </div>
            </div>
          </div> -->
          <!-- left right swap -->
          <!-- <div ng-if="$index % 2 === 1">
            <div class="col-xs-12 col-sm-5 sellRowHeight set-flex flex-center  b-to-t-fade" scroll-effect add-class="action" range='1300' no-loop='true' style="padding-right:50px;">
              <div class="sellInfoTextWidth">
                <div class="set-flex flex-center m-b start-xs">
                  <img class="m-r sellerSlideIcon" ng-src="{{slide.icon}}">
                  <h3 class="m-none secondaryColor">{{slide.title}}</h3>
                </div>
                <p>
                  {{slide.content}}
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 sellRowHeight fadeInAct hidden-xs" scroll-effect add-class="action" range='1000' no-loop='true' style="padding-left:50px;">
              <div class="sellerInfoImg img-bg-contain w-full  sellRowHeight sellRowWidth" ng-style="{ 'background-image': 'url(' + slide.image + ')' }">
              </div>
            </div>
          </div> -->
          <!-- <div class="col-sm-1 hidden-xs">
          </div> -->
        </div>
      </div>
  </div>
  </section>
</div>
<section class="container-fluid background-white full-padding-3x">
  <div class="row flex-center">
    <div>
      <!-- title -->
      <!-- <div class="m-t-none m-b-lg text-center">
        <h2 class="m-none">
          Simple Pricing
        </h2>
        <h2 class="m-none">
          <small>Don't pay anything unless you make the sale.</small>
        </h2>
      </div> -->
      <!-- card -->
      <div class="set-flex flex-center p-t-lg p-b-lg">
        <div style="min-width:300px;" class="rounded-corners-md as-dropshadow-sm">
          <div class="rounded-corners-t-md background-red text-center p-t-md p-b-md" style="border-top-left-radius: 6px;border-top-right-radius: 6px;">
            <h1 class="white m-none" style="font-size:48px;">
              Free
            </h1>
            <p class="white m-none" style="font-size:14px;"> to list products and services </p>
          </div>
          <div class="background-natural text-center p-t-md p-b-md p-l-md p-r-md">
            <p class="m-none" style="font-size:20px;">Payment Processing Rate:
              <strong style="font-size:20px;">2.9% + 0.3 dollar per payment processing</strong>
            </p>
          </div>
          <div class="background-fieldColor " style="padding:25px;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
            <div class="m-b-sm set-flex flex-center start-xs"><i class="icon-sm grey icon-check m-r"></i>
              <p class="m-none" style="font-size:14px;">Unlimited Products</p>
            </div>
            <div class="m-b-sm set-flex flex-center start-xs"><i class="icon-sm grey icon-check m-r"></i>
              <p class="m-none" style="font-size:14px;">Secure Payment Processing</p>
            </div>
            <div class="m-b-sm set-flex flex-center start-xs"><i class="icon-sm grey icon-check m-r"></i>
              <p class="m-none" style="font-size:14px;">Customize Shop with your branding</p>
            </div>
            <div class="m-b-sm set-flex flex-center start-xs"><i class="icon-sm grey icon-check m-r"></i>
              <p class="m-none" style="font-size:14px;">Real-time Local Order Tracking</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Seller Form -->
<section id="form" ng-if="!userInfo" class="container-fluid background-natural padding-t-4x padding-b-4x" style='padding-left:0; padding-right:0;'>
  <!-- <div class="row"> -->
  <div class="set-flex sellerFiller" style="height:600px;">
    <!-- left -->
    <div class="col-xs-12 col-sm-6 col-lg-5 full-height">
      <div class="set-flex flex-center flex-column h-full">
        <div class="as-dropshadow rounded-corners-md" style="max-width:440px;">
          <div class="rounded-corners-t-md background-secondaryColor2 text-center " style="border-top-left-radius:6px;border-top-right-radius:6px;">
            <h2 class="white m-none full-padding-lg">
                Build Your Antsquare Shop Now!
              </h2>
          </div>
          <div class="background-white text-center padding-t-lg padding-b-lg set-flex flex-center flex-column rounded-corners-b" style="border-bottom-left-radius:6px;border-bottom-right-radius:6px;">
            <button class="btn-primary2 m-t m-b" loading="loading" type='submit' name="Build your shop" ui-sref="signup_login">Register an Account</button>
            <!-- <div ng-if="error" class="w-full">
              <div class="background-error set-flex flex-center" style="height:40px;padding: 3px 10px;
                color:white;">
                <div class="m-r-xs">
                  <i class="icon-md icon-unverified"></i>
                </div>
                <div>
                  <strong>Oops! </strong> {{error}}
                </div>
              </div>
            </div>
            <form class="full-padding-lg set-flex flex-center flex-column" name="signUpForm" ng-submit=submitForm()>
              <input class="w-full m-b" type="text" ng-model="data.store_name" name="shopName" placeholder="Shop Name" not-empty/>
              <warn-bubble ng-if="signUpForm.shopName.$error.empty" msg="Please enter your shop name" class="pos-rel " style="width:115%;"></warn-bubble>
              <input class="w-full m-b" type="tel" ng-model="data.input" name="phone" placeholder="Mobile Number" not-empty/>
              <warn-bubble ng-if="signUpForm.phone.$error.empty" msg="{{SIGNUP.PHONE_ERR_EM}}" class="pos-rel " style="width:115%;"></warn-bubble>
              <input class="w-full m-b" type="email" ng-model="data.email" name="email" placeholder="Email" not-empty/>
              <warn-bubble ng-if="signUpForm.email.$error.empty" msg="{{SIGNUP.EMAIL_ERR}}" class="pos-rel " style="width:115%;"></warn-bubble>
              <div class="set-flex space-between">
                <input class="w-full m-b m-r" type="text" ng-model="data.given_name" name="given_name" placeholder="First Name" maxlength="35" not-empty/>
                <input class="w-full m-b m-l" type="text" ng-model="data.family_name" name="family_name" placeholder="Last Name" maxlength="35" not-empty/>
              </div>
              <div class="set-flex space-between">
                <div>
                  <warn-bubble ng-if="signUpForm.given_name.$error.empty" style="position: relative;display: block;width: 280px;margin-left: -175px;" msg="{{SIGNUP.FIRST_NAME_ERR}}"></warn-bubble>
                </div>
                <div>
                  <warn-bubble ng-if="signUpForm.family_name.$error.empty" msg="{{SIGNUP.LAST_NAME_ERR}}"></warn-bubble>
                </div>
              </div>
              <input class="w-full m-b" type="password" ng-model="data.password" name="password" placeholder="Password" ng-minlength="6" not-empty/>
              <warn-bubble ng-if="signUpForm.password.$error.empty" msg="{{SIGNUP.PW_ERR}}" class="pos-rel " style="width:115%;"></warn-bubble>
              <warn-bubble ng-if="signUpForm.password.$error.minlength" msg="{{SIGNUP.PW_ERR_MIN}}" class="pos-rel " style="width:115%;"></warn-bubble>
              <button class="btn-primary m-t m-b" loading="loading" type='submit' name="Build your shop">Submit</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <!-- right -->
    <div class="col-xs-12 col-sm-6 col-lg-7 set-flex hidden-xs  flex-center full-height " style='padding-right:0px;height:600px;'>
      <div class="h-full sellFillerBgImg  w-full" style='background-image:url("https://d37pip7vd9logx.cloudfront.net/merchants3/img-buildyourshop@2x.png");max-width:100%;'>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
<!-- CALL TO ACTION -->
<section class="row background-primaryColor2 pos-rel" style='height:360px; margin-right:0; margin-left:0;'>
  <div class="hidden-xs col-sm-4 col-md-5">
    <div class="w-full m-t-xxl accentBgImg" style='background-image:url("https://d37pip7vd9logx.cloudfront.net/merchants3/getantsquare@2x.png");'>
    </div>
  </div>
  <div id='app-download' class="col-xs-12 col-sm-8 col-md-7 h-full">
    <div class="flex-grow-equal set-flex flex-center h-full">
      <div class="padding-lg flex-column start-xs" ng-class="isMobile ? 'btn-primarymobile' : ''">
        <h2 class="m-t-none  white">
            Get Antsquare on iPhone or Android Today!
          </h2>
        <div class="m-t-lg product-list" ng-class="isMobile ? '' : 'set-flex'">
          <div class="m-r-lg m-t">
            <a href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank">
              <button class=" btn-primary2 text-lg  set-flex flex-center"><i class="icon-lg m-r-sm icon-appstore"></i>App Store</button>
            </a>
          </div>
          <div class="m-t">
            <a href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank">
              <button class="btn-primary2 text-lg set-flex flex-center"><i class="icon-lg m-r-sm icon-android"></i>Google Play</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>