<navbar></navbar>
<div class="set-flex center-xs">
    <div class=" background-white" style="max-width: 500px;">
        <div class="set-flex flex-column p-t-md p-b-xs">
            <!-- SignUp -->
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="text-center">
                    <h5 class=" p-md m-t-none m-b-sm">
          Referral Register
        </h5>
                    <p class="m-none">Sign up to get $5 to spend on antsquare</p>
                    <p class="m-none grey">Refferal Code: {{referral_code}}</p>
                </div>
                <!-- <select ng-model="selectedCountry" pvp-country-picker></select>
      <select name="country" ng-model="selectedCountry" pvp-country-picker ng-change="onChange()" required></select>
      <select ng-model="selectedCountry" pvp-country-picker="name"></select> -->
                <p class="m-none text-center error-color">{{error}}</p>
                <div class="p-f-lg">
                    <form name="loginForm" ng-submit="submitForm()" novalidate>
                        <country-selector country="country"></country-selector>
                        <input class="w-full m-b-sm m-t-sm text-center" type="tel" name="number" ng-model="form.phone" placeholder="Mobile Number" maxlength="20">
                        <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="form.email" placeholder="Email" name="email">
                        <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="form.given_name" placeholder="First Name" name="given_name">
                        <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="form.family_name" placeholder="Last Name" name="family_name">
                        <input class="w-full m-b-sm m-t-sm text-center" type="password" placeholder="Password" ng-model="form.password" name="password">
                        <div class=" set-flex flex-center text-center m-t-sm">
                            <div vc-recaptcha key="'6LckhhsTAAAAAIKxoWZZ-6FRWVdR-453bRlLhob3'" ng-model="gRecaptchaResponse" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
                        </div>
                        <input type="submit" style="position: absolute; left: -9999px" />
                    </form>
                    <p class="text-center"><small class="grey">By signing up, I agree to Antsquare's <a href="https://dashboard.antsquare.com/terms" target="_blank">Terms of Service &amp; Privacy Policy</a>.</small></p>
                    <div class="text-center">
                        <button class="cap btn btn-primary2" ng-click="submitForm()" ladda='signupLoading' ng-disabled="!signUpToggle">
                            Sign Up
                        </button>
                        <!-- <p>or sign up using <span class="fbColor bold pointer" ng-click="authenticate('facebook')">Facebook</span></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<as-footer></as-footer>