<!-- BuyerInfo Desktop-->
<section class="background-purple-gradient p-t-4x p-b-4x landing-d-hide">
  <div class="container-edge">
    <div class="set-flex flex-center flex-column">
      <p class="cap m-none p-none cap white">
        How It Works
      </p>
      <h4 class="cap title m-t-sm text-center white">
        Mobile Shops
      </h4>
    </div>
    <div class="row-edge set-flex center-xs">
      <!-- Left -->
      <div class="col-xs-12 col-sm-3 set-flex flex-column around-sm p-r-none p-l-none">
        <div class="set-flex end-sm center-xs">
          <div class="white">
            <h6 class="cap title m-none">{{point1.title}}
            </h6>
            <p>{{point1.content}}
            </p>
          </div>
          <div class="m-l flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point1.img}}" alt="" class="mobile-benefits-icon">
          </div>
        </div>
        <div class="set-flex end-sm center-xs">
          <div class="white">
            <h6 class="cap title m-none">{{point2.title}}
            </h6>
            <p>{{point2.content}}
            </p>
          </div>
          <div class="m-l flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point2.img}}" alt="" class="mobile-benefits-icon">
          </div>
        </div>
        <div class="set-flex end-sm center-xs">
          <div class="white">
            <h6 class="cap title m-none">{{point3.title}}
            </h6>
            <p>{{point3.content}}
            </p>
            <a ng-href="{{sellLink}}" class="mute">
              <button class="btn-trn white">Sell for Free</button>
            </a>
          </div>
          <div class="m-l flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point3.img}}" alt="" class="mobile-benefits-icon">
          </div>
        </div>
      </div>
      <!-- Center -->
      <div class="col-xs-12 col-sm-5 set-flex flex-center">
        <div class="set-flex center-xs">
          <!-- Phone -->
          <div class="pos-rlt">
            <img ng-src="{{phoneImg}}" alt="" class="w-full h-full">

            <div class="pos-abt landing-video">
              <video ng-if="!isMobile" width="100%" height="auto" autoplay loop poster="{{videoPoster}}">
                <source ng-src="{{videoMp4 | trustUrl}}" type="video/mp4">
              </video>
              <video ng-if="isMobile" width="100%" height="auto" controls autoplay loop poster="{{videoPoster}}">
                <source ng-src="{{videoMp4 | trustUrl}}" type="video/mp4">
              </video>
            </div>
          </div>



          <!-- <div class="fake-phone-outline set-flex flex-center">
            <div class="fake-phone-screen">
            </div>
          </div> -->
        </div>
      </div>
      <!-- Right -->
      <div class="col-xs-12 col-sm-3 set-flex flex-column around-sm p-l-none p-r-none">
        <div class="set-flex start-sm center-xs">
          <div class="m-r flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point4.img}}" alt="" class="mobile-benefits-icon">
          </div>
          <div class="white">
            <h6 class="cap title m-none">{{point4.title}}
            </h6>
            <p>{{point4.content}}
            </p>
          </div>
        </div>
        <div class="set-flex start-sm center-xs">
          <div class="m-r flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point5.img}}" alt="" class="mobile-benefits-icon">
          </div>
          <div class="white">
            <h6 class="cap title m-none">{{point5.title}}
            </h6>
            <p>{{point5.content}}
            </p>
          </div>
        </div>
        <div class="set-flex start-sm center-xs">
          <div class="m-r flex-grow-equal" style="max-width:48px;">
            <img ng-src="{{point6.img}}" alt="" class="mobile-benefits-icon">
          </div>
          <div class="white">
            <h6 class="cap title m-none ">{{point6.title}}
            </h6>
            <p>{{point6.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row-edge center-sm text-center m-t-lg m-b-lg visible-xs-block">
      <div class="w-full p-t-sm p-t-sm">
        <button class="btn-invis"><i class="icon-appstore m-l-n-sm"></i>Download for IOS</button>
      </div>
      <div class="w-full p-t-sm p-t-sm">
        <button class="btn-invis"><i class="icon-android m-l-n-sm"></i> Download for Android</button>
      </div>
    </div>
    <div class="row-edge center-sm text-center m-t-lg m-b-lg hidden-xs">
      <button class="btn-invis m-r"><i class="icon-appstore m-l-n-sm"></i> Download for IOS</button>
      <button class="btn-invis m-r"><i class="icon-android m-l-n-sm"></i> Download for Android</button>
    </div> -->
  </div>
</section>
