<div class="container-edge flex-center ">
  <div class="row ">
    <div class="col-xs-12" id='top'>
      <section class="full-padding-lg p-t m-t">
        <h3 class="text-center w-full m-b bodyColor">
          Terms &amp; Privacy
        </h3>
        <h6>
          {{header}}
        </h6>
        <ul class="m-t">
          <li ng-repeat='li in list'>
            <p>
              {{li}}
            </p>
          </li>
        </ul>
      </section>
      <section class="full-padding-lg">
        <div ng-repeat="art in articles">
          <h4>{{art.title}}</h4>
          <p>
            {{art.content}}
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
