<ng-busy loading="loading" delay='300'>
    <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
        <div class="modal-dialog-sm r-3x background-white">
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="p-md end-xs">
                    <i ng-click="close()" class=" pointer icon-close grey"></i>
                </div>
                <h5 class="text-center p-md m-t-none m-b-sm">
          {{data.title}}
        </h5>
                <p class="text-center m-none">{{data.msg}}</p>
                <p class="m-none text-center error-color">{{error}}</p>
                <p class="text-right m-none pointer">
                    <div class="p-f-lg">
                        <div class="text-right">
                            <button class="cap btn btn-primary2" ng-click="close()">
                                Cancel
                            </button>
                            <button class="cap btn btn-primary2" ladda='loading' ng-click="submit()">
                                {{data.btn_name}}
                            </button>
                        </div>
                </p>
                </div>
            </div>
        </div>
    </div>
</ng-busy>