<div id="filterContainer" class="w-full">

  <div class="container-edge-p" style="height:50px;">
    <div class="set-flex between-xs h-full">
      <div class="filter-checkbox set-flex ">
        <input type="checkbox" ng-model="productCheckBox" id="product" ng-click="selectType('products',productCheckBox)">
        <label for="product" class="set-flex flex-center" style='padding-right:25px;'>
          <i class="icon-check" ng-class="{'secondaryColor-trans' : !productCheckBox}"></i>
        </label>
        <div class="set-flex flex-center checkbox-title">
          <p class="m-none">Products</p>
        </div>
      </div>
      <i ng-click="productList = !productList" class="icon-dropdown pointer set-flex flex-center" ng-class="{'flip': productList}" style="margin-top:2px;"></i>
    </div>
  </div>
  <div class="row-edge animate-down m-t-sm m-b-sm" ng-show="productList" style="-webkit-flex-direction: row; -webkit-flex-wrap: wrap;">
    <div class="filter-btn-p" ng-repeat="category in categories.products track by $index" >
      <button class="btn-flat btn-xs" style="padding: 5px 10px;" ng-class="category.selected ? 'active' : 'inactive'" ng-click="selectCategoryType($index,'products')" ><small>{{category.name}}</small></button>
    </div>
  </div>

  <hr class="grey-light-hr">
  <div class="container-edge-p" style="height:50px;">
    <div class="set-flex between-xs h-full">
      <div class="filter-checkbox set-flex ">
        <input type="checkbox" ng-model="serviceCheckBox" id="service" ng-click="selectType('services',serviceCheckBox)">
        <label for="service" class="set-flex flex-center" style='padding-right:25px;'>
          <i class="icon-check" ng-class="{'secondaryColor-trans' : !serviceCheckBox}"></i>
        </label>
        <div class="set-flex flex-center checkbox-title">
          <p class="m-none">Services</p>
        </div>
      </div>
      <i ng-click="serviceList = !serviceList" class="icon-dropdown pointer set-flex flex-center" ng-class="{'flip': serviceList}" style="margin-top:2px;"></i>
    </div>
  </div>
  <div class="row-edge animate-down m-t-sm m-b-sm" ng-show="serviceList">
    <div class="filter-btn-p" ng-repeat="category in categories.services track by $index">
      <button class="btn-flat btn-xs" style="padding: 5px 10px;" ng-class="category.selected ? 'active' : 'inactive'" ng-click="selectCategoryType($index,'services')"><small>{{category.name}}</small></button>
    </div>
  </div>
  <hr class="grey-light-hr">
  <div class="container-edge-p" style="height:50px;">
    <div class="set-flex between-xs h-full">
      <div class="filter-checkbox set-flex ">
        <input type="checkbox" ng-model="requestCheckBox" id="request" ng-click="selectType('requests',requestCheckBox)">
        <label for="request" class="set-flex flex-center" style='padding-right:25px;'>
          <i class="icon-check" ng-class="{'secondaryColor-trans' : !requestCheckBox}"></i>
        </label>
        <div class="set-flex flex-center checkbox-title">
          <p class="m-none">Requests</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="grey-light-hr">
  <div class="container-edge-p m-b">
    <p class="m-b-none"><small>Price</small></p>
    <div class="text-left set-flex h-full middle-xs">
      <ul class="filter-list m-none p-none flex-grow-equal">
        <li class="m-r-sm  text-nowrap" style='width:80px;'><small>${{slider.min}} - ${{showMax}}</small></li>
        <li class="m-r-sm m-l-sm w-full">
          <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options" class="m-none w-full"></rzslider>
        </li>
      </ul>
    </div>
  </div>
</div>
