<div id="filterContainer" ng-hide="!filterRelease" ng-show="filterShow" class="animate-show w-full">
  <div class="container-edge-p">
    <div class="m-t m-b set-flex flex-column " style="height:100px;">
      <div class="text-left set-flex h-full middle-xs">
        <p class="filter-label"><small>Categories</small></p>
        <ul class="text-left filter-list m-none p-none">
          <li class="m-r-sm m-l-sm">
            <div class="filter-checkbox set-flex btn-sqr">
              <input type="checkbox" ng-model="productCheckBox" id="product" ng-click="selectType('products',productCheckBox)">
              <label for="product" class="set-flex flex-center">
                <i class="icon-check"></i>
              </label>
              <div class="set-flex flex-center checkbox-title">
                <p class="m-none">Products</p>
                <!-- <i class="icon-dropdown m-l-sm"></i> -->
                <ul class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
                  <li class="pointer dropdown-menu m-none" dropdown-menu check-list='true'>
                    <i class="icon-dropdown m-l-sm" id="productsDropdown"></i>
                    <div class="dropdown-menu-triangle" style="top: 16px;"></div>
                    <ul class="dropdown-menu-list row-edge p-f-md" style="margin-top:31px; width: 360px;">
                      <div class="filter-btn-p" ng-repeat="category in categories.products track by $index">
                        <button class="btn-flat btn-xs" style="padding: 5px 10px;" ng-class="category.selected ? 'active' : 'inactive'" ng-click="selectCategoryType($index,'products')"><small>{{category.name}}</small></button>
                      </div>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="m-r-sm m-l-sm">
            <div class="filter-checkbox set-flex btn-sqr">
              <input type="checkbox" ng-model="serviceCheckBox" id="service" ng-click="selectType('services',serviceCheckBox)">
              <label for="service" class="set-flex flex-center">
                <i class="icon-check"></i>
              </label>
              <div class="set-flex flex-center checkbox-title">
                <p class="m-none">Services</p>
                <!-- <i class="icon-dropdown m-l-sm"></i> -->
                <ul class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
                  <li class="pointer dropdown-menu m-none" dropdown-menu check-list='true'>
                    <i class="icon-dropdown m-l-sm" id="servicesDropdown"></i>
                    <div class="dropdown-menu-triangle" style="top: 16px;"></div>
                    <ul class="dropdown-menu-list row-edge p-f-md" style="margin-top:31px; width: 360px;">
                      <div class="filter-btn-p" ng-repeat="category in categories.services track by $index">
                        <button class="btn-flat btn-xs" style="padding: 5px 10px;" ng-class="category.selected ? 'active' : 'inactive'" ng-click="selectCategoryType($index,'services')"><small>{{category.name}}</small></button>
                      </div>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="m-r-sm m-l-sm">
            <div class="filter-checkbox set-flex btn-sqr">
              <input type="checkbox" ng-model="requestCheckBox" id="request" ng-click="selectType('requests')">
              <label for="request" class="set-flex flex-center">
                <i class="icon-check"></i>
              </label>
              <div class="set-flex flex-center checkbox-title">
                <p class="m-none">Requests</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="text-left set-flex h-full middle-xs">
        <p class="filter-label"><small>Price</small></p>
        <ul class="filter-list m-none p-none flex-grow-equal">
          <li class="m-r-sm m-l-sm text-nowrap" style='width:80px;'><small>${{slider.min}} - ${{showMax}}</small></li>
          <li class="m-r-sm m-l-sm w-full">
            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options" class="m-none w-full"></rzslider>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <hr>
</div>
