<ng-busy loading="loading" delay='300'>
  <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close()' modal-key-close>
    <div class="modal-dialog r-3x background-white">
      <div class="set-flex flex-column p-t-md p-b-xs">
        <div class="p-md end-xs">
          <i ng-click="close()" class=" pointer icon-close grey"></i>
        </div>
        <h6 class="secondaryColor p-md m-t-none m-b-lg ">
          {{reviewList.total}} Reviews
        </h6>
        <div id="inject-loading"></div>
        <div class="p-md modal-content">
          <div class="set-flex between-xs m-b-sm m-t-sm" ng-repeat="review in reviewList.reviews track by $index" >
            <div class="set-flex w-full">
              <div>
                <a ui-sref="store({store_id: review.user_info.stores[0].id})" ng-click="close()">
                  <div class='avatar thumb bg-img-center ' style='background-image:url("{{review.user_info.picture}}");'>
                  </div>
                </a>
              </div>
              <div class="set-flex flex-column m-l w-full">
                <div class="set-flex w-full between-xs">
                  <p class="set-flex m-none">
                    <a ui-sref="store({store_id: review.user_info.stores[0].id})" class="secondaryColor">{{review.user_info.name}}</a>
                    <small>
                  <span class="grey m-l-sm" am-time-ago="review.updated_at"></span>
                </small>
                  </p>
                  <rating star="review.star"></rating>
                </div>
                <div>
                  <p class="m-none" ng-bind-html="review.content | toHtml"></p>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="reviewList.reviews.length < 1">
            {{storeInfo.store_name}} doesn't have any reviews yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-busy>
