<div class="m-b">
  <div class="background-white r-3x p-f-2x ">
    <h6 class="m-t-none m-b-sm">Payout Methods</h6>
    <hr class="grey-light-hr">
    <p class="m-none grey">
      In order for us to payout. We will require you to verify your peronal information and your bank info.
    </p>
    <div ng-if="!identityVerify && !addBankShow">
      <div class="row-edge form-group m-t">
        <div class="col-xs-3">
          <div class="set-flex middle-xs end-sm">
            <label class="control-label">Bank Account</label>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="w-full set-flex between-xs" ng-show="type">
            <div class="set-flex">
              <i class="icon-bank text-2x m-r"></i>
              <span ng-if="type === 'card'">
              <i ng-if="bank.brand == 'Visa' " class="icon-visa text-2x m-r"></i>
              <i ng-if="bank.brand == 'MasterCard' " class="icon-mastercard text-2x m-r"></i>
              <i ng-if="bank.brand == 'American Express' " class="icon-amex text-2x m-r"></i>
          </span>
              <p class="m-none">
                <strong>
                <span ng-if="type === 'bank'">{{bank.bank_name}}</span>
                <span ng-if="type === 'card'">{{bank.brand}}</span>
              </strong>
              </p>
              <p class="m-none ">
                *{{bank.last4}}
              </p>
            </div>
            <div class="set-flex flex-center">
              <div ng-if="payouts.verified" class="set-flex flex-center success-color">
                <i class="icon-verified icon-md"></i>
                <span>
              <small class="success-color">Verified</small>
            </span>
              </div>
              <div ng-if="!payouts.verified" class="set-flex flex-center error-color">
                <div class="m-r set-flex flex-center">
                  <i class="set-flex flex-center icon-unverified"></i>
                  <small class="error-color">Unverified</small>
                </div>
                <div>
                  <a ng-click="verifyAccount(bank)" class="set-flex flex-center pointer grey underline-hover">
                    <small>Micro-deposit Verification</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <button class='btn-red m-t' ng-click="addBankAcc()">
            <span ng-show="bank">Change Payment Method</span>
            <span ng-show="!bank">Add Payment Method</span>
          </button>
        </div>
      </div>
      <div class="row-edge form-group m-t">
        <div class="col-xs-3">
          <div class="set-flex middle-xs end-sm">
            <label class="control-label">Identity Verification</label>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="w-full set-flex between-xs" ng-show="type">
            <p>Status:</p>
            <div class="set-flex flex-center">
              <div ng-if="IdStatus !== 'unverified'" class="set-flex flex-center success-color">
                <i class="icon-verified icon-md"></i>
                <span>
              <small class="success-color">Verified</small>
            </span>
              </div>
              <div ng-if="IdStatus === 'unverified'" class="set-flex flex-center error-color">
                <div class="m-r set-flex flex-center">
                  <i class="set-flex flex-center icon-unverified"></i>
                  <small class="error-color">Unverified</small>
                </div>
              </div>
            </div>
          </div>
          <button class='btn-red m-t' ng-click="verifyIdentity()">
            <span ng-if="IdStatus === 'unverified'">Verify Identity</span>
            <span ng-if="IdStatus !== 'unverified'">Change Identity</span>
          </button>
        </div>
      </div>
    </div>
    <div class="m-t">
      <div ng-if="identityVerify">
        <identity-verify></identity-verify>
      </div>
      <div ng-if="addBankShow">
        <add-bank></add-bank>
      </div>
    </div>
  </div>
</div>