.footer-b {
  border: 1px solid $fieldColor;
}

.footer-b-l {
  border: 1px solid $fieldColor;
  border-left: none;
}

.footer-b-r {
  border: 1px solid $fieldColor;
  border-right: none;
}

footer {
  word-break: break-all;
}

.footer-for-news {
  margin-bottom: 15px;
}

.footer-b-t-sm {
  border-top: none;
}

.footer-b-b-sm {
  border-bottom: none;
}

.footer-b-r-sm {
  border-right: none;
}

.footer-b-l-sm {
  border-left: none;
}

.footer-b-t-md {
  border-top: none;
}

.footer-b-b-md {
  border-bottom: none;
}

.footer-b-r-md {
  border-right: none;
}

.footer-b-l-md {
  border-left: none;
}

.footer-b-t-lg {
  border-top: none;
}

.footer-b-b-lg {
  border-bottom: none;
}

.footer-b-r-lg {
  border-right: none;
}

.footer-b-l-lg {
  border-left: none;
}

.footer-b-xs {
  border-top: 1px solid $fieldColor;
  border-bottom: 1px solid $fieldColor;
}

@media only screen and (min-width: 30em) {
  .footer-b-xs {
    border: none;
  }

  .footer-b-t-md {
    border-top: none;
  }

  .footer-b-b-md {
    border-bottom: none;
  }

  .footer-b-r-md {
    border-right: none;
  }

  .footer-b-l-md {
    border-left: none;
  }

  .footer-b-t-lg {
    border-top: none;
  }

  .footer-b-b-lg {
    border-bottom: none;
  }

  .footer-b-r-lg {
    border-right: none;
  }

  .footer-b-l-lg {
    border-left: none;
  }

  .footer-b-t-sm {
    border-top: 1px solid $fieldColor;
  }

  .footer-b-b-sm {
    border-bottom: 1px solid $fieldColor;
  }

  .footer-b-r-sm {
    border-right: 1px solid $fieldColor;
  }

  .footer-b-l-sm {
    border-left: 1px solid $fieldColor;
  }
}

@media only screen and (min-width: 48em) {
  .footer-for-news {
    margin-bottom: 15px;
  }

  .footer-b-xs {
    border: none;
  }

  .footer-b-t-sm {
    border-top: none;
  }

  .footer-b-b-sm {
    border-bottom: none;
  }

  .footer-b-r-sm {
    border-right: none;
  }

  .footer-b-l-sm {
    border-left: none;
  }

  .footer-b-t-lg {
    border-top: none;
  }

  .footer-b-b-lg {
    border-bottom: none;
  }

  .footer-b-r-lg {
    border-right: none;
  }

  .footer-b-l-lg {
    border-left: none;
  }

  .footer-b-t-md {
    border-top: 1px solid $fieldColor;
  }

  .footer-b-b-md {
    border-bottom: 1px solid $fieldColor;
  }

  .footer-b-r-md {
    border-right: 1px solid $fieldColor;
  }

  .footer-b-l-md {
    border-left: 1px solid $fieldColor;
  }
}

@media only screen and (min-width: 64em) {
  .footer-b-xs {
    border: none;
  }

  .footer-for-news {
    margin-bottom: 0;
  }

  .footer-b-t-sm {
    border-top: none;
  }

  .footer-b-b-sm {
    border-bottom: none;
  }

  .footer-b-r-sm {
    border-right: none;
  }

  .footer-b-l-sm {
    border-left: none;
  }

  .footer-b-t-md {
    border-top: none;
  }

  .footer-b-b-md {
    border-bottom: none;
  }

  .footer-b-r-md {
    border-right: none;
  }

  .footer-b-l-md {
    border-left: none;
  }

  .footer-b-t-lg {
    border-top: 1px solid $fieldColor;
  }

  .footer-b-b-lg {
    border-bottom: 1px solid $fieldColor;
  }

  .footer-b-r-lg {
    border-right: 1px solid $fieldColor;
  }

  .footer-b-l-lg {
    border-left: 1px solid $fieldColor;
  }
}
