.play-button {
  background-color: rgba(#ff325b, 0.5);
  cursor: pointer;
}

.image-collage {
  background-position: top center;
  // background-image: url("https://antsquare-www.imgix.net/home/desktop-cats.png?auto=format,compress");
  // background-image: url("https://antsquare-www.imgix.net/home/desktop-cats.png?auto=format,compress");
  background-image: url('assets/images/landing.png');
}

.border-bottom-grey {
  border-bottom: $grey-light 1px solid;
}

.input-serachbox-v3 {
  // color: $red !important;
  background-color: transparent !important;
  border: none !important;
  &:hover {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
  &:focus {
    border: none !important;
  }
  box-shadow: none !important;
}

.searchbox-v3-icon {
  top: 0px;
  right: 0px;
}

.searchbox-v3-icon2 {
  top: 9px;
}

.input-serachbox-v3:focus .searchbox-v3-icon2 {
  top: 9px;
  left: 0px;
}

.landing-tags .landing-tag-active-v3 a {
  position: relative;
  color: $bodyColor;
  &:hover {
    border-bottom: $red 3px solid;
  }
  p {
    border-bottom: $red 3px solid;
    &:hover {
      border-bottom: $red 3px solid;
    }
  }
}

.landing-tags li a:hover .title-v3 {
  border-bottom: $red 3px solid;
  &:hover {
    border-bottom: $red 3px solid;
  }
}

.landing-tags-m .landing-tag-active-v3 a {
  position: relative;
  color: $bodyColor;
  &:hover {
    border-bottom: $red 3px solid;
  }
  p {
    border-bottom: $red 3px solid;
    &:hover {
      border-bottom: $red 3px solid;
    }
  }
}

.video-wrapper {
  position: relative;
  height: 600px;
}

.video-container {
  z-index: -1;
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#bgVid {
  bottom: 0;
  position: absolute;
  max-width: 100vw;
  min-width: 100vw;
  width: auto;
  min-height: 600px;
}

.d-home-slider-content-height {
  height: 490px;
}

.d-purple-bg-img-r {
  visibility: hidden;
  opacity: 0;
  width: 30%;
  position: absolute;
  height: 400px;
  right: -30px;
  bottom: 0;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 2s;
  &.visible {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}

.d-purple-bg-img-l {
  visibility: hidden;
  opacity: 0;
  width: 20%;
  position: absolute;
  height: 450px;
  left: -30px;
  bottom: 0;
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 2s;
  &.visible {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
}

.r-to-l-fade {
  transform: translateX(200px);
  opacity: 0;
  transition: all 2s;
  &.action {
    opacity: 1;
    transform: translateX(0px);
    transition: all 2s;
  }
}

.l-to-r-fade {
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s;
  &.action {
    opacity: 1;
    transform: translateX(0px);
    transition: all 2s;
  }
}

.fadeInAct {
  opacity: 0;
  transition: all 2s;
  &.action {
    opacity: 1;
    transition: all 2s;
  }
}

.b-to-t-fade {
  transform: translateY(200px);
  opacity: 0;
  transition: all 1.3s;
  &.action {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1.3s;
  }
}

.sellRowHeight {
  height: 300px;
}

.sellRowWidth {
  width: 300px;
}

.sellerInfoImg {
  max-width: 400px;
}

.accentHeight {
  height: 300px;
}

.accentBgImg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-width: 260px;
  height: 360px;
}

.sellerSlideIcon {
  width: 30px;
}

.infoSlideIcon {
  width: 64px;
  height: 64px;
}

.infoSlideIcon-mobile {
  width: 50px;
  height: 50px;
}

.infoSlideTitle {
  font-weight: bold;
  color: #FF325B;
  font-size: 1.25em;
}

.slideTitle {
  text-align: center;
  font-size: 2em;
  margin-top: 0px;
  padding-top: 30px;
}

.d-home-icon-img {
  img {
    width: 40px;
    height: auto;
  }
}

@media (max-width: 550px) {
  .sellerInfoImg {
    max-width: 300px;
  }
}

.display-table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.sellerFiller {
  height: 600px;
}

.sellFillerBgImg {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.press-bg-img {
  width: 100%;
  height: 410px;
  min-height: 410px;
  max-height: 410px;
  position: fixed;
  z-index: 1;
  top: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.m-merchant-img {
  width: 100%;
  height: 100%;
  // max-height: 212px;
  // max-width: 327px;
}

.home-page-indicator {
  border-radius: 500px;
  border: solid 1px white;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: $bodyColor;
}

.home-page-indicator.active {
  border-radius: 500px;
  border: solid 1px $bodyColor;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: white;
}

.home-footer {
  bottom: 0;
  right: 0;
  transition: all 300ms ease-out;
  height: 33px;
  &.active {
    height: 155px;
  }
}

.home-page-2-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#877ab2+0,c9dddb+100 */
  background: #877ab2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #877ab2 0%, #c9dddb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #877ab2), color-stop(100%, #c9dddb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #877ab2 0%, #c9dddb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #877ab2 0%, #c9dddb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #877ab2 0%, #c9dddb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #877ab2 0%, #c9dddb 100%);
  /* W3C */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#877ab2', endColorstr='#c9dddb', GradientType=0);
    IE6-9 */
}

.home-page-3-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c5f94+0,bf8445+100 */
  background: #7c5f94;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7c5f94 0%, #bf8445 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c5f94), color-stop(100%, #bf8445));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7c5f94 0%, #bf8445 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7c5f94 0%, #bf8445 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7c5f94 0%, #bf8445 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7c5f94 0%, #bf8445 100%);
  /* W3C */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7c5f94', endColorstr='#bf8445', GradientType=0);
     IE6-9 */
}

.home-page-4-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8672b3+0,fbf7ff+100 */
  background: #8672b3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8672b3 0%, #fbf7ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8672b3), color-stop(100%, #fbf7ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8672b3 0%, #fbf7ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8672b3 0%, #fbf7ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8672b3 0%, #fbf7ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8672b3 0%, #fbf7ff 100%);
  /* W3C */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8672b3', endColorstr='#fbf7ff', GradientType=0);
     IE6-9 */
}

.img-bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.iphoneAndWebsite {
  max-width: 100%;
  width: 70%;
  height: 70%;
  max-height: 100%;
  object-fit: contain;
  margin: 0px auto;
}

.iphoneAndWebsite_mobile {
  max-width: 100%;
  width: 100%;
  height: 70%;
  max-height: 100%;
  object-fit: contain;
  margin: 0px auto;
}

.appDownloadImage {
  width: 90%;
  height: 40%;
  object-fit: contain;
}

.appDownloadImage_mobile {
  width: 50%;
  height: 40%;
  object-fit: contain;
}