.landing-tags {
    list-style-type: none;
}

.landing-tags li {
    a {
        color: $bodyColor;
        position: relative;
        p {
            padding: 10px 15px;
            border-bottom: rgba(#ffffff, 0) 3px solid;
        }
    }
    a:hover {
        p {
            border-bottom: $secondaryColor 3px solid;
            // Triangle
            // &:after {
            //   content: '';
            //   position: absolute;
            //   left: calc(50% - 5px);
            //   top: 100%;
            //   width: 0;
            //   height: 0;
            //   border-left: 5px solid transparent;
            //   border-right: 5px solid transparent;
            //   border-top: 5px solid $secondaryColor;
            //   clear: both;
            // }
        }
    }
}

.landing-tags .landing-tag-active a {
    position: relative;
    color: $bodyColor;
    p {
        border-bottom: $secondaryColor 3px solid;
        // Triangle
        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: calc(50% - 5px);
        //   top: 100%;
        //   width: 0;
        //   height: 0;
        //   border-left: 5px solid transparent;
        //   border-right: 5px solid transparent;
        //   border-top: 5px solid $secondaryColor;
        //   clear: both;
        // }
    }
}

// Mobile Version
.landing-tags-m {
    list-style-type: none;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 3em;
    padding: 0;
    margin: 0;
    height: 100%;
}

.landing-tags-m::-webkit-scrollbar {
    display: none;
}

.landing-tags-m li {
    display: inline;
    position: relative;
    a {
        display: inline;
        color: $bodyColor;
        position: relative;
        p {
            display: inline;
            padding: 10px 5px;
            font-size: 11px;
            border-bottom: rgba(#ffffff, 0) 3px solid;
        }
    }
    a:hover {
        p {
            border-bottom: $secondaryColor 3px solid;
            // Triangle
            // &:after {
            //   content: '';
            //   position: absolute;
            //   left: calc(50% - 5px);
            //   top: 165%;
            //   width: 0;
            //   height: 0;
            //   border-left: 5px solid transparent;
            //   border-right: 5px solid transparent;
            //   border-top: 5px solid $secondaryColor;
            //   clear: both;
            // }
        }
    }
    // a:active {
    //   color: $bodyColor;
    //
    //    :after {
    //     content: '';
    //     position: absolute;
    //     left: calc(50% - 5px);
    //     top: 100%;
    //     width: 0;
    //     height: 0;
    //     border-left: 5px solid transparent;
    //     border-right: 5px solid transparent;
    //     border-top: 5px solid $secondaryColor;
    //     clear: both;
    //   }
    // }
}

.landing-tags-m .landing-tag-active a {
    position: relative;
    color: $bodyColor;
    p {
        border-bottom: $secondaryColor 3px solid;
        // Triangle
        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: calc(50% - 5px);
        //   top: 165%;
        //   width: 0;
        //   height: 0;
        //   border-left: 5px solid transparent;
        //   border-right: 5px solid transparent;
        //   border-top: 5px solid $secondaryColor;
        //   clear: both;
        // }
    }
}

.landing-tags-m2 li a {
    font-size: 14px;
}

.landing-testimonial {
    &:after {
        content: '';
        background-color: $grey-light;
        width: 46px;
        height: 2px;
        left: calc(50% - 23px);
        bottom: 0;
        clear: both;
        position: absolute;
    }
}

.landing-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.mobile-benefits-icon {
    width: 0 !important;
    transition: all 0.3s;
}

.landing-d-hide {
    display: none !important;
}

.landing-banner-content {
    width: 100%;
    div {
        text-align: center;
    }
}

.landing-category-list {
    padding-top: 1em;
}

.landing-search-push {
    margin: 0 !important;
    padding: 0 !important;
}

.landing-video {
    height: 73.5%;
    width: 59.8%;
    left: 0;
    top: 0;
    margin-left: 9%;
    margin-top: 17%;
}

@media only screen and (min-width: 48em) {
    .landing-d-hide {
        display: block !important;
    }
    .landing-category-list {
        padding-top: 60px;
    }
    .landing-search-push {
        margin-bottom: -60px !important;
        margin-top: 15px !important;
        padding: 0 !important;
    }
    .landing-banner-content {
        width: 40%;
        min-height: 400px;
        div {
            text-align: left;
        }
    }
    .landing-banner {
        background-image: url(https://antsquare-www.imgix.net/landing/townillustration.png?w=1365&auto=format,compress);
    }
}

@media only screen and (min-width: 64em) {
    .mobile-benefits-icon {
        width: 48px !important;
        transition: all 0.3s;
    }
    .landing-search-push {
        margin-bottom: -60px !important;
        margin-top: 15px !important;
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .landing-category-list {
        padding-top: 60px;
    }
}