.badge-checkout {
  margin: 2px;
  padding: 0 13px;
  display: inline-block;
  float: left;
  border-radius: 2px;
  background: #602dad;
  color: white;
}

.badge-paid {
  margin: 2px;
  padding: 0 13px;
  display: inline-block;
  float: left;
  border-radius: 2px;
  background: $teal;
  color: white;
}

.badge-unpaid {
  margin: 2px;
  padding: 0 13px;
  display: inline-block;
  float: left;
  border-radius: 2px;
  background: $warningColor;
  color: white;
}

.badge-cancel {
  margin: 2px;
  padding: 0 13px;
  display: inline-block;
  float: left;
  border-radius: 2px;
  background: $errorColor;
  color: white;
}

.contact-list-item {
  background-color: white;

  &:hover {
    background-color: $backgroundColor;
  }

  &.active {
    background-color: $backgroundColor;
  }
}

.them {
  background: $teal;
  color: $teal-tint;
  padding: 3px 12px;
  margin: 5px;
  border-radius: $sm;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: -0.5em;
  //   bottom: 0;
  //   width: 12px;
  //   height: 13px;
  //   border-right: 5px solid $fieldColor;
  //   border-bottom-right-radius: 8px 6px;
  // }
}

.me {
  background: $fieldColor;
  padding: 3px 12px;
  margin: 5px;
  border-radius: $sm;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   right: -0.5em;
  //   bottom: 0;
  //   width: 12px;
  //   height: 13px;
  //   border-left: 5px solid $primaryColor;
  //   border-bottom-left-radius: 8px 6px;
  // }

}

.chat-payment {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  padding: 3px 12px;
  margin: 5px;
  border-radius: $sm;
}

.chat-image {
  max-width: 400px;
  max-height: 400px;

  &.me {
    padding: 5px !important;
  }

  &.them {
    padding: 5px !important;
  }
}

.chat-voice-container {
  .chat-voice-button {
    // color: red;
  }

  .chat-voice-range {
    width: 100px;
    margin-left: $sm;
    padding: 0;

    &:focus {
      box-shadow: none;
      padding: 0;
    }
  }
}

.chat-log-container {
  overflow: hidden;

}

.chat-msg-container {
  overflow-x: hidden;
  overflow-y: scroll;

  &.open {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.chatOption-show {
  line-height: auto;
  opacity: 1;
  height: 300px;
  padding-bottom:20px;
}

.chatOption-show.ng-hide-add,
.chatOption-show.ng-hide-remove {
  transition: all ease 300ms;
  overflow-y: hidden;
}

.chatOption-show.ng-hide {
  height: 0;
}
.chat-location-map .angular-google-map-container{
    height: 170px;
}
