.product-category-li {
  &:hover {
    background-color: $lineColor;
  }
}

// .product-img-container {
//   border-radius: 0;
//   width: 100%;
//   max-height: 33em;
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
// }
.product-info-bg {
  // background-color: rgba(0, 0, 0, 0.25);
  // border-radius: 500px;
  // padding: 8px 30px;
  padding: 5px 7px;
  color: black;
  box-sizing: border-box;
}

.product-img-container-2 {
  border-radius: 5px;
  width: 100%;
  max-height: 33em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-detail-img {
  background-size: contain;
  background-position: center center;
  min-width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
}

.product-container-m {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.product-container-2 {
  max-width: 935px;
}

.productPage-r {
  margin-left: 0;
}

.productPage-l {
  margin-right: 0;
}

.product-map-container .angular-google-map-container {
  height: 170px;
  width: 100%;
}

.textcomplete-item active {
  color: $secondaryColor;
}

@media only screen and (min-width: 30em) {
  .product-img-container {
    border-radius: 0;
    width: 100%;
    min-height: 7em;
    min-width: 7em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .productPage-r {
    margin-left: 0;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .productPage-l {
    margin-right: 0;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .product-container-m {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 48em) {
  .product-img-container {
    border-radius: 6px 6px 0 0;
    width: 100%;
    min-height: 11em;
    min-width: 11em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .productPage-r {
    margin-left: 0.5em;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .productPage-l {
    margin-right: 0.5em;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .product-container-m {
    margin: 15px 0;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media only screen and (min-width: 64em) {
  .product-img-container {
    width: 100%;
    min-height: 15em;
    min-width: 15em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .user-event-img-container {
    width: 100%;
    border-radius: 3px 3px 0 0;
    min-height: 8em;
    min-width: 10em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .web-event-img-container {
    width: 100%;
    min-height: 10em;
    min-width: 10em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .product-container-m {
    margin: 15px 0;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .productPage-r {
    margin-left: 0.5em;
    border-radius: 6px;
    margin-bottom: 0;
  }
  .productPage-l {
    margin-right: 0.5em;
    border-radius: 6px;
    margin-bottom: 0;
  }
}