<ng-busy loading="loading" delay='300'>
    <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close()' modal-key-close>
        <div class="modal-dialog r-3x background-white">
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="p-md end-xs">
                    <i ng-click="close()" class=" pointer icon-close grey"></i>
                </div>
                <h6 class="secondaryColor2 p-md m-t-none m-b-lg ">
        {{params.total}} Likes
        </h6>
                <div id="inject-loading"></div>
                <div class="p-md modal-content" lazy-scroll="loadMore()" lazy-scroll-trigger="70" lazy-no-scroll="!params.has_more">
                    <div class="set-flex between-xs m-b-sm m-t-sm" ng-repeat="user in userList track by $index">
                        <a class="set-flex" ui-sref="user({user_id: user.id})" ng-click="close()">
                            <div class='avatar thumb bg-img-center ' style='background-image:url("{{user.picture}}");'>
                            </div>
                            <p class="m-t-none m-b-none m-l set-flex flex-center">
                                {{user.name}}</p>
                        </a>
                        <div class="set-flex flex-center">
                            <button class="btn" ng-click="followToggle(user, $index)" ng-class="user.is_following ? 'btn-following' : 'btn-follow'" ladda='user.isLoading'>
                                <i class="icon-sm m-r-xs icon-plus"></i> <span ng-if="user.is_following">Following</span>
                                <span ng-if="!user.is_following">Follow</span>
                            </button>
                        </div>
                    </div>
                    <lazy-scroll-loading ng-if="seraching && !loading"></lazy-scroll-loading>
                    <div ng-if="params.total < 1">
                        No likes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-busy>