<div class="p-t m-t m-r-lg m-l-lg text-center">
    <div class="pos-rlt">
        <form ng-submit="submitQuery()">
            <input id="searchbox-v2-input" class="pos-rlt text-center border-none w-full z-md" type="text" ng-model="query" ng-trim="false" style="    background-color:rgba(192,192,192,0.3);    border-radius: 6px;">
            <button type="submit" class="hidden"></button>
        </form>
        <!--<p ng-if="!query" class="m-none red pos-abt text-center w-full z-xs" style="top:10px;">type here to serach anything on <strong>antsquare</strong></p>-->
        <p ng-if="!query" class="m-none pos-abt text-center w-full z-xs" style="top:13px; color:#909090;">Search for anything</p>
        <i ng-click="submitQuery()" class="pointer m-none pos-abt text-right z-lg icon-search searchbox-v3-icon2" style="color:#909090; font-size:25px;     right: 5px;"></i>
    </div>
</div>