<div class="set-flex" ng-if="!loading && (pageDetail.pages > 0 || pageDetail.has_more)">
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm pointer" ng-if="first" ng-click="toPage(1)">1</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm" ng-if="backEllip">&hellip;</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm pointer" ng-if="back1" ng-click="toPage(back1)">{{back1}}</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center active m-r-sm m-l-sm" ng-if="current">{{current}}</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm pointer" ng-if="up1" ng-click="toPage(up1)">{{up1}}</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm" ng-if="upEllip">&hellip;</p>
  <p class="paginater-box r-3x border-fieldColor set-flex flex-center secondaryColor2 m-r-sm m-l-sm pointer" ng-if="last && pageDetail.has_more" ng-click="toPage(pageDetail.pages)">{{pageDetail.pages}}</p>
</div>
<!--<div class="w-full set-flex flex-center" ng-if="!loading && (pageDetail.pages > 0 || pageDetail.has_more)">
    <button ng-click='toPage(up1)' class="p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center  text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
        more
    </button>
</div>
<div class="w-full set-flex flex-center" ng-if="!loading && !pageDetail.has_more">
    <button class="p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center  text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
        No more
    </button>-->