<ng-busy loading="loading" delay='300'>
    <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
        <div class="modal-dialog-sm r-3x background-white">
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="p-md end-xs">
                    <i ng-click="close()" class=" pointer icon-close grey"></i>
                </div>
                <h5 class="text-center p-md m-t-none m-b-sm">
          Micro-deposit Verification
        </h5>
                <div class="p-lg ">
                    <div class="row-edge">
                        <div class="col-xs-12">
                            <p class="m-none text-center error-color">{{error}}</p>
                            <p class="grey m-none">To verify your bank account please enter the deposit amount by Antsquare below.</p>
                            <p><small class="grey m-none">

              </small></p>
                        </div>
                    </div>
                </div>
                <div class="p-f-lg">
                    <form angular-validator-submit="verifyBank()" name="verifyAccount" novalidate angular-validator>
                        <div class="row-edge form-group">
                            <div class="col-xs-12">
                                <label for="" class="p-b-sm clear">First deposit:</label>
                                <div>
                                    <input ng-model="data.amount" class="w-full form-control" type='number' invalid-message="'Check the amount of deposit'" required-message="'required'" validate-on="blur" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row-edge form-group">
                            <div class="col-xs-12">
                                <label for="" class="p-b-sm clear">Second deposit:</label>
                                <div>
                                    <input ng-model="data.amount2" class="w-full form-control" type='number' invalid-message="'Check the amount of deposit'" required-message="'required'" validate-on="blur" required/>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="cap btn btn-primary2" ladda='loading'>
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-busy>