<ng-busy loading="loading" delay='300'>
    <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
        <div class="modal-dialog-sm r-3x background-white">
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="p-md end-xs">
                    <i ng-click="close()" class=" pointer icon-close grey"></i>
                </div>
                <h5 class="text-center p-md m-t-none m-b-sm">
          Add your mobile number
        </h5>
                <p class="m-none text-center error-color">{{error}}</p>
                <p class="text-right m-none pointer">
                    <div class="p-f-lg">
                        <form name="loginForm" ng-submit="submit()" novalidate>
                            <country-selector country="data.country"></country-selector>
                            <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="data.phone" placeholder="Enter your mobile number">
                            <p class="set-flex end-xs m-t-none">
                            </p>
                            <input type="submit" style="position: absolute; left: -9999px" />
                        </form>
                        <div class="text-center">
                            <button class="cap btn btn-primary2" ladda='loading' ng-click="submit()">
                                Submit
                            </button>
                        </div>
                </p>
                </div>
            </div>
        </div>
    </div>
</ng-busy>