<ng-busy loading="loading" delay='300'>
  <div ng-class="{'modal-fade-out': fadeOut, 'modal': !isMobile, 'modal-mobile': isMobile}" close-by-key='close(null)' modal-key-close>
    <div ng-class="{'modal-dialog-sm r-3x background-white' : !isMobile}">
      <div class="set-flex flex-column p-t-md p-b-xs">
        <div class="p-md end-xs">
          <i ng-click="close()" class=" pointer icon-close grey"></i>
        </div>
        <h5 class="text-center p-md m-t-none m-b-sm red">
          Welcome back!
        </h5>
        <p class="m-none text-center error-color">{{error}}</p>
        <p ng-if="message" class="text-center m-none">Please <span class="bold">Sign In</span> to {{message}}</p>
        <div class="p-f-lg">
          <form name="loginForm" ng-submit="login()" novalidate>
            <div ng-if="onMobile" class="no-animate">
              <country-selector country="data.country"></country-selector>
              <input class="w-full m-b-sm m-t-sm text-center" type="tel" name="number" ng-model="data.input" placeholder="Phone Number" maxlength="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
            <input ng-if="!onMobile" class="w-full m-b-sm m-t-sm text-center no-animate" type="email" name="number" ng-model="data.input" placeholder="Email">
            <input class="w-full m-b-sm m-t-sm text-center" type="password" placeholder="Password" ng-model="data.password">
            <input type="submit" style="position: absolute; left: -9999px" />
          </form>
          <p class="text-right m-none pointer">
            <a href="#" ng-click="forgetPassword()" class="text-right m-none pointer"><small class='grey'>Forgot password?</small></a>
          </p>
          <div class="text-center">
            <button class="cap btn btn-primary2" ng-click="login()" ladda='loginLoading'>
              Log In
            </button>
            <p class="hrWithText grey-light">OR</p>
            <button class="cap btn btn-fbColor" ng-click="authenticate('facebook')" ladda='fbLoginLoading'>
              Log In With Facebook
            </button>
            <p class="hrWithText grey-light">New ?</p>
            <p class="m-b-none cap secondaryColor"><a ng-click="close()" ui-sref="signup_login" class="secondaryColor2">Create an Account</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-busy>