<div class="background-white">
  <section class="set-flex flex-column flex-center container-edge" id="about">
    <div class="m-b-lg m-t-lg w-full" style="max-width:576px">
      <div class="m-b-xxl">
        <p class="bold">About {{store.store_name}}</p>
        <p>
          {{store.description}}
        </p>
      </div>
      <p>
        Location <span class="secondaryColor2">{{store.distance_in_km}} from you</span>
      </p>
      <div class='set-flex'>
        <p class="m-none p-none">
          <small>
        <i class="icon-marker"></i>
      </small>
        </p>
        <div>
          <p class="m-none p-none">
            <small>
        {{store.address1}}
        </small>
          </p>
          <p class=" p-none" style="margin-top:-4px;line-height:85%;">
            <small>
         {{store.address2}}
        </small>
          </p>
        </div>
      </div>
      <div id="producthMapContainer" class="product-map-container background-grey-light">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="map.dragging" events="map.events" bounds="map" control="map.control" refresh="map.refresh">
          <ui-gmap-marker idKey='marker.id' coords='marker.coords' options='marker.options'>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
    <div class="set-flex flex-column flex-center container-edge">
      <div class="w-full p-t-lg p-b-lg" style="max-width:576px">
        <div class="set-flex flex-center flex-column white">
          <div class="avatar thumb m-r-sm bg-img-center" style='background-image:url("{{store.user_info.picture}}");'></div>
          <p class="m-b-none m-t-md grey">Owned By <span class="bold">{{store.user_info.name}}</span></p>
          <p ng-if="store.bio" class="grey"><small>{{store.bio}}</small></p>
        </div>
      </div>
    </div>
  </section>
</div>