<!--<div class="background-white">
  <section class="set-flex flex-column flex-center container-edge" id="review">
    <div class="m-b-lg m-t-lg w-full" style="max-width:576px">
      <p class="m-t-none m-b-lg bold">Reviews</p>
      <div class="set-flex between-xs m-b-sm m-t-sm" ng-repeat="review in reviewList.reviews track by $index">
        <div class="set-flex w-full">
          <div>
            <a ui-sref="store({store_id: review.user_info.stores[0].id})" ng-click="close()">
              <div class='avatar thumb bg-img-center ' style='background-image:url("{{review.user_info.picture}}");'>
              </div>
            </a>
          </div>
          <div class="set-flex flex-column m-l w-full">
            <div class="set-flex w-full between-xs">
              <p class="set-flex m-none">
                <a ui-sref="store({store_id: review.user_info.stores[0].id})" class="secondaryColor">{{review.user_info.name}}</a>
                <small>
                <span class="grey m-l-sm" am-time-ago="review.updated_at"></span>
              </small>
              </p>
              <rating star="review.star"></rating>
            </div>
            <div>
              <p class="m-none" ng-bind-html="review.content | toHtml"></p>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="reviewList.reviews.length < 1">
        {{storeInfo.store_name}} doesn't have any reviews yet.
      </div>
      <paginater page-detail="reviewList" search="getReviews()" version="v2"></paginater>
    </div>
  </section>
</div>-->
<div class="background-white">
  <section class="set-flex flex-column flex-center container-edge" id="review">
    <div class="m-b-lg m-t-none w-full" style="max-width:576px">
      <div class="col-sm-12 col-xs-12 w-full set-flex flex-center">
        <a class="twitter-timeline" href="{{twitterlink}}" width="380" height="350"></a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>
</div>