<div class="background-white">
  <div id="cardPlateContainer" class="container-edge p-t">
    <!-- <section class="set-flex flex-column flex-center">
      <div class="m-b-lg m-t-lg w-full" style="max-width:576px">
        <p class="bold">Products</p>
      </div>
    </section> -->
    <card-plate id="cardPlate" ng-if="cards" vm="cards" card-plate-id="home"></card-plate>
  </div>
</div>