<navbar></navbar>
<div class="background-white">
  <section class="z-sm bg-img-center background-white">
    <div class="container-edge2 z-lg pos-rlt">
      <div class="set-flex flex-center flex-column p-t p-b">
        <h3 class="m-t-md m-b-sm bold">#{{tagnametitle}}</h3>
      </div>
    </div>
  </section>
  <div id="cardPlateContainer" class="container-edge p-t">
    <card-plate id="cardPlate" ng-if="cards" vm="cards" card-plate-id="home" no-more='{cards.has_more}'></card-plate>
    <div class="w-full set-flex flex-center" ng-if="cards.has_more">
      <button ng-click='loadMore()' class="p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center  text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
        more
      </button>
    </div>
    <div class="w-full set-flex flex-center" ng-if="!cards.has_more && !isLoading">
      <button class="p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center  text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
        No more
      </button>
    </div>
  </div>
</div>
<as-footer></as-footer>