<navbar></navbar>
<div class="background-white">
  <section class="z-sm bg-img-center background-white" style="height: 250px;">
    <div class="container-edge2 z-lg pos-rlt" ng-hide="isLoading">
      <div class="set-flex flex-column p-t p-b">
        <ul class="end-xs flex-center" style=" width: 100%; margin:50px 50px 0 0;">
          <li class=" set-flex flex-center start-xs profile-li">
            <button class="btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleprofile" dropdown-menu>
              <i class="icon-threedots2016 text-2x red l-h-x"></i>
              <div class="dropdown-menu-triangle dropdown-menu-list-left" style="top: 10px;"></div>
              <ul class="dropdown-menu-list dropdown-menu-list-left profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                  <a ui-sref="listing.momentEdit({id: moment.id})" target="_blank" class="mute">
                    <div class="set-flex flex-center start-xs">
                      <p class="m-none p-none">Report</p>
                    </div>
                  </a>
                </li>
                <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                  <a ng-click="momentDeletePrompt(moment.id);$event.stopPropagation();">
                    <div class="set-flex flex-center start-xs">
                      <p class="m-none p-none">Block</p>
                    </div>
                  </a>
                </li>
                <li class="dropdown-menu-list-item">
                  <a>
                    <div class="set-flex flex-center start-xs">
                      <p class="m-none p-none">Cancel</p>
                    </div>
                  </a>
                </li>
              </ul>
            </button>
          </li>
          <li class=" set-flex flex-center start-xs profile-li">
            <button class="btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleprofile" dropdown-menu>
              <small>   <i class="icon-share2016 text-xs red l-h-2x"></i></small>
              <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
              <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                <li class="dropdown-menu-list-item">
                  <a ng-href="{{fbLink}}" target="_blank" class="mute">
                    <div class="set-flex flex-center start-xs">
                      <i class="icon-facebook fbColor text-lg m-r"></i>
                      <p class="m-none p-none">Facebook</p>
                    </div>
                  </a>
                </li>
                <!-- Twitter Share -->
                <li class="dropdown-menu-list-item">
                  <a ng-href="{{twLink}}" class="mute" target="_blank">
                    <div class="set-flex flex-center start-xs">
                      <i class="icon-twitter twColor text-lg m-r"></i>
                      <p class="m-none p-none">Twitter</p>
                    </div>
                  </a>
                </li>
                <!-- Pintrest Share -->
                <li class="dropdown-menu-list-item">
                  <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">
                    <div class="set-flex flex-center start-xs">
                      <i class="icon-pinterest pinColor text-lg m-r"></i>
                      <p class="m-none p-none">Pinterest</p>
                    </div>
                  </a>
                </li>
                <!-- Email Share -->
                <li class="dropdown-menu-list-item">
                  <a ng-href="{{mailLink}}" class="mute" target="_top">
                    <div class="set-flex flex-center start-xs">
                      <i class="icon-mail primaryColor text-lg m-r"></i>
                      <p class="m-none p-none">Email</p>
                    </div>
                  </a>
                </li>
              </ul>
            </button>
          </li>
          <li class=" set-flex flex-center start-xs profile-li" ng-if="StoreSettingProfile">
            <a ui-sref="settings.settingstabs" ui-sref-active="red">
              <button class="btn-circle pointer btn-circle-active btn-circleSmall btn-circleprofile">
                <small>   <i class="icon-settings text-md red"></i></small>
              </button>
            </a>
          </li>
        </ul>
        <div>
          <div class="thumb-lg bg-img-center m-t m-r" ng-style="{'background-image': 'url(' + store.picture + ')'}" style="width:120px; height:120px; border-radius: 50%;float:left;"></div>
          <h3 class="m-t-md m-b-sm bold">{{store.name}}</h3>
          <p class="m-none"><a class="underline-hover red" ui-sref="username({user_id:store.user_info.username})" style="font-size: 18px;">{{store.user_info.username}}</a></p>
          <p class="set-flex flex-center m-t-none m-b-xs m-r-xs pointer" style="color: #262626;display: inline-block;">
            <!--<small><i class="icon-totallikes2016 text-lg text-outline"></i></small>-->
            <small class="m-r-xs" style="color: #262626; font-size: 16px;">{{store.total_moment_likes_string}}</small>Likes</p>
          <p class="set-flex flex-center m-t-none m-b-xs m-r-xs m-l-md pointer" ng-click="showFollowers()" style="color: #262626;display: inline-block;">
            <!--<small><i class="icon-totallikes2016 text-lg text-outline"></i></small>-->
            <small class="m-r-xs" style="color: #262626; font-size: 16px;">{{store.user_info.total_followers}}</small>Followers</p>
          <p class="set-flex flex-center m-t-none m-b-xs m-r-xs m-l-md pointer" ng-click="showFollowers()" style="color: #262626;display: inline-block;">
            <!--<small><i class="icon-totallikes2016 text-lg text-outline"></i></small>-->
            <small class="m-r-xs" style="color: #262626; font-size: 16px;">{{store.user_info.total_followings}}</small>Followings</p>
        </div>
      </div>

    </div>
  </section>
  <section class="background-white z-lg">
    <div class="row-edge profiletabs newprofiletabs" ng-hide="isLoading">
      <!-- <ul class="w-full m-none p-t-md p-b-md row-edge flex-center landing-tags">
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-circle pointer btn-circle-active btn-circleSmall btn-circleprofile" style="border-radius:0px; width:25px; height:25px;     background-color: #9b9b9b;
    border: 1px solid #9b9b9b;">
                            <small>   <i class="icon-moments2016 text-base white"></i></small>
                        </button>
                    </a>
                </li>
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-none" style="width:25px;">
                            <small>   <i class="icon-facebook2016 text-3x grey"></i></small>
                        </button>
                    </a>
                </li>
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-none" style="width:25px;">
                            <small>   <i class="icon-twitterfilled text-3x grey"></i></small>
                        </button>
                    </a>
                </li>
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-none" style="width:25px;">
                            <small>   <i class="icon-instagram2016 text-3x grey"></i></small>
                        </button>
                    </a>
                </li>
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-none" style="width:25px;">
                            <small>   <i class="icon-pinterest text-3x grey"></i></small>
                        </button>
                    </a>
                </li>
                <li class=" set-flex flex-center start-xs profile-li">
                    <a ui-sref="messages.current" ui-sref-active="red">
                        <button class="set-inline-flex flex-center btn-none" style="width:25px;">
                            <small>   <i class="icon-youtube2016 text-3x grey"></i></small>
                        </button>
                    </a>
                </li>
            </ul>-->
      <ul class="w-full m-none p-t-md p-b-md" ng-class="isMobile ? 'set-flex store-m-sub-menu landing-tags-m landing-tags-m2 row-edge flex-center' : 'row-edge flex-center landing-tags'">
        <li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
          <a class="p-none clear profile_resource" ui-sref="username({user_id:store.username})">
            <button class="btn-circle pointer btn-circle-active btn-circleSmall btn-circleprofile" style="border-radius:0px; width:25px; height:25px; background-color: #9b9b9b;
    border: 0px solid #9b9b9b;">
              <small>   <i class="icon-moments2016 text-base white"></i></small>
            </button>
          </a>
        </li>
        <li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
          <a class="p-none clear" ui-sref="username({user_id:store.username})">
            <button class="set-flex btn-none btn-radnonone">
              <small>   <i class="icon-facebook2016 text-25size grey"></i></small>
            </button>
          </a>
        </li>
        <li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
          <a ui-sref="username.storetwitter({twitter:store.twitter})" class="">
            <button class="set-flex btn-none btn-radnonone">
              <small>   <i class="icon-twitter2016 text-25size grey"></i></small>
            </button>
          </a>
        </li>
        <li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(6)" ng-class="{ active: isSet(6) }">
          <a class="p-none clear" ui-sref="username({user_id:store.username})">
            <button class="set-flex btn-none btn-radnonone">
              <small>   <i class="icon-instagram2016 text-25size grey"></i></small>
            </button>
          </a>
        </li>
        <!--<li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(4)" ng-class="{ active: isSet(4) }">
          <a class="p-none clear" ui-sref="user({user_id:store.user_info.id})">
            <button class="set-flex btn-none btn-radnonone">
              <small>   <i class="icon-pinterest2016 text-25size grey"></i></small>
            </button>
          </a>
        </li>-->
        <!--<li class="cap m-t-none n-b-none m-l m-r p-none pointer" ng-click="setTab(5)" ng-class="{ active: isSet(5) }">
          <a class="p-none clear" ui-sref="user({user_id:store.user_info.id})">
            <button class="set-flex btn-none btn-radnonone">
              <small>   <i class="icon-youtube2016 text-3x grey"></i></small>
            </button>
          </a>
        </li>-->
        <!--<li class="cap m-t-none n-b-none m-l-md m-r-md p-t-sm p-b-sm pointer" ng-click="setTab(3)" ng-class="{ active: isSet(3) }"> <a class="p-b-sm p-t-sm clear">Twitter</a></li>
                <li class="cap m-t-none n-b-none m-l-md m-r-md p-t-sm p-b-sm pointer" ng-click="setTab(4)" ng-class="{ active: isSet(4) }"> <a class="p-b-sm p-t-sm clear">Pinterest</a></li>
                <li class="cap m-t-none n-b-none m-l-md m-r-md p-t-sm p-b-sm pointer" ng-click="setTab(5)" ng-class="{ active: isSet(5) }"> <a class="p-b-sm p-t-sm clear">Youtube</a></li>
                <li class="cap m-t-none n-b-none m-l-md m-r-md p-t-sm p-b-sm pointer" ng-click="setTab(6)" ng-class="{ active: isSet(6) }"> <a class="p-b-sm p-t-sm clear">Instagram</a></li>-->
      </ul>
    </div>
  </section>
  <div id="cardPlateContainer" class="container-edge p-t" ng-show="isSet(1)">
    <!-- <section class="set-flex flex-column flex-center">
      <div class="m-b-lg m-t-lg w-full" style="max-width:576px">
        <p class="bold">Products</p>
      </div>
    </section> -->
    <card-plate id="cardPlate" ng-if="cards" vm="cards" card-plate-id="home" no-more='{cards.has_more}'></card-plate>
  </div>
  <div class="col-sm-12 col-xs-12 w-full set-flex flex-center" ng-show="isSet(3)">
    <div class="background-white">
      <div class="row-edge p-t-none p-b-lg">
        <div class="col-sm-12 col-xs-12">
          <div ui-view='col-12'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-xs-12 w-full set-flex flex-center" ng-show="isSet(2)">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div ng-show=store.facebook class="fb-page" data-href="https://www.facebook.com/{{store.facebook}}" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/{{store.facebook}}" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{store.facebook}}">{{store.facebook}}</a></blockquote>
    </div>
    <div ng-hide=store.facebook style="height:350px;">
      <p>
        Link your Facebook Page from
        <a href="/linking">here</a>.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-xs-12 w-full set-flex flex-center" ng-show="isSet(5)" ng-if="store.youtube">
    <iframe ng-src="{{youtubelink | trustUrl}}" width="380" height="350"></iframe>
  </div>
  <div class="col-sm-12 col-xs-12 w-full set-flex flex-center" ng-show="isSet(4)">
    <a data-pin-do="embedUser" data-pin-board-width="400" data-pin-scale-height="440" data-pin-scale-width="80" href="https://www.pinterest.com/{{store.pinterest}}/"></a>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
  <div class="col-sm-12 col-xs-12 w-full set-flex flex-center" ng-show="isSet(6)">
    <!--<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:8px;">
                <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                    <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                </div>
                <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BK1lnsOjYYv/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">What debate? Clearly, we need to VOTE for these cooler temperatures! 🍁🍂🌾🌿🍁🍂 http://liketk.it/2pgg5 @liketoknow.it #liketkit #vote</a></p>
                <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Tanya Foster • Lifestyle Blog (@tanyafosterblog) on
                    <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-26T23:18:40+00:00">Sep 26, 2016 at 4:18pm PDT</time>
                </p>
            </div>
        </blockquote>-->
    <div class="images row-edge flex-center"></div>
  </div>
</div>
<as-footer></as-footer>