<div id="navbar" class="pos-abt w-full background-white">
  <!-- If background color needed at start posistion add it here -->
  <div class="container-edge2">
    <div class="sticky-banner ">
      <div class="sticky-banner-grid h-full">
        <div class="row-edge between-xs h-full pos-rlt " ng-class="isMobile ? 'mobileNav' : 'nonmobileNav'">
          <!-- LEFT -->
          <div id='nav-logo' class="set-flex flex-center start-xs hide">
            <a ui-sref="index.home" style="width: 140px;">
              <img src="https://d37pip7vd9logx.cloudfront.net/imgs/logotype+8+px+spacing.png?auto=format,compress" alt="antsquare" style="width: 140px;">
            </a>
          </div>
          <ul id='nav-location' class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
            <li class="pointer dropdown-menu m-none" dropdown-menu>
              <a ui-sref="index.home" style="width: 140px;">
                <img src="https://d37pip7vd9logx.cloudfront.net/imgs/logotype+8+px+spacing.png?auto=format,compress" alt="antsquare" style="width: 140px;">
              </a>
            </li>
          </ul>
          <!-- <div id='nav-logo' class="set-flex flex-center start-xs hide">

            <a ui-sref="index.home" style="width: 140px;">
              <img src="https://antsquare-www.imgix.net/imgs/navlogo2.png" alt="antsquare" style="width: 140px;">
            </a>
          </div>
          <ul id='nav-location' class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
            <li class="pointer dropdown-menu m-none" dropdown-menu>
              <p>{{country}}</p>
              <div class="dropdown-menu-triangle"></div>
              <ul class="dropdown-menu-list dropdown-menu-list-left">
                <li ng-repeat="country_li in countries" class="dropdown-menu-list-item" ng-click="selectCountry(country_li)">
                  {{country_li.name}}
                  <i ng-if="country_li.name === country" class="icon-check-thick success-color"></i>
                </li>
              </ul>
            </li>
          </ul> -->
          <!-- Center-->
          <!-- Hiding navsearch bar 
          <nav-search tab="{{tab}}" class="navMobilesearch" ng-class="{'active': menuActive}"></nav-search>
-->
          <!-- RIGHT -->
          <div class="end-xs flex-center">
            <div class="row-edge hidden-lg hidden-md " style="display:none;">
              <ul class="nav-hamburger nav-hamburgerred">
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <ul id="nav-list" class="row-edge z-xl navliGrey" ng-class="{'active': false}" style="padding: 0 0px;box-sizing: content-box;left:-17px">
              <!-- <li class=" set-flex flex-center start-xs">
                                    <a class="white" ng-href="{{link}}" target="_blank">Download App</a>
                                </li> -->
              <!-- <li class=" set-flex flex-center start-xs">
                                    <a class="white" ng-href="{{urls.merchant}}">Sell</a>
                                </li> -->
              <!-- <li ng-show="userInfo" class=" set-flex flex-center start-xs">
                                    <a class="white" ng-click="clearBadge()" ui-sref="messages.current">Messages <span ng-if="msgBadge.count > 0">({{msgBadge.count}})</span></a>
                                </li> -->
              <!-- <li class=" set-flex flex-center start-xs">
                                    <a class="white" ui-sref="feeds">Feeds</a>
                                </li> -->
              <!--Hiding Search button <li class=" set-flex flex-center start-xs hidden-lg hidden-md" ng-click="menuToggle();">
                                <a ui-sref-active="red">
                                    <button class="btn-none red"> <i class="icon-search"></i></button>
                                </a>
                            </li>-->
              <li class=" set-flex flex-center start-xs nav-li hidden-lg hidden-md navSearchClose" ng-click="menuToggle();">
                <i class="pointer m-none pos-abt text-right z-lg icon-close navMobileClose" ng-class="{'active': menuActive}" style="color:#909090; font-size:20px; top:10px; right:0px;"></i>
              </li>
              <li class=" set-flex flex-center start-xs landingli m-r-xs" ng-hide="userInfo">
                <a ui-sref="signup_login" class="createacc-button">
                  <button class="btn-none red">Sign Up</button>
                </a>
              </li>
              <li class=" set-flex flex-center start-xs landingli" ng-hide="userInfo">
                <a ng-click="loginModal()" class="createacc-button white">
                  <button class="btn-none white">Log in</button>
                </a>
              </li>
              <!-- <li class=" set-flex flex-center start-xs">
                                    <a class="white" href="#"><i class="icon-search"></i></a>
                                </li> -->
              <!-- Logged In -->
              <li ng-show="userInfo" class=" set-flex flex-center start-xs nav-li">
                <a ui-sref="index.feed" ui-sref-active="red">
                  <button class="btn-none">
                                            <i class="icon-group"></i>
                                        </button>
                </a>
              </li>
              <li class=" set-flex flex-center pointer dropdown-menu nav-li" dropdown-menu ng-show="userInfo">
                <a ui-sref="user({user_id:userInfo.id})" ui-sref-active="red">
                  <button class="btn-none">
                                            <i class="icon-profiles_icon"></i>
                                                <!-- <div class=" start-xs set-flex flex-center">
                                                <div class='avatar thumb-xs bg-img-center background-grey-light' ng-style="{ 'background-image': 'url(' + userInfo.picture + ')'}">
                                                </div>
                                                <i class="m-l-sm icon-dropdown"></i>
                                                </div> -->
                                        </button>
                </a>
                <div class="dropdown-menu-triangle" ng-show="false"></div>
                <ul class="dropdown-menu-list " ng-class="{'dropdown-menu-list-right': !isMobile}" style="top:57px" ng-show="false">
                  <!-- <li class="dropdown-menu-list-item">
                                            My Shop
                                        </li>
                                        <li class="dropdown-menu-list-item">
                                            Transactions
                                        </li> -->
                  <!-- <li class="dropdown-menu-list-item m-none">
                                            <a class="set-flex flex-center start-xs" ui-sref="settings.dashboard">
                                            <i class="text-md icon-settings m-r primaryColor"></i>
                                            <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Dashboard</p>
                                            </a>
                                        </li> -->
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ui-sref="listing">
                      <!-- <i class="text-md icon-settings m-r primaryColor"></i> -->
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">New Listings</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ui-sref="settings.store.products_services">
                      <!-- <i class="text-md icon-settings m-r primaryColor"></i> -->
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">My Store</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ui-sref="settings.wishlist">
                      <!-- <i class="text-md icon-settings m-r primaryColor"></i> -->
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Wish List</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ui-sref="user({user_id:userInfo.id})">
                      <!-- <i class="text-md icon-settings m-r primaryColor"></i> -->
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Profile</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ui-sref="settings.settingstabs">
                      <!-- <i class="text-md icon-settings m-r primaryColor"></i> -->
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Account</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none" ng-show="userInfo.is_admin">
                    <a class="set-flex flex-center start-xs" ng-href="{{url.login}}" target="_blank">
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Admin</p>
                    </a>
                  </li>
                  <li class="dropdown-menu-list-item m-none">
                    <a class="set-flex flex-center start-xs" ng-click='logout()' target="_blank">
                      <p class="m-t-sm m-b-sm" style="color:#9b9b9b ">Logout</p>
                    </a>
                  </li>
                  <!-- <li class="dropdown-menu-list-item m-none" ng-click='logout()'>
                                            <i class="text-md icon-logout m-r primaryColor"></i>
                                            <p class="set-flex flex-center start-xs m-t-sm m-b-sm">
                                            Logout
                                            </p>
                                        </li> -->
                </ul>
              </li>
              <li ng-show="userInfo" class=" set-flex flex-center start-xs nav-li">
                <a ui-sref="listing">
                  <button class="btn-none">
                                            <img src="https://d37pip7vd9logx.cloudfront.net/imgs/post_btn@3.png" alt="Listing" style='width:36px;'>
                                        </button>
                </a>
              </li>
              <li ng-show="userInfo" class=" set-flex flex-center start-xs nav-li">
                <a ng-click="clearBadge()" ui-sref="messages.current" ui-sref-active="red">
                  <button class="btn-none pos-rlt">
                                            <i class="icon-messages_icon pos-rlt">
                                            </i>
                                            <div ng-if="msgBadge.count" style="bottom:-3px;right:3px;" class="pos-abt">
                                            <div class="avatar thumb-nav background-red"></div>
                                            </div>
                                        <!-- <span ng-if="msgBadge.count > 0">({{msgBadge.count}})</span> -->
                                        </button>
                </a>
              </li>
              <li ng-show="userInfo" class=" set-flex flex-center start-xs nav-li">
                <a class="white" ui-sref="notification" ui-sref-active="red">
                  <button class="btn-none white">
                                        <i class="icon-alert"></i>
                                        <!-- <span ng-if="msgBadge.count > 0">({{msgBadge.count}})</span> -->
                                        </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div ng-if="!target" ng-style="navHeight"></div>-->