<div id="map-menu-container" class="map-menu-container pos-fix z-xl w-full search" scroll-event scroll-up-fn="showMenu()" scroll-down-fn="hideMenu()" threshold='125'>
  <navbar tab="true"></navbar>
  <search-box-v2 background-color="background-grey-dark" form-data="formData" update-form-data="updateFormData(formData)" view='map'></search-box-v2>
  <div class="container-edge-p background-white-transparent" style="margin:80px 0 0!important;">
    <div ng-if="!showFilter" class="set-flex between-xs">
      <ul class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
        <li class="pointer dropdown-menu m-none" dropdown-menu check-list='true'>
          <div class="set-flex">
            <i class="icon-sort-alt-up m-r-xs set-flex flex-center "></i>
            <p style="width:133px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{selectedType.display}}</p>
          </div>
          <div class="dropdown-menu-list-left dropdown-menu-triangle"></div>
          <ul class="dropdown-menu-list dropdown-menu-list-left">
            <li ng-repeat="type in sortTypes track by $index" class="dropdown-menu-list-item" ng-click="sortBy(type)">
              {{type.display}}
              <i ng-if="type.display === selectedType.display" class="icon-check-thick success-color"></i>
            </li>
          </ul>
        </li>
      </ul>
      <p class="text-center m-none set-flex flex-center" style="width: 33px;position: absolute;left: calc(50% - 15px);padding-top: 13px;">
        <i ng-click="toMap()" ng-if="currentView < 2" class=" pointer icon-map text-3x"></i>
        <i ng-click="toGrid()" ng-if="currentView > 1" class=" pointer icon-thumbs text-3x"></i>
      </p>
      <p ng-click="filterToggle()" class='pointer end-xs set-flex' style="width:133px; display:none;">Filter <i class="icon-angle-right set-flex flex-center "></i></p>
    </div>
    <div ng-if="showFilter" class="set-flex between-xs">
      <p ng-click="filterToggle()" class='pointer set-flex'>
        <i class="icon-angle-right flip set-flex flex-center"></i> Result</p>
    </div>
  </div>
</div>
<div ng-if="currentView < 2" style="height:236px;"></div>
<div class="set-flex pos-rlt">
  <!-- Card View -->
  <div ng-if="currentView < 2 && !showFilter" id="searchGridContainer" class="map-view-grid-container map-view-grid-container-sm ">
    <div id="cardPlateContainer" class="map-view-card-container container-edge-p map-view-card-container-sm">
      <div ng-if="cards.pages < 1">
        <p>We couldn’t find any results that matched your criteria, but tweaking your search may help. Here are some ideas:</p>
        <ul>
          <li>Remove some filters.</li>
          <li>Search for a city or postal code.</li>
          <li>Increase the search distance.</li>
        </ul>
      </div>
      <card-plate card-plate-id="mapSearch" ng-if="cards" vm="cards" type='{{formData.type}}' no-more='{formData.has_more}'></card-plate>
      <paginater page-detail="cards" search="search()"></paginater>
    </div>
  </div>
  <!-- MapView -->
  <div id="searchMapContainer" ng-if="currentView === 3" class="z-sm map-view-map-container map-view-map-container-sm">
    <!-- <div style="height:140px; width:100%;"></div> -->
    <ui-gmap-google-map ng-if="currentView > 1" center="map.center" zoom="map.zoom" options="map.options" draggable="map.dragging" events="map.events" bounds="map" control="map.control" refresh="map.refresh">
      <ui-gmap-marker idKey='userLocation.idKey' coords='userLocation.coords' options='userLocation.options'>
      </ui-gmap-marker>
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" options="'options'" events="map.markersEvents">
      </ui-gmap-markers>
      <ui-gmap-window coords='infoWindow.location' options="infoWindow.options" closeClick="closeInfowWindow()" templateUrl="'app/search/infoWindow.tpl.html'" templateParameter="infoWindow">
      </ui-gmap-window>
      <ui-gmap-map-control template="app/search/mapButton.tpl.html" position="left-bottom" controller="mapControlBtnVtrl" index="-1"></ui-gmap-map-control>
    </ui-gmap-google-map>
  </div>
</div>
<div ng-hide="!showFilter" class="background-white pos-abt w-full " style="top:0;left:0;min-height:calc(100vh - 56px);">
  <div style="height:56px;"></div>
  <filter form-data="formData" update-form-data="updateFormData(formData)" mobile='true'></filter>
</div>