<div class="p-md p-b">
  <div class="set-flex flex-center flex-column">
    <div class="avatar thumb pos-rlt bg-img-center m-t m-b" style="background-image:url({{product.user_info.picture}});"></div>
    <p class="m-none"><small class="grey"> <span ng-if="product.type === 'product' || product.type === 'service'">Owned by</span><span ng-if="product.type === 'request'">Requested by</span>  <span class="m-l bodyColor">{{product.user_info.name}}</span> </small></p>
    <p class="m-none text-center" ng-if="product.store_info.bio"><small>{{product.store_info.bio}}</small></p>
  </div>
</div>
