<footer class="background-natural p-f-lg">
  <div class="container-edge">
    <div class="row-edge set-flex flex-center m-b-xl">
      <a ng-click="trackIos()" href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank" class="m-l-sm m-r-sm m-t-sm m-b-sm">
        <button class="btn-primary ">Download for Apple</button>
      </a>
      <a ng-click="trackAndroid()" href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank" class="m-l-sm m-r-sm m-t-sm m-b-sm">
        <button class="btn-primary ">Download for Android</button>
      </a>
    </div>
    <div class="row-edge">
      <div class="col-xs-12 col-lg-3 footer-for-news footer-b-t-lg">
        <p class="cap text-center">
          <small>
            <small>for news</small>
          </small>
        </p>
        <form class="set-flex flex-column" ng-submit="subscribe()">
          <input class="m-b-sm input-xs " type="email" placeholder="ENTER YOUR EMAIL ADDRESS" ng-model="data.address">
          <button class="border-bodyColor btn-xs cap background-natural" type="submit" submit-btn status="status">
            <p class="m-t-n-xs m-b-none bodyColor">
              <small>
                <small id="btn-name">sign up</small>
              </small>
            </p>
          </button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 footer-b-xs footer-b-t-lg footer-b-t-md footer-b-t-sm footer-b-r-sm footer-b-l-lg">
        <div class="m-l m-t-md">
          <p class="cap bold">
            <small>
              <small>social media</small>
            </small>
          </p>
          <a ng-href="{{urls.fb}}" class='cap grey' target="_blank">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>facebook</small>
              </small>
            </p>
          </a>
          <a ng-href="{{urls.tw}}" class='cap grey' target="_blank">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Twitter</small>
              </small>
            </p>
          </a>
          <a ng-href="{{urls.ig}}" class='cap grey' target="_blank">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Instagram</small>
              </small>
            </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 footer-b-xs footer-b-t-lg footer-b-t-md footer-b-t-sm footer-b-l-md footer-b-r-md footer-b-l-lg footer-b-r-lg">
        <div class="m-l m-t-md">
          <p class="cap bold">
            <small>
              <small>Small Business</small>
            </small>
          </p>
          <a class="cap grey" ng-click="toTop('index.home')" ui-sref="index.home">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Marketplace</small>
              </small>
            </p>
          </a>
          <a class="cap grey" ng-click="toTop('index.merchant')" ui-sref="index.merchant">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Merchant</small>
              </small>
            </p>
          </a>
          <a class="cap grey" ng-click="toTop('index.guideline')" ui-sref="index.guideline">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Marketplace guidelines</small>
              </small>
            </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 footer-b-xs footer-b-t-lg footer-b-t-md footer-b-t-sm footer-b-r-sm  footer-b-r-md footer-b-r-lg">
        <div class="m-l m-t-md">
          <p class="cap bold">
            <small>
              <small>Company</small>
            </small>
          </p>
          <a class="cap grey" ng-click="toTop('index.about')" ui-sref="index.about">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>About Us</small>
              </small>
            </p>
          </a>
          <a class="cap grey" href="http://blog.antsquare.com/">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Blog</small>
              </small>
            </p>
          </a>
          <a class="cap grey" ng-click="toTop('index.about?job')" ui-sref="index.about({section:'jobs'})">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Careers</small>
              </small>
            </p>
          </a>
          <a class="cap grey" ng-click="toTop('index.press')" ui-sref="index.press">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Press</small>
              </small>
            </p>
          </a>
          <a class="cap grey" ng-click="toTop('index.terms')" ui-sref="index.terms">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Terms &amp; Privacy</small>
              </small>
            </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-b-xs footer-b-t-lg footer-b-t-md footer-b-t-sm">
        <div class="m-l m-t-md">
          <p class="cap bold">
            <small>
              <small>Support</small>
            </small>
          </p>
          <a class="cap grey" href="https://support.antsquare.com/hc/en-us">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Knowledge Base</small>
              </small>
            </p>
          </a>
          <a class="cap grey" href="https://antsquare.com/about?section=contact#contact">
            <p class="m-t-sm m-b-sm">
              <small>
                <small>Contact Us</small>
              </small>
            </p>
          </a>
          <div class="m-t-sm m-b-sm cap grey">
            <p class="margin-none ">
              <small>
                <small class="cap grey">1-800-ANT-4320 &ensp;(1-800-268-4320)</small>
              </small>
            </p>

            <button ng-if="callReady && !callConnected" class='text-center btn-sm btn-primary btn no-animate' ng-click="callSupport()"><small>Call Support</small></button>
            <button ng-if="callReady && callConnected" class='text-center btn-sm btn-error btn no-animate' ng-click="hangUp()" ng-disabled="callStatus === 'Call Support' "><small>HangUp</small></button>
            <p class="m-none error-color"><small>{{callErrorMsg}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-edge">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 footer-b-xs footer-b-t-lg footer-b-b-lg footer-b-t-md footer-b-b-md footer-b-t-sm footer-b-r-sm">
        <p class="cap text-center bold">
          <small>
            <small>The Entrepreneurs Marketplace </small>
          </small>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-b-xs footer-b-t-lg footer-b-b-lg footer-b-l-lg footer-b-r-lg footer-b-t-md footer-b-b-md footer-b-l-md footer-b-r-md footer-b-t-sm">
        <p class="text-center bold">
          <small>
            <small>556 Villa Centre Way, San Jose, CA 95128</small>
          </small>
        </p>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-5 footer-b-xs footer-b-t-lg footer-b-b-lg footer-b-t-md footer-b-b-md footer-b-t-sm footer-b-b-sm">
        <p class="cap text-center bold">
          <small>
            <small>{{currentYear}} &copy; antsquare inc.</small>
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>