<footer class="background-white p-f-lg">
    <div class="container-edge">
        <div class="row-edge profiletabs">
            <ul class="w-full m-none p-none" ng-class="isMobile ? 'set-flex store-m-sub-menu flex-center row-edge' : 'row-edge flex-center footer-li'">
                <li class="m-b-none m-l-sm m-r-sm m-t-none p-b-sm"><a ng-click="toTop('index.landing')" ui-sref="index.merchant">Learn more</a></li>
                <li class="m-b-none m-l-sm m-r-sm m-t-none p-b-sm"><a ng-click="toTop('index.about')" ui-sref="index.about">About us</a></li>
                <li class="m-b-none m-l-sm m-r-sm m-t-none p-b-sm"><a href="https://antsquare.zendesk.com/hc/en-us">Support</a></li>
                <li class="m-b-none m-l-sm m-r-sm m-t-none p-b-sm"><a ng-click="toTop('index.terms')" ui-sref="index.terms">Terms & Privacy</a></li>
                <!-- <li class="m-b-none m-l-lg m-r-lg m-t-sm p-b-sm"><a ng-click="toTop('index.about?job')" ui-sref="index.about({section:'jobs'})">Career</a></li> -->
                <li class="m-b-none m-l-sm m-r-sm m-t-none p-b-sm"><a ng-click="toTop('index.about?contact')" ui-sref="index.about({section:'contact'})">Contact us</a></li>
            </ul>
            <div class="w-full m-none text-center bodyColor footer-bottomtext">
                <p class="m-t-sm">Made with<small><i class="icon-totallikes2016 text-md text-outline red"></i></small> by Antsquare in San Jose, CA</p>
                <p>
                    <span class="m-l-xs"> 
            <a ng-href="{{urls.fb}}" target="_blank">
              <button class="set-inline-flex flex-center btn-none" >
                <img src="https://antsquare-www.imgix.net/imgs/facebook.png?auto=format,compress" alt="facebook" style='width:22px;'>
              </button>                  
            </a>
          </span>
                    <span class="m-l-xs">            
            <a ng-href="{{urls.ig}}" target="_blank">
              <button class="set-inline-flex flex-center btn-none" >
                <img src="https://antsquare-www.imgix.net/imgs/instagram.png?auto=format,compress" alt="facebook" style='width:22px;'>
              </button>
            </a>
          </span>
                    <span class="m-l-xs">
            <a ng-href="{{urls.tw}}" target="_blank">
              <button class="set-inline-flex flex-center btn-none" >
                <img src="https://antsquare-www.imgix.net/imgs/twitter.png?auto=format,compress" alt="facebook" style='width:22px;'>
              </button>
            </a>
          </span>
                </p>
                <div class="col-sm-12 col-md-12 text-xxs m-t-sm">
                    2016 &copy; Antsquare Inc. &emsp;
                    <span>
            <small>2.0.62</small>
          </span>
                </div>
            </div>
        </div>
    </div>
</footer>