<section class="p-t-lg p-b-lg">
  <div class="container-edge">
    <div class="row-edge center-xs">
      <h5 class="title cap">we are trusted by</h5>
    </div>
    <div class="row-edge around-xs">
      <div ng-repeat="partner in partners track by $index" class="m-l-xs m-r-xs avatar thumb-xl text-center center-xs">
        <img ng-src="{{partner.img}}" alt="">
      </div>
    </div>
  </div>
</section>
