<div class="set-flex center-xs">
    <div class=" background-white" style="max-width: 500px;">
        <div class="set-flex flex-column p-t-md p-b-xs">
            <div class="p-md end-xs">
            </div>
            <h5 class="text-center p-md m-t-none m-b-sm">
          Recover Password
        </h5>
            <p class="text-center m-none">Enter your mobile number and we'll send you a link to reset your password.</p>
            <p class="m-none text-center error-color">{{error}}</p>
            <p class="text-right m-none pointer">
                <div class="p-f-lg">
                    <form name="loginForm" ng-submit="submit()" novalidate>
                        <country-selector country="data.country"></country-selector>
                        <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="data.phone" placeholder="Enter your mobile number">
                        <p class="set-flex end-xs m-t-none">
                        </p>
                        <input type="submit" style="position: absolute; left: -9999px" />
                    </form>
                    <div class="text-center">
                        <button class="cap btn btn-primary2" ng-click="submit()">
                            Submit
                        </button>
                    </div>
            </p>
            </div>
        </div>
    </div>
</div>