<section class="background-white p-t p-b" ng-if="recommendProducts">
  <div class="container-edge p-none">
    <div id="cardPlateContainer" class="container-edge background-white r-3x p-t">
      <p>You might also like</p>
      <card-plate id="cardPlate" ng-if="recommendProducts" vm="recommendProducts" card-plate-id="recommendList" no-more='true'></card-plate>
    </div>
  </div>
</section>
