<div class="background-white r-3x p-f-2x">
  <h6 class="m-t-none m-b-sm text-center">Linking Social Media</h6>
  <div class="row-edge form-group mainform-group flex-center">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 15px 15px;">
      <div class="row-edge form-group form-group2">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <h6 class="m-t-none m-b-none grey text-base">Linking Social Media</h6>
          </div>
        </div>
      </div>
      <div ng-if="error" class="row-edge form-group">
        <div class="col-xs-12">
          <div class="set-flex middle-xs middle-sm">
            <label class="control-label red">{{message}}</label>
          </div>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-3">
          <div class="set-flex middle-xs end-sm">
            <label class="control-label">Facebook</label>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="set-flex between-xs flex-column-xs">
            <div ng-if="user.fb_share_to" class="set-flex between-sm flex-grow-equal flex-column-xs">
              <p class="p-t-sm p-b-sm m-none"><a class="primaryColor underline-hover" ng-href="https://www.facebook.com/{{socialInfo.facebook.id}}" target="_blank">
          {{selectedPage.name}}</a></p>
              <div class="set-flex end-xs flex-grow-equal">
                <div class='set-flex'>
                  <a ng-click="shareToToggle()" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small>Edit</small>
                  </a>
                  <a ng-click="unlinkFacebook()" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small>Unlink</small>
                  </a>
                </div>
              </div>
            </div>
            <div ng-if="!user.fb_share_to" class="set-flex between-sm flex-grow-equal flex-column-xs">
              <p class="p-t-sm p-b-sm m-none">&nbsp;</p>
              <div class="set-flex end-xs flex-grow-equal">
                <div class='set-flex'>
                  <a ng-click="linkFacebook()" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small>Link</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="setFbPage" class="border-lineColor p-f-sm">
            <p class="m-none">Select a page to share to</p>
            <hr class="grey-light-hr">
            <form ng-submit="selectPage(selectedPage)">
              <div ng-repeat="page in pages track by $index">
                <label class="set-flex flex-center start-xs">
                  <input type="radio" ng-model="$parent.selectedPage" name="name" value="{{page}}" />
                  <img ng-src="{{page.logo}}" alt="" class="thumb-xs m-l m-r">
                  <p>{{page.name}}</p>
                </label>
              </div>
              <div class="w-full text-right">
                <button ladda="settingPage" class="btn-red">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>