<form angular-validator-submit="submitUserProfile()" name="UserProfileForm" class="" novalidate angular-validator>
  <div class="background-white r-3x p-f-2x">
    <h6 class="m-t-none m-b-sm">Profile</h6>
    <hr class="grey-light-hr">
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Profile Picture</label>
        </div>
      </div>
      <div class="col-xs-9">
        <div class="set-flex">
          <div ng-if="!file && !tempProfile" style='background-image:url("{{profile.picture}}")' class="thumb-xl avatar m-r bg-img-center"></div>
          <img ng-if="file  && !tempProfile" ngf-as-background="true" ngf-thumbnail="file" class="thumb-xl avatar m-r bg-img-center">
          <div ng-if="tempProfile" style='background-image:url("{{tempProfile}}")' class="thumb-xl avatar m-r bg-img-center"></div>
          <p class='m-none' ng-if="uploading"><small class="grey border-lineColor r-3x">Uploading</small></p>
        </div>
        <div class='m-t-sm'>
          <button class="btn-red" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{ height: 300}">Select</button>
        </div>
        <!-- <button ngf-drop ngf-select ng-model="files" ng-change="changes = true" class="btn" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.jpg,.png,.jpeg'" type="button">
                  Upload
                </button> -->
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">First Name</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="text" name="given_name" class="w-full form-control" ng-model="profile.given_name" required-message="'required'" validate-on="dirty" required>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Last Name</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="text" name="family_name" class="w-full form-control" ng-model="profile.family_name" required-message="'required'" validate-on="dirty" required>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Username</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="text" name="user_name" class="w-full form-control" ng-model="profile.username" required-message="'required'" validate-on="dirty" required>
        <div class="set-flex middle-xs">
          <label class="control-label">link: <a class="underline-hover" ui-sref="username({user_id:profile.username})">{{profile.username}}</a></label>
        </div>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Email</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="email" name="emailAddress" class="w-full form-control" ng-model="profile.email" invalid-message="'Thats not a real email address'" required-message="'required'" validate-on="dirty" required>
      </div>
    </div>
    <div class="row-edge form-group" ng-init="changePhone = false">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Phone</label>
        </div>
      </div>
      <div class="col-xs-9 pos-rlt">
        <div class="set-flex between-xs flex-column-xs">
          <div ng-if="!changePhone" class="set-flex between-xs flex-grow-equal flex-column-xs">
            <div class="country-select set-flex flex-center">
              <div class="flag country-select {{profile.country}}"></div>
            </div>
            <p class="p-f-sm m-none">{{profile.phone_number}}</p>
            <div class="set-flex between-xs flex-grow-equal">
              <div ng-if="profile.phone_verified" class="set-flex">
                <div class="set-flex flex-center m-r success-color">
                  <i class="icon-md icon-verified"></i>
                  <small class="success-color set-flex flex-center">Verified</small>
                </div>
              </div>
              <div class='set-flex'>
                <a ng-click="$parent.changePhone = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                  <small>Change Phone</small>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="changePhone">
          <div class="border-lineColor p-f-md">
            <form ng-submit="updatePhone();$event.preventDefault();">
              <p ng-if="addPhoneError" class="m-none error-color">{{addPhoneError}}</p>
              <div class="pos-rlt">
                <country-selector class="pos-abt" style="top:-17px;" country="input.country"></country-selector>
                <input ng-trim="false" type="text" name="phone" class="w-full form-control" ng-model="input.phone" ng-pattern="/^\d+$/" invalid-message="'A phone number must be integers only'" required-message="'Phone number is required'" validate-on="dirty" style="padding:8px 80px;"
                  required>
                <input ng-trim="false" type="submit" style="position: absolute; left: -9999px" />
              </div>
              <div class="set-flex end-xs m-t-sm">
                <button ng-click="$parent.changePhone = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                <button type="submit" ng-click="updatePhone();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row-edge form-group" ng-init="changePassword = false">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Password</label>
        </div>
      </div>
      <div class="col-xs-9 pos-rlt">
        <div class="set-flex between-xs flex-column-xs">
          <div ng-if="!changePassword" class="set-flex between-xs flex-grow-equal flex-column-xs">
            <div class="set-flex between-xs flex-grow-equal">
              <div></div>
              <div class='set-flex'>
                <a ng-click="$parent.changePassword = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                  <small>Change Password</small>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="changePassword">
          <div class="border-lineColor p-f-md">
            <form ng-submit="updatePassword();$event.preventDefault();">
              <p ng-if="addPassword" class="m-none error-color">{{addPassword}}</p>
              <div class="pos-rlt">
                <p ng-if="passwordVerify" class="m-none success-color">{{passwordVerify}}</p>
                <div class="set-flex middle-xs start-sm">
                  <label class="control-label">Current Password</label>
                </div>
                <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.oldpass" required-message="'required'" validate-on="dirty" required>
                <div class="set-flex middle-xs start-sm">
                  <label class="control-label">New Password</label>
                </div>
                <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.newpass" required-message="'required'" validate-on="dirty" required>
              </div>
              <div class="set-flex end-xs m-t-sm">
                <button ng-click="$parent.changePassword = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                <button type="submit" ng-click="updatePassword();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row-edge form-group">
              <div class="col-xs-3">
                <div class="set-flex middle-xs end-sm">
                  <label class="control-label">Describe Yourself</label>
                </div>
              </div>
              <div class="col-xs-9 ">
                <textarea type="text" name="bio" class="w-full form-control" ng-model="profile.bio" validate-on="dirty" rows='4'>
                </textarea>
              </div>
            </div> -->
    <div class="m-t">
      <div class="set-flex center-xs end-sm">
        <button type="button" ng-click="reset()" class="btn btn-redcolor m-r">Reset</button>
        <button type="submit" class="btn btn-redcolor m-r" ladda='userSubmitLoading'>Submit</button>
      </div>
    </div>
  </div>
</form>
</div>