<section class="background-purple-gradient p-t-lg visible-xs-block ">
  <div class="container-edge">
    <div class="set-flex flex-center flex-column">
      <p class="cap m-none p-none cap white">
        How It Works
      </p>
      <h4 class="cap title text-center white">
        Mobile Shops
      </h4>
    </div>

    <div class="row-edge set-flex flex-center">
      <div class="col-xs-12 m-b">
        <div class="set-flex center-xs pos-rlt">
          <img ng-src="{{phoneImg}}" alt="" class="w-full h-full" style="max-height:620px;">

          <div class="pos-abt landing-video">
            <video width="100%" height="auto" autoplay loop poster="{{videoPoster}}" >
              <source ng-src="{{videoMp4 | trustUrl}}" type="video/mp4">
              <!-- <source src="https://antsquare-www.imgix.net/video/AppSample2.webm" type="video/webm">
              <source src="https://antsquare-www.imgix.net/video/AppSample2.ogv" type="video/ogg"> -->
            </video>
          </div>
        </div>
      </div>
    </div>

      <div class="row-edge set-flex flex-center">
        <div class="col-xs-12 col-sm-3 set-flex flex-column around-sm m-r-n-xs p-l-n-sm">
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point1.title}}
            </h6>
            <p class="m-none">
              {{point1.content}}
            </p>
          </div>
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point2.title}}
            </h6>
            <p class="m-none">
              {{point2.content}}
            </p>
          </div>
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point3.title}}
            </h6>
            <p class="m-none">
              {{point3.content}}
            </p>
            <a ng-href="{{sellLink}}" class="mute m-t">
              <button class="btn-trn white">Sell for Free</button>
            </a>
          </div>
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point4.title}}
            </h6>
            <p class="m-none">
              {{point4.content}}
            </p>
          </div>
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point5.title}}
            </h6>
            <p class="m-none">
              {{point5.content}}
            </p>
          </div>
          <div class="set-flex flex-column center-xs m-t m-b white" style="margin-bottom:3em;">
            <h6 class="cap title m-t-none m-b ">
              {{point6.title}}
            </h6>
            <p class="m-none">
              {{point6.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
