<section ng-if="!loading && product.store_info.products.length">
  <div class="p-md p-t-md text-center">
    <p class="m-none p-none">Products from <a ui-sref="store({store_id:product.store_id})"><span class=" secondaryColor" > {{product.store_info.store_name}}</span></a></p>
    <p ng-if="sm">
      <small>
        &nbsp;
    </small>
    </p>
  </div>

  <div class="m-t-md" style="padding-left: 11px;padding-right: 11px;">
    <div class="row-edge around-xs">
      <div ng-repeat="otherProduct in product.store_info.products track by $index" class="col-xs-6 p-none set-flex flex-center m-b-md pos-rlt" style="min-height:79px;">
        <a ng-class="{ 'hidden' : $index === product.store_info.products.length - 1 && leftOvers.length !== 0}" ui-sref="product({product_id:otherProduct.id})" class="w-full h-full set-flex flex-center">
          <div class="bg-img-center other-product-image set-flex flex-center" style='width:calc(100% - 16px );background-image:url("{{otherProduct.images[0]}}");'>
          </div>
        </a>
        <a ng-class="{ 'hidden' : $index !== product.store_info.products.length - 1 || leftOvers.length === 0}" ui-sref="store({store_id:product.store_id})" class="w-full h-full set-flex flex-center pos-rlt">
          <div class="bg-img-center other-product-image" style='width:calc(100% - 16px);background-image:url("{{otherProduct.images[0]}}");'>
            <div class="background-grey-dark-trans w-full h-full pos-rlt z-md set-flex flex-center">
              <h4 class="set-flex flex-center grey-light light m-none">
            {{leftOvers.length}} +
          </h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
