<!-- Product With Img -->
<div ng-if="card.type !== 'has_more' && (card.type === 'product' || card.type === 'service' || card.type === 'moment') " class="pos-rlt card-hover r-3x">
  <!-- Buttons Left-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="left:2px; top:0;">
    <div class="set-flex">
      <p class="m-none white">
        <small ng-if="country === 'Canada'">
          <i class="icon-marker white"></i> {{card.distance_in_km}}
        </small>
        <small ng-if="country !== 'Canada'">
          <i class="icon-marker white"></i> {{card.distance_in_miles}}
        </small>
      </p>
    </div>
  </div>
  <!-- Buttons Right-->
  <!-- <div class="pos-abt p-f-xs p-l-xs p-r-xs z-md" style="right:2px; top:0;">
    <div class="set-flex">
      <a href="#">
        <i class="icon-heart white"></i>
      </a>
    </div>
  </div> -->
  <!-- Img -->
  <a ng-href="{{card.link}}" target="_blank" style="display:block;">
    <div class="card-gradient ">
      <img ng-src="{{card.images[0]}}" class="grid-img r-t-3x" data-actual-width="{{card.actualWidth}}" data-actual-height="{{card.actualHeight}}" />
    </div>
    <div class="set-flex flex-column center-xs background-lineColor r-b-3x">
      <!-- Type -->
      <div class="m-t-sm m-b p-l-sm p-r-sm">
        <p class="cap m-b-xs m-t-none grey-light ">
          <small>
            <small>{{card.type | words: 6}}</small>
          </small>
        </p>
        <!-- Card: Name -->
        <p class="m-none bodyColor">
          <small>{{card.name | words: 6}}</small>
        </p>
        <!-- Card: Price -->
        <div class="set-flex center-xs">
          <p class="card-price m-t-md m-b-none">
            <small> $ {{card.price | priceTruncate}}</small>
            <small class="semiBold m-none " ng-if="card.price_type === 'perhour'">/hour</small>
            <small class="semiBold m-none " ng-if="card.price_type === 'from'"> from</small>
            <small class="semiBold m-none " ng-if="card.price_type === 'noprice'"> No Price</small>
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- Product Without Img -->
<!-- <div ng-if="card.type !== 'has_more' && card.type === 'request'" class="pos-rlt card-hover r-3x">
  <a href="">
    <img ng-src="{{card.mapImg}}" class="grid-img r-t-3x" data-actual-width="{{card.actualWidth}}" data-actual-height="{{card.actualHeight}}" />
    <div class="set-flex flex-column center-xs background-lineColor r-b-3x">
      <p class="bodyColor">
      <small>{{card.name | words: 6}}</small>
      </p>
    </div>
  </a>
</div> -->
<!-- New Store -->
<!-- <div>
  <img ng-src="{{card.mapImg}}" class="grid-img" data-actual-width="{{card.actualWidth}}" data-actual-height="{{card.actualHeight}}" />
  <div class="set-flex flex-center card-bg-circle">
    <i class="icon-art card-icon-center"></i>
  </div>
  <div class="set-flex flex-column center-xs background-lineColor p-t p-b">
    <p class="cap">{{card.name}}</p>
    <div class="set-flex flex-center">
      <form action="">
      <button class="btn-flat white cap">
        <p class="set-flex flex-center m-none"><small><small>{{card.name}}</small></small></p>
      </button>
    </form>
    </div>
  </div>
</div> -->
<!-- BOARD MSG -->
<!-- <div class="set-flex flex-column center-xs background-lineColor p-t p-b">
  <div class="p-t">
    <div class="set-flex flex-center card-bg-circle">
      <i class="icon-art card-icon-center"></i>
    </div>
  </div>
  <p class="cap italic"><small>{{card.name}}</small></p>
  <p class="m-none"><small>{{card.name}}</small></p>
</div> -->
<!-- REQUEST -->
<!-- <div class="set-flex flex-column center-xs background-lineColor p-t p-b">
  <h5 class="cap title m-t-none m-b">request</h5>
  <p class="cap m-none"><small>{{card.name}}</small></p>
</div> -->