<style type="text/css">
  #containercard {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  #dummy {
    margin-top: 100%;
    /* 4:3 aspect ratio */
  }
  
  #elementcard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
</style>
<!-- Moment With Img -->
<div class="pos-rlt card-hover">
  <!-- Img -->
  <!-- <a ng-href="{{::card.link}}" target="_blank" style="display:block;"> -->
  <a style="display:block; max-height:100%;" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
    <div class="card-gradient " id="containercard" ng-click="detailMomentView(card)">
      <div id="dummy"></div>
      <img ng-src="{{::card.video_thumbnail}}" class="grid-img" data-actual-width="{{::card.actualWidth}}" data-actual-height="{{::card.actualHeight}}" id="elementcard" />
    </div>
    <div ng-if="card" class="set-flex m-b-xs m-r-xs flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;" ng-show="hoverEdit">
      <div class="text-right m-b-xs" style="z-index:111;">
        <button class="set-inline-flex flex-center btn-circle btn-circle-active btn-circle2" ng-class="{'btn-liked': card.is_liked}" style="z-index:99;">
          <i class="icon-totallikes2016 text-md text-outline pointer" ng-class="card.is_liked ? 'white' : 'font-transparent'" ng-click="likeMomentToggle()"></i>
        </button>
      </div>
    </div>
  </a>
</div>
<!-- Moment With Img -->
<div class="pos-rlt card-hover" style="box-shadow: 0px 1px 7px red; margin: 5px; top:0px; left:0px; background: #fff;" ng-hide="true">
  <!-- Img -->
  <!-- <a ng-href="{{::card.link}}" target="_blank" style="display:block;"> -->
  <div class="card-gradient " id="containercard" style: "max-height:100%;" ng-click="detailMomentView(card)">
    <div id="dummy">
    </div>
    <img ng-src="{{::card.video_thumbnail}}" class="grid-img" data-actual-width="{{::card.actualWidth}}" data-actual-height="{{::card.actualHeight}}" id="elementcard" />
    <div ng-if="card" class="set-flex flex-grow-equal white pos-abt m-l-xs m-b-xs" style="bottom:0;left:0;">
      <div class="text-nowrap product-info-bg set-flex" style="padding:0px 10px;">
        <small style="font-size:70%;">{{::card.distance_in_miles}} away</small>
      </div>
    </div>
    <div ng-if="card" class="set-flex m-b-xs m-r-xs flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
      <div class="text-right m-b-xs" style="z-index:111;">
        <button class="set-inline-flex flex-center btn-circle btn-circle-active btn-circle2" ng-class="{'btn-liked': card.is_liked}" style="z-index:99;">
          <i class="icon-totallikes2016 text-md text-outline pointer" ng-class="card.is_liked ? 'white' : 'font-transparent'" ng-click="likeMomentToggle()"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="set-flex flex-column center-xs background-lineColor">
    <div class="p-f-xs background-white flex-grow-equal flex-column set-flex" id="rightPanel">
      <div ng-if="card" class="">
        <div class="set-flex between-xs">
          <div class="set-flex flex-grow-equal">
            <div class="set-flex flex-center flex-column top-xs">
              <a ui-sref="user({user_id:card.user_id})" class="m-none">
                <div class="">{{card.user_info.name | splitcharacters: characterLimit}}</div>
              </a>
              <p class="m-none" style="line-height:80%;">
                <small style="font-size:70%;">{{card.user_info.username | splitcharacters: characterLimit}}</small>
              </p>
            </div>
          </div>
          <div>
            <button ng-if="UserFollowProfile" ng-click="followToggle();" class="set-inline-flex flex-center btn-circle" style=" width: 35px; height: 35px; max-width: 35px; max-height: 35px; padding:0px;" ng-class="card.user_info.is_following ? 'btn-following' : 'btn-follow'">
              <small ng-if="!card.user_info.is_following" style="font-size:70%;">Follow</small>
              <small ng-if="card.user_info.is_following" style="font-size:155%;">&#10003;</small>
            </button>
          </div>
        </div>
        <!-- Name & Price -->
        <div class="set-flex between-xs">
          <h6 class=" m-t-md m-b-md" style="font-size:80%; font-weight:500">{{card.name}}</h6>
        </div>
        <!-- View More link -->
        <div class="set-flex center-xs m-b-xs">
          <a class="m-none" ng-click="detailMomentView(card)">
            <div class="grey" style="font-size:70%;">View Description</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pos-abt w-full" style="top:0px;">
  <!-- Buttons Left-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="left:2px; top:0;" ng-if="card.distance_in_km">
    <div class="set-flex w-full between-xs" style="box-sizing: border-box;">
      <p class="m-none white">
        <small ng-if="country === 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_km}}
        </small>
        <small ng-if="country !== 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_miles}}
        </small>
      </p>
    </div>
  </div>
  <!-- Buttons Right-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-md" style="right:10px; top:8px;" ng-if="mode == 'edit'">
    <div class="set-flex">
      <a ui-sref="listing.momentEdit({id: card.id})" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" class="set-flex flex-column flex-center pointer" ng-if="!UserFollowProfile">
        <i class="icon-edit icon-md  text" ng-class="hoverEdit ? 'primaryColor2' : 'white'"></i>
      </a>
      <div ng-click="momentDeletePrompt(card.id);$event.stopPropagation();" ng-init="hoverDelete = false" ng-mouseover="hoverDelete = true" ng-mouseleave="hoverDelete = false" class="set-flex flex-column flex-center pointer" ng-if="!UserFollowProfile">
        <i class="icon-trash icon-md text" ng-class="hoverDelete ? 'primaryColor2' : 'white'"></i>
      </div>
      <div class="set-flex flex-column flex-center" ng-init="hoverVideo = false" ng-mouseover="hoverVideo = true" ng-mouseleave="hoverVideo = false" ng-if="::card.videoMomentIcon">
        <i class="icon-video_icon_grid icon-md text" ng-class="hoverVideo ? 'white' : 'red'"></i>
      </div>
    </div>
  </div>
</div>