<!-- HasMore -->
<div ng-if="card.type === 'has_more'">
  <button ng-click="loadMore()" class=" p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center border-secondaryColor r-3x text-center text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
    more
  </button>
</div>
<div ng-if="card.type === 'has_more_temp'">
  <button id="loadMoreTemp" ng-click="loadMoreTemp()" class="p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center text-center text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
    more
  </button>
</div>
<!--<div ng-if="card.type === 'no_more'">
  <button class="w-full p-t-md p-b-md p-l-md p-r-md set-flex flex-center flex-column border-secondaryColor r-3x text-center text-center secondaryColor title" style="white-space: normal;cursor: default;">
    <p class="m-none">Sorry, there are no more results which match your criteria.</p>
    <a ng-click="toTop()">
      <p class="bold m-t m-b-none">Search again</p>
    </a>
  </button>
</div>-->
<div ng-if="card.type === 'no_more'">
  <button class="set-flex flex-center flex-column border-secondaryColor r-3x text-center text-center red title" style="white-space: normal;cursor: default; border-radius:500px; border:2px solid #FF325B; padding:30px 10px;">
    <p class="m-none">no more</p>
    <a ng-click="toTop()">
      <p class="m-t-none m-b-none">Search again</p>
    </a>
  </button>
</div>