<style type="text/css">
  #containercard {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CCC;
  }
  
  #dummy {
    margin-top: 100%;
    /* 4:3 aspect ratio */
  }
  
  #elementcard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
</style>
<!-- Product With Img -->
<div class="pos-rlt card-hover">
  <!-- Img -->
  <!-- <a ng-href="{{::card.link}}" target="_blank" style="display:block;"> -->
  <a style="display:block; max-height:100%;" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
    <div class="card-gradient " id="containercard" ng-click="detailView(card)">
      <div id="dummy"></div>
      <img ng-src="{{::card.images[0]}}" class="grid-img" data-actual-width="{{::card.actualWidth}}" data-actual-height="{{::card.actualHeight}}" id="elementcard" />
      <div ng-if="card" class="set-flex flex-grow-equal white pos-abt" style="width: 100%;background-color: white;bottom:0;left: -1px;height: 48px;border: 1px solid #CCC;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; opacity:0.85;" ng-show="true">
        <div class="text-nowrap product-info-bg w-full">
          <p class="p-none m-none card-description set-flex ng-binding" style="display: inline-block;width: 100%;white-space: nowrap;overflow:hidden !important;    text-overflow: ellipsis;">{{card.description}}</p>
          <!--<p class="p-none m-none card-description set-flex">{{card.description}}</p>-->
          <p class="m-none p-none" style="line-height: 0.5;">
            <span ng-if="card.type=='product'" class="card-price">${{card.price | priceTruncate}}<span class="m-none" ng-if="card.price_type === 'perhour'">/hour</span><span class="m-none" ng-if="card.price_type === 'from'"> from</span><span class="m-none"
              ng-if="card.price_type === 'noprice'"> </span>
            </span>
            <!--<span class="card-distance"><small>{{card.distance_in_miles}}</small></span>-->
            <span ng-if="card.type=='moment'" style="font-size:small;display: inline-block;width: 60%; line-height: 1;white-space: nowrap;overflow:hidden !important;text-overflow: ellipsis;">
              {{card.tagged_store_info.store_name}}
            </span>
            <span ng-if="card.type=='moment'" style="position: absolute;top: 25px;right: 10px;"><ng-rate-it ng-model="card.star" step="0.5" read-only="true"></ng-rate-it></span>
          </p>
        </div>
      </div>
    </div>
    <div ng-if="card" class="set-flex m-b-xs m-r-xs flex-column flex-grow-equal white pos-abt" style="top:4px;right:0;">
      <div class="text-right m-b-xs" style="z-index:111;" ng-show="hoverEdit">
        <button class="set-inline-flex flex-center btn-circle btn-circle-active btn-circle2" ng-class="{'btn-liked': card.is_liked}" style="z-index:99;">
          <i class="icon-totallikes2016 text-md text-outline pointer" ng-class="card.is_liked ? 'white' : 'font-transparent'" ng-click="likeToggle()"></i>
        </button>
      </div>
    </div>
  </a>
</div>

<div class="pos-abt w-full" style="top:0px;" ng-if="mode == 'edit'">
  <!-- Buttons Left-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="left:2px; top:0;" ng-if="card.distance_in_km">
    <div class="set-flex w-full between-xs" style="box-sizing: border-box;">
      <p class="m-none white">
        <small ng-if="country === 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_km}}
        </small>
        <small ng-if="country !== 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_miles}}
        </small>
      </p>
    </div>
  </div>
  <!-- Buttons Right-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-md" style="right:2px; top:2px;" ng-if="mode == 'edit'">
    <div class="set-flex">
      <a ui-sref="listing.product_service({id: card.id})" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-edit icon-md  text" ng-class="hoverEdit ? 'primaryColor2' : 'white'"></i>
      </a>
      <div ng-click="deletePrompt(card.id);$event.stopPropagation();" ng-init="hoverDelete = false" ng-mouseover="hoverDelete = true" ng-mouseleave="hoverDelete = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-trash icon-md text" ng-class="hoverDelete ? 'primaryColor2' : 'white'"></i>
      </div>
    </div>
  </div>
</div>