<!-- Product With Img -->
<div class="pos-rlt card-hover" style=" margin: 5px; ">
  <!-- Img -->
  <!-- <a ng-href="{{::card.link}}" target="_blank" style="display:block;"> -->
  <a ui-sref="product({product_id:card.id})" target="_blank" style="display:block;">
    <div class="card-gradient " id="containercard">
      <div id="dummy"></div>
      <img ng-src="{{::card.images[0]}}" class="grid-img" data-actual-width="{{::card.actualWidth}}" data-actual-height="{{::card.actualHeight}}" id="elementcard" />
    </div>
  </a>
</div>
<div class="pos-abt w-full" style="top:0px;">
  <!-- Buttons Left-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="left:2px; top:0;" ng-if="card.distance_in_km">
    <div class="set-flex w-full between-xs" style="box-sizing: border-box;">
      <p class="m-none white">
        <small ng-if="country === 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_km}}
        </small>
        <small ng-if="country !== 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_miles}}
        </small>
      </p>
    </div>
  </div>
  <!-- Buttons Right-->
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-md" style="right:2px; top:0;" ng-if="mode == 'edit'">
    <div class="set-flex">
      <a ui-sref="listing.product_service({id: card.id})" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-edit icon-md  text" ng-class="hoverEdit ? 'primaryColor' : 'white'"></i>
      </a>
      <div ng-click="deletePrompt(card.id);$event.stopPropagation();" ng-init="hoverDelete = false" ng-mouseover="hoverDelete = true" ng-mouseleave="hoverDelete = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-trash icon-md text" ng-class="hoverDelete ? 'primaryColor' : 'white'"></i>
      </div>
    </div>
  </div>
</div>