<!-- REQUEST -->
<a ng-if="card.type !== 'has_more' && card.type === 'request'" ui-sref="request({request_id:card.id})">
  <div class="set-flex flex-column center-xs background-lineColor  card-hover r-3x p-l-sm p-r-sm">
    <!-- Buttons Left-->

    <!-- Type -->
    <div class="m-t-sm m-b p-l-sm p-r-sm" ng-class="edit ? '' : 'm-t-lg'">
      <p class="cap m-b-xs m-t-none grey-light ">
        <small>
          <small>{{::card.type | words: 6}}</small>
        </small>
      </p>
      <!-- Card: Name -->
      <p class="m-none bodyColor">
        <small>{{::card.name | words: 6}}</small>
      </p>

      <!-- Card: Price -->
      <div class="set-flex center-xs">
        <p class="card-price m-t-md m-b-none">
          <small>~ $ {{::card.price}}</small>
        </p>
      </div>
    </div>
  </div>
</a>

<div class="pos-abt w-full" style="top:0px;">
  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="left:2px; top:0;" ng-if="card.distance_in_km">
    <div class="set-flex w-full between-xs" style="box-sizing: border-box;">
      <p class="m-none white">
        <small ng-if="country === 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_km}}
        </small>
        <small ng-if="country !== 'Canada'">
          <i class="icon-marker white"></i> {{::card.distance_in_miles}}
        </small>
      </p>
    </div>
  </div>

  <div class="pos-abt p-f-xs p-l-xs p-r-xs z-sm" style="right:2px; top:0;" ng-if="mode == 'edit'">
    <div class="set-flex">
      <a ui-sref="listing.requestEdit({id:card.id})" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-edit icon-md  text" ng-class="hoverEdit ? 'primaryColor' : 'bodyColor'"></i>
      </a>

      <div ng-click="requestDeletePrompt(card.id);$event.stopPropagation();" ng-init="hoverDelete = false" ng-mouseover="hoverDelete = true" ng-mouseleave="hoverDelete = false" class="set-flex flex-column flex-center pointer">
        <i class="icon-trash icon-md text" ng-class="hoverDelete ? 'primaryColor' : 'bodyColor'"></i>
      </div>
    </div>
  </div>
</div>
