<div class="set-flex flex-center m-b-sm">
  <a class="set-flex" ui-sref="store({store_id: card.id})" ng-click="close()">
    <div class='thumb bg-img-center ' style='background-image:url("{{card.logo}}");'>
    </div>
    <div class="m-t-none m-b-none m-l start-xs text-left" style="width:300px;">
      <p class="m-none">
        {{card.store_name}}
      </p>
      <rating star="card.average_rating" total="card.total_review" style="float:left; margin-right:10px;"></rating><small style="font-size:70%;">{{card.distance_in_miles}} away</small></div>
  </a>
  <div class="set-flex flex-center">
    <button ng-click="followToggle(card.user_id, $index);" class="set-inline-flex flex-center btn-circle" style="margin-right:13px;" ng-class="card.is_following ? 'btn-following' : 'btn-follow'">
      <small ng-if="!card.is_following">Follow</small>
      <small ng-if="card.is_following">Following</small>
    </button>
  </div>
</div>