<div class="set-flex flex-center m-b-sm">
  <a class="set-flex" ng-click="getTags(card.tag)">
    <div  class="set-flex" style="width:300px;">
      <h4 class="m-t-none m-b-none m-l set-flex flex-center start-xs text-left">
      #{{card.tag}}
    </h4>
      <p class="m-t-none m-b-none m-l set-flex flex-end text-left">
        <small class="grey-light">{{card.count}} posts</small>
      </p>
    </div>
  </a>
</div>
