<div class="set-flex flex-center m-b-sm">
  <a class="set-flex usercardstyle" ui-sref="user({user_id: card.id})" ng-click="close()">
    <div class='avatar thumb bg-img-center ' style='background-image:url("{{card.picture}}");'>
    </div>
    <p class="m-t-none m-b-none m-l set-flex flex-center start-xs text-left">
      {{card.name}}</p>
  </a>
  <div class="set-flex flex-center">
    <button ng-click="followToggle(card.id, $index);" class="set-inline-flex flex-center btn-circle" ng-class="card.is_following ? 'btn-following' : 'btn-follow'">
      <small ng-if="!card.is_following">Follow</small>
      <small ng-if="card.is_following">Following</small>
    </button>
  </div>
</div>