<section class="set-flex flex-center flex-column" id="below-nav-bar" ng-class="isMobile ? 'landing-hide' : 'landing-show'">
  <div class="set-flex flex-center landingcover-img">
    <ul class="coverimg-ul row-edge">
      <li><span>Antsquare</span>
        <br><small>is a local discovery marketplace for social commerce</small></li>
    </ul>
  </div>
</section>
<section class="set-flex flex-center flex-column landing-hide" id="below-nav-bar" ng-class="isMobile ? 'landing-show' : 'landing-hide'" style="padding:8vh 0 0;">
  <div class="set-flex flex-left landingcover-img2 coverimg-p">
    <p><span>Antsquare</span>
      <br><small>is a local discovery marketplace for social commerce</small></p>
  </div>
  </div>
</section>
<section class="pos-rlt p-b-lg p-t-lg" style="background-color:#faf9f5">
  <p class="slideTitle">Business</span>
  </p>
  <div class="row container-edge2  m-l-sm m-r-sm">
    <div class="col-xs-12 col-sm-12 col-md-4 text-center p-b-md" ng-repeat="slide in businessInfoSlides">
      <img ng-src={{slide.icon}} ng-class="isMobile ? 'infoSlideIcon-mobile' : 'infoSlideIcon'">
      <p class="m-t-sm m-b-sm"><span class="infoSlideTitle">{{slide.title}}</span></p>
      <p class="m-t-sm m-b-sm">{{slide.content}}</p>
    </div>
  </div>
</section>

<section class="pos-rlt p-b-lg p-t-lg" style="background-color: antiquewhite;">
  <p class="slideTitle">Customer</p>
  <div class="row container-edge2 m-l-sm m-r-sm">
    <div class="col-xs-12 col-sm-12 col-md-4 text-center p-b-md" ng-repeat="slide in customerInfoSlides">
      <img ng-src={{slide.icon}} ng-class="isMobile ? 'infoSlideIcon-mobile' : 'infoSlideIcon'">
      <p class="m-t-sm m-b-sm"><span class="infoSlideTitle">{{slide.title}}</span></p>
      <p class="m-t-sm m-b-sm">{{slide.content}}</p>
    </div>
  </div>
</section>

<section class="pos-rlt p-b-md p-t-lg m-t-md">
  <div class="row container-edge2">
    <div class="col-xs-12 col-sm-12 col-md-3 set-flex flex-column flex-center" style="max-height: 30vh;">
      <div class="m-l-sm m-r-sm m-b-sm m-t-sm" style="text-align:center;">
        <a ng-click="trackIos()" href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank">
          <img class="appDownloadImage" ng-class="isMobile ? 'appDownloadImage_mobile ' : 'appDownloadImage'" ng-src="https://d37pip7vd9logx.cloudfront.net/imgs/apple.png?auto=compress,enhance,format,redeye">
        </a>
      </div>
      <div class="m-l-sm m-r-sm m-b-sm" style="text-align:center;">
        <a ng-click="trackAndroid()" href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank">
          <img class="appDownloadImage" ng-class="isMobile ? 'appDownloadImage_mobile ' : 'appDownloadImage'" ng-src="https://d37pip7vd9logx.cloudfront.net/imgs/google+play.png?auto=compress,enhance,format,redeye">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 set-flex flex-center" style="max-height: 30vh;">
      <img style="max-width: 100%;width: 90%;height: 100%;max-height: 100%;object-fit: contain; margin:0px auto;" ng-src="https://d37pip7vd9logx.cloudfront.net/landing/iphone-website.png?auto=compress,enhance,format,redeye">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4" style="max-height: 30vh;">
      <p style=" font-size: large;" class="m-sm m-t-lg">Send a download link to my phone</p>
      <div class="m-sm" style="margin-bottom: 0">
        <span style="border: 1px solid #CCC; padding: 5px; position: absolute; border-radius: 0px; border-right: transparent; ">+1</span>
        <input type="tel" ng-model="phoneNumber" style="padding: 5px; padding-left:25px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; border-radius: 0; width: 80%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10"
          placeholder="Enter valid US number">
        <button ng-click="sendDownloadLink()" style=" border: 1px solid #CCC; padding: 5px; position: absolute; border-radius: 0px; border-left: transparent; ">Go</button>
      </div>
      <span class="m-l-sm" style="font-size: small;" ng-style="{color: isError == true? 'red':'gray'}">{{errorMsg}}</span>
    </div>
  </div>
</section>