<div class="d-home">
  <!-- HEADDER -->
  <section class="full-padding-3x container-fluid background-natural" id="about">
    <div class="set-flex flex-center">
      <div style="max-width:1140px;">
        <div class="col-sm-12">
          <div class="m-t m-b">
            <h1 class="bodyColor">
              <strong>
                Antsquare Guidelines
              </strong>
            </h1>
            <h2>
              <small>
                Antsquare is a marketplace for the hyper-local buying and selling of unique products and services within our community. We want to showcase the best of what our community has to offer! Therefore, everything on Antsquare must be of high quality, integrity
                and professionalism.
              </small>
            </h2>
            <p class="m-t-lg m-b-sm">
              Prohibited products and services that violate our Terms & Conditions, agreements and the laws of your jurisdiction are not allowed on Antsquare.
            </p>
            <p class="m-b-sm">
              All Antsquare shops are independent businesses, entrepreneurs or passionate individuals.
            </p>
            <p class="m-b-sm">
              Honesty is important to Antsquare and our community. We ask that shop owners represent themselves, their business, and their items accurately.
            </p>
            <p class="m-b-sm">
              Antsquare’s quality assurance team may reach out to shops in violation of these guidelines. While we prefer to help you bring your shop into compliance with our rules, Antsquare may remove shops that fail to meet our standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Info-->
  <section class="full-padding-3x container-fluid background-white">
    <div class="m-t-lg m-b-lg set-flex flex-center">
      <div style="max-width:1140px;">
        <div class="col-sm-12 ">
          <div class="set-flex flex-center" ng-init='onSeller = true;'>
            <h2 ng-click="onSeller = true" class="pointer full-padding-lg no-margin bodyColor flex-grow-equal text-center rounded-corners-l border-market-seller" ng-class="onSeller ? 'background-fieldColor': 'background-natural'">
              <strong>
                Tips for Sellers
              </strong>
            </h2>
            <h2 ng-click="onSeller = false" class="pointer full-padding-lg no-margin bodyColor flex-grow-equal text-center rounded-corners-r border-market-buyer" ng-class="!onSeller ? 'background-fieldColor': 'background-natural'">
              <strong>
                Tips for Buyers
              </strong>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="onSeller" ng-repeat="tip in sellerTip" class="set-flex flex-center">
      <div class="col-sm-9">
        <h2 class="primaryColor m-b">
          <strong>{{tip.title}}</strong>
        </h2>
        <p>{{tip.content}}</p>
      </div>
    </div>
    <div ng-if="!onSeller" ng-repeat="tip in buyerTip" class="set-flex flex-center">
      <div class="col-sm-9">
        <h2 class="primaryColor m-b">
          <strong>{{tip.title}}</strong>
        </h2>
        <p>{{tip.content}}</p>
      </div>
    </div>
  </section>
</div>