<div class="bg-img-center background-secondaryColor r-t-3x" style='height:150px;background-image:url("{{moment.store_info.cover_image}}");'>
</div>
<div class="p-md p-t-md">
    <div class="set-flex around-xs">
        <div class="text-center pointer" ng-click="showFollowers()">
            <p class="m-none p-none ">{{moment.user_info.total_followers}}</p>
            <p class="m-t-xs p-none l-h-0x"><small>Followers</small></p>
        </div>
        <div class="text-center pointer" ng-click="showFollowings()">
            <p class="m-none p-none ">{{moment.user_info.total_followings}}</p>
            <p class="m-t-xs p-none l-h-0x"><small>Following</small></p>
        </div>
    </div>
</div>