<div class="set-flex center-xs">
    <div class=" background-white" style="max-width: 500px;">
        <div class="set-flex flex-column p-t-md p-b-xs">
            <div class="p-md end-xs">
            </div>
            <h5 class="text-center p-md m-t-none m-b-sm">
          Reset Password
        </h5>
            <p class="text-center m-none">A code was sent to this number: {{data.input}}</p>
            <p class="m-none text-center success-color">
                {{success}}
            </p>
            <div ng-if="success">
                Continue browsing on <a ui-sref="index.home" class="secondaryColor bold">Antsquare</a>
            </div>
            <p class="m-none text-center error-color">{{error}}</p>
            <p class="text-right m-none pointer">
                <div class="p-f-lg">
                    <form name="loginForm" ng-submit="submit()" novalidate>
                        <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="data.code" placeholder="Enter Code">
                        <p class="set-flex end-xs m-t-none">
                            <a ng-click="resendCode(); $event.stopPropagation()" class="text-right m-none pointer"><small class='grey'>No verification code received?</small></a>
                        </p>
                        <input class="w-full m-b-sm m-t-sm text-center" type="password" ng-model="data.newpass" placeholder="New Password">
                        <input class="w-full m-b-sm m-t-sm text-center" type="password" ng-model="data.confirm" placeholder="Confirm Password">
                        <input type="submit" style="position: absolute; left: -9999px" />
                    </form>
                    <div class="text-center">
                        <button class="cap btn btn-primary2" ng-click="submit()" ladda='loading'>
                            Submit
                        </button>
                    </div>
            </p>
            </div>
        </div>
    </div>
</div>