<!--Store profile-->
<div class="background-white r-3x p-f-2x">
  <h6 class="m-t-none m-b-sm text-center">Edit Profile</h6>
  <form angular-validator-submit="submitStoreProfile()" name="UserProfileForm" novalidate angular-validator>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Profile Picture</label>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="set-flex">
          <div ng-if="!file.logo" style='background-image:url("{{data.logo}}")' class="thumb-lg bg-img-center avatar"></div>
          <img ng-if="file.logo  && !tempProfile.logo" ngf-as-background="true" ngf-thumbnail="file.logo" class="thumb-lg bg-img-center avatar">
          <div ng-if="tempProfile.logo" style='background-image:url("{{tempProfile.logo}}")' class="thumb-lg bg-img-center avatar"></div>
          <p class='m-none' ng-if="uploading"><small class="grey border-lineColor r-3x">Uploading</small></p>
        </div>
        <div class='m-b-sm set-flex'>
          <button class="btn btn-red btn-redcolorprofile m-l" ngf-select ng-model="file.logo" ngf-change="fileInput($files,'logo')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{ height: 300}">edit</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="set-flex flex-center">
          <label class="control-label">Is Business</label>
          <label class="toggleSwitch"><input ng-model="profile.as_business" type="checkbox"><div class="toggleSlider"></div></label>
        </div>
      </div>
    </div>
    <div class="row-edge form-group" ng-show="profile.as_business">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Business Address</label>
        </div>
      </div>
      <div class="col-xs-7">
        <p class='m-none p-t-sm'>{{store.address1}} &nbsp;{{store.address2}}
        </p>
        <div class="row-edge form-group">
          <div class="col-xs-12 p-none">
            <form ng-submit="getLocation()">
              <input class="w-full p-f-sm" type="text" placeholder="Search address" ng-model="location" g-places-autocomplete force-selection="true">
              <button type="submit" class="hidden"></button>
            </form>
            <div class="store-setting-map-container pos-rlt">
              <div id='map'></div>
              <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
              </ui-gmap-google-map>
              <img src='https://antsquare-www.imgix.net/imgs/marker.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
            </div>
          </div>
        </div>
        <div class="row-edge form-group p-t-none">
          <div class="col-xs-12 p-none">
            <div class="set-flex middle-xs">
              <span class="grey">Selected Address: {{mapResult.address1}} &nbsp; {{mapResult.address2}} </span>
            </div>
          </div>
        </div>
        <div class="m-t">
          <div class="set-flex center-xs center-sm">
            <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ng-click="storeAddressUpdate()" ladda='submitAddress' style="font-size:12px !important;">Save Address</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label"><span ng-show="profile.as_business">Business Name</span><span ng-hide="profile.as_business">Name</span></label>
        </div>
      </div>
      <div class="col-xs-7">
        <input ng-trim="false" type="text" name="store_name" class="w-full form-control" ng-model="data.store_name" required-message="'required'" validate-on="dirty" required>
      </div>
    </div>
    <div class="row-edge form-group" ng-show="profile.as_business">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Business Phone</label>
        </div>
      </div>
      <div class="col-xs-7">
        <!--<country-selector class="pos-abt" style="top:-24px;" country="US"></country-selector>-->
        <input ng-trim="false" type="text" name="phone" class="w-full form-control" ng-model="profile.business_phone" ng-pattern="/^\d+$/" invalid-message="'A phone number must be integers only'" required-message="'Phone number is required'" validate-on="dirty">
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Email</label>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="row-edge form-group" ng-init="changeEmail = false">
          <div class="col-xs-12 p-none" style="padding-bottom:15px !important;">
            <p class="m-none grey">{{profile.email}}</p>
            <div class="set-flex between-xs flex-column-xs">
              <div ng-if="!changeEmail" class="set-flex between-xs flex-grow-equal flex-column-xs">
                <div class="set-flex between-xs flex-grow-equal">
                  <div ng-if="profile.email_verified" class="set-flex">
                    <div class="set-flex flex-center m-r success-color">
                      <i class="icon-md icon-verified"></i>
                      <small class="success-color set-flex flex-center" ui-sref="email">Verified</small>
                    </div>
                  </div>
                  <div ng-if="!profile.email_verified" class="set-flex">
                    <div class="set-flex flex-center m-r-xs error-color">
                      <i class="icon-md icon-unverified"></i>
                      <small class="error-color set-flex flex-center">Unverified</small>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 p-none">
                  <a ng-click="$parent.changeEmail = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small ng-if="!profile.email_verified">Add to verify Email</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--<div ng-if="!changeEmail" class="col-xs-12 p-none">
            <div class="col-xs-12 p-none">
              <a ng-click="$parent.changeEmail = true;" class="m-r pointer grey underline-hover">
                <small>Add Email</small>
              </a>
            </div>
          </div>
          <div class="col-xs-12 pos-rlt p-none">
            <p ng-if="msg" class="m-none success-color">{{msg}}</p>
            <div ng-if="changeEmail">
              <div class="border-lineColor p-f-md">
                <form ng-submit="updateEmail();$event.preventDefault();">
                  <p ng-if="addEmailError" class="m-none error-color">{{addEmailError}}</p>
                  <div class="pos-rlt">
                    <p ng-if="emailVerify" class="m-none success-color">{{emailVerify}}</p>
                    <div class="set-flex middle-xs start-sm">
                      <label class="control-label">New Email</label>
                    </div>
                    <input ng-trim="false" type="email" name="emailAddress" class="w-full form-control" ng-model="profile.newemail" invalid-message="'Thats not a real email address'" required-message="'required'" validate-on="dirty" required>
                  </div>
                  <div class="set-flex end-xs m-t-sm">
                    <button ng-click="$parent.changeEmail = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                    <button type="submit" ng-click="updateEmail();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Facebook</label>
        </div>
      </div>
      <div class="col-xs-7">
        <input ng-trim="false" type="text" name="facebook" class="w-full form-control" ng-model="profile.facebook" required-message="'required'" validate-on="dirty">
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Twitter</label>
        </div>
      </div>
      <div class="col-xs-7">
        <input ng-trim="false" type="text" name="twitter" class="w-full form-control" ng-model="profile.twitter" required-message="'required'" validate-on="dirty">
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Instagram</label>
        </div>
      </div>
      <div class="col-xs-7">
        <input ng-trim="false" type="text" name="instagram" class="w-full form-control" ng-model="profile.instagram" required-message="'required'" validate-on="dirty">
      </div>
    </div>
    <div class="m-t">
      <div class="set-flex center-xs center-sm">
        <button type="button" ng-click="reset()" class="btn btn-redcolor btn-redcolorprofile m-r" style="font-size:12px !important;">Reset</button>
        <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ng-click="submitStoreProfile()" ladda='submiting' style="font-size:12px !important;">Save Changes</button>
      </div>
    </div>
  </form>
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label">Password</label>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="col-xs-12 pos-rlt p-none" ng-init="changePassword = false">
        <div class="set-flex between-xs flex-column-xs">
          <div ng-if="!changePassword" class="set-flex between-xs flex-grow-equal flex-column-xs">
            <div class="set-flex between-xs flex-grow-equal">
              <div></div>
              <div class='set-flex'>
                <a ng-click="$parent.changePassword = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                  <small>Change Password</small>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="changePassword">
          <div class="border-lineColor p-f-md">
            <form ng-submit="updatePassword();$event.preventDefault();">
              <p ng-if="addPasswordError" class="m-none error-color">{{addPasswordError}}</p>
              <div class="pos-rlt">
                <p ng-if="passwordVerify" class="m-none success-color">{{passwordVerify}}</p>
                <div class="set-flex middle-xs start-sm">
                  <label class="control-label">Current Password</label>
                </div>
                <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.oldpass" required-message="'required'" validate-on="dirty" required>
                <div class="set-flex middle-xs start-sm">
                  <label class="control-label">New Password</label>
                </div>
                <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.newpass" required-message="'required'" validate-on="dirty" required>
              </div>
              <div class="set-flex end-xs m-t-sm">
                <button ng-click="$parent.changePassword = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                <button type="submit" ng-click="updatePassword();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row-edge form-group mainform-group flex-center">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 0px 15px;">
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <h6 class="m-t-none m-b-none grey text-base">Profile Info</h6>
        </div>
      </div>
    </div>
    <form angular-validator-submit="submitStoreProfile()" name="UserProfileForm2" class="" novalidate angular-validator>
      <div class="row-edge form-group">
        <div class="col-xs-6 p-none">
          <div class="set-flex">
            <div ng-if="!file.logo" style='background-image:url("{{data.logo}}")' class="thumb-md bg-img-center avatar"></div>
            <img ng-if="file.logo  && !tempProfile.logo" ngf-as-background="true" ngf-thumbnail="file.logo" class="thumb-md bg-img-center avatar">
            <div ng-if="tempProfile.logo" style='background-image:url("{{tempProfile.logo}}")' class="thumb-md bg-img-center avatar"></div>
            <p class='m-none' ng-if="uploading"><small class="grey border-lineColor r-3x">Uploading</small></p>
            <label class="control-label set-flex bottom-xs">Profile Picture</label>
          </div>
        </div>

        <div class="col-xs-6 p-none set-flex bottom-xs end-sm end-xs">
          <div class='m-b-sm set-flex end-sm end-xs"'>
            <button class="btn-editgrey grey" ngf-select ng-model="file.logo" ngf-change="fileInput($files,'logo')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{ height: 300}">edit</button>
          </div>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Profile Title<small class="red" style="font-size:15px;">*</small></label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="store_name" class="w-full form-control" ng-model="data.store_name" required-message="'required'" validate-on="dirty" required>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Personal username<small class="red" style="font-size:15px;">*</small></label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="user_name" class="w-full form-control" ng-model="profile.username" required-message="'required'" validate-on="dirty" required>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Store handle</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="store_handle" class="w-full form-control" ng-model="data.handle" required-message="'required'" validate-on="dirty" required>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label"><a class="underline-hover red" ui-sref="storeHandle2({store_id:data.handle})">{{link}}{{data.handle}}</a></label>
          </div>
          <div class="set-flex middle-xs">
            <label class="control-label"><a class="underline-hover red" ui-sref="username({user_id:profile.username})">{{link}}{{profile.username}}</a></label>
          </div>
        </div>
      </div>
      <div class="row-edge form-group" style="display:none;">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Description</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <textarea class="w-full form-control form-textarea" ng-model="data.description" name="" id="" cols="30" rows="3">
            </textarea>
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Facebook</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="facebook" class="w-full form-control" ng-model="data.facebook" required-message="'required'" validate-on="dirty">
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Twitter</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="twitter" class="w-full form-control" ng-model="data.twitter" required-message="'required'" validate-on="dirty">
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Instagram</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="instagram" class="w-full form-control" ng-model="data.instagram" required-message="'required'" validate-on="dirty">
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Pinterest</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="pinterest" class="w-full form-control" ng-model="data.pinterest" required-message="'required'" validate-on="dirty">
        </div>
      </div>
      <div class="row-edge form-group">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Youtube</label>
          </div>
        </div>
        <div class="col-xs-12 p-none">
          <input ng-trim="false" type="text" name="youtube" class="w-full form-control" ng-model="data.youtube" required-message="'required'" validate-on="dirty">
        </div>
      </div>
      <div class="m-t">
        <div class="set-flex center-xs center-sm">
          <button type="button" ng-click="reset()" class="btn btn-redcolor btn-redcolorprofile m-r" style="font-size:12px !important;">Reset</button>
          <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ladda='submiting' style="font-size:12px !important;">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row-edge form-group mainform-group flex-center">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 0px 15px;">
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <h6 class="m-t-none m-b-none grey text-base">Account Settings</h6>
        </div>
      </div>
    </div>
    <form angular-validator-submit="submitUserProfile()" name="UserProfileForm" class="" novalidate angular-validator>
      <div class="row-edge form-group" ng-init="changeEmail = false">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Current Email</label>
          </div>
        </div>
        <div class="col-xs-12 p-none" style="padding-bottom:15px !important;">
          <p class="m-none grey">{{profile.email}}</p>
          <div class="set-flex between-xs flex-column-xs">
            <div ng-if="!changeEmail" class="set-flex between-xs flex-grow-equal flex-column-xs">
              <div class="set-flex between-xs flex-grow-equal">
                <div ng-if="profile.email_verified" class="set-flex">
                  <div class="set-flex flex-center m-r success-color">
                    <i class="icon-md icon-verified"></i>
                    <small class="success-color set-flex flex-center" ui-sref="email">Verified</small>
                  </div>
                </div>
                <div ng-if="!profile.email_verified" class="set-flex">
                  <div class="set-flex flex-center m-r-xs error-color">
                    <i class="icon-md icon-unverified"></i>
                    <small class="error-color set-flex flex-center">Unverified</small>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 p-none">
                <a ng-click="$parent.changeEmail = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                  <small ng-if="!profile.email_verified">Add to verify Email</small>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!changeEmail" class="col-xs-12 p-none">
          <div ng-if="profile.email_update.email" class="set-flex middle-xs">
            <label class="control-label">New Added Email</label>
          </div>
          <div ng-if="profile.email_update.email" class="col-xs-12 p-none">
            <p class="m-none grey">{{profile.email_update.email}}</p>
          </div>
          <div ng-if="profile.email_update.email" class="set-flex between-xs flex-grow-equal flex-column-xs">
            <div class="set-flex">
              <div class="set-flex flex-center m-r-xs error-color">
                <i class="icon-md icon-unverified"></i>
                <small class="error-color set-flex flex-center">Unverified</small>
              </div>
              <p class=""><a ng-click="verifyEmail()" style="text-decoration:underline;">Re-Trigger Verification</a>
              </p>
            </div>
          </div>
          <div class="col-xs-12 p-none">
            <a ng-click="$parent.changeEmail = true;" class="m-r pointer grey underline-hover">
              <small>Add Email</small>
            </a>
          </div>
        </div>
        <div class="col-xs-12 pos-rlt p-none">
          <p ng-if="msg" class="m-none success-color">{{msg}}</p>
          <div ng-if="changeEmail">
            <div class="border-lineColor p-f-md">
              <form ng-submit="updateEmail();$event.preventDefault();">
                <p ng-if="addEmailError" class="m-none error-color">{{addEmailError}}</p>
                <div class="pos-rlt">
                  <p ng-if="emailVerify" class="m-none success-color">{{emailVerify}}</p>
                  <div class="set-flex middle-xs start-sm">
                      <label class="control-label">Password</label>
                    </div>
                    <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.oldpassemail" required-message="'required'" validate-on="dirty" required>
                  <div class="set-flex middle-xs start-sm">
                    <label class="control-label">New Email</label>
                  </div>
                  <input ng-trim="false" type="email" name="emailAddress" class="w-full form-control" ng-model="profile.newemail" invalid-message="'Thats not a real email address'" required-message="'required'" validate-on="dirty" required>
                                     <div class="set-flex middle-xs start-sm">
                      <label class="control-label">Confirm Email</label>
                    </div>
                    <input ng-trim="false" type="email" name="emailAddress" class="w-full form-control" ng-model="profile.confirmemail" invalid-message="'Thats not a real email address'" required-message="'required'" validate-on="dirty" required>
                </div>
                <div class="set-flex end-xs m-t-sm">
                  <button ng-click="$parent.changeEmail = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                  <button type="submit" ng-click="updateEmail();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row-edge form-group" ng-init="changePhone = false">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Phone</label>
          </div>
        </div>
        <div class="col-xs-12 pos-rlt p-none">
          <div class="set-flex between-xs flex-column-xs">
            <div ng-if="!changePhone" class="set-flex between-xs flex-grow-equal flex-column-xs">
              <div class="country-select set-flex flex-center">
                <div class="flag country-select {{profile.country}}"></div>
              </div>
              <p class="m-none">{{profile.phone_number}}</p>
              <div class="set-flex between-xs flex-grow-equal">
                <div ng-if="profile.phone_verified" class="set-flex">
                  <div class="set-flex flex-center m-r success-color">
                    <i class="icon-md icon-verified"></i>
                    <small class="success-color set-flex flex-center">Verified</small>
                  </div>
                </div>
                <div ng-if="!profile.phone_verified" class="set-flex">
                  <div class="set-flex flex-center m-r-xs error-color">
                    <i class="icon-md icon-unverified"></i>
                    <small class="error-color set-flex flex-center">Unverified</small>
                  </div>
                </div>
                <div class='set-flex'>
                  <a ng-click="$parent.changePhone = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small>Change Phone</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="changePhone">
            <div class="border-lineColor p-f-md">
              <form ng-submit="updatePhone();$event.preventDefault();">
                <p ng-if="addPhoneError" class="m-none error-color">{{addPhoneError}}</p>
                <div class="pos-rlt">
                  <country-selector class="pos-abt" style="top:-24px;" country="input.country"></country-selector>
                  <input ng-trim="false" type="text" name="phone" class="w-full form-control" ng-model="input.phone" ng-pattern="/^\d+$/" invalid-message="'A phone number must be integers only'" required-message="'Phone number is required'" validate-on="dirty" style="padding:4px 80px!important;"
                    required>
                  <input ng-trim="false" type="submit" style="position: absolute; left: -9999px" />
                </div>
                <div class="set-flex end-xs m-t-sm">
                  <button ng-click="$parent.changePhone = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                  <button type="submit" ng-click="updatePhone();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row-edge form-group" ng-init="changePassword = false">
        <div class="col-xs-12 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Password</label>
          </div>
        </div>
        <div class="col-xs-12 pos-rlt p-none">
          <div class="set-flex between-xs flex-column-xs">
            <div ng-if="!changePassword" class="set-flex between-xs flex-grow-equal flex-column-xs">
              <div class="set-flex between-xs flex-grow-equal">
                <div></div>
                <div class='set-flex'>
                  <a ng-click="$parent.changePassword = true;" class="set-flex flex-center m-r pointer grey underline-hover">
                    <small>Change Password</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="changePassword">
            <div class="border-lineColor p-f-md">
              <form ng-submit="updatePassword();$event.preventDefault();">
                <p ng-if="addPasswordError" class="m-none error-color">{{addPasswordError}}</p>
                <div class="pos-rlt">
                  <p ng-if="passwordVerify" class="m-none success-color">{{passwordVerify}}</p>
                  <div class="set-flex middle-xs start-sm">
                    <label class="control-label">Current Password</label>
                  </div>
                  <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.oldpass" required-message="'required'" validate-on="dirty" required>
                  <div class="set-flex middle-xs start-sm">
                    <label class="control-label">New Password</label>
                  </div>
                  <input ng-trim="false" type="password" name="emailAddress" class="w-full form-control" ng-model="profile.newpass" required-message="'required'" validate-on="dirty" required>
                </div>
                <div class="set-flex end-xs m-t-sm">
                  <button ng-click="$parent.changePassword = false;;$event.preventDefault();" class="btn btn-redcolor m-r">Cancel</button>
                  <button type="submit" ng-click="updatePassword();$event.preventDefault();" class="btn btn-redcolor">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row-edge form-group">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <label class="control-label">Current Address</label>
        </div>
      </div>
      <div class="col-xs-12 p-none">
        <div class="set-flex p-t-sm">
          <p class='m-none'>{{store.address1}} &nbsp;</p>
          <p class='m-none'>{{store.address2}}</p>
        </div>
      </div>
    </div>
    <div class="row-edge form-group p-t-none">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <label class="control-label">Selected Address</label>
        </div>
      </div>
      <div class="col-xs-12 p-none">
        <div class="set-flex p-t-sm">
          <p class='m-none'> {{mapResult.address1}} &nbsp;</p>
          <p class='m-none'> {{mapResult.address2}} </p>
        </div>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <label class="control-label">Meet Up Location</label>
        </div>
      </div>
      <div class="col-xs-12 p-none">
        <form ng-submit="getLocation()">
          <input class="w-full p-f-sm" type="text" placeholder="Enter address" ng-model="location" g-places-autocomplete force-selection="true">
          <button type="submit" class="hidden"></button>
        </form>
        <div class="store-setting-map-container pos-rlt">
          <div id='map'></div>
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
          </ui-gmap-google-map>
          <img src='https://antsquare-www.imgix.net/imgs/marker.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
        </div>
      </div>
    </div>
    <div class="m-t">
      <div class="set-flex center-xs center-sm">
        <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ng-click="storeAddressUpdate()" ladda='submitAddress' style="font-size:12px !important;">Save Address</button>
      </div>
    </div>
  </div>
</div>
<div class="row-edge form-group mainform-group flex-center">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 0px 15px;">
    <div class="row-edge form-group form-group2">
      <div class="col-xs-6 p-none">
        <div class="set-flex middle-xs">
          <label class="control-label">Enable Store</label>
        </div>
      </div>
      <div class="col-xs-6 p-none">
        <button ng-click="storeStatusToggle()" style="padding: 6px 14px; font-size:12px !important; font-weight:bold; color:#fff; border:none;" ladda='statusToggle' class="btn m-r-sm" ng-class="!store.is_enabled ? 'btn-success' : 'btn-error' "> <span ng-if="!store.is_enabled">Enable</span>
              <span ng-if="store.is_enabled">Disable</span>
              </button>
      </div>
    </div>
  </div>
</div>
<div class="row-edge form-group mainform-group flex-center">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 0px 15px;">
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <h6 class="m-t-none m-b-none grey text-base">CSV Import</h6>
        </div>
      </div>
    </div>
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <p class="grey m-none">
          <small>
          To add multiple items to your shop, upload a formatted CSV file.
        </small>
        </p>
        <p class="grey m-none">
          <small>
          Click <a href="http://antsqua.re/51y6gv" target="_blank" class="red">here</a> to download a sample CSV or visit our <a href="https://antsquare.zendesk.com/hc/en-us/articles/204834379" target="_blank" class="red">FAQ Page</a> for additional assistance.
        </small>
        </p>
      </div>
    </div>
    <form ng-submit="submitCSV()" name="uploadCSV">
      <div class="row-edge form-group form-group2">
        <div class="col-xs-3 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">Upload CSV</label>
          </div>
        </div>
        <div class="col-xs-9 p-none">
          <button ngf-drop ngf-select ng-model="input.files" class="btn-editgrey grey" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.csv'" id='cover-input' type="button">
              Choose File
            </button>
          <p class='m-none' ng-if="uploadingCSV"><small class="grey border-lineColor r-3x">Uploading ({{loadingPct}}) </small></p>
        </div>
      </div>
      <div class="m-t">
        <div class="set-flex center-xs center-sm">
          <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ladda='CSVsubmiting' style="font-size:12px !important;">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row-edge form-group mainform-group flex-center">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px 0px 15px;">
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <div class="set-flex middle-xs">
          <h6 class="m-t-none m-b-none grey text-base">Empty Store</h6>
        </div>
      </div>
    </div>
    <div class="row-edge form-group form-group2">
      <div class="col-xs-12 p-none">
        <p class="m-none">
          <small class="warning-color">
          Once you clear a store, there is no going back. Please be certain.
        </small>
        </p>
        <p class="m-none grey">
          <small>
          Please type in the word DELETE below to confirm
        </small>
        </p>
      </div>
    </div>
    <form angular-validator-submit="clearStore()" name="clearStoreForm" class="" novalidate angular-validator>
      <div class="row-edge form-group form-group2">
        <div class="col-xs-3 p-none">
          <div class="set-flex middle-xs">
            <label class="control-label">CODE</label>
          </div>
        </div>
        <div class="col-xs-9 p-none">
          <input type="text" name="delete" class="w-full form-control" ng-model="data.delete" ng-pattern="/DELETE/" invalid-message="'Please check your input'" required-message="'required.'" validate-on="dirty" required>
        </div>
      </div>
      <div class="m-t">
        <div class="set-flex center-xs center-sm">
          <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ladda='deleteing' style="font-size:12px !important;">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>-->