<div class='row-edge'>
    <div ui-grid="gridOptions" ui-grid-pagination class="myGrid text-center"></div>
    <paginater version="v2" page-detail="pageDetail" search="getSellTx()"></paginater>
</div>
<style type="text/css">
.ui-grid-cell-contents {
    background: #fff;
}

.ui-grid-header-cell,
.ui-grid-cell {
    border: none;
}

.ui-grid-header-cell {
    color: #FF325B;
}

.ui-grid-column-menu-button {
    color: #000;
}

.ui-grid-header-cell-wrapper {}
</style>