<div class=" p-l-none p-r-none z-lg" ng-class="{'container-edge' : !view}">
  <div class="row-edge center-xs w-full">
    <div id="explore-map" class="col-md-4 p-t-lg p-b-lg r-l searchbox-v2-map bg-img-center background-secondaryColor" style="background-image: url('https://antsquare-www.imgix.net/landing/img_Map.jpg?w=400');">
      <!-- <a href="https://dashboard.antsquare.com/map" target="_blank"> -->
      <a ui-sref="search(searchData)">
        <button class="btn-trn white">
          <p class="m-none p-none"> <i class="icon-pinonmap m-l-n-sm"></i> Explore On Map</p>
        </button>
      </a>
    </div>
    <div id="search-container" class="col-md-8 background-white r-r set-flex searchbox-v2-search">
      <div class="set-flex flex-center flex-column-xs w-full between-xs p-l p-r p-t p-b" style="max-width:1000px; display:none;">
        <div class="m-r-sm w-full pos-rlt">
          <form ng-submit="submitQuery()">
            <input id="searchbox-v2-input" class="input-r background-white searchbox-v2-input w-full" type="text" placeholder="Looking For..." ng-model="query" ng-trim="false">
            <!-- ng-click="dropdownTrigger('input')" -->
            <button type="submit" class="hidden"></button>
          </form>
          <i ng-click="submitQuery()" class="pointer icon-search m-l-n-lg set-flex flex-center pos-abt searchbox-v2-icon"></i>
          <div id="searchbox-v2-input-container" ng-show="status.input">
            <!-- SHOW DROPDOWN -->
            <!-- <div class="m-t-sm dropdown-menu-triangle"></div>
            <ul class="dropdown-menu-list dropdown-menu-list-left" style="margin-top:18px;">
              <li class="dropdown-menu-list-item">
                Canada
              </li>
              <li class="dropdown-menu-list-item">
                United States
              </li>
            </ul> -->
          </div>
        </div>
        <div class="m-l-sm" style="-webkit-flex:1 0 auto;">
          <div class="set-flex text-nowrap white text-center">
            <p>within&nbsp;
              <select ng-if="country === 'Canada'" id="searchbox-v2-radius" name="" class="searchbox-v2-radius text-u-l pointer" ng-model="data.radius" ng-change="dropdownTrigger('radius')">
                <option value="5km">5km </option>
                <option value="10km">10km</option>
                <option value="15km">15km</option>
                <option value="">+ 20km</option>
              </select>
              <select ng-if="country !== 'Canada'" id="searchbox-v2-radius" name="" class="searchbox-v2-radius text-u-l pointer" ng-model="data.radius" ng-change="dropdownTrigger('radius')">
                <option value="5km">3mi </option>
                <option value="8km">5mi</option>
                <option value="16km">10mi</option>
                <option value="">+ 20mi</option>
              </select>
              <span ng-style="dynamicMargin">&nbsp;of&nbsp;</span>
            </p>
            <div class="pos-rlt">
              <p id="searchbox-v2-location" class="text-u-l text-nowrap pointer" ng-style="isIPadStyle" ng-click="dropdownTrigger('location')" style="text-align: left;">{{locationName | characters: 18 :true}}</p>
              <!-- <div id="searchbox-v2-location-container"> -->
              <div ng-show="status.location" id="searchbox-v2-location-container">
                <div class="dropdown-menu-triangle z-lg"></div>
                <ul class="dropdown-menu-list dropdown-menu-list-right z-md">
                  <form ng-submit="submitLocation()">
                    <input class="input-r" type="text" placeholder="Enter city or postal code" ng-model="location" g-places-autocomplete force-selection="true">
                    <button type="submit" class="hidden"></button>
                    <div ng-if="mapNoResult" class="text-left">
                      <p class="bodyColor" style="padding:11px 0 11px 15px; font-size: 13px; border:1px solid #e8e8e8; margin:0px 0 5px; border-radius: 3px;
                  box-shadow: 0 3px 4px #e8e8e8; "><strong>Not Found</strong></p>
                    </div>
                  </form>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="view" class="m-l-lg hide-map-section" style="-webkit-flex:1 0 auto;">
          <button class="btn-outline-white  " ng-click="filterToggle()" style="padding: 0px 15px;">
            <div class="set-flex flex-center">
              <i class="icon-filter p-l-xs p-r-xs p-t-xs p-b-xs "></i>
              <p class="m-none visible-md-block visible-lg-block">Filters</p>
              <i class="icon-dropdown "></i>
            </div>
          </button>
        </div>
      </div>
      <div ng-if="view" id="viewContainer" class="set-flex middle-xs end-xs">
        <search-view-switch class="hide-map-section"></search-view-switch>
      </div>
    </div>
  </div>
</div>