<navbar></navbar>
<search-box-v2 background-color="background-grey-dark" form-data="formData" update-form-data="updateFormData(formData)" view='map'></search-box-v2>
<!-- <div class="set-flex pos-rlt"> -->
<div class="set-flex pos-abt w-full" style="top:138px; background:white;">
  <!-- Card View -->
  <div id="searchGridContainer" class="map-view-grid-container map-view-grid-container-md">
    <filter form-data="formData" update-form-data="updateFormData(formData)"></filter>
    <div ng-if="mapLoaded" id="cardPlateContainer" class="map-view-card-container container-edge-p map-view-card-container-md pos-rlt" ng-class="{'scroll-none-im': isLoading }">
      <div ng-if="isLoading" class="background-white-50 map-view-card-container loading-bg container-edge-p map-view-card-container-md h-full w-full" style="">
      </div>
      <div class="set-flex between-xs">
        <ul class="set-flex flex-center start-xs m-none p-none" style="list-style:none;">
          <li class="pointer dropdown-menu m-none" dropdown-menu>
            <div class="set-flex">
              <i class="icon-sort-alt-up m-r set-flex flex-center "></i>
              <p>Sort By: {{selectedType.display}}</p>
            </div>
            <div class="dropdown-menu-list-right  dropdown-menu-triangle"></div>
            <ul class="z-lg dropdown-menu-list dropdown-menu-list-right">
              <li ng-repeat="type in sortTypes track by $index" class="dropdown-menu-list-item" ng-click="sortBy(type)">
                {{type.display}}
                <i ng-if="type.display === selectedType.display" class="icon-check-thick success-color"></i>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-if="(!cards.pages || cards.pages < 1) && !isLoading">
        <p>We couldn’t find any results that matched your criteria, but tweaking your search may help. Here are some ideas:</p>
        <ul>
          <li>Remove some filters.</li>
          <li>Search for a city or postal code.</li>
          <li>Increase the search distance.</li>
        </ul>
      </div>
      <card-plate card-plate-id="mapSearch" ng-if="cards" vm="cards"></card-plate>
      <paginater page-detail="cards" search="search()"></paginater>
    </div>
  </div>
  <!-- MapView -->
  <div id="searchMapContainer" class="z-sm map-view-map-container map-view-map-container-md">
    <!-- <div style="height:140px; width:100%;"></div> -->
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="map.dragging" events="map.events" bounds="map" control="map.control" refresh="map.refresh">
      <ui-gmap-marker idKey='userLocation.idKey' coords='userLocation.coords' options='userLocation.options'>
      </ui-gmap-marker>
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" options="'options'" click="onClick(idKey)">
      </ui-gmap-markers>
      <ui-gmap-window coords='infoWindow.location' options="infoWindow.options" closeClick="closeInfowWindow()" templateUrl="'app/search/infoWindow.tpl.html'" templateParameter="infoWindow">
      </ui-gmap-window>
       <ui-gmap-map-control template="app/search/mapButton.tpl.html" position="left-bottom" controller="mapControlBtnVtrl" index="-1"></ui-gmap-map-control>
    </ui-gmap-google-map>
  </div>
  <!-- StoreView -->
  <side-info-window vm="sideInfoWindow"></side-info-window>
</div>
