// Master Modules
@import 'nav';
@import 'buttons';
@import 'inputs';
@import 'cards';
@import 'serachBox';
@import 'cardGrid';
@import 'fakePhone';
@import 'searchBoxV2';
@import 'mobileAppBanner';
@import 'rangeSlider';
@import 'map';
@import 'map2';
@import 'dropdown';
@import 'paginater';
@import 'form';
@import 'modal';
@import 'uigrid';

.hamburger {
  list-style: none;
  margin: 0;
  padding: 6px 6px 7px;
  position: absolute;
  z-index: 99999;
  left:0;
  top:0;
  li {
    width: 24px;
    height: 4px;
    background: $primaryColor;
    margin: 2px 0 0;
    padding: 0;
  }
}
