button {
  // @include OpenSans-Regular;
  color: $secondaryColor;
  border-radius: 500px;
  padding: 8px 30px;
  background-color: white;
  // border: solid 1px $secondaryColor;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  transition: width 300ms ease;
}

.btn-fake {
  border-radius: 500px;
  padding: 8px 30px;
  background-color: white;
  // border: solid 1px $secondaryColor2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  transition: width 300ms ease;
  color: $secondaryColor;
  border-radius: 500px;
  padding: 8px 30px;
  background-color: white;
  border: solid 1px $secondaryColor2;
  transition: background-color 300ms ease;
  transition: all 0 ease;
  background-color: $secondaryColorActive2;
  color: white;
}

button:focus {
  border: 1px solid $red-light;
  box-shadow: 0 0 4px 0 rgba($red-light, 0.25);
  outline: none;
}

.btn-group {
  .btn {
    &:first-child {
      border-bottom-left-radius: 500px;
      border-top-left-radius: 500px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 500px;
      border-top-right-radius: 500px;
    }
  }
  .active {
    transition: all 0 ease;
    background-color: $secondaryColorActive2;
    color: white;
  }
}

.btn-sm {
  border-radius: 500px !important;
  padding: 4px 16px !important;
}

.btn {
  // @include OpenSans-Regular;
  color: $secondaryColor2;
  border-radius: 500px;
  padding: 8px 30px;
  background-color: white;
  border: solid 1px $secondaryColor2;
  transition: background-color 300ms ease;
  // &.active{
  //   transition: all 0 ease;
  //   background-color: $secondaryColorActive;
  //   color:white;
  // }
}

//
// .btn:hover {
//   transition: all 300ms ease;
//   background-color: $secondaryColorHover;
//   color: $tertiaryColor;
// }
.btn:active {
  transition: all 0 ease;
  background-color: $secondaryColorActive2;
  color: white;
}

.btn-trn {
  border-radius: 500px;
  // padding: 8px 30px;
  background-color: transparent;
  border: solid 1px white;
  transition: border 300ms ease;
}

.btn-trn:hover {
  transition: border 300ms ease;
  border: solid 1px $secondaryColor;
}

.btn-trn:active {
  transition: border 0 ease;
  border: solid 1px $secondaryColorActive2;
}

.btn-outline {
  border-radius: 500px;
  padding: 8px 30px;
  background-color: transparent;
  border: solid 1px white;
  transition: border 300ms ease;
}

.btn-outline-white {
  background-color: transparent;
  border: solid 1px white;
  transition: border 300ms ease;
  color: white;
}

.btn-trn-blk {
  border-radius: 500px;
  padding: 8px 30px;
  background-color: transparent;
  border: solid 1px $bodyColor;
  transition: border 300ms ease;
}

.btn-trn-blk:hover {
  transition: border 300ms ease;
  border: solid 1px $secondaryColor;
}

.btn-trn-blk:active {
  transition: border 0 ease;
  border: solid 1px $secondaryColorActive;
}

.btn-flat {
  background-color: $grey;
  border: none;
  border-radius: $rounded-sm;
  padding: 2px 10px;
  border: 1px solid $grey;
  line-height: 95%;
}

.btn-xs {
  color: $secondaryColor;
  border-radius: 500px;
  background-color: white;
  // border: solid 1px $secondaryColor;
  transition: background-color 300ms ease;
  &:focus {
    outline: none;
    border: 1px solid $red-light;
    box-shadow: 0 0 4px 0 rgba($red-light, 0.25);
  }
}

.btn-invis {
  // @include OpenSans-Regular;
  color: white;
  border-radius: 500px;
  padding: 8px 30px;
  background-color: transparent;
  border: solid 2px white;
  transition: background-color 300ms ease;
}

.btn-invis:hover {
  transition: all 300ms ease;
  background-color: $secondaryColorHover2;
  color: white;
}

.btn-invis:active {
  color: white;
  transition: background-color 0 ease;
  background-color: $secondaryColorActive2;
}

.btn-none {
  // @include OpenSans-Regular;
  // color: $secondaryColor;
  // border-radius: 500px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-none:focus {
  border: none;
  box-shadow: none;
}

.btn-none:hover {
  border: none;
  box-shadow: none;
}

.btn-none:active {
  border: none;
  box-shadow: none;
}

// .btn:focus {
//   transition: background-color 0 ease;
//   background-color: $secondaryColorActive;
// }
.btn-icon {
  // @include OpenSans-Regular;
  color: $secondaryColor;
  border-radius: 500px;
  height: 37px;
  width: 37px;
  padding: 0 !important;
  text-align: center;
  background-color: white;
  border: solid 1px $secondaryColor;
  transition: background-color 300ms ease;
}

.btn-icon:hover {
  transition: background-color 300ms ease;
  background-color: $secondaryColorHover;
}

.btn-icon:active {
  transition: background-color 0 ease;
  background-color: $secondaryColorActive;
}

// .btn-icon:focus {
//   transition: background-color 0 ease;
//   background-color: white;
// }
.btn-font {
  color: $fieldColor;
}

.btn-font-selected {
  color: $primaryColor !important;
  * {
    color: $primaryColor !important;
    * {
      color: $primaryColor !important;
    }
  }
}

.btn-font:active {
  color: $secondaryColor;
}

.btn-primary {
  padding: 0.5em 1.5em;
  background-color: $secondaryColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $secondaryColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-primary:hover {
  background-color: $secondaryColorHover;
  border: solid 1px $secondaryColorHover;
  color: #fff;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-primary:active {
  background-color: $secondaryColorActive;
  border: solid 1px $secondaryColorActive;
  color: #fff;
  transition: border 0 ease;
  transition: background-color 0 ease;
}

.btn-primary2 {
  padding: 0.5em 1.5em;
  background-color: $secondaryColor2;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $secondaryColor2;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-primary2:hover {
  background-color: $secondaryColorHover2;
  border: solid 1px $secondaryColorHover2;
  color: #fff;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-primary2:active {
  background-color: $secondaryColorActive2;
  border: solid 1px $secondaryColorActive2;
  color: #fff;
  transition: border 0 ease;
  transition: background-color 0 ease;
}

.btn-primaryapp2 {
  background-color: transparent;
  color: $secondaryColor2;
  border-radius: 6px;
  padding: 4px 13px;
}

.btn-primaryapp2 p {
  text-transform: uppercase;
}

.btn-fbColor {
  padding: 0.5em 1.5em;
  background-color: $fbColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $fbColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-fbColor:hover {
  background-color: $fbColor;
  border: solid 1px $fbColor;
  color: #fff;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-fbColor:active {
  background-color: $fbColor;
  border: solid 1px $fbColor;
  color: #fff;
  transition: border 0 ease;
  transition: background-color 0 ease;
}

.btn-error {
  padding: 0.5em 1.5em;
  background-color: $errorColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $errorColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
  &:hover {
    background-color: $errorColorActive;
    border: solid 1px $errorColorActive;
  }
  &:active {
    background-color: $errorColorActive;
    border: solid 1px $errorColorActive;
  }
}

.btn-success {
  padding: 0.5em 1.5em;
  background-color: $successColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $successColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
  &:hover {
    background-color: $successColorActive;
    border: solid 1px $successColorActive;
  }
  &:active {
    background-color: $successColorActive;
    border: solid 1px $successColorActive;
  }
}

// .btn-primary:focus {
//   padding: 8px 30px;
//   background-color: $primaryColor;
//   color: #fff;
//   border-radius: 500px;
//   border: solid 1px $primaryColor;
//   transition: border 300ms ease;
//   transition: background-color 300ms ease;
// }
.btn-search {
  padding: 0 15px;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $primaryColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-search:hover {
  background-color: $primaryColorHover;
  border: solid 1px $primaryColorHover;
  color: #fff;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-search:active {
  background-color: $primaryColorActive;
  border: solid 1px $primaryColorActive;
  color: #fff;
  transition: border 0 ease;
  transition: background-color 0 ease;
}

.btn-search:focus {
  padding: 0 15px;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 500px;
  border: solid 1px $primaryColor;
  transition: border 300ms ease;
  transition: background-color 300ms ease;
}

.btn-fb {
  background-color: $fbColor;
  color: #fff;
  border: solid 1px $fbColor;
  border-radius: 500px;
}

button[disabled],
fieldset[disabled],
button:disabled {
  color: white !important;
  background-color: $fieldColor !important;
  border: 1px solid $lineColor !important;
}

.btn-filter {
  // @include OpenSans-Regular;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 500px;
  height: 40px;
  background-color: white;
  color: $bodyColor;
  border: 1px solid $lineColor;
}

.btn-result {
  padding: 8px 16px;
  color: $grey;
  background-color: $backgroundColor;
  border: 1px solid $lineColor;
}

// .btn-follow {
//
//   // @include OpenSans-Regular;
//   color: $secondaryColor;
//   border-radius: 500px;
//   padding: 8px 30px;
//   background-color: white;
//   border: solid 1px $secondaryColor;
//   transition: background-color 300ms ease;
// }
//
// .btn-follow:hover {
//   transition: background-color 300ms ease;
//   background-color: $secondaryColorHover;
// }
//
// .btn-follow:active {
//   background-color: $primaryColorActive;
//   border: solid 1px $primaryColorActive;
//   color: #fff;
//   transition: border 0 ease;
//   transition: background-color 0 ease;
// }
//
// .btn-following {
//   padding: 8px 30px;
//   border-radius: 500px;
//   background-color: $primaryColorActive;
//   border: solid 1px $primaryColorActive;
//   color: #fff;
//   transition: background-color 300ms ease;
// }
//
// .btn-following:active {
//   // @include OpenSans-Regular;
//   color: $secondaryColor;
//   border-radius: 500px;
//   padding: 8px 30px;
//   background-color: white;
//   border: solid 1px $secondaryColor;
//   transition: border 0 ease;
//   transition: background-color 0 ease;
// }
.btn-sqr {
  border-radius: $rounded-sm;
  border: solid 1px $grey-light;
  padding: 5px 0;
}

.btn-price-type {
  border-radius: $rounded-sm;
  border: solid 1px $grey-light;
  padding: 2px 6px;
  &.active {
    border: solid 1px $secondaryColor2;
    background-color: $secondaryColor2;
    color: white;
  }
}

.btn-circle {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  border: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.btn-circle2 {
  border-radius: 50%;
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
  padding: 0px;
}

.btn-like {
  display: block;
  height: 27px;
  width: 27px;
  background-color: $grey-light;
  border-radius: 27px;
  position: relative;
}

.like-heart {
  position: absolute;
  top: 5px;
  left: 3px;
}

.btn-following {
  background-color: $grey;
  color: white;
  border: solid 1px $grey;
  border-radius: 5px;
  ;
  &:active {
    // background-color: $red-dark !important;
    //border: none;
  }
  &:hover {
    border: 1px solid black;
    // background-color: $red-light;
  }
  &:focus {
    border: solid 1px $grey-light;
    box-shadow: inherit;
    outline: inherit;
  }
}

.btn-following-small {
  height: 30px;
  width: 30px;
  padding: 0px;
  background: url('https://antsquare-www.imgix.net/imgs/followed_red.png') no-repeat;
  color: black;
  border: none;
  border-radius: 0;
  background-size: contain;
  // &:active {
  //   // background-color: $red-dark !important;
  //   //border: none;
  // }
  // &:hover {
  //   border: 1px solid black;
  //   // background-color: $red-light;
  // }
  // &:focus {
  //   border: solid 1px $grey-light;
  //   box-shadow: inherit;
  //   outline: inherit;
  // }
}

.btn-follow {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  &:active {
    background-color: $grey-light;
    color: white;
    border: none;
  }
  &:hover {
    background-color: $grey-light;
    color: white;
    border: none;
  }
  &:focus {
    border: solid 1px $grey-light;
    box-shadow: inherit;
    outline: inherit;
  }
}

.btn-follow-small {
  height: 30px;
  width: 30px;
  padding: 0px;
  background: url('https://antsquare-www.imgix.net/imgs/follow_black.png') no-repeat;
  color: black;
  border: none;
  border-radius: 0;
  background-size: contain;
  // &:active {
  //   background-color: $grey-light;
  //   color: white;
  //   border: none;
  // }
  // &:hover {
  //   background-color: $grey-light;
  //   color: white;
  //   border: 1px solid black;
  // }
  // &:focus {
  //   border: solid 1px $grey-light;
  //   box-shadow: inherit;
  //   outline: inherit;
  // }
}

.btn-like {
  &:hover {
    background-color: $grey;
  }
  &:active {
    background-color: $grey;
  }
  &:focus {
    background-color: $grey;
  }
}

.btn-liked {
  background-color: $red;
  border: none;
}

.btn-unlike-red {
  background: url(./../../assets/images/like.svg) no-repeat top left;
  height: 20px;
  width: 20px;
  background-size: contain;
}

.btn-like-red,
.btn-unlike-red:hover {
  background: url(./../../assets/images/liked.svg) no-repeat top left;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
}

.btn-circle-active:hover {
  background-color: $red;
  border: none;
}

.btn-circle-active:active {
  background-color: $red;
  border: none;
}

.btn-circle-active:focus {
  background-color: none;
  border: none;
}