.card-hover {
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.card-hover:hover {
  border: 2px solid $border-grey;
  border: 2px solid white;
  box-shadow: 0px 2px 14px red;
}

.card-gradient {
  position: relative;
  display: block;
  &:after {
    content: '';
    position: absolute;
    border-top-left-radius: $rounded-sm;
    border-top-right-radius: $rounded-sm;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.35);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  img {
    display: block;
  }
}

.card-price {
  //   background: #000;
  //   color: #fff;
  //   padding: 5px 15px;
  //   border-radius: 500px;
  color: $red;
  font-weight: bold;
  font-size: small;
}

.card-description {
  font-size: small;
}

.card-distance {
  float: right;
}

.card-bg-circle {
  position: absolute;
  background-color: $yellow;
  border-radius: 500px;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-icon-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2px;
}

.card-ellipsis>*:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.card-ellipsis {
  height: 35px;
  overflow: hidden;
  &:before {
    content: "";
    float: left;
    width: 5px;
    height: 35px;
  }
  &:after {
    content: "\02026";
    list-style: 15px;
    float: right;
    position: relative;
    top: -20px;
    left: 100%;
    width: 35px;
    margin-left: -35px;
    padding-right: 1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,f0f0f0+100&0+1,1+20 */
    background: -moz-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0) 1%, rgba(240, 240, 240, 1) 20%, rgba(240, 240, 240, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0) 1%, rgba(240, 240, 240, 1) 20%, rgba(240, 240, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0) 1%, rgba(240, 240, 240, 1) 20%, rgba(240, 240, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.card-container-lg {
  // margin-bottom: 1.5em;
}

@media only screen and (min-width: 30em) {}

@media only screen and (min-width: 48em) {
  .card-container-lg {
    // border-radius: 6px;
    // margin-bottom: 0;
  }
}

@media only screen and (min-width: 64em) {
  .card-container-lg {
    // border-radius: 6px;
    // margin-bottom: 0;
  }
}