.dynamic-grid {
  position: relative;
  display: none;
}

.dynamic-grid.angular-grid {
  display: block;
}

.grid {
  position: absolute;
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  // -webkit-transition: all 0.6s ease-out;
  // transition: all 0.6s ease-out;
  overflow: hidden;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.recommend{
  &.grid-img{
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 1 !important;
    visibility: visible !important;
  }

}
