// Dropdown Menu
.dropdown-menu {
  position: relative;
}

.dropdown-menu.non-active {
  .dropdown-menu-triangle {
    display: none;
  }
  .dropdown-menu-list {
    display: none;
  }
}

.dropdown-menu-list {
  z-index: 1;
  background: white;
  position: absolute;
  top: 100%;
  list-style-type: none;
  white-space: nowrap;
  margin: 0;
  padding: 0.75em;
  border-radius: $rounded-sm;
  @include dropshadow;
  li {
    margin-bottom: 0.8em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dropdown-menu-list-left {
  left: 0;
}

.textcomplete-wrapper {
  width: 100%;
}

.textcomplete-wrapper ul.dropdown-menu {
  border: 1px solid $grey;
  padding: 10px;
  list-style: none;
  border-radius: $rounded-sm;
  @include dropshadow;
  background: white;
}

.dropdown-menu-list-right {
  right: 0;
}

.dropdown-menu-triangle {
  z-index: 1000;
  width: 56px;
  height: 32px;
  position: absolute;
  overflow: hidden;
  top: 25px;
}

.dropdown-menu-triangle:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  top: 30px;
  left: 12px;
  @include dropshadow-top-arrow;
}

.dropdown-menu-list-item {
  color: $grey;
  &.active {
    @include Lato-700;
  }
}