.fake-phone-outline {
  border: 1px solid $grey-light;
  min-height: 501px;
  min-width: 252px;
  border-radius: 44px;
  background: #FFF;
}
.fake-phone-screen{
  min-height: 408px;
  min-width: 225px;
  border-radius: 10px;
  background: $teal;
}

.fake-half-phone-outline{
  border: 1px solid $grey-light;
  height: 168px;
  width: 252px;
  border-radius:  44px 44px 0 0;
  background: #FFF;
}
.fake-half-phone-screen{
  height: 120px;
  width: 225px;
  border-radius: 10px 10px 0 0;
  background: $teal;
}
