.product-listing-dropzone {
  border-radius: 2px;
  box-shadow: border-box;
  border: 1px solid transparent;
  height: 120px;
}

.product-img-hover-bg-listing {
  border-radius: $rounded-xs;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.product-listing-image {
  height: 100px;
  width: 100px;
}

.product-listing-dropzone.dragover {
  border: 1px solid $primaryColor;
}

.product-listing-dropzone.dragover-err {
  border: 1px solid $errorColor;
}

.service-input {
  padding: 8px 120px 8px 8px !important;
}

.form-textarea {
  width: 100%;
  resize: none;
}

.form-input-padding {
  padding: 10px 20px;
}

.form-group {
  padding: 10px;
  .control-label {
    padding: 9.5px;
  }
  input.form-control {
    padding: 8px;
    box-sizing: border-box;
  }
  textarea.form-control {
    padding: 8px;
    // border-radius: 0;
    box-sizing: border-box;
  }
  transition: all 300ms ease;
}

.has-error {
  color: $errorColor !important;
  border-color: $errorColor !important;
  textarea {
    border: 1px solid $errorColor !important;
  }
  transition: all 300ms ease;
}

.validationMessage {
  font-size: 0.8em;
}

// input.ng-valid.ng-dirty,
// textarea.ng-valid.ng-dirty{
//   color: $successColor !important;
//   border-color: $successColor !important;
//   transition: all 300ms ease;
// }
// TAGS
tags-input {
  display: block;
}

tags-input *,
tags-input *:before,
tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tags-input .host {
  position: relative;
  @include Lato-400;
  font-size: 14px;
  padding: 0;
  border-radius: 2px;
  background-color: transparent;
  border: 0;
  color: $bodyColor;
  height: 100%;
}

tags-input .host:active {
  outline: none;
}

tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  position: relative;
  @include Lato-400;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 2px;
  background-color: $backgroundColor;
  box-shadow: 0px 0px 0px 1px $fieldColor;
  border: 0px solid $fieldColor;
  color: $bodyColor;
  height: 100%;
}

tags-input .tags.focused {
  background-color: white;
  border: 1px solid $primaryColor2;
  box-shadow: 0px 0px 0px 1px $fieldColor;
}

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 13px;
  display: inline-block;
  float: left;
  height: 26px;
  line-height: 25px;
  border-radius: 2px;
  border: 1px solid $primaryColor2;
  background: $secondaryColor2;
  * {
    color: white;
  }
}

tags-input .tags .tag-item.selected {
  background: $errorColor;
}

tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: white;
}

tags-input .tags .tag-item .remove-button:active {
  color: $errorColor;
}

tags-input .tags .input {
  outline: none;
  margin: 2px;
  padding: 0 13px;
  height: 26px;
  line-height: 25px;
  border-radius: 2px;
  border: 1px solid transparent;
  background: transparent;
}

tags-input .tags .input.invalid-tag {
  color: $errorColor;
}

tags-input .tags .input::-ms-clear {
  display: none;
}

tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

tags-input[disabled] .host:focus {
  outline: none;
}

tags-input[disabled] .tags {
  background-color: #eee;
  cursor: default;
}

tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: $errorColor;
}

tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}

tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}

tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default;
}

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}

tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  background-color: #fff;
}

tags-input .autocomplete .suggestion-item.selected {
  color: #fff;
  background-color: #0097cf;
}

tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf;
}

tags-input .autocomplete .suggestion-item em {
  color: #000;
  background-color: #fff;
}