textarea {
  // @include OpenSans-Regular;
  padding: 8px 30px;
  border-top-left-radius: $rounded-textarea;
  border-top-right-radius: $rounded-textarea;
  border-bottom-left-radius: $rounded-textarea;
  border-bottom-right-radius: $rounded-textarea;
  box-shadow: 0 0 0 1px $fieldColor;
  border: 0 solid $fieldColor;
  color: $bodyColor;
  transition: background-color 300ms ease;
  transition: color 300ms ease;
}

textarea:focus {
  background-color: white;
  border: 1px solid $red-light;
  box-shadow: 0 0 4px 0 rgba($red-light, 0.25);
}

input {
  border-radius: $rounded-sm;
  @include Lato-400;
  box-sizing: border-box;
  background-origin: border-box;
  padding: 1em;
  background-color: rgba(#ffffff, 0.7);
  border: 1px solid $fieldColor;
  color: $bodyColor;
  // height: 40px;
  transition: background-color 300ms ease;
  transition: color 300ms ease;
  &:focus {
    padding: 1em;
    background-color: white;
    color: $bodyColor;
    outline: none !important;
    // border: 1px solid $fieldColor;
    transition: background-color 300ms ease;
    transition: color 300ms ease;
    border: 1px solid $red-light;
    box-shadow: 0 0 4px 0 rgba($red-light, 0.25);
  }
  &:disabled {
    background-color: $fieldColor;
  }
}

.input-r {
  border-radius: 500px;
  @include Lato-400;
  box-sizing: border-box;
  background-origin: border-box;
  padding: 0.7em 1em;
  background-color: rgba(#ffffff, 0.7);
  border: 1px solid $fieldColor;
  color: $bodyColor;
  // height: 40px;
  transition: background-color 300ms ease;
  transition: color 300ms ease;
  &:focus {
    padding: 0.7em 1em;
    background-color: white;
    color: $bodyColor;
    outline: none !important;
    // border: 1px solid $fieldColor;
    transition: background-color 300ms ease;
    transition: color 300ms ease;
    border: 1px solid $red-light;
    box-shadow: 0 0 4px 0 rgba($red-light, 0.25);
  }
}

.input-xs {
  font-size: 0.64em;
  text-align: center;
  border-radius: 500px;
  @include Lato-400;
  box-sizing: border-box;
  background-origin: border-box;
  padding: 1em;
  background-color: rgba(#ffffff, 0.7);
  border: 1px solid $fieldColor;
  color: $bodyColor;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  // @include OpenSans-Regular;
  // height: 40px;
  // padding: 1em;
  border: 1px solid $fieldColor;
  transition: color 300ms ease;
  transition: background-color 300ms ease;
}

 ::-webkit-input-placeholder {
  color: $grey;
}

 :-moz-placeholder {
  /* Firefox 18- */
  color: $grey;
}

 ::-moz-placeholder {
  /* Firefox 19+ */
  color: $grey;
}

 :-ms-input-placeholder {
  color: $grey;
}

.input-empty {
  border: 1px solid $grey-light;
}

.input-filled {
  border: 1px solid $bodyColor;
}

.input-validate {
  width: inherit;
  border: 1px solid $successColor;
  padding-right: 50px;
}

.input-validate:focus {
  width: inherit;
  border: 1px solid $successColor;
  padding-right: 50px;
}

.input-error {
  width: inherit;
  border: 1px solid $errorColor;
  padding-right: 50px;
}

.input-error:focus {
  width: inherit;
  border: 1px solid $errorColor;
  padding-right: 50px;
}

.input-right-icon {
  position: absolute;
  height: 18px;
  margin-top: -9px;
  top: 50%;
  bottom: 0;
  right: 12px;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  // width: 60px;
  width: 46px;
  // height: 34px;
  height: 26px;
}

.toggleSwitch>input {
  display: none;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 26px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.toggleSlider {
  background-color: #4cd964;
}

input:focus+.toggleSlider {
  box-shadow: 0 0 1px #4cd964;
}

input:checked+.toggleSlider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}