
.search-view .angular-google-map-container {
  height: 300px;
  // height: 100vh ;
  width: 100%;
  // transition: all 300ms ease;
  // &.view-sm{
  //   margin-top:56px;
  //   // height: calc(100vh - 40px) ;
  //   height: calc(100vh - 56px);
  //   transition: all 300ms ease;
  // }
  // // &.view-md{
  // //   margin-top:140px;
  // //   height: calc(100vh - 138px);
  // //   transition: all 300ms ease;
  // // }
  // &.shrink-map{
  //   // margin-top:140px;
  //   height: calc(100vh - 138px - 140px) ;
  //   transition: all 300ms ease;
  // }
}
.serach-filter{
  list-style-type: none;
  padding:0;
  margin: 1em 0;
  li{
    padding:1em 0;
  }
}
