$navbarHeight: 52px;

// .map-view-container {
//   box-sizing: border-box;
//   height: calc(100vh - 138px);
// }

.map-menu-container{
  transition: all 300ms ease;
  &.hide-map-menu{
    transform: translateY(calc(-100% + 56px));
    transition: all 300ms ease;
  }
}

.angular-google-map-container {
  height: calc(100vh - 138px);
  // height: 100vh ;
  width: 100%;
  transition: all 300ms ease;
  &.view-sm{
    margin-top:56px;
    // height: calc(100vh - 40px) ;
    height: calc(100vh - 56px);
    transition: all 300ms ease;
  }
  // &.view-md{
  //   margin-top:140px;
  //   height: calc(100vh - 138px);
  //   transition: all 300ms ease;
  // }
  &.shrink-map{
    // margin-top:140px;
    height: calc(100vh - 138px - 140px) ;
    transition: all 300ms ease;
  }
}

.map-view-grid-container {
  flex: 6;
  transition: all 300ms ease;
  &.slide-l {
    height:calc(100vh - 236px) !important;
    overflow: hidden;
    transform: translateX(-100%);
  }
  &.hidden {
    height:100vh !important;
    overflow: hidden;
    // transform: translateX(-100%);
  }

  &.map-view-grid-container-md{
    height: calc(100vh - 138px);
    max-width: 1240px;
    transition: all 300ms ease;
  }
  &.map-view-grid-container-sm{
    flex: 6;
    // height: 100vh;
    height: 100%;
    width:100vw;
    transition: all 300ms ease;
    // margin-top:180px;
    &.expand-grid{
      margin-top:0px;
    }
  }
  &.expand-grid-container{
    flex:6;
    max-width: 100vw;
    transition: all 300ms ease;
  }
  &.hide-grid-container{
    flex:0 1 auto;
    max-width: 1240px;
    transform: translateX(-100%);
    width:0px;
    transition: all 300ms ease;
  }
}

.map-view-map-container-sm{
  flex: 1;

}

.map-view-map-container {
  flex: 4;
  margin-top:0px;
  transition: all 300ms ease;
  transform: translateX(0%);
  &.hide-map-container {
    flex: 0;
    transition: all 300ms ease;
    transform: translateX(100%);
  }
  &.expand-map-container {
    flex: 1;
    transition: all 300ms ease;
    transform: translateX(0%);
  }
  &.shrink-map{
    margin-top:140px;
  }


}

.map-view-card-container {
  transition: all 300ms ease;
  &.loading-bg{
    position: fixed;
    z-index: 3;
    margin-left: -100px;

  }
  &.map-view-card-container-sm{
    transition: all 300ms ease;
    &.filterShow {
      // transition: all 300ms ease;
      // height: calc(100vh - 138px - 156px);
      // overflow-x: hidden;
      // overflow-y: scroll;
    }
  }
  &.map-view-card-container-md{
    height: calc(100vh - 138px);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 300ms ease;
    &.filterShow {
      transition: all 300ms ease;
      height: calc(100vh - 138px - 156px);
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

}

.mapLabel {
  color: white;
  position: relative;
}
.mapLabelTop {
  z-index: 1005 !important;
  color: white;
  position: relative;
}

.mapIcon {
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  top: 6px;
  left: 5px;
}

.mapIconStore {
  width: 17px;
  height: 17px;
  color: white;
  position: absolute;
  top: 6px;
  left: 7px;
}


.info-window-product-container {
  max-height: 190px;
  overflow-y: auto;
}


.custom-info-window {
  background: #fff;
  overflow: visible !important;
  border-radius: $rounded-md;
  width: 280px;
  height: 250px;
  @include dropshadow;


  img {
    display: none;
    &.info-window-logo {
      display: block;
    }
  }
}


#infoWindow {
  height: 250px;
  @include Lato-400;
}

.infoWindow-gradient {

  &:after {
    content: '';
    position: absolute;
    border-top-left-radius: $rounded-sm;
    border-top-right-radius: $rounded-sm;
    left: 0;
    bottom: 72px;
    width: 100%;
    height: 100%;
    max-height:100px;
    display: inline-block;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


  }

  img {
    display: block;
  }
}

.custom-info-window:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1000;
  height: 0;
  margin-left: -15px;
  left: 50%;
  border-top: 15px solid rgb(255, 255, 255);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -15px;
  filter:drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25));
}


.info-window-border-t {
  border-top: 1px solid $fieldColor;
}


.info-window-border-b {
  border-bottom: 1px solid $fieldColor;
}


.side-60 {
  width: 60%;
}

.side-40 {
  width: 40%;
}

.container-edge-p{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.infoWindow-hidden{
  transform: translateX(-100%);
  transition: all ease 300ms;
}

.infoWindow-active{
  line-height: auto;
  transition: all ease 300ms;
  transform: translateX(0%);
}

@media only screen and (min-width: 30em) {
  .container-edge-p{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}


@media only screen and (min-width: 48em) {
  .container-edge-p{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}


@media only screen and (min-width: 64em) {
  .container-edge-p{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

}
