.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: fadeIn ease-in 150ms forwards;

  &.modal-fade-out {
    animation: fadeOut ease-in 150ms forwards;
  }
}


.modal-mobile{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-dialog {
  margin: 0 auto;
  max-width: 900px;
  @include dropshadow;
  animation: slideDownModal 300ms forwards;
}

.modal-dialog-static {
  margin: 0 auto;
  max-width: 500px;
  @include dropshadow;
}

.modal-dialog-sm {
  margin: 0 auto;
  max-width: 500px;
  @include dropshadow;
  animation: slideDownModal 300ms forwards;
}

.modal-dialog-f {
  width:100vw;
  height: 100vh;
}

@keyframes slideDownModal {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 120px;
  }
}

.modal-content {
  display: block;
  max-height: 485px;
  overflow-y: auto;
}
