#navbar {
    @include Raleway-500;
    background: white;
}

#nav-location {
    color: $bodyColor;
}

.sticky-banner {
    height: $nav-height;
    top: (-$nav-height);
}

.banner-stick {
    width: 100%;
    height: $nav-height;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.nav-header {
    margin-bottom: $nav-height;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: none !important;
}

.nav-li {
    margin-left: $xs !important;
    margin-right: $xs !important;
}

.nav-list li {
    margin-left: $md;
    margin-right: $md;
    &:last-child {
        margin-right: 0;
    }
}

.nav-list li.landingli {
    margin-right: $sm;
    margin-left: 0;
}

.nav-hamburger {
    list-style: none;
    margin: 0;
    padding: 6px 6px 7px;
    li {
        width: 24px;
        height: 4px;
        background: $red;
        margin: 2px 0 0;
        padding: 0;
    }
}

.nav-hamburgerred li {
    background: $primaryColor2;
}

.nav-list.active {
    display: block !important;
    position: absolute;
    left: 0;
    top: 52px;
    background-color: white;
    width: 100%;
    text-align: left;
    transition: 300ms all;
    li {
        padding-top: $md;
        padding-bottom: $md;
    }
}

@media only screen and (min-width: 30em) {
    #navbar {
        background: white;
    }
    #nav-location {
        color: $bodyColor;
    }
}

@media only screen and (min-width: 48em) {
    .nav-list {
        display: flex !important;
    }
    #navbar {
        background: transparent;
    }
    #nav-location {
        color: white;
    }
}

@media only screen and (min-width: 64em) {
    .nav-list {
        display: flex !important;
    }
    #navbar {
        background: transparent;
    }
    #nav-location {
        color: white;
    }
}