.rz-bubble {
  display: none;
}

.rz-bar.rz-selection {
  background-color: $secondaryColor !important;
}

.rz-pointer {
  background-color: white !important;
  border: solid 1px black !important;
  border-radius: 500px !important;
  width: 20px !important;
  height: 20px !important;
  top: -10px !important;
}

rzslider .rz-pointer.rz-active:after {
  background-color: white !important;
}

rzslider .rz-pointer:after {
  position: absolute !important;
  top: 6px !important;
  left: 6px !important;
  width: 8px !important;
  height: 8px !important;
  background: transparent !important;
  border-radius: 4px !important;
  content: '' !important;
}
