.searchbox-v2-input {
  text-align: left;
}
.searchbox-v2-icon {
  right: 7px;
  top: 27%;
}

.searchbox-v2-radius{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  /* needed for Firefox: */
  overflow:hidden;
  // width: 120%;
  &:focus{
    outline: 0;
  }
}

.searchBox-triangle {
  z-index: 1000;
  width: 56px;
  height: 32px;
  position: absolute;
  overflow: hidden;
  top: 25px;
}

.searchBox-triangle:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  /* Prefixes... */
  top: 30px;
  left: 12px;
  @include dropshadow-top-arrow;
}

.searchbox-v2-map{
  display:none;
}
.searchbox-v2-search{
  width:100%;
}

@media only screen and (min-width: 30em) {
  .searchbox-v2-map{
    display:none;
  }
  .searchbox-v2-search{
    width:100%;
  }
}

@media only screen and (min-width: 48em) {
  .searchbox-v2-map{
    display:block;
  }
  .searchbox-v2-search{
    width:auto;
  }
}

@media only screen and (min-width: 64em) {
  .searchbox-v2-map{
    display:block;
  }
  .searchbox-v2-search{
    width:auto;
  }
}

@media only screen and (min-width: 90em) {
  .searchbox-v2-map{
    display:block;
  }
}
