.m-filter{
  transform: translateX(100%);
  transition: all 300ms ease;
  &.active-filter{
    transform: translateX(0%);
  }
}
.searchBox-width {
  max-width: 350px;
}


.searchBox-submit-width {
  max-width: 360px;
}


.select-radius {
  border: none;
  text-align: right;
  box-sizing: border-box;
  padding: 8px 35px 8px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://antsqua.re/92lz4g) right 0.5em bottom 1.2em no-repeat #fff;
}


.selectParent {
  overflow: hidden;
}


.select-category {
  max-width: 350px;
  border: none;
  text-align: right;
  box-sizing: border-box;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://antsqua.re/92lz4g) right 0.5em bottom 1.2em no-repeat #fff;
}


.filter-list {
  list-style: none;
  display: inline-flex;
}


#filterContainer {
  transition: all 300ms ease,;

  &.filter-expand {
    width: 100vw;
    background: white;
    transition: all 300ms ease,;
    transform: translateX(0%);
  }

}


.filter-label {
  width: 100px;
}


.filter-checkbox {
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* Default State */
  label {
    display: inline-block;
    cursor: pointer;
    color: transparent;
    padding: 0 10px;
    border-right: solid 1px $grey-light;

    &:hover {
      color: tint($secondaryColor, 50%);
    }
  }



  .checkbox-title {
    line-height: 108%;
    padding: 0 10px;
  }

  /* Toggled State */
  input[type=checkbox]:checked ~ label {
    color: $secondaryColor;
  }
}


.filter-btn-p {
  padding: 4px;

  .inactive {
    color: $grey;
  }

  .active {
    color: white;
    background-color: $secondaryColor;
  }
}

.switcher-btn {
  padding: 0 5px;
  margin: 0;
  border-radius: 500px;
  border: solid 1px white;
}

.hide-map-section{
  display: none;
}

.stick-top{
  top:0;
  left:0;
}
@media only screen and (min-width: 30em) {
  .searchBox-category {
    max-width: 2000px;
    // background: url(http://antsqua.re/92lz4g) 98.5% / 8.3% no-repeat #fff;
    // background: url(http://antsqua.re/92lz4g) 97.5% / 10.5% no-repeat #fff !important;
  }
  .hide-map-section{
    display: none;
  }
}


@media only screen and (min-width: 48em) {
  .searchBox-category {
    max-width: 2000px;
    // background: url(http://antsqua.re/92lz4g) 98.5% / 8.3% no-repeat #fff;
  }
  .hide-map-section{
    display: block;
  }
}


@media only screen and (min-width: 64em) {
  .searchBox-width {
    max-width: 2000px;
  }
  .hide-map-section{
    display: block;
  }


  .select-category {
    max-width: 2000px;
    // background: url(http://antsqua.re/92lz4g) 97.5% / 10.5% no-repeat #fff;
  }

}
