.myGrid {
  min-width: 400px;
    width: 100%;
    height: 400px;
  }

.ui-grid-cell-overflow{
  overflow: auto;
}

.ui-grid-cell-contents {
  @include Lato-400 font-size: 0.8em !important;
}

.ui-grid-icon-angle-down{
    content: '\e819' !important;
}
