<div class="p-t-md p-b-md">
  <div class="p-md">
    <p class="m-none p-none">Location &nbsp;&nbsp;<span class="secondaryColor">{{product.distance_in_km}} from you</span></p>
    <div class='set-flex'>
      <p class="m-none p-none">
        <small>
        <i class="icon-marker"></i>
      </small>
      </p>
      <div>
        <p class="m-none p-none">
          <small>
        {{product.address1}}
        </small>
        </p>
        <p class=" p-none" style="margin-top:-4px;line-height:85%;">
          <small>
         {{product.address2}}
        </small>
        </p>
      </div>
    </div>

  </div>
  <div id="producthMapContainer" class="product-map-container background-grey-light">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="map.dragging"  control="map.control" refresh="map.refresh">
      <ui-gmap-marker idKey='marker.id' coords='marker.coords' options='marker.options'>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
