<div class="m-b">
    <div class="background-white r-3x p-f-2x">
        <h6 class="m-t-none m-b-md text-center">Transactions</h6>
        <div class="row-edge form-group flex-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px;">
                <div class="col-xs-12 col-sm-12 col-md-12 m-b ">
                    <div class="set-flex grey" style='height:25px;'>
                        <div class='pointer  m-t-none' ng-click="addCard() ">
                            <div class=" h-full set-flex">
                                <p class="m-t-none m-b-sm m-r pointer" ui-sref="settings.transaction.buying" ui-sref-active="bold red">Purchase History</p>
                                <p class="m-t-none m-b-sm m-r pointer" ui-sref="settings.transaction.selling" ui-sref-active="bold red">Sales History</p>
                                <p class="m-t-none m-b-sm m-r pointer" ui-sref="settings.transaction.payouts" ui-sref-active="bold red">Payouts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-edge form-group">
                    <div ui-view='transaction' class='w-full' style='overflow: overlay;'></div>
                </div>
            </div>
        </div>
    </div>
</div>