<div class="background-white r-3x p-f-md">
  <h6 class="m-t-none m-b-sm">My Moments</h6>
  <hr class="grey-light-hr">
  <div id="cardPlateContainer">
    <card-plate id="cardPlate" ng-if="cards" vm="cards" card-plate-id="myStore" mode="edit"></card-plate>
  </div>
  <div ng-if="cards.total === 0">
      <p class="grey m-none">Currently you do not have any moment listed.</p>
  </div>
</div>
