<!-- <button class="btn" ng-click="refresh()">Refresh</button> -->
<div ng-if="!type || type === 'product' || type === 'service' || type === 'moment' ">
  <ul id="cardPlateList" class="dynamic-grid" angular-grid="pics" grid-width="{{imgWidth}}" gutter-size="10" angular-grid-id="{{cardPlateId}}" refresh-on-img-load="true">
    <li ng-if="!cards" ng-repeat="card in vm.products track by $index" class="grid cardHoverli" ng-clock ng-init="showCardGrid = true" ng-mouseover="showCardGrid = false " ng-mouseleave="showCardGrid = true ">
      <style type="text/css">
        #cardPlateList li.cardHoverli:hover {
          z-index: 111;
          background: transparent;
        }
      </style>
      <card ng-mouseover="cardHover(card)" ng-mouseleave="cardLeave(card)" myIndex="123"></card>
    </li>
    <li ng-if="cards" ng-repeat="card in cards.products track by $index" class="grid r-3x" ng-clock>
      <card ng-mouseover="cardHover(card)" ng-mouseleave="cardLeave(card)" myIndex="123"></card>
    </li>
  </ul>
</div>
<div ng-if="type === 'store' || type === 'user' || type ==='tag' ">
  <div ng-if="!cards" ng-repeat="card in vm.products track by $index">
    <card ng-mouseover="cardHover(card)" ng-mouseleave="cardLeave(card)" myIndex="123"></card>
  </div>
</div>
<!-- <li ng-if="!cards" ng-repeat="card in vm.products track by $index" class="grid cardHoverli" ng-clock>
  <card></card>
</li> -->