<div ng-show="show">
  <ng-busy loading="loading" delay='300'>
    <div class="p-t-md p-b-md">
      <p>Comments</p>
      <div id="inject-loading"></div>
      <div class="row-edge flex-column">
        <div class="set-flex w-full">
          <div>
            <div class='avatar thumb bg-img-center background-grey' style='background-image:url("{{user.picture}}");'>
            </div>
          </div>
          <div class="set-flex flex-center w-full m-l">
            <textcomplete members='members' message='form.content' class="set-flex flex-center w-full">
              <textarea msd-elastic class="form-input-padding form-textarea w-full " type="text" ng-model="form.content" rows="1" placeholder="Leave your comment"></textarea>
            </textcomplete>
          </div>
        </div>
        <div class="w-full end-xs m-t-xs">
          <button ng-if="form.content != '' && !submited" class="btn-primary" type="submit" ng-click="postComment()">
            Submit
          </button>
        </div>
      </div>
      <div class="row-edge">
        <div ng-repeat="comment in vm.comments track by $index" class="col-sm-12 m-t-sm m-b-sm p-none">
          <div class="set-flex w-full">
            <div>
              <a ui-sref="store({store_id: comment.user_info.stores[0].id})">
                <div class='avatar thumb bg-img-center ' style='background-image:url("{{comment.user_info.picture}}");'>
                </div>
              </a>
            </div>
            <div class="set-flex flex-column m-l w-full">
              <div class="set-flex  between-xs w-full">
                <div class="set-flex">
                  <p class="set-flex m-none">
                    <a ui-sref="store({store_id: comment.user_info.stores[0].id})" class="secondaryColor">{{comment.user_info.name}}</a>
                    <small>
                  <span class="m-l-sm" am-time-ago="comment.created_at"></span>
                </small>
                  </p>
                </div>
                <button class="btn-none" ng-init="flagged = false" ng-click="flagComment(comment.id, $index)" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                  <i ng-if="comment.flagged" class="icon-flagfill text-sm primaryColor"></i>
                  <i ng-if="!comment.flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
                </button>
              </div>
              <!-- <div style="max-width:442px;"> -->
              <div>
                <p parse-url="props" class="m-none" ng-model="comment.content" ng-bind-html="comment.content | toHtml"></p>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="vm.comments.length < 1" class="w-full set-flex flex-center">
          <p class="grey-light">Be the first to comment.</p>
        </div>
      </div>
      <paginater page-detail="comments" search="search()" type='"comment"'></paginater>
    </div>
  </ng-busy>
</div>