<ng-busy loading="loading" delay='300'>
  <div class="">
    <div id="inject-loading"></div>
    <div ng-if="vm.total > 5 && !gotAll" ng-click="getAllComments()" class="pointer">
      <small>View all {{vm.total}} comments</small>
    </div>
    <!-- <paginater page-detail="comments" search="search()" type='"comment"'></paginater> -->
    <div class="set-flex flex-column ">
      <div class="">
        <div ng-repeat="comment in vm.comments track by $index" class="col-sm-12 m-t-sm m-b-sm p-none">
          <div class="set-flex flex-grow-equal">
            <div class="set-flex flex-column w-full">
              <div class="set-flex between-xs w-full">
                <div class="set-flex">
                  <div class="set-flex m-none">
                    <!-- <a ui-sref="store({store_id: comment.user_info.stores[0].id})" class="secondaryColor">{{comment.user_info.name}}</a> -->
                    <!-- <small>
                    <span class="m-l-sm" am-time-ago="comment.created_at"></span>
                  </small> -->
                    <p class="m-none" style="line-height: 60%;">
                      <a ui-sref="user({user_id:comment.user_info.id})" class=""><small class="m-r-xs bold">{{comment.user_info.name}}</small></a>
                      <small parse-url="props" class="m-none" ng-model="comment.content" ng-bind-html="comment.content | toHtml | tweetLinky"></small>
                    </p>
                  </div>
                </div>
                <!-- <button class="btn-none" ng-init="flagged = false" ng-click="flagComment(comment.id, $index)" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                <i ng-if="comment.flagged" class="icon-flagfill text-sm primaryColor"></i>
                <i ng-if="!comment.flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
              </button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div ng-if="vm.comments.length < 1" class="w-full set-flex flex-center">
        <p class="grey-light">Be the first to comment.</p>
      </div> -->
      </div>
      <!-- <input ng-model="form.content" class="w-full form-control" type='text' /> -->
      <!-- <div class="set-flex end-xs"> -->
      <!-- <div class="row-edge"> -->
      <!-- <div class="set-flex flex-grow-equal"> -->
      <!-- <div>
            <div class='avatar thumb bg-img-center background-grey' style='background-image:url("{{user.picture}}");'>
            </div>
          </div> -->
      <!-- <input ng-model="form.content" class="w-full form-control" type='text' /> -->
      <!-- <textarea class="form-input-padding form-textarea" type="text" ng-model="form.content" rows="1" placeholder="Leave your comment"></textarea> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <!-- <button class="btn-primary" type="submit" ng-click="postComment()">
      Submit
    </button> -->
  </div>
</ng-busy>