<form angular-validator-submit="submitPayId()" name="checkoutForm" novalidate angular-validator>
    <p class="m-none error-color">{{payIdError}}</p>
    <div class="row-edge form-group">
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">First Name</label>
            <div>
                <input ng-model="data.first_name" name="first_name" type='text' class="w-full form-control" required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">Last Name</label>
            <div>
                <input ng-model="data.last_name" name="last_name" class="w-full form-control" type='text' required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">Date of Birth</label>
            <div>
                <input ng-model="data.dob" name="dob" type='text' class="w-full form-control" ng-pattern="/\d\d\/\d\d\/\d\d\d\d/" required-message="'required'" validate-on="blur" invalid-message="'You must enter this date in this format `mm/dd/yyy`'" placeholder="mm/dd/yyyy" required/>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">SSN last 4 digit</label>
            <div>
                <input ng-model="data.ssn_last_4" name="ssn_last_4" class="w-full form-control" type='text' required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-12">
            <label for="" class="p-b-sm clear">Address</label>
            <div>
                <input ng-model="data.line1" class="w-full form-control" name="address" type='text' required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-12">
            <label for="" class="p-b-sm clear">City</label>
            <div>
                <input ng-model="data.city" class="w-full form-control" name="city" type='text' required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">State / Province</label>
            <div>
                <input ng-model="data.state" name="state" type='text' class="w-full form-control" required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">ZIP code / Postal Code</label>
            <div>
                <input ng-model="data.postal_code" name="postal_code" class="w-full form-control" type='text' required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-12">
            <label for="" class="p-b-sm clear">Business Name <small>(optional)</small></label>
            <div>
                <input ng-model="data.business_name" class="w-full form-control" name="business_name" type='text' required-message="'required'" validate-on="blur" />
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-12">
            <label for="" class="p-b-sm clear">Business Tax Id <small>(optional)</small></label>
            <div>
                <input ng-model="data.business_tax_id" class="w-full form-control" name="business_tax_id" type='text' required-message="'required'" validate-on="blur" />
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="m-r btn btn-primary2" ng-click="$parent.identityVerify = false;$parent.data = {}">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary2" ladda='payIdLoading'>
            Submit
        </button>
    </div>
</form>