// Master utilites
@import 'functions';
@import 'variables';
@import 'fonts';
@import "icons/animation";
@import "icons/antsquare-codes";
@import "icons/antsquare-embedded";
@import "icons/antsquare";
@import 'layoutConfig';
@import 'animation';
@import 'mixin';


.set-flex {
  display: flex;
}
.set-inline-flex {
  display: inline-flex;
}
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-grow-equal {
  flex: 1 0 auto;
}
.flex-center {
  align-self: center;
  align-items: center;
  justify-content: center;
}
.flex-end{
  align-self: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}
.flex-column-xs {
  -webkit-flex-direction: column ;
  flex-direction: column ;
}

.scroll-none-im{
  overflow: hidden !important;
}
@media only screen and (min-width: 30em) {
  .flex-column-xs {
    -webkit-flex-direction: column ;
    flex-direction: column ;
  }
}

@media only screen and (min-width: 48em) {
  .flex-column-xs {
    -webkit-flex-direction: row ;
    flex-direction: row ;
  }
}

@media only screen and (min-width: 64em) {
  .flex-column-xs {
    -webkit-flex-direction: row ;
    flex-direction: row ;
  }
}

@media only screen and (min-width: 90em) {
  .flex-column-xs {
    -webkit-flex-direction: row ;
    flex-direction: row ;
  }
}
