.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

.animate-show {
  line-height: auto;
  opacity: 1;
  height:141px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: all ease 300ms;
  overflow-y: hidden;
}


.animate-show.ng-hide {
  height:0px;
}


.animate-down {
  line-height: auto;
  max-height: 151px;
}

.animate-down.ng-hide-add,
.animate-down.ng-hide-remove {
  transition: all ease 300ms;
  overflow-y: hidden;
}


.animate-down.ng-hide {
  max-height: 0;
}

.slide-l-r {
  line-height: auto;
  transform: translateX(0%);

}

.slide-l-r.ng-hide-add,
.slide-l-r.ng-hide-remove {
  transition: all ease 300ms;
}


.slide-l-r.ng-hide {
  transform: translateX(-100%);
}


.slide-r-l {
  transform: translateX(0%);
}

.slide-r-l.ng-hide-add,
.slide-r-l.ng-hide-remove {
  transition: all ease 300ms;
}

.slide-r-l.ng-hide {
  transform: translateX(100%);
}
