// Master fonts
@mixin Lato-400 {
  font-family: 'Lato', arial, sans-serif !important;
  font-weight: 400;
}

@mixin Lato-400-i {
  font-family: 'Lato', arial, sans-serif !important;
  font-weight: 400;
  font-style: italic;
}

@mixin Lato-700 {
  font-family: 'Lato', arial, sans-serif !important;
  font-weight: 700;
}

@mixin Raleway-500 {
  font-family: 'Raleway', arial, sans-serif !important;
  font-weight: 500;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  @include Lato-400;
}

.bold {
  @include Lato-700;
}

.italic {
  @include Lato-400-i;
}

.light {
  @include Lato-400;
}

.cap {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.title {
  @include Raleway-500;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 3.813em;
  @include Lato-400;
}

h2 {
  font-size: 3.051em;
  @include Lato-400;
}

h3 {
  font-size: 2.441em;
  @include Lato-400;
}

h4 {
  font-size: 1.953em;
  @include Lato-400;
}

h5 {
  font-size: 1.563em;
  @include Lato-400;
}

h6 {
  font-size: 1.25em;
  @include Lato-400;
}

p {
  @include Lato-400 font-size: 1em;
  line-height: 150%;
}

small {
  @include Lato-400 font-size: 0.8em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $bodyColor;
  &.mute {
    color: $bodyColor;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
  }
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  &.mute {
    color: $bodyColor;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
  }
}

.underline-hover {
  &:hover {
    text-decoration: underline;
    ;
  }
}

// COLORS
.secondaryColor {
  color: $secondaryColor;
}

.secondaryColor2 {
  color: $secondaryColor2;
}

.secondaryColor-trans {
  color: tint($secondaryColor, 80%);
}

.primaryColor {
  color: $primaryColor;
}

.primaryColor2 {
  color: $primaryColor2;
}

.dark-grey {
  color: $bodyColor;
}

.bodyColor {
  color: $bodyColor !important;
}

.font-transparent {
  color: rgba(150, 150, 150, 0);
}

.grey-light {
  color: $grey-light;
}

.grey-light-hr {
  height: 1px;
  color: $grey-light;
  background-color: $grey-light;
  border: none;
}

.red {
  color: $red;
}

.black {
  color: $black;
}

.teal {
  color: $teal;
}

.teal-dark {
  color: $teal-dark;
}

.grey {
  color: $grey;
}

.natural {
  color: $backgroundColor;
}

.white-soft {
  color: #fff;
}

.white {
  color: #fff !important;
  a:hover {
    outline: 0;
    text-decoration: underline;
  }
}

.fbColor {
  color: $fbColor;
}

.fbColor:hover {
  color: $fbColor;
}

.twColor {
  color: $twColor;
}

.pinColor {
  color: $pinColor;
}

.igColor {
  color: $igColor;
}

.background-primaryColor {
  background-color: $primaryColor;
}

.background-primaryColor2 {
  background-color: $primaryColor2;
}

.border-secondaryColor {
  border: 2px solid $secondaryColor;
}

.border-secondaryColor2 {
  border: 2px solid $secondaryColor2;
}

.border-none {
  border: none !important;
  &:hover {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
  &:focus {
    border: none !important;
  }
}

.border-bodyColor {
  border: 1px solid $bodyColor;
}

.border-grey {
  border: 1px solid $border-grey;
}

.border-grey-light {
  border: 1px solid $border-grey-light;
}

.border-lineColor {
  border: 1px solid $lineColor;
}

.border-lineColor-t {
  border-top: 1px solid $lineColor;
}

.border-lineColor-b {
  border-bottom: 1px solid $lineColor;
}

.border-fieldColor {
  border: 1px solid $fieldColor;
}

.border-natural {
  border: 1px solid $backgroundColor;
}

.background-pink {
  background-color: rgb(247, 104, 242);
}

.background-red {
  background-color: $red;
}

.background-yellow {
  background-color: rgb(255, 253, 45);
}

.background-teal {
  background-color: $teal;
}

.background-purple-gradient {
  background: #9959d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9959d6 0%, #602dad 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9959d6 0%, #602dad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9959d6 0%, #602dad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.background-teal-gradient {
  background: #9959d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #25B0C5 0%, #26C1A7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #25B0C5 0%, #26C1A7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #25B0C5 0%, #26C1A7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.background-yellow {
  background-color: rgb(224, 232, 65);
}

.background-secondaryColor {
  background-color: $secondaryColor;
}

.background-secondaryColor2 {
  background-color: $secondaryColor2;
}

.background-fieldColor {
  background-color: $fieldColor;
}

.background-grey-dark {
  background-color: $bodyColor;
}

.background-grey-dark-trans {
  background-color: $bodyColorTrans;
}

.background-grey-dark-trans-9 {
  background-color: $bodyColorTrans-9;
}

.background-grey {
  background-color: $grey;
}

.background-grey-light {
  background-color: $grey-light;
}

.background-white-50 {
  background-color: $white-50;
}

.background-lineColor {
  background-color: $lineColor;
}

.background-natural {
  background-color: $backgroundColor !important;
}

.background-white {
  background-color: #fff !important;
}

.background-white-transparent {
  background-color: $whiteTransparent;
}

.background-accent {
  background-color: $accentColor;
}

.background-success {
  background-color: $successColor !important;
}

.background-error {
  background-color: $errorColor !important;
}

.background-warnning {
  background-color: $warningColor !important;
}

.border-error {
  border: solid 1px $errorColor !important;
}

.border-error:focus {
  border: solid 1px $errorColor !important;
}

.border-success {
  border: solid 1px $successColor;
}

.border-success:focus {
  border: solid 1px $successColor;
}

.background-transparent {
  background-color: transparent !important;
}

.background-pink {
  background-color: pink !important;
}

.background-red {
  background-color: $red !important;
}

.light-grey {
  color: $fieldColor;
}

.dark-grey {
  color: $bodyColor;
}

.accent-color {
  color: $accentColor;
}

.error-color {
  color: $errorColor;
}

.success-color {
  color: $successColor;
}

.warning-color {
  color: $warningColor;
}

.sub-header {
  margin-top: 52px;
}

.icon-md {
  font-size: 1em;
}

.icon-lg {
  font-size: 2em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-outline {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px white;
  /* If we weren't using text-shadow, we'd set a fallback color
   and use this to set color instead
  -webkit-text-fill-color: white; */
  /* Simulated effect for Firefox and Opera
     and nice enhancement for WebKit */
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.font-large {
  font-size: large;
}

.font-medium {
  font-size: medium;
}

.font-small {
  font-size: small;
}

.font-25px {
  font-size: 25px;
}

.hrWithText {
  overflow: hidden;
  text-align: center;
}

.hrWithText:before,
.hrWithText:after {
  background-color: $grey-light;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.hrWithText:before {
  right: 0.5em;
  margin-left: -50%;
}

.hrWithText:after {
  left: 0.5em;
  margin-right: -50%;
}