.flip {
  transform: rotate(180deg);
}

.flip-r {
  transform: rotate(90deg);
}

.flip-l {
  transform: rotate(-90deg);
}

.bg-img-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.z-xs {
  z-index: 1;
}

.z-sm {
  z-index: 5;
}

.z-md {
  z-index: 10;
}

.z-lg {
  z-index: 100;
}

.z-xl {
  z-index: 100000 !important;
}

.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.show {
  visibility: visible;
}

.noshow {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 0;
}

.line-xs {
  margin: 0;
}

.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-dashed {
  background-color: transparent;
  border-style: dashed !important;
  border-width: 0;
}

.no-line {
  border-width: 0;
}

.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}

.no-radius {
  border-radius: 0;
}

.block {
  display: block;
}

.block.hide {
  display: none;
}

.inline {
  display: inline-block !important;
}

.none {
  display: none;
}

.pull-none {
  float: none;
}

.pull-right {
  float: right;
}

.rounded {
  border-radius: 500px;
}

.clear {
  display: block;
  overflow: hidden;
}

.no-bg {
  color: inherit;
  background-color: transparent;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.l-h {
  line-height: 1.42857143;
}

.l-h-0x {
  line-height: 0;
}

.l-h-1x {
  line-height: 1.2;
}

.l-h-2x {
  line-height: 2em;
}

.l-s-1x {
  letter-spacing: 1;
}

.l-s-2x {
  letter-spacing: 2;
}

.l-s-3x {
  letter-spacing: 3;
}

.font-normal {
  font-weight: normal;
}

.font-thin {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.text-4x {
  font-size: 60px !important;
}

.text-3x {
  font-size: 30px !important;
}

.text-2x {
  font-size: 20px;
}

.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px !important;
}

.text-base {
  font-size: 14px !important;
}

.text-sm {
  font-size: 13px !important;
}

.text-xs {
  font-size: 12px !important;
}

.text-xxs {
  font-size: 10px !important;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap;
}

.text-u-c {
  text-transform: uppercase;
}

.text-l-t {
  text-decoration: line-through;
}

.text-u-l {
  text-decoration: underline;
}

.text-active,
.active>.text,
.active>.auto .text {
  display: none !important;
}

.active>.text-active,
.active>.auto .text-active {
  display: inline-block !important;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.wrapper-xs {
  padding: 5px;
}

.wrapper-sm {
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.wrapper-md {
  padding: 20px;
}

.wrapper-lg {
  padding: 30px;
}

.wrapper-xl {
  padding: 50px;
}

.padder-lg {
  padding-right: 30px;
  padding-left: 30px;
}

.padder-md {
  padding-right: 20px;
  padding-left: 20px;
}

.padder {
  padding-right: 15px;
  padding-left: 15px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-padder {
  padding: 0 !important;
}

.pull-in {
  margin-right: -15px;
  margin-left: -15px;
}

.pull-out {
  margin: -10px -15px;
}

.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.b-a {
  border: 1px solid #dee5e7;
}

.b-t {
  border-top: 1px solid #dee5e7;
}

.b-r {
  border-right: 1px solid #dee5e7;
}

.b-b {
  border-bottom: 1px solid #dee5e7;
}

.b-l {
  border-left: 1px solid #dee5e7;
}

.b-light {
  border-color: #edf1f2;
}

.b-dark {
  border-color: #3a3f51;
}

.b-black {
  border-color: #3a3f51;
}

.b-primary {
  border-color: #7266ba;
}

.b-success {
  border-color: #27c24c;
}

.b-info {
  border-color: #23b7e5;
}

.b-warning {
  border-color: #fad733;
}

.b-danger {
  border-color: #f05050;
}

.b-white {
  border-color: #fff;
}

.b-dashed {
  border-style: dashed !important;
}

.b-l-light {
  border-left-color: #edf1f2;
}

.b-l-dark {
  border-left-color: #3a3f51;
}

.b-l-black {
  border-left-color: #3a3f51;
}

.b-l-primary {
  border-left-color: #7266ba;
}

.b-l-success {
  border-left-color: #27c24c;
}

.b-l-info {
  border-left-color: #23b7e5;
}

.b-l-warning {
  border-left-color: #fad733;
}

.b-l-danger {
  border-left-color: #f05050;
}

.b-l-white {
  border-left-color: #fff;
}

.b-l-2x {
  border-left-width: 2px;
}

.b-l-3x {
  border-left-width: 3px;
}

.b-l-4x {
  border-left-width: 4px;
}

.b-l-5x {
  border-left-width: 5px;
}

.b-2x {
  border-width: 2px;
}

.b-3x {
  border-width: 3px;
}

.b-4x {
  border-width: 4px;
}

.b-5x {
  border-width: 5px;
}

.r {
  border-radius: 2px 2px 2px 2px;
}

.r-2x {
  border-radius: 4px;
}

.r-3x {
  border-radius: 6px;
}

.r-l {
  border-radius: 2px 0 0 2px;
}

.r-l-3x {
  border-radius: 6px 0 0 6px;
}

.r-r {
  border-radius: 0 2px 2px 0;
}

.r-r-3x {
  border-radius: 0 6px 6px 0;
}

.r-t {
  border-radius: 2px 2px 0 0;
}

.r-t-3x {
  border-radius: 6px 6px 0 0;
}

.r-b {
  border-radius: 0 0 2px 2px;
}

.r-b-3x {
  border-radius: 0 0 6px 6px;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-none {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-xxl {
  margin-left: 50px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-l-n-xxl {
  margin-left: -50px;
}

.m-t-n-xxxl {
  margin-top: -65px;
}

.m-t-none {
  margin-top: 0 !important;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.p-t {
  padding-top: 15px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-t-3x {
  margin-top: 70px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-t-n-xxl {
  margin-top: -50px;
}

.m-r-none {
  margin-right: 0 !important;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-xxl {
  margin-right: 50px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-r-n-xxl {
  margin-right: -50px;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-xxl {
  margin-bottom: 50px;
}

.m-b-3x {
  margin-bottom: 70px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.m-b-n-xxl {
  margin-bottom: -50px;
}

.m-b-n-3x {
  margin-bottom: -60px;
}

.avatar {
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 500px;
}

.avatar-sq {
  position: relative;
  display: block;
  white-space: nowrap;
}

.avatar img {
  width: 100%;
  border-radius: 500px;
}

.avatar i {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
}

.avatar i.right {
  right: 0;
  left: auto;
}

.avatar i.bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.avatar i.left {
  top: auto;
  bottom: 0;
}

.avatar i.on {
  background-color: #27c24c;
}

.avatar i.off {
  background-color: #98a6ad;
}

.avatar i.busy {
  background-color: #f05050;
}

.avatar i.away {
  background-color: #fad733;
}

.avatar.thumb-md i {
  width: 12px;
  height: 12px;
  margin: 3px;
}

.avatar.thumb-sm i {
  margin: 1px;
}

.avatar.thumb-xs i {
  margin: 0;
}

.w-xxs {
  width: 60px;
}

.w-xs {
  width: 90px;
}

.w-sm {
  width: 150px;
}

.w {
  width: 200px;
}

.w-md {
  width: 240px;
}

.w-lg {
  width: 280px;
}

.w-xl {
  width: 320px;
}

.w-xxl {
  width: 360px;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.thumb-xl {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.thumb-lg {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.thumb-md {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.thumb {
  display: inline-block;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.thumb-sm {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.thumb-xs {
  display: inline-block;
  width: 34px;
  height: 34px;
}

.thumb-nav {
  display: inline-block;
  width: 5px;
  height: 5px;
}

.thumb-cart {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.m-thumb {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.thumb-xxs {
  height: 27px;
  width: 27px;
  display: inline-block;
  border: white 2px solid;
}

.thumb-xxxs {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.thumb-wrapper {
  padding: 2px;
  border: 1px solid #dee5e7;
}

.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.img-full {
  width: 100%;
}

.img-full img {
  width: 100%;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable.hover {
  overflow-y: hidden !important;
}

.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}

.smart .scrollable {
  overflow-y: auto !important;
}

.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-none {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.p-lg {
  padding-left: $lg;
  padding-right: $lg;
}

.p-xl {
  padding-left: $xl;
  padding-right: $xl;
}

.p-f-xl {
  padding: $xl;
}

.p-b-lg {
  padding-bottom: $lg;
}

.p-xs {
  padding-left: $xs;
  padding-right: $xs;
}

.p-md {
  padding-left: $md;
  padding-right: $md;
}

.p-sm {
  padding-left: $sm;
  padding-right: $sm;
}

.p-none {
  padding: 0 !important;
}

.p-l-none {
  padding-left: 0 !important;
}

.p-r-none {
  padding-right: 0 !important;
}

.p-t-none {
  padding-top: 0 !important;
}

.p-b-none {
  padding-bottom: 0 !important;
}

.p-f-md {
  padding: $md !important;
}

.p-f-lg {
  padding: $lg;
}

.p-f-2x {
  padding: 30px 40px;
}

.p-2x {
  padding: 0 40px;
}

.p-t-2x {
  padding-top: 30px;
}

.p-b-2x {
  padding-bottom: 30px;
}

.p-f-3x {
  padding: 60px;
}

.p-f-4x {
  padding: 90px;
}

.p-f-sm {
  padding: $sm;
}

.p-f-xs {
  padding: $xs;
}

.p-l-sm {
  padding-left: $sm;
}

.p-r-sm {
  padding-right: $sm;
}

.p-t-sm {
  padding-top: $sm;
}

.p-b-sm {
  padding-bottom: $sm;
}

.p-l-xs {
  padding-left: $xs;
}

.p-r-xs {
  padding-right: $xs;
}

.p-t-xs {
  padding-top: $xs;
}

.p-b-xs {
  padding-bottom: $xs;
}

.p-b-md {
  padding-bottom: $md;
}

.p-l-md {
  padding-left: $md;
}

.p-t-md {
  padding-top: $md;
}

.p-r-md {
  padding-right: $md;
}

.p-l-lg {
  padding-left: $lg;
}

.p-r-lg {
  padding-right: $lg;
}

.p-t-lg {
  padding-top: $lg;
}

.p-b-lg {
  padding-bottom: $lg;
}

.p-l-3x {
  padding-left: 60px;
}

.p-r-3x {
  padding-right: 60px;
}

.p-t-3x {
  padding-top: 60px;
}

.p-t-4x {
  padding-top: 100px;
}

.p-b-4x {
  padding-bottom: 100px;
}

.p-b-3x {
  padding-bottom: 60px;
}

.p-l {
  padding-left: $base;
}

.p-r {
  padding-right: $base;
}

.p-b {
  padding-bottom: $base;
}

.p-t {
  padding-top: $base;
}

.p {
  padding: $base;
}

.p-l-n-lg {
  padding-left: 1rem;
}

.p-r-n-lg {
  padding-right: 1rem;
}

.r-r-3x-n-lg {
  border-radius: 6px;
}

.r-l-3x-n-lg {
  border-radius: 6px;
}

.p-l-n-md {
  padding-left: 1rem;
}

.p-r-n-md {
  padding-right: 1rem;
}

.r-r-3x-n-md {
  border-radius: 6px;
}

.r-l-3x-n-md {
  border-radius: 6px;
}

.p-r-n-xs {
  padding-right: 0;
}

.p-l-n-xs {
  padding-left: 0;
}

.hide-on-xs-sm {
  display: none;
}

@media only screen and (min-width: 30em) {
  .p-l-n-lg {
    padding-left: 1rem;
  }
  .p-r-n-lg {
    padding-right: 1rem;
  }
  .r-r-3x-n-lg {
    border-radius: 6px;
  }
  .r-l-3x-n-lg {
    border-radius: 6px;
  }
  .p-l-n-md {
    padding-left: 1rem;
  }
  .p-r-n-md {
    padding-right: 1rem;
  }
  .r-r-3x-n-md {
    border-radius: 6px;
  }
  .r-l-3x-n-md {
    border-radius: 6px;
  }
  .p-r-n-xs {
    padding-right: $xs;
  }
  .p-l-n-xs {
    padding-left: $xs;
  }
  .hide-on-xs-sm {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  .p-l-n-lg {
    padding-left: 1rem;
  }
  .p-r-n-lg {
    padding-right: 1rem;
  }
  .r-r-3x-n-lg {
    border-radius: 6px;
  }
  .r-l-3x-n-lg {
    border-radius: 6px;
  }
  .p-l-n-md {
    padding-left: 0 !important;
  }
  .p-r-n-md {
    padding-right: 0 !important;
  }
  .r-r-3x-n-md {
    border-radius: 6px 0 0 6px;
  }
  .r-l-3x-n-md {
    border-radius: 0 6px 6px 0;
  }
  .p-r-n-xs {
    padding-right: $xs;
  }
  .p-l-n-xs {
    padding-left: $xs;
  }
  .hide-on-xs-sm {
    display: block;
  }
}

@media only screen and (min-width: 64em) {
  .p-l-n-lg {
    padding-left: 0 !important;
  }
  .p-r-n-lg {
    padding-right: 0 !important;
  }
  .r-r-3x-n-lg {
    border-radius: 6px 0 0 6px;
  }
  .r-l-3x-n-lg {
    border-radius: 0 6px 6px 0;
  }
  .p-r-n-xs {
    padding-right: $xs;
  }
  .p-l-n-xs {
    padding-left: $xs;
  }
  .hide-on-xs-sm {
    display: block;
  }
}

.border-box {
  box-sizing: border-box;
}

.calendar-container {
  text-align: center;
  min-width: 55px;
  max-width: 55px;
}

.calendar-container .month {
  font-size: small;
  padding-top: 2px;
  background-color: $red;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.calendar-container .day {
  padding: 4px 0 2px 0;
  line-height: 1;
  border: 1px solid $grey;
}