$shadow-color: rgba(0,0,0,0.4);

@mixin dropshadow {
  -webkit-box-shadow: 0 2px 6px 2px $shadow-color;
  -moz-box-shadow: 0 2px 6px 2px $shadow-color;
  box-shadow: 0 2px 6px 2px $shadow-color;
}

@mixin dropshadow-light {
  -webkit-box-shadow: 0 1px 3px 1px $shadow-color;
  -moz-box-shadow: 0 1px 3px 1px $shadow-color;
  box-shadow: 0 1px 3px 1px $shadow-color;
}

@mixin dropshadow-top-arrow {
  -webkit-box-shadow: -2px -2px 6px -1px $shadow-color;
  -moz-box-shadow: -2px -2px 6px -1px $shadow-color;
  box-shadow: -2px -2px 6px -1px $shadow-color;
}
