// New Red
$red: #FF325B;
$red-dark: shade($red, 30%);
$red-light: tint($red, 30%);
// Master variables for red color
$primaryColor2: $red-light;
$secondaryColor2: $red;
$primaryColorTransparent22: rgba($red-light, 0.2);
$primaryColorTransparent2: rgba($red-light, 0.9);
$primaryColorHover2: tint($red-light, 20%);
$primaryColorActive2: $red;
$secondaryColorHover2: tint($red, 20%);
$secondaryColorActive2: shade($red, 20%);
$tertiaryColor2: $red-dark;
// Master variables
$primaryColor: #9132fb;
$secondaryColor: #602dad;
$primaryColorTransparent: rgba(137, 49, 254, 0.2);
$primaryColorTransparent2: rgba($primaryColor, 0.9);
$primaryColorHover: tint($primaryColor, 20%);
$primaryColorActive: $secondaryColor;
$secondaryColorHover: tint($secondaryColor, 20%);
$secondaryColorActive: shade($secondaryColor, 20%);
$tertiaryColor: #361066;
// grey scale
$subHeaderColor: #303030;
$bodyColor: #4a4a4a;
$bodyColorTrans: rgba(#4a4a4a, 0.4);
$bodyColorTrans-9: rgba(#4a4a4a, 0.3);
$fieldColor: #e8e8e8;
$lineColor: #f0f0f0;
$backgroundColor: #f7f7f7;
$border-grey: #303030;
$border-grey-light: #e8e8e8;
$grey: #9b9b9b;
$grey-light: #cdcdcd;
$white-50: rgba(#ffffff, 0.6);
$black: #000;
$black-outline: -1px 0 black,
0 1px black,
1px 0 black,
0 -1px black;
$whiteTransparent: rgba(#fff, 0.9);
// Accent Color
$accentColor: #4ab4ff;
$errorColor: #da414d;
$errorColorActive: shade($errorColor, 20%);
$successColor: #4ed096;
$successColorActive: shade($successColor, 20%);
$warningColor: #ed9a24;
$map-width: 60%;
$fbColor: #3b5998;
$twColor: #00aced;
$igColor: #517fa4;
$pinColor: #cb2027;
$wbColor: #e32529;
$yellow: #EEFF99;
$teal-dark: #25B0C5;
// 25B0C5
$teal: #26C1A7;
$teal-tint: shade($teal, 60%);
$tealTransparent: rgba($teal, 0.9);
//
$navbar-height: 65px;
$filter-height: 85px;
$rounded-lg: 20px;
$rounded-textarea: 18px;
$rounded-md: 6px;
$rounded-sm: 3px;
$rounded-xs: 3px;
// Shadow
$shadow-md: 0px 2px 20px rgba(0, 0, 0, 0.25);
// size
$xs: 4px;
$sm: 8px;
$base: 16px;
$md: 20px;
$lg: 30px;
$xl: 50px;
$nav-height: 3.25em; //52px