<navbar></navbar>
<div class="container-edge p-none">
  <div class="row-edge product-container-m">
    <!-- LEFT -->
    <div class="card-container-lg col-xs-12 col-sm-12 col-md-8 p-none" id="popupmoment" style="margin:0px auto;">
      <div class="productPage-l background-white">
        <div class="r-b-3x pos-rlt">
          <ul ng-show="!moment.video_url" rn-carousel rn-carousel-index="slideIndex" rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor" id="rn-carousel">
            <li ng-repeat="img in moment.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
              <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
              </div>
            </li>
          </ul>
          <video ng-show="moment.video_url" width="100%" height="100%" controls ng-src="{{moment.video_url | trustUrl}}" type="video/mp4">
          </video>
          <div class="set-flex  flex-grow-equal white pos-abt" style="bottom:30px;left:0;">
            <a ui-sref="user({user_id:moment.user_id})" class="m-r-sm m-b-sm m-l">
              <div class="thumb bg-img-center" style='background-image:url("{{moment.user_info.picture}}");'></div>
            </a>
            <a ui-sref="user({user_id:moment.user_id})" class="m-t m-b-md">
              <div class="white">{{moment.user_info.name | splitcharacters: characterLimit}}</div>
            </a>
          </div>
          <div ng-if="moment" class="set-flex between-lg flex-grow-equal white pos-abt" style="bottom:0;right:0;">
            <div class="hidden-sm hidden-xs set-flex" style="width:90px;">
              <button ng-click="followToggle();" class="btn-trn m-l-sm set-inline-flex flex-center" style="border-radius: 51px;
                            padding: 27px 0px; width: 80px; text-align: center; border-width: 2px; float:right; margin:0 10px 10px 0;">
                <small ng-if="!moment.user_info.is_following">Follow</small>
                <small ng-if="moment.user_info.is_following">Following</small>
              </button>
              <!-- <button class="btn-trn btn-sm m-l-sm set-inline-flex flex-center"><small>Message</small></button> -->
              <button class="btn-trn m-l-sm set-inline-flex flex-center pointer dropdown-menu btn-mute" style="border-radius: 51px;
                           padding: 27px 0px; width: 80px; text-align: center; border-width: 2px; float:right; margin:0 10px 10px 0;" dropdown-menu>
                <small>Share</small>
                <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{fbLink}}" target="_blank" class="mute">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-facebook fbColor text-lg m-r"></i>
                        <p class="m-none p-none">Facebook</p>
                      </div>
                    </a>
                  </li>
                  <!-- Twitter Share -->
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{twLink}}" class="mute" target="_blank">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-twitter twColor text-lg m-r"></i>
                        <p class="m-none p-none">Twitter</p>
                      </div>
                    </a>
                  </li>
                  <!-- Pintrest Share -->
                  <li class="dropdown-menu-list-item">
                    <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-pinterest pinColor text-lg m-r"></i>
                        <p class="m-none p-none">Pinterest</p>
                      </div>
                    </a>
                  </li>
                  <!-- Email Share -->
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{mailLink}}" class="mute" target="_top">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-mail primaryColor text-lg m-r"></i>
                        <p class="m-none p-none">Email</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </button>
            </div>
          </div>
          <div ng-if="moment.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
            <p class="z-lg m-none no-select p-f-sm ">
              <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                    &#60;
                                </a>
          </div>
          <div ng-if="moment.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
            </p>
            <p class="z-lg m-none no-select p-f-sm ">
              <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                    &#62;
                                </a>
            </p>
          </div>
        </div>
        <div class="background-white r-b-3x text-left set-flex flex-column space-between">
          <div ng-if="moment" class="set-flex w-full">
            <i class="icon-heartfill text-3x text-outline pointer" ng-class="moment.liked ? 'secondaryColor' : 'grey-light'" ng-click="likeToggle()"></i>
            <div class="m-l-xl m-t teal"><small>{{moment.distance_in_km}} from you</small></div>
          </div>
          <div class="p-f-md">
            <!-- Description -->
            <emoji>{{moment.description}}</emoji>
            <div data-emoji></div>
            </emoji>
            <p parse-url="props" ng-model="moment.description"> </p>
            <div class="set-flex end-xs w-full">
              <button class="btn-none" ng-init="flagged = false" ng-click="flagMoment()" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                <i ng-if="flagged" class="icon-flagfill text-sm primaryColor"></i>
                <i ng-if="!flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
              </button>
              <!-- <button class="btn-none" ng-init="flagged = false" ng-click="flagProduct(); flagged = true">
                                <i ng-hide="flagged" class="icon-flag icon-sm grey"></i>
                                <i ng-show="flagged" class="icon-flagfill primaryColor icon-sm"></i>
                            </button> -->
            </div>
            <div class="set-flex">
              <p ng-repeat="tag in moment._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p>
            </div>
            <hr class="m-b grey-light-hr">
            <comments-moments show='true' class="slide-down" moment='moment' user='userInfo'></comments-moments>
          </div>
        </div>
      </div>
    </div>
    <!-- RIGHT -->
    <!-- <div class="card-container-lg col-xs-12 col-sm-12 col-md-4 p-none">
           <div class="productPage-r background-white">
          <div class="row-edge">
            <section class="col-xs-12 col-sm-6 col-md-12 p-none hide-on-xs-sm">
              <user-profile-metric moment="moment"></user-profile-metric>
            </section>
            <hr class="m-b-none grey-light-hr m-l-md m-r-md w-full">
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <location-map-view product='product'></location-map-view>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <store-other-products product="product"></store-other-products>
            </section>
            <hr class="grey-light-hr w-full m-l-md m-r-md ">
            <section class="col-xs-12 col-sm-6 col-md-12 hidden-sm hidden-xs">
              <store-profile product="product"></store-profile>
            </section>
          </div>
        </div>
      </div>-->
  </div>
</div>
<!--<recommendation moment='moment'></recommendation>-->
<as-footer></as-footer>
</div>