<navbar></navbar>
<div class="background-natural">
  <div ng-show="loading" class="container-edge p-none set-flex flex-center">
    <div class="row-edge product-container-2 w-full  flex-center" style="margin-top: 55px;" id="card">
      <span class="red text-2x set-flex m-t-lg m-b-lg">Loading...</span>
    </div>
  </div>
  <div ng-hide="loading" class="container-edge p-none set-flex flex-center">
    <div class="row-edge product-container-2 w-full" style="margin-top: 55px;" id='card'>
      <div class="w-full m-md">
        <div class="set-flex flex-grow-equal" style="position:relative">
          <a ui-sref="store({store_id:product.store_id})" class="">
            <div class="thumb-md bg-img-center" style='background-image:url("{{moment.user_info.store_info.logo}}");'></div>
          </a>
          <div class="m-l-sm set-flex flex-center flex-column top-xs">
            <a ui-sref="store({store_id:moment.store_id})" class="m-none">
              <div class="">{{moment.user_info.store_info.store_name}}</div>
            </a>
            <p class="m-none">
              <!--<small class="text-nowrap product-info-bg">{{product.distance_in_miles}} away</small>&nbsp;|&nbsp;-->
              <small class="text-nowrap product-info-bg pointer " ng-click="showFollowers() " style="display: inline-block; ">{{moment.user_info.total_followers}} followers</small>
            </p>
          </div>
          <div class="set-flex between-xs">
            <button ng-if="StoreFollowProduct" ng-click="followToggle();" class="set-inline-flex flex-center pos-abt" style="right:0;" ng-class="moment.user_info.is_following ? 'btn-following' : 'btn-follow'">
                <small ng-if="!moment.user_info.is_following">Follow</small>
                <small ng-if="moment.user_info.is_following">Following</small>
              </button>
          </div>
        </div>

      </div>
      <!-- LEFT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-6 p-none background-white " id='leftPanel'>
        <div class="m-sm">
          <div class="pos-rlt">
            <ul rn-carousel rn-carousel-index="slideIndex" rn-carousel-buffered class=" product-img-container-2 m-none" id="rn-carousel">
              <li ng-repeat="img in moment.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
                <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
                </div>
              </li>
            </ul>
            <!-- <div ng-if="product" class="set-flex flex-grow-equal white pos-abt m-l-md" style="bottom:0;left:0;margin-bottom:33px;"> -->
            <!--<div ng-if="product" class="set-flex flex-grow-equal white pos-abt m-l-md m-b-md" style="bottom:0;left:0;">
              <div class="text-nowrap product-info-bg set-flex">
                <small>{{product.distance_in_miles}} away</small>
              </div>
            </div>-->
            <div ng-if="product" class="set-flex m-b-md m-r-md flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
              <div class="text-right m-b-sm">
                <button class="btn-circle pointer dropdown-menu btn-circle-active" dropdown-menu>
                  <small>Share</small>
                  <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px; z-index:100002; ">
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{fbLink}} " target="_blank " class="mute ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-facebook fbColor text-lg m-r "></i>
                          <p class="m-none p-none ">Facebook</p>
                        </div>
                      </a>
                    </li>
                    <!-- Twitter Share -->
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{twLink}} " class="mute " target="_blank ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-twitter twColor text-lg m-r "></i>
                          <p class="m-none p-none ">Twitter</p>
                        </div>
                      </a>
                    </li>
                    <!-- Pintrest Share -->
                    <li class="dropdown-menu-list-item ">
                      <a data-pin-custom="true " data-pin-do="buttonPin " ng-href="{{pinLink}} " class="mute " target="_blank ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-pinterest pinColor text-lg m-r "></i>
                          <p class="m-none p-none ">Pinterest</p>
                        </div>
                      </a>
                    </li>
                    <!-- Email Share -->
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{mailLink}} " class="mute " target="_top ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-mail primaryColor text-lg m-r "></i>
                          <p class="m-none p-none ">Email</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </button>
              </div>
              <!--<div class="text-right m-b-sm ">
                <small class="text-nowrap product-info-bg product-info-bg2 pointer " ng-click="showLikes() " style="display: inline-block; ">{{product.total_likes_string}}</small>
                <button class="btn-circle btn-product-info btn-circle-active " ng-class="{ 'btn-liked': product.liked} ">
                  <i class="icon-totallikes2016 text-3x text-outline pointer " ng-class="product.liked ? 'white' : 'font-transparent' " ng-click="likeToggle() "></i>
                </button>
              </div>-->
              <div class="text-right ">
                <div class="end-xs set-flex ">
                  <!--<div class="text-nowrap product-info-bg set-flex flex-center ">
                    <small>$ {{product.price | priceTruncate}}
                    <span class="m-none " ng-if="product.price_type==='perhour' ">/hour</span>
                    <span class="m-none " ng-if="product.price_type==='from' "> from</span>
                    <span class="m-none " ng-if="product.price_type==='noprice' "> </span>
                    </small>
                  </div>-->
                  <!-- <button class="set-inline-flex flex-center btn-circle ">
                    <small>buy</small>
                  </button> -->
                </div>
              </div>
            </div>
            <div ng-if="slideIndex> 0" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
              <p class="z-lg m-none no-select p-f-sm " style="background-color: #CCC;font-weight: bold;">
                <a class=" text-lg" ng-click='slideLeft(parameter.product)'>
                                 &#60;
                                </a>
              </p>
            </div>
            <div ng-if="slideIndex < product.images.length-1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
              <p class="z-lg m-none no-select p-f-sm" style="background-color: #CCC;font-weight: bold;">
                <a class=" text-lg" ng-click='slideRight(parameter.product)'>
                                  &#62;
                                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="m-sm">
          <p class="red m-t-sm m-b-sm">
            More moments from the store
          </p>
          <div ng-style="{ 'right': moreProdNumber>0 ? '74px' : '0' }">
            <a ui-sref="product({product_id:prod.id})" style="margin-right: 5px; padding: 4px;background-color: white;border: 1px solid #CCC;display: inline-block;padding-bottom: 0px;border-radius: 3px;" ng-repeat="prod in product.store_info.products">
              <div class="thumb-md bg-img-center" style='background-image:url("{{prod.images[0]}}");'></div>
            </a>
          </div>
          <a ng-if="moreProdNumber>0" ui-sref="store({store_id:product.store_id})" style="padding: 4px;background-color: white;border: 1px solid #CCC;display: inline-block;border-radius: 3px;position: absolute;right: 0px;top: 0px;" href="/store/14802">
            <div class="thumb-md bg-img-center" style="background-color: whitesmoke;text-align: center;">
              <span style="margin-top: 10px;font-size: x-large;display: block;">{{moreProdNumber}}</span><span>more</span></div>
          </a>
          <p class="red m-t-sm m-b-sm">
            Recommended moments for you
          </p>
          <div ng-style="{ 'right': moreProdNumber>0 ? '74px' : '0' }">
            <a ui-sref="product({product_id:prod.id})" style="margin-right: 5px; padding: 4px;background-color: white;border: 1px solid #CCC;display: inline-block;padding-bottom: 0px;border-radius: 3px;" ng-repeat="prod in product.store_info.products">
              <div class="thumb-md bg-img-center" style='background-image:url("{{prod.images[0]}}");'></div>
            </a>
          </div>
        </div>
      </div>
      <!-- RIGHT -->
      <div class="p-f-sm background-white flex-grow-equal flex-column set-flex" id="rightPanel">
        <div ng-if="ready">
          <div class="set-flex between-xs">
            <div class="set-flex flex-grow-equal">
              <div class="m-l-sm set-flex flex-center flex-column top-xs">
                <div class="set-flex" id="productDescription" ng-style="productDescription">
                  <h6 class="m-none" style="max-width: 380px; word-break: break-all;" ng-bind-html="moment.description | toHtml | tweetLinky"></h6>
                  <!-- <p class="m-none" ng-repeat="tag in moment._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p> -->
                </div>
                <small ng-bind-html="product.tags | toHtml | tweetLinky"></small>
              </div>
            </div>
            <div class="text-right m-b-sm">
              <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleSmall2" style="margin-right:13px;" dropdown-menu>
                <small>   <i class="icon-threedots2016 text-2x red"></i></small>
                <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px; width: 100px;">
                  <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                    <a ui-sref="listing.product_service({id: product.id})" target="_blank" class="mute">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Edit</p>
                      </div>
                    </a>
                  </li>
                  <!-- Delete -->
                  <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                    <a ng-click="deletePrompt(product.id);$event.stopPropagation();">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Delete</p>
                      </div>
                    </a>
                  </li>
                  <!-- Flag -->
                  <li class="dropdown-menu-list-item">
                    <a ng-click="flagProduct()">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Flag</p>
                      </div>
                    </a>
                  </li>
                  <!-- cancel -->
                  <li class="dropdown-menu-list-item">
                    <a>
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Cancel</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </button>
            </div>
          </div>
          <div class="set-flex m-l-sm m-t-sm m-b-sm">
            <ng-rate-it ng-model="moment.star" step="0.5" read-only="true"></ng-rate-it><span class="red pointer m-l-md m-r-md">{{moment.tagged_store_info.store_name}}</span><small class="flex-center"> {{moment.distance_in_miles}}</small>
          </div>
          <div class="set-flex between-xs m-l-sm m-t-sm m-b-sm">
            <div class="set-flex flex-grow-equal">
              <div class="set-flex flex-center m-r-lg">
                <span am-time-ago="moment.unix_time*1000" class="m-r-lg"></span>
                <span class="pointer" ng-class="product.liked ? 'btn-like-red' :'btn-unlike-red'" ng-click="likeToggle()"></span>
                <small class="text-nowrap product-info-bg pointer " ng-click="showLikes() ">{{moment.total_likes}} Likes</small>
              </div>
            </div>
          </div>
          <div ng-style="rightscrollHeight" class="m-l-sm">
            <comments2 class="flex-grow-equal slide-down" product='moment' user='userInfo'></comments2>
          </div>
        </div>
        <form ng-submit="submitComment()">
          <textcomplete members='members' message='content'>
            <input ng-model="content" class="w-full form-control" type='text' ng-trim="false" />
          </textcomplete>
          <!-- ng-click="dropdownTrigger('input')" -->
          <button type="submit" class="hidden"></button>
        </form>
      </div>
    </div>

  </div>
  <!-- <recommendation product='product'></recommendation> -->
  <as-footer></as-footer>
</div>