<div class="set-flex switcher-btn ">
  <i class=" pointer icon-thumbs  p-l-xs p-r-xs p-t-xs p-b-xs" ng-click="switchView(1)" ng-class="currentState == 1 ? 'white': 'grey'" style="border-right: solid 1px white;"></i>

  <i class="visible-md-block visible-lg-block  pointer icon-divided p-l-xs p-r-xs p-t-xs p-b-xs"  ng-click="switchView(2)" ng-class="currentState == 2 ? 'white': 'grey'"></i>

  <i class=" pointer icon-map  p-l-xs p-r-xs p-t-xs p-b-xs" ng-click="switchView(3)" ng-class="currentState == 3 ? 'white': 'grey'" style="border-left: solid 1px white;"></i>
</div>
