<navbar></navbar>
<div class="background-white">
  <div class="container-edge container-edge2">
    <div class="container-edge" lazy-scroll="nextFeed()" lazy-scroll-trigger="70" lazy-no-scroll="!pageParams.has_more">
      <div ng-repeat='feed in feeds track by $index'>
        <feed feed='feed'></feed>
      </div>
    </div>
  </div>
</div>
<as-footer></as-footer>