<div class="m-b m-t background-white">
  <!--<div>{{feed.verb}}</div>-->
  <div class="set-flex p-l p-r feedbox">
    <div class="flex-start flex-center thumb pointer">
      <div class="pos-rel">
        <div ng-if="feed.actor" class='thumb avatar m-r bg-img-center ' ui-sref="store({store_id:feed.actor.store_info.id})" style='background-image:url("{{feed.actor.picture}}"); cursor:pointer;'>
        </div>
      </div>
    </div>
    <div class='set-flex w-full'>
      <div class="m-l-sm">
        <p id='feed-msg' class="m-b-none" ng-bind-html="feed.message" style="cursor:default"></p>
        <span class="m-l-none" am-time-ago="feed.published" style="font-size:12px; color:#989797;"></span>
      </div>
    </div>
    <div>
      <div ng-if="feed.product" class="end-xs thumb">
        <div ng-if="feed.product.type=='moment'" class='thumb m-r bg-img-center ' ui-sref="moment({moment_id:feed.product.id})" style='background-image:url("{{feed.product.images[0]}}"); width:60px; height:60px; cursor:pointer;'>
        </div>
        <div ng-if="feed.product.type=='product'" class='thumb m-r bg-img-center ' ui-sref="product({product_id:feed.product.id})" style='background-image:url("{{feed.product.images[0]}}"); width:60px; height:60px; cursor:pointer;'>
        </div>
        <!-- <product-image product="feed.product" no-price='true' close-dropdown ></product-image> -->
      </div>
    </div>
    <div>
      <div ng-if="!feed.product" class="end-xs thumb">
        <!--         <div class="m-l-sm m-r-sm text-right">
          {{timeAgo}}
        </div> -->
        <button ng-click="followToggle(feed.actor.id, $index);" class="btn-circle" ng-class="feed.actor.is_following ? 'btn-following' : 'btn-follow'">
          <small ng-if="!feed.actor.is_following" class="l-h-2x">Follow</small>
          <small ng-if="feed.actor.is_following" class="l-h-2x">Following</small>
        </button>
        <!-- <product-image product="feed.product" no-price='true' close-dropdown ></product-image> -->
      </div>
    </div>
  </div>
  <!-- <pre>{{feed | json}}</pre> -->
</div>