<ng-busy loading="loading" delay='300'>
  <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
    <div class="modal-dialog-sm r-3x background-white">
      <div class="set-flex flex-column p-t-md p-b-xs">
        <div class="p-md end-xs">
          <i ng-click="close()" class=" pointer icon-close grey"></i>
        </div>
        <h5 class="text-center p-md m-t-none m-b-sm">
          Select a category
        </h5>
        <p class="m-none text-center error-color">{{error}}</p>
        <p class="text-right m-none pointer">
        <div class="p-f-lg" style="overflow: auto;max-height: 450px;">
          <div class="product-category-li m-t-none m-b-sm pointer set-flex between-xs p-t-xs p-b-xs" ng-repeat="category in categories track by $index" ng-click="submit(category)">
            <p class="m-none">{{category.name}}</p>
            <i ng-if="product.category.name === category.name" class="icon-verified icon-sm success-color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-busy>
