<section class="background-purple-gradient p-t-lg visible-sm-block ">
  <div class="container-edge">
    <div class="set-flex flex-center flex-column">
      <p class="cap m-none p-none cap white">
        How It Works
      </p>
      <h4 class="cap title text-center white">
        Mobile Shops
      </h4>
    </div>

    <div class="row-edge set-flex flex-center">
      <div class="col-xs-12 m-b">
        <div class="set-flex center-xs">
          <div class="pos-rlt">
            <img ng-src="{{phoneImg}}" alt=""  class="w-full h-full" style="max-height:728px;max-width:512px;">

            <div class="pos-abt landing-video">
              <video ng-if="!isMobile" width="100%" height="auto" autoplay loop poster="{{videoPoster}}" >
                <source ng-src="{{videoMp4 | trustUrl}}" type="video/mp4">
              </video>
              <video ng-if="isMobile" width="100%" height="auto" controls autoplay loop poster="{{videoPoster}}" >
                <source ng-src="{{videoMp4 | trustUrl}}" type="video/mp4">
              </video>
            </div>
          </div>
          <!-- <img ng-src="phoneImg" alt="" class="w-full h-full" style="max-height:728px;max-width:512px;"> -->
          <!-- Phone -->
          <!-- <div class="fake-half-phone-outline set-flex flex-column flex-center end-xs">
            <div class="fake-half-phone-screen">
            </div>
          </div> -->

        </div>
      </div>

      <div class="row-edge">
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point1.title}}
            </h6>
            <p>{{point1.content}}
            </p>
          </div>
        </div>
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point3.title}}
            </h6>
            <p>{{point3.content}}
            </p>
          </div>
        </div>
      </div>
      <div class="row-edge">
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point2.title}}
            </h6>
            <p>{{point2.content}}
            </p>
          </div>
        </div>
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point4.title}}
            </h6>
            <p>{{point4.content}}
            </p>
          </div>
        </div>
      </div>
      <div class="row-edge">
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point3.title}}
            </h6>
            <p>{{point3.content}}
            </p>
            <a ng-href="{{sellLink}}" class="mute"><button class="btn-trn white">Sell for Free</button></a>
          </div>
        </div>
        <div class="col-xs-6 text-center" style="margin-bottom:4em;">
          <div class="white">
            <h6 class="cap title m-none">{{point6.title}}
            </h6>
            <p>{{point6.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
