<ul class="pos-abt p-none topnav-search" style="left:calc(50% - 160px); top:-10px;">
  <div>
    <div class="pos-rlt">
      <form ng-submit="submitQuery()" style="width:310px;">
        <input id="searchbox-v2-input" class=" pos-rlt text-center border-none w-full  z-md " type="text" ng-model="query" ng-trim="false" style="   border-radius: 6px; padding:9px;">
        <button type="submit" class="hidden"></button>
      </form>
      <!-- <p ng-if="!query" class="m-none red pos-abt text-center w-full z-xs" style="top:10px; width:260px;">type here to serach anything on <strong>antsquare</strong></p> -->
      <p ng-if="!query" class="m-none pos-abt w-full z-xs" style="top:6px; left: 15px; color:#909090; font-size:18px;">Search</p>
      <i ng-click="submitQuery()" class="pointer m-none pos-abt text-right z-lg icon-search" style="color:#909090; font-size:20px; top:7px; right:0px;"></i>
    </div>
  </div>
</ul>
<section ng-if="tab" class='pos-abt w-full z-sm' style="left:0;top:45px;">
  <div class="container-edge">
    <div class="row-edge m-b-none">
      <ul class="w-full m-none p-none" ng-class="isMobile ? 'landing-tags-m' : 'landing-tags set-flex row-edge around-xs'">
        <li ng-repeat="(key, collection) in collections track by $index" ng-class="selectedColelction === key ? 'landing-tag-active-v3' : ''">
          <a ng-click="selectCollection(key,collection.search)">
            <p class="title m-b-none m-t-none title-v3 cap">{{collection.title}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- <a ui-sref="search(searchData)"> -->
<!-- <i ng-click="submitQuery()" class="pointer m-none pos-abt text-right z-lg icon-search searchbox-v3-icon"></i> -->