<navbar></navbar>
<div class="background-white">
  <section class="z-sm bg-img-center background-white">
    <div class="container-edge2 z-lg pos-rlt">
      <div class="set-flex flex-center flex-column p-t p-b-3x">
        <div class="text-center m-t m-b">
          <h3 class="no-margin secondaryColor2">Email Verification</h3>
        </div>
        <div ng-if="data.status === 200">
          <p>{{data.message}}</p>
          <p></p>
        </div>
        <div ng-if="data.status === 401">
          <p>{{data.message}}</p>
          <p></p>
        </div>
        <a ui-sref="index.home">
          <button class=" set-flex flex-center btn m-t">Explore Antsquare</button>
        </a>
      </div>
    </div>
  </section>
</div>
<as-footer></as-footer>