<navbar></navbar>
<div class="background-white">
    <section class="set-flex flex-column flex-center container-edge" id="feed">
        <div class="m-b-lg m-t-lg w-full" style="max-width:576px">
            <div class="m-b-xxl">
                <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none" style="margin:0px auto;" ng-repeat="feed in homefeed track by $index">
                    <div ng-if="feed.card_type == 'product'" ng-show="false">
                        <div class="productPage-l background-white">
                            <div class="pos-rlt">
                                <ul ng-show="!feed.target_json.video_url" rn-carousel rn-carousel-index="slideIndex" rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor" id="rn-carousel" style="min-height:500px;">
                                    <li ng-repeat="img in feed.target_json.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
                                        <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
                                        </div>
                                    </li>
                                </ul>
                                <video ng-show="feed.target_json.video_url" width="100%" height="100%" controls ng-src="{{feed.target_json.video_url | trustUrl}}" type="video/mp4">
                                </video>
                                <div class="set-flex between-xs white pos-abt m-l-md m-b-xxl" style="bottom:0px;left:0;">
                                    <div class="set-flex flex-grow-equal">
                                        <a ui-sref="store({store_id:feed.target_json.user_info.store_info.id})" class="">
                                            <div class="thumb bg-img-center" style='background-image:url("{{feed.target_json.user_info.store_info.logo}}"); border-radius:25px;'></div>
                                        </a>
                                        <div class="m-l-sm set-flex flex-center flex-column top-xs">
                                            <a ui-sref="store({store_id:feed.target_json.user_info.store_info.id})" class="m-none">
                                                <div class="white">{{feed.target_json.user_info.store_info.store_name | splitcharacters: characterLimit}}</div>
                                            </a>
                                            <p class="m-none">
                                                <small class="m-r-xs">{{feed.target_json.user_info.store_info.handle | splitcharacters: characterLimit}}</small>
                                                <small>{{feed.target_json.user_info.total_followers | priceTruncate}} followers</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="feed" class="set-flex flex-grow-equal white pos-abt m-l-md m-b-md" style="bottom:0;left:0;">
                                    <div class="text-nowrap product-info-bg product-info-bg2 set-flex">
                                        <small>{{feed.target_json.distance_in_km}} away</small>
                                    </div>
                                </div>
                                <div ng-if="feed" class="set-flex m-b-md m-r-md flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
                                    <div class="text-right m-b-sm">
                                        <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active" dropdown-menu ng-click="getShareLinks(feed.target_json);">
                                            <small>Share</small>
                                            <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                                            <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px; z-index: 2;">
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{fbLinkSF}}" target="_blank" class="mute">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-facebook fbColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Facebook</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Twitter Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{twLinkSF}}" class="mute" target="_blank">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-twitter twColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Twitter</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Pintrest Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLinkSF}}" class="mute" target="_blank">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-pinterest pinColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Pinterest</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Email Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{mailLinkSF}}" class="mute" target="_top">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-mail primaryColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Email</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </button>
                                    </div>
                                    <div class="text-right m-b-sm">
                                        <button class="set-inline-flex flex-center btn-circle btn-product-info btn-circle-active" ng-class="{'btn-liked': feed.target_json.is_liked}">
                                            <i class="icon-heartfill text-3x text-outline pointer" ng-class="feed.target_json.is_liked ? 'white' : 'font-transparent'" ng-click="likeProductToggle($index)"></i>
                                        </button>
                                    </div>
                                    <div class="text-right m-b-sm">
                                        <button ng-if="!(feed.target_json.user_info.id==userInfo.id)" ng-click="followProductToggle($index);" class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-circle' ">
                                            <small ng-if="!feed.target_json.user_info.is_following">Follow</small>
                                            <small ng-if="feed.target_json.user_info.is_following">Following</small>
                                        </button>
                                    </div>
                                    <div class="text-right">
                                        <div class="end-xs set-flex">
                                            <div class="text-nowrap product-info-bg product-info-bg2 set-flex flex-center">
                                                <!-- <div class="text-nowrap product-info-bg set-flex flex-center m-r-sm"> -->
                                                <small>$ {{feed.target_json.price | priceTruncate}}
                                                    <span class="m-none" ng-if="feed.target_json.price_type === 'perhour'">/hour</span>
                                                    <span class="m-none" ng-if="feed.target_json.price_type === 'from'"> from</span>
                                                    <span class="m-none" ng-if="feed.target_json.price_type === 'noprice'"> </span>
                                                </small>
                                            </div>
                                            <!-- <button class="set-inline-flex flex-center btn-circle">
                    <small>buy</small>
                  </button> -->
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                                    <p class="z-lg m-none no-select p-f-sm ">
                                        <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                  &#60;
                                </a>
                                </div>
                                <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                                    </p>
                                    <p class="z-lg m-none no-select p-f-sm ">
                                        <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                                    </p>
                                </div>
                            </div>
                            <div class="background-white r-b-3x text-left set-flex flex-column space-between">
                                <div class="p-f-md">
                                    <!-- Title -->
                                    <h6 class="m-none" parse-url="props" ng-model="feed.target_json.name"></h6>
                                    <!-- Description -->
                                    <p class="m-none" parse-url="props" ng-model="feed.target_json.description"></p>
                                    <!--<div class="set-flex end-xs w-full">
                    <button class="btn-none" ng-init="flagged = false" ng-click="flagMoment()" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                      <i ng-if="flagged" class="icon-flagfill text-sm primaryColor"></i>
                      <i ng-if="!flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
                    </button>
                  </div> -->
                                    <div class="set-flex">
                                        <p ng-repeat="tag in feed.target_json._tags track by $index" class="grey m-none"><small>#{{tag}} &nbsp; </small></p>
                                    </div>
                                    <hr class="m-b grey-light-hr">
                                    <p>Comments {{$index}}</p>
                                    <comments-feed class="flex-grow-equal slide-down" product='feed.target_json' user='userInfo' type='{{feed.card_type}}'></comments-feed>
                                    <form ng-submit="submitComment($index)">
                                        <input ng-model="feed.commentContent" class="w-full form-control" type='text' ng-trim="false" />
                                        <!-- ng-click="dropdownTrigger('input')" -->
                                        <button type="submit" class="hidden"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="feed.card_type == 'moment'">
                        <!-- <div ng-if="feed.card_type == 'moment'" ng-show="false"> -->
                        <div class="productPage-l background-white">
                            <div class="r-b-3x pos-rlt">
                                <ul ng-show="!feed.target_json.video_url" rn-carousel rn-carousel-index="slideIndex" rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor" id="rn-carousel" style="min-height:500px;">
                                    <li ng-repeat="img in feed.target_json.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
                                        <div style='background-image:url("{{img}}"); background-size:cover;' class="product-detail-img h-full">
                                        </div>
                                    </li>
                                </ul>
                                <video ng-show="feed.target_json.video_url" width="100%" height="100%" controls ng-src="{{feed.target_json.video_url | trustUrl}}" type="video/mp4">
                                </video>
                                <div class="set-flex between-xs white pos-abt m-l-md m-b-xxl" style="bottom:0px;left:0;">
                                    <div class="set-flex flex-grow-equal">
                                        <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="">
                                            <div class="thumb bg-img-center" style='background-image:url("{{feed.target_json.user_info.picture}}"); border-radius:25px;'></div>
                                        </a>
                                        <div class="m-l-sm set-flex flex-center flex-column top-xs">
                                            <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="m-none">
                                                <div class="white">{{feed.target_json.user_info.name | splitcharacters: characterLimit}}</div>
                                            </a>
                                            <p class="m-none">
                                                <small class="m-r-xs">{{feed.target_json.user_info.username | splitcharacters: characterLimit}}</small>
                                                <small>{{feed.target_json.user_info.total_followers | priceTruncate}} followers</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="feed" class="set-flex flex-grow-equal white pos-abt m-l-md m-b-md" style="bottom:0;left:0;">
                                    <div class="text-nowrap product-info-bg product-info-bg2 set-flex">
                                        <small>{{feed.target_json.distance_in_km}} away</small>
                                    </div>
                                </div>
                                <div ng-if="feed" class="set-flex m-b-md m-r-md flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
                                    <div class="text-right m-b-sm">
                                        <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active" dropdown-menu ng-click="getShareLinks(feed.target_json)">
                                            <small>Share</small>
                                            <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                                            <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{fbLinkSF}}" target="_blank" class="mute">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-facebook fbColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Facebook</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Twitter Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{twLinkSF}}" class="mute" target="_blank">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-twitter twColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Twitter</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Pintrest Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLinkSF}}" class="mute" target="_blank">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-pinterest pinColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Pinterest</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Email Share -->
                                                <li class="dropdown-menu-list-item">
                                                    <a ng-href="{{mailLinkSF}}" class="mute" target="_top">
                                                        <div class="set-flex flex-center start-xs">
                                                            <i class="icon-mail primaryColor text-lg m-r"></i>
                                                            <p class="m-none p-none">Email</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </button>
                                    </div>
                                    <div class="text-right m-b-sm">
                                        <button class="set-inline-flex flex-center btn-circle btn-product-info btn-circle-active" ng-class="{'btn-liked': feed.target_json.is_liked}">
                                            <i class="icon-heartfill text-3x text-outline pointer" ng-class="feed.target_json.is_liked ? 'white' : 'font-transparent'" ng-click="likeMomentToggle($index)"></i>
                                        </button>
                                    </div>
                                    <div class="text-right m-b-sm">
                                        <button ng-if="!(feed.target_json.user_info.id==userInfo.id)" ng-click="followMomentToggle($index);" class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-circle' ">
                                            <small ng-if="!feed.target_json.user_info.is_following">Follow</small>
                                            <small ng-if="feed.target_json.user_info.is_following">Following</small>
                                        </button>
                                    </div>
                                </div>
                                <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                                    <p class="z-lg m-none no-select p-f-sm ">
                                        <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                  &#60;
                                </a>
                                </div>
                                <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                                    </p>
                                    <p class="z-lg m-none no-select p-f-sm ">
                                        <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                                    </p>
                                </div>
                            </div>
                            <div class="background-white r-b-3x text-left set-flex flex-column space-between">
                                <div class="p-f-md">
                                    <!-- Description -->
                                    <p parse-url="props" ng-model="feed.target_json.description"></p>
                                    <!--<div class="set-flex end-xs w-full">
                    <button class="btn-none" ng-init="flagged = false" ng-click="flagMoment()" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                      <i ng-if="flagged" class="icon-flagfill text-sm primaryColor"></i>
                      <i ng-if="!flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
                    </button>
                  </div>-->
                                    <div class="set-flex">
                                        <p ng-repeat="tag in feed.target_json._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p>
                                    </div>
                                    <hr class="m-b grey-light-hr">
                                    <p>Comments</p>
                                    <comments-feed class="flex-grow-equal slide-down" product='feed.target_json' user='userInfo' type='{{feed.card_type}}'></comments-feed>
                                    <!-- <form ng-submit="submitComment(feed.target_json.id)">
                    <input ng-model="content" class="w-full form-control" type='text' ng-trim="false" />
                    <button type="submit" class="hidden"></button>
                  </form> -->
                                    <form ng-submit="submitComment($index)">
                                        <input ng-model="feed.commentContent" class="w-full form-control" type='text' ng-trim="false" />
                                        <!-- ng-click="dropdownTrigger('input')" -->
                                        <button type="submit" class="hidden"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<p>
        Location <span class="secondaryColor">{{user.distance_in_km}} from you</span>
      </p>-->
            <!--<div id="producthMapContainer" class="product-map-container background-grey-light">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="map.dragging" events="map.events" bounds="map" control="map.control" refresh="map.refresh">
          <ui-gmap-marker idKey='marker.id' coords='marker.coords' options='marker.options'>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>-->
        </div>
    </section>
</div>
<as-footer></as-footer>