@import 'utilities/0utilities';

@import 'layouts/0layouts';
@import 'modules/0modules';
@import 'vendors/0vendors';

.wrapper {
  margin-top:200px;
  width: 320px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #ccc;
}
.wrapper li {
    display: inline;
}
.internal {
  display: inline;
  background-color: wheat;
  &:nth-child(odd) {
    background-color: hotpink;
  }
}
video {
   width:100%;
   max-width:1200px;
   height:auto;
}
/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower



/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically
   injector
   endinjector
   */
