<div class="background-natural">
  <section class="set-flex flex-column flex-center container-edge">
    <div class="row-edge product-container-2 w-full m-t-3x">
      <div class="leftside col-xs-12 col-sm-12 col-md-2 p-none">
        <div class="set-flex flex-center flex-column m-l-sm m-r-sm" ng-hide="userInfo">
          <div class="row-edge p-f-lg m-l-xs m-r-xs" style="max-height: 70vh;">
            <img style="max-width: 100%;width: 100%;height: 70%;max-height: 100%;object-fit: contain; margin:0px auto;" ng-src="https://antsquare-www.imgix.net/landing/iphone-website.png?auto=format,compress">
          </div>
          <div class="row-edge set-flex flex-center">
            <a ng-click="trackAndroid()" href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank" class="m-l-xs m-r-xs m-t-sm m-b-sm" style="width: 110px;">
              <img style="width: 100%;height: 100%;object-fit: contain; " ng-src="https://antsquare-www.imgix.net/imgs/google+play.png??auto=format,compress">
            </a>
            <a ng-click="trackIos()" href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank" class="m-l-xs m-r-xs m-t-sm m-b-sm" style="width: 110px;">
              <img style="width: 100%;height: 100%;object-fit: contain; " ng-src="https://antsquare-www.imgix.net/imgs/apple.png?auto=format,compress">
            </a>
          </div>
          <p class="grey m-b-sm text-center" style="font-size: 14px;letter-spacing: 1px; color: #a7a3a3;">We are building an interactive local community in San Jose where people can explore and share daily moments of their lives.</p>
          <p class="grey m-b-sm text-center"><a ui-sref="index.landing" style="font-size: 14px; letter-spacing: 1px; color: #FF325B; font-weight:600;">Learn more</a></p>
        </div>
      </div>
      <div class="rightside col-xs-12 col-sm-12 col-md-8 p-none" infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none " style="margin:0px auto 10px;" ng-repeat="feed in reddit.homefeed track by $index" ng-class="isMobile ? '' : 'set-flex'">
          <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none background-white" ng-class="isMobile ? '' : 'set-flex'" ng-if="feed.card_type == 'moment'" style="border: 3px solid #EDEDED; border-radius: 5px;">
            <div class="card-container-lg w-full p-none m-sm">
              <div class=" background-white">
                <div class=" pos-rlt ">
                  <div class="set-flex between-xs">
                    <div class="set-flex flex-grow-equal">
                      <a ui-sref="user({user_id:feed.target_json.user_info.id})">
                        <div class=" bg-img-center" style='background-image:url("{{feed.target_json.user_info.picture}}"); border-radius:2px; min-width: 45px;min-height: 45px;'></div>
                      </a>
                      <div class="m-l-sm set-flex flex-center flex-column top-xs">
                        <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="m-none">
                          <div class="bold">{{feed.target_json.user_info.name | splitcharacters: characterLimit}}</div>
                        </a>
                        <small am-time-ago="feed.target_json.unix_time*1000" class="m-r-lg"></small>
                      </div>
                    </div>
                    <button ng-if="!(feed.target_json.user_info.id==userInfo.id)" ng-click="followToggle();" class="set-flex flex-center" ng-class="feed.target_json.user_info.is_following ? 'btn-following-small' : 'btn-follow-small'">
                      <!--<small ng-if="!feed.target_json.user_info.is_following">Follow</small>
                      <small ng-if="feed.target_json.user_info.is_following">Following</small>-->
                    </button>
                  </div>
                  <div class="set-flex m-t-sm m-b-sm">
                    {{feed.target_json.description}}
                  </div>
                  <div class="set-flex between-xs m-t-sm m-b-sm">
                    <span class="set-flex">
                    <ng-rate-it class="custom" ng-model="feed.target_json.star" step="0.5" read-only="true"></ng-rate-it><small class="set-flex flex-center m-l-sm bold dark-grey">{{feed.target_json.tagged_store_info.store_name}}</small></span>
                    <small class="set-flex flex-center m-r-xs">{{feed.target_json.distance_in_miles}}les away</small>
                  </div>
                  <ul ng-show="!feed.target_json.video_url " rn-carousel rn-carousel-index="slideIndex " rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor " id="rn-carousel " style="min-height:350px; border-radius:3px;">
                    <li ng-repeat="img in feed.target_json.images track by $index " ng-class=" 'id-' + $index ">
                      <div style='background-image:url("{{img}} "); background-size: cover;' class="product-detail-img h-full ">
                      </div>
                    </li>
                  </ul>
                  <video ng-show="feed.target_json.video_url " width="100% " height="100% " controls ng-src="{{feed.target_json.video_url | trustUrl}} " type="video/mp4 " style="max-height:350px; ">
                  </video>
                  <div class="set-flex pull-right m-t-sm">
                    <span class="pointer" ng-class="product.liked ? 'btn-like-red' :'btn-unlike-red'" ng-click="likeToggle()"></span>
                    <small class="text-nowrap m-t-xs m-l-sm pointer " ng-click="showLikes() ">{{feed.target_json.total_likes}} Likes</small>
                    <div class="set-flex flex-center">
                      <button class="pointer dropdown-menu btn-circleLanding" style="padding: 0 0 10px 0;border: none;box-shadow: none;" dropdown-menu>                        
                        <small class="pointer" >   <i class="icon-threedots2016 text-2x"></i></small>
                        <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                        <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ui-sref="listing.momentEdit({id: feed.target_json.id})" target="_blank" class="mute">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Edit</p>
                              </div>
                            </a>
                          </li>
                          <!-- Delete -->
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ng-click="momentDeletePrompt(feed.target_json.id);$event.stopPropagation();">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Delete</p>
                              </div>
                            </a>
                          </li>
                          <!-- Flag -->
                          <li class="dropdown-menu-list-item">
                            <a ng-click="flagMoment($index)">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Flag</p>
                              </div>
                            </a>
                          </li>
                          <!-- cancel -->
                          <li class="dropdown-menu-list-item">
                            <a>
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Cancel</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </button>
                    </div>
                  </div>
                  <div class="m-t-sm">
                    <comments-feed class="flex-grow-equal slide-down" product='feed.target_json' user='userInfo' type='{{feed.card_type}}'></comments-feed>
                    <form ng-submit="submitComment($index)">
                      <input ng-model="feed.commentContent" placeholder="Add a comment..." class="w-full form-control" type='text' ng-trim="false" style="border-top-width: 0px;border-left-width: 0px;border-right-width: 0px; padding:7px 5px; font-size:small;" />
                      <!-- ng-click="dropdownTrigger('input')" -->
                      <button type="submit" class="hidden"></button>
                    </form>
                  </div>
                  <div ng-if="false" class="set-flex m-b-xs m-r-xs flex-column flex-grow-equal white pos-abt " style="bottom:0;right:0; ">
                    <div class="text-right m-b-sm " style="z-index:7;">
                      <button class="btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleLanding" dropdown-menu ng-click="getShareLinks(feed.target_json);">
                        <small>   <i class="icon-share2016 text-sm l-h-2x"></i></small>
                        <div class="dropdown-menu-triangle dropdown-menu-list-right " style="top: 10px; "></div>
                        <ul class="dropdown-menu-list dropdown-menu-list-right " style="top: 42px; ">
                          <li class="dropdown-menu-list-item ">
                            <a ng-href="{{fbLinkSF}} " target="_blank " class="mute ">
                              <div class="set-flex flex-center start-xs ">
                                <i class="icon-facebook fbColor text-lg m-r "></i>
                                <p class="m-none p-none ">Facebook</p>
                              </div>
                            </a>
                          </li>
                          <!-- Twitter Share -->
                          <li class="dropdown-menu-list-item ">
                            <a ng-href="{{twLinkSF}} " class="mute " target="_blank ">
                              <div class="set-flex flex-center start-xs ">
                                <i class="icon-twitter twColor text-lg m-r "></i>
                                <p class="m-none p-none ">Twitter</p>
                              </div>
                            </a>
                          </li>
                          <!-- Pintrest Share -->
                          <li class="dropdown-menu-list-item ">
                            <a data-pin-custom="true " data-pin-do="buttonPin " ng-href="{{pinLinkSF}} " class="mute " target="_blank ">
                              <div class="set-flex flex-center start-xs ">
                                <i class="icon-pinterest pinColor text-lg m-r "></i>
                                <p class="m-none p-none ">Pinterest</p>
                              </div>
                            </a>
                          </li>
                          <!-- Email Share -->
                          <li class="dropdown-menu-list-item ">
                            <a ng-href="{{mailLinkSF}} " class="mute " target="_top ">
                              <div class="set-flex flex-center start-xs ">
                                <i class="icon-mail primaryColor text-lg m-r "></i>
                                <p class="m-none p-none ">Email</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </button>
                    </div>

                    <div class="text-right m-b-sm ">
                      <small class="text-nowrap product-info-bg product-info-bg3 pointer " ng-click="showMomentLikes() " style="display: inline-block; ">{{feed.target_json.total_likes_string}}</small>
                      <button class="btn-circle btn-product-info btn-circle-active btn-circleSmall btn-circleLanding" ng-class="{ 'btn-liked': feed.target_json.is_liked} ">
                        <i class="icon-totallikes2016 text-base text-outline pointer " ng-class="feed.target_json.is_liked ? 'white' : 'font-transparent' " ng-click="likeMomentToggle($index) "></i>
                      </button>
                    </div>
                    <div class="text-right m-b-sm">
                      <button ng-if="!(feed.target_json.user_info.id==userInfo.id)" ng-click="followMomentToggle($index);" class="btn-circle pointer btn-circle-active btn-circleSmall btn-circleLanding" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-circle' ">
                        <small class="text-xxs" ng-if="!feed.target_json.user_info.is_following"><i class="icon-follow2016 text-md"></i></small>
                        <small class="text-base" ng-if="feed.target_json.user_info.is_following"><i class="icon-follow2016 text-md"></i></small>
                      </button>
                    </div>
                  </div>
                  <div ng-if="product.images.length> 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                    <p class="z-lg m-none no-select p-f-sm ">
                      <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                    </p>
                  </div>
                  <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                    <p class="z-lg m-none no-select p-f-sm ">
                      <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none background-white" ng-class="isMobile ? '' : 'set-flex'" ng-if="feed.card_type == 'product'" style="border: 3px solid #EDEDED; border-radius: 5px;">
            <!-- LEFT -->
            <div class="card-container-lg p-none background-white pos-rlt ">
              <!--<div class="set-flex between-xs">
                    <div class="set-flex flex-grow-equal">
                      <a ui-sref="user({user_id:feed.target_json.user_info.id})">
                        <div class=" bg-img-center" style='background-image:url("{{feed.target_json.user_info.picture}}"); border-radius:2px; min-width: 45px;min-height: 45px;'></div>
                      </a>
                      <div class="m-l-sm set-flex flex-center flex-column top-xs">
                        <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="m-none">
                          <div class="text-2x">{{feed.target_json.user_info.name | splitcharacters: characterLimit}}</div>
                        </a>
                      </div>
                    </div>
                    <button ng-click="followToggle();" class="btn-circle btn-circleSmall" style="margin-right:13px;" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-follow'">
                      <small ng-if="!feed.target_json.user_info.is_following">Follow</small>
                      <small ng-if="feed.target_json.user_info.is_following">Following</small>
                    </button>
                  </div>-->
              <ul ng-show="!feed.target_json.video_url " rn-carousel rn-carousel-index="slideIndex " rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor " id="rn-carousel " style="border-radius:3px;">
                <li ng-repeat="img in feed.target_json.images track by $index " ng-class=" 'id-' + $index ">
                  <div style='background-image:url("{{img}} "); background-size: cover; height: inherit;' class="product-detail-img">
                  </div>
                </li>
              </ul>
              <video ng-show="feed.target_json.video_url " width="100% " height="100% " controls ng-src="{{feed.target_json.video_url | trustUrl}} " type="video/mp4 " style="max-height:500px; ">
                  </video>
              <div ng-if="product.images.length> 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                </p>
              </div>
              <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                </p>
              </div>
            </div>
            <div class="set-flex flex-column pos-rlt w-full">
              <div class="set-flex m-sm">{{feed.target_json.description}}</div>
              <div class="set-flex p-sm red text-2x">${{feed.target_json.price}}</div>
              <div class="set-flex between-xs m-t-sm m-b-sm">
                <div class="set-flex">
                  <small class="set-flex flex-center m-l-sm">{{feed.target_json.distance_in_miles}}les away</small></div>
                <div class="set-flex flex-center m-r-xs">
                  <span class="pointer" ng-class="product.liked ? 'btn-like-red' :'btn-unlike-red'" ng-click="likeToggle()"></span>
                  <small class="text-nowrap m-t-xs m-l-sm pointer " ng-click="showLikes() ">{{feed.target_json.total_likes}} Likes</small>
                  <div class="set-flex flex-center">
                    <button class="pointer dropdown-menu btn-circleLanding p-none" style="border: none;box-shadow: none;" dropdown-menu>                        
                        <small class="pointer" >   <i class="icon-threedots2016 text-2x"></i></small>
                        <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                        <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ui-sref="listing.momentEdit({id: feed.target_json.id})" target="_blank" class="mute">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Edit</p>
                              </div>
                            </a>
                          </li>
                          <!-- Delete -->
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ng-click="momentDeletePrompt(feed.target_json.id);$event.stopPropagation();">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Delete</p>
                              </div>
                            </a>
                          </li>
                          <!-- Flag -->
                          <li class="dropdown-menu-list-item">
                            <a ng-click="flagMoment($index)">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Flag</p>
                              </div>
                            </a>
                          </li>
                          <!-- cancel -->
                          <li class="dropdown-menu-list-item">
                            <a>
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Cancel</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </button>
                  </div>
                </div>
              </div>
              <div class="pos-abt bold" style="bottom: 10px;left: 10px;">{{feed.target.name}}</div>
            </div>
          </div>
          <!-- System event -->
          <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none background-white" ng-class="isMobile ? '' : 'set-flex'" ng-if="feed.card_type == 'event' && feed.target.id==1" style="border: 3px solid #EDEDED; border-radius: 5px;cursor: pointer;" ng-click="go('{{feed.target_json.url}}')">
            <div class="set-flex flex-column w-full pos-rlt">
              <small class="set-flex m-t-sm m-l-sm red ">{{feed.target_json.start | amDateFormat:'MMMM D [at] h:mm A'}}</small>
              <div class="set-flex m-sm">{{feed.target_json.name}}</div>
              <small class="set-flex m-l-sm">{{feed.target_json.description}}</small>
              <div class="set-flex between-xs pos-abt" style="bottom:10px; left:10px;">
                <small am-time-ago="feed.published" class="m-r-lg grey"></small>
              </div>
            </div>
            <div class="card-container-lg" style="padding:5px;">
              <ul ng-show="!feed.target_json.video_url " rn-carousel rn-carousel-index="slideIndex " rn-carousel-auto-slide rn-carousel-buffered class=" web-event-img-container m-none background-lineColor " id="rn-carousel " style="border-radius:3px;">
                <li ng-repeat="img in feed.target_json.images track by $index " ng-class=" 'id-' + $index ">
                  <div style='background-image:url("{{img}} "); background-size: cover; height: inherit;' class="product-detail-img">
                  </div>
                </li>
              </ul>
              <video ng-show="feed.target_json.video_url " width="100% " height="100% " controls ng-src="{{feed.target_json.video_url | trustUrl}} " type="video/mp4 " style="max-height:500px; ">
                  </video>
              <div ng-if="product.images.length> 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                </p>
              </div>
              <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                </p>
              </div>
            </div>
          </div>
          <!-- User event -->
          <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none background-white" ng-class="isMobile ? '' : 'set-flex'" ng-if="feed.card_type == 'event' &&feed.target.id!=1" style="border: 3px solid #EDEDED; border-radius: 5px;cursor: pointer;">
            <!--<div class="set-flex flex-column w-full pos-rlt">
              <small class="set-flex m-t-sm m-l-sm red ">{{feed.target_json.start | amDateFormat:'MMMM D [at] h:mm A'}}</small>
              <div class="set-flex m-sm">{{feed.target_json.name}}</div>
              <small class="set-flex m-l-sm">{{feed.target_json.description}}</small>
              <div class="set-flex between-xs pos-abt" style="bottom:10px; left:10px;">
                <small am-time-ago="feed.published" class="m-r-lg grey"></small>
              </div>
            </div>-->
            <div class="card-container-lg">
              <ul ng-show="!feed.target_json.video_url " rn-carousel rn-carousel-index="slideIndex " rn-carousel-auto-slide rn-carousel-buffered class=" user-event-img-container m-none background-lineColor " id="rn-carousel ">
                <li ng-repeat="img in feed.target_json.images track by $index " ng-class=" 'id-' + $index ">
                  <div style='background-image:url("{{img}} "); background-size: cover; height: inherit;' class="product-detail-img">
                  </div>
                </li>
              </ul>
              <video ng-show="feed.target_json.video_url " width="100% " height="100% " controls ng-src="{{feed.target_json.video_url | trustUrl}} " type="video/mp4 " style="max-height:500px; ">
                  </video>
              <div ng-if="product.images.length> 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                </p>
              </div>
              <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                </p>
              </div>
              <div class="set-flex m-sm bold">{{feed.target_json.name}}</div>
              <small class="set-flex set-flex m-l-sm m-b-sm">{{feed.target_json.description}}</small>
              <small class="set-flex m-l-sm">{{feed.target_json.address1}},{{feed.target_json.address2}}</small>
              <div class="set-flex between-xs m-t-xs m-b-xs">
                <small class="set-flex flex-center red m-l-sm">{{feed.target_json.start | amDateFormat:'MMMM D [at] h:mm A'}}</small>
                <div class="set-flex m-r-xs">
                  <span class="pointer" ng-class="product.liked ? 'btn-like-red' :'btn-unlike-red'" ng-click="likeToggle()"></span>
                  <small class="text-nowrap m-t-xs m-l-sm pointer " ng-click="showLikes() ">{{feed.target_json.total_likes}} Likes</small>
                  <div class="set-flex flex-center">
                    <button class="pointer dropdown-menu btn-circleLanding" style="padding: 0 0 10px 0;border: none;box-shadow: none;" dropdown-menu>                        
                        <small class="pointer" >   <i class="icon-threedots2016 text-2x"></i></small>
                        <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                        <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ui-sref="listing.momentEdit({id: feed.target_json.id})" target="_blank" class="mute">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Edit</p>
                              </div>
                            </a>
                          </li>
                          <!-- Delete -->
                          <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                            <a ng-click="momentDeletePrompt(feed.target_json.id);$event.stopPropagation();">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Delete</p>
                              </div>
                            </a>
                          </li>
                          <!-- Flag -->
                          <li class="dropdown-menu-list-item">
                            <a ng-click="flagMoment($index)">
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Flag</p>
                              </div>
                            </a>
                          </li>
                          <!-- cancel -->
                          <li class="dropdown-menu-list-item">
                            <a>
                              <div class="set-flex flex-center start-xs">
                                <p class="m-none p-none">Cancel</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div style='clear: both;'></div>
        </div>
        <div ng-show='reddit.busy' class="set-flex flex-center flex-column">
          <button class=" p-t-md p-b-md p-l-sm p-r-sm set-flex flex-center border-secondaryColor r-3x text-center text-xs red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
            Loading..
          </button>
        </div>
        <div ng-show="(!reddit.busy && reddit.homefeed.has_more)" class="set-flex flex-center flex-column">
          <button class=" p-t-md p-b-md p-l-sm p-r-sm set-flex flex-center border-secondaryColor r-3x text-center text-xs red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
            no more
          </button>
        </div>
      </div>
    </div>
</div>
</section>
</div>