<div class="background-white">
  <section class="set-flex flex-column flex-center container-edge">
    <div class="row-edge product-container-2 w-full background-white  m-t-3x">
      <div class="leftside col-xs-12 col-sm-12 col-md-4 p-none">
        <div class="set-flex flex-center flex-column m-l-sm m-r-sm" ng-hide="userInfo">
          <div class="row-edge p-f-lg m-l-xs m-r-xs" style="max-height: 70vh;">
            <img style="max-width: 100%;width: 100%;height: 70%;max-height: 100%;object-fit: contain; margin:0px auto;" ng-src="https://d37pip7vd9logx.cloudfront.net/landing/iphone-website.png?auto=compress,enhance,format,redeye">
          </div>
          <div class="row-edge set-flex flex-center">
            <a ng-click="trackAndroid()" href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank" class="m-l-xs m-r-xs m-t-sm m-b-sm" style="width: 110px;">
              <img style="width: 100%;height: 100%;object-fit: contain; " ng-src="https://d37pip7vd9logx.cloudfront.net/imgs/google+play.png?auto=compress,enhance,format,redeye">
            </a>
            <a ng-click="trackIos()" href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank" class="m-l-xs m-r-xs m-t-sm m-b-sm" style="width: 110px;">
              <img style="width: 100%;height: 100%;object-fit: contain; " ng-src="https://d37pip7vd9logx.cloudfront.net/imgs/apple.png?auto=compress,enhance,format,redeye">
            </a>
          </div>
          <p class="grey m-b-sm text-center" style="    font-size: 14px;
  letter-spacing: 1px;
    color: #a7a3a3;
">We are building a local community in San Jose where people like you can interact to exlore & share anything.</p>
          <p class="grey m-b-sm text-center"><a ui-sref="index.landing" style="font-size: 14px; letter-spacing: 1px; color: #FF325B; font-weight:600;">Learn more</a></p>
        </div>
      </div>
      <div class="rightside col-xs-12 col-sm-12 col-md-8 p-none" infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <div class="card-container-lg col-xs-12 col-sm-12 col-md-12 p-none " style="margin:0px auto 30px;" ng-repeat="feed in homefeed track by $index" ng-class="isMobile ? '' : 'set-flex'">
          <!-- LEFT -->
          <div class="card-container-lg col-xs-12 col-sm-12 col-md-8 p-none" id='leftPanel' ng-if="feed.card_type == 'moment'">
            <div class=" background-white">
              <div class=" pos-rlt ">
                <ul ng-show="!feed.target_json.video_url " rn-carousel rn-carousel-index="slideIndex " rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor " id="rn-carousel " style="min-height:350px; border-radius:0px;">
                  <li ng-repeat="img in feed.target_json.images track by $index " ng-class=" 'id-' + $index ">
                    <div style='background-image:url("{{img}} "); background-size: cover;' class="product-detail-img h-full ">
                    </div>
                  </li>
                </ul>
                <video ng-show="feed.target_json.video_url " width="100% " height="100% " controls ng-src="{{feed.target_json.video_url | trustUrl}} " type="video/mp4 " style="max-height:500px; ">
                </video>
                <div class="set-flex between-xs white pos-abt m-l-md m-b-md" style="bottom:0px;left:0;">
                  <div class="set-flex flex-grow-equal">
                    <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="">
                      <div class=" bg-img-center" style='background-image:url("{{feed.target_json.user_info.picture}}"); border-radius:25px; min-width: 30px;
    min-height: 30px;'></div>
                    </a>
                    <div class="m-l-sm set-flex flex-center flex-column top-xs">
                      <a ui-sref="user({user_id:feed.target_json.user_info.id})" class="m-none">
                        <div class="white text-xs">{{feed.target_json.user_info.name | splitcharacters: characterLimit}}</div>
                      </a>
                      <p class="m-none l-h-1x ">
                        <small class="m-r-xs text-xxs">{{feed.target_json.user_info.username | splitcharacters: characterLimit}}</small>
                        <!--<small class="m-r-xs text-xxs">{{feed.target_json.user_info.store_info.handle | splitcharacters: characterLimit}}</small>-->
                        <small class="text-xxs">{{feed.target_json.user_info.total_followers | priceTruncate}} followers</small>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <div ng-if="product " class="set-flex flex-grow-equal white pos-abt m-l-md " style="bottom:0;left:0;margin-bottom:33px; "> 
                                <div ng-if="feed " class="set-flex flex-grow-equal white pos-abt m-l-xs m-b-xs " style="bottom:0;left:0; ">
                                    <div class="text-nowrap product-info-bg product-info-bg3 set-flex ">
                                        <small class="text-xxs">{{feed.target_json.distance_in_km}} away</small>
                                    </div>
                                </div>-->
                <div ng-if="feed " class="set-flex m-b-xs m-r-xs flex-column flex-grow-equal white pos-abt " style="bottom:0;right:0; ">
                  <div class="text-right m-b-sm " style="z-index:7;">
                    <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleLanding" dropdown-menu ng-click="getShareLinks(feed.target_json);">
                      <small>   <i class="icon-share2016 text-sm"></i></small>
                      <div class="dropdown-menu-triangle dropdown-menu-list-right " style="top: 10px; "></div>
                      <ul class="dropdown-menu-list dropdown-menu-list-right " style="top: 42px; ">
                        <li class="dropdown-menu-list-item ">
                          <a ng-href="{{fbLinkSF}} " target="_blank " class="mute ">
                            <div class="set-flex flex-center start-xs ">
                              <i class="icon-facebook fbColor text-lg m-r "></i>
                              <p class="m-none p-none ">Facebook</p>
                            </div>
                          </a>
                        </li>
                        <!-- Twitter Share -->
                        <li class="dropdown-menu-list-item ">
                          <a ng-href="{{twLinkSF}} " class="mute " target="_blank ">
                            <div class="set-flex flex-center start-xs ">
                              <i class="icon-twitter twColor text-lg m-r "></i>
                              <p class="m-none p-none ">Twitter</p>
                            </div>
                          </a>
                        </li>
                        <!-- Pintrest Share -->
                        <li class="dropdown-menu-list-item ">
                          <a data-pin-custom="true " data-pin-do="buttonPin " ng-href="{{pinLinkSF}} " class="mute " target="_blank ">
                            <div class="set-flex flex-center start-xs ">
                              <i class="icon-pinterest pinColor text-lg m-r "></i>
                              <p class="m-none p-none ">Pinterest</p>
                            </div>
                          </a>
                        </li>
                        <!-- Email Share -->
                        <li class="dropdown-menu-list-item ">
                          <a ng-href="{{mailLinkSF}} " class="mute " target="_top ">
                            <div class="set-flex flex-center start-xs ">
                              <i class="icon-mail primaryColor text-lg m-r "></i>
                              <p class="m-none p-none ">Email</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </button>
                  </div>
                  <div class="text-right m-b-sm" style="z-index:2;">
                    <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleLanding" dropdown-menu>
                      <small>   <i class="icon-threedots2016 text-2x"></i></small>
                      <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                      <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                        <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                          <a ui-sref="listing.momentEdit({id: feed.target_json.id})" target="_blank" class="mute">
                            <div class="set-flex flex-center start-xs">
                              <p class="m-none p-none">Edit</p>
                            </div>
                          </a>
                        </li>
                        <!-- Delete -->
                        <li class="dropdown-menu-list-item" ng-if="(feed.target_json.user_info.id==userInfo.id)">
                          <a ng-click="momentDeletePrompt(feed.target_json.id);$event.stopPropagation();">
                            <div class="set-flex flex-center start-xs">
                              <p class="m-none p-none">Delete</p>
                            </div>
                          </a>
                        </li>
                        <!-- Flag -->
                        <li class="dropdown-menu-list-item">
                          <a ng-click="flagMoment()">
                            <div class="set-flex flex-center start-xs">
                              <p class="m-none p-none">Flag</p>
                            </div>
                          </a>
                        </li>
                        <!-- cancel -->
                        <li class="dropdown-menu-list-item">
                          <a>
                            <div class="set-flex flex-center start-xs">
                              <p class="m-none p-none">Cancel</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </button>
                  </div>
                  <div class="text-right m-b-sm ">
                    <small class="text-nowrap product-info-bg product-info-bg3 pointer " ng-click="showMomentLikes() " style="display: inline-block; ">{{feed.target_json.total_likes}}</small>
                    <button class="set-inline-flex flex-center btn-circle btn-product-info btn-circle-active btn-circleSmall btn-circleLanding" ng-class="{ 'btn-liked': feed.target_json.is_liked} ">
                      <i class="icon-totallikes2016 text-base text-outline pointer " ng-class="feed.target_json.is_liked ? 'white' : 'font-transparent' " ng-click="likeMomentToggle($index) "></i>
                    </button>
                  </div>
                  <div class="text-right m-b-sm">
                    <button ng-if="!(feed.target_json.user_info.id==userInfo.id)" ng-click="followMomentToggle($index);" class="set-inline-flex flex-center btn-circle pointer btn-circle-active btn-circleSmall btn-circleLanding" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-circle' ">
                      <small class="text-xxs" ng-if="!feed.target_json.user_info.is_following"><i class="icon-follow2016 text-md"></i></small>
                      <small class="text-base" ng-if="feed.target_json.user_info.is_following"><i class="icon-follow2016 text-md"></i></small>
                    </button>
                  </div>
                </div>
                <div ng-if="product.images.length> 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                  <p class="z-lg m-none no-select p-f-sm ">
                    <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                  </p>
                </div>
                <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                  <p class="z-lg m-none no-select p-f-sm ">
                    <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- RIGHT -->
          <div class="p-f-sm background-white flex-grow-equal flex-column set-flex col-xs-12 col-sm-12 col-md-4" id="rightPanel" style="padding-right: 0px;" ng-if="feed.card_type == 'moment'">
            <div ng-if="ready" class="">
              <div ng-style="rightscrollHeight" ng-class="isMobile ? 'landingMobileHeight' : ''">
                <!-- Name & Price -->
                <div class="set-flex between-xs">
                  <h6 class=" m-none" ng-style="productDescription"></h6>
                  <button ng-if="StoreFollowProduct" ng-click="followToggle();" class="set-inline-flex flex-center btn-circle btn-circleSmall" style="margin-right:13px;" ng-class="feed.target_json.user_info.is_following ? 'btn-following' : 'btn-follow'">
                    <small ng-if="!feed.target_json.user_info.is_following">Follow</small>
                    <small ng-if="feed.target_json.user_info.is_following">Following</small>
                  </button>
                </div>
                <!-- Description -->
                <!-- <p ng-bind-html-unsafe="{{product.description}} | emoji"></p> -->
                <div class="" id="productDescription" ng-style="productDescription">
                  <p class="m-none" ng-style="productDescription" style="font-size:14px;">{{feed.target_json.description}} &nbsp;</p>
                  <p class="m-none" ng-repeat="tag in feed.target_json._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p>
                </div>
                <comments-feed class="flex-grow-equal slide-down" product='feed.target_json' user='userInfo' type='{{feed.card_type}}' style="font-size:12px;"></comments-feed>
              </div>
            </div>
            <form ng-submit="submitComment($index)">
              <input ng-model="feed.commentContent" placeholder="Add a comment..." class="w-full form-control" type='text' ng-trim="false" style="border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px; padding-bottom:5px;font-size:11px;" />
              <!-- ng-click="dropdownTrigger('input')" -->
              <button type="submit" class="hidden"></button>
            </form>
          </div>
          <div style='clear: both;'></div>
        </div>
        <div ng-if="feedcards.has_more" class="set-flex flex-center flex-column">
        </div>
        <div ng-if="!feedcards.has_more" class="set-flex flex-center flex-column">
          <button class=" p-t-lg p-b-lg p-l-md p-r-md set-flex flex-center border-secondaryColor r-3x text-center text-center red title" style="white-space: normal; border-radius:500px; border:2px solid #FF325B;">
            no more
          </button>
        </div>
      </div>
    </div>
  </section>
</div>