<section class="background-teal-gradient set-flex flex-center flex-column" id="below-nav-bar">
  <div class="container-edge w-full landing-bg-img p-t-4x landing-banner">
    <div class="row-edge between-md center-sm h-full">
      <div></div>
      <div class="set-flex flex-center flex-column landing-banner-content">
        <div class="text-left w-full">
          <img ng-src="https://d37pip7vd9logx.cloudfront.net/imgs/logowhite.png" style="width:185px;">
          <h2 class="title cap white m-t-none m-b-md">
            Discover Local
          </h2>
          <div class="m-t-md m-b-lg">
            <p class="hidden-lg hidden-md white">Shop with your Mobile</p>
            <a ng-click="trackIos()" href="https://itunes.apple.com/us/app/antsquare/id978186974?ls=1&mt=8" target="_blank">
              <button class="btn-primary m-r">
                <p class="m-none set-flex flex-center">
                  <i class="icon-appstore m-l-n-sm"></i>
                  <small>App Store</small>
                </p>
              </button>
            </a>
            <a ng-click="trackAndroid()" href="https://play.google.com/store/apps/details?id=com.antsquare.android" target="_blank">
              <button class="btn-primary">
                <p class="m-none set-flex flex-center">
                  <i class="icon-android m-l-n-sm"></i>
                  <small>Google Play</small>
                </p>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="container-edge landing-search-push w-full" id="searchBox">
    <search-box-v2 background-color="background-grey-dark" form-data="formData" update-form-data="updateFormData(formData)"></search-box-v2>
  </section>
</section>

<section class="background-natural landing-category-list">
  <div class="container-edge">
    <div class="row-edge">
      <ul class="w-full m-none p-none" ng-class="isMobile ? 'landing-tags-m' : 'landing-tags set-flex row-edge around-xs'">
        <!-- If active add this class /landing-tag-active -->
        <li ng-repeat="(key, collection) in collections track by $index" ng-class="selectedColelction === key ? 'landing-tag-active' : ''">
          <a ng-click="selectCollection(key,collection.search)">
            <p class="title m-b-none">{{collection.title}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<div id="cardPlateContainer" class="container-edge background-white r-3x p-t">
  <card-plate id="cardPlate" ng-if="cards" vm="cards" card-plate-id="home" ></card-plate>
</div>

<mobile-benefits></mobile-benefits>
<testimonials></testimonials>
<trusted-by></trusted-by>

<!-- <div infinite-scroll="loadMore()" infinite-scroll-distance="infiniteScrollDistance" infinite-scroll-disabled='!cards.has_more'>
  <div id="cardPlateContainer" class="container-edge background-white r-3x p-t">
    <card-plate id="cardPlate" ng-if="cards" vm="cards"></card-plate>
  </div>
  <mobile-benefits></mobile-benefits>
  <testimonials></testimonials>
  <trusted-by></trusted-by>
</div> -->
