<div class="m-b">
    <div class="background-white r-3x p-f-2x ">
        <h6 class="m-t-none m-b-md text-center">Payments</h6>
        <div class="row-edge form-group flex-center">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 m-b border-lineColor" style="box-shadow: 1px 0px 2px #c6c2c2; padding:0px;">
                <div class="col-xs-12 col-sm-12 col-md-12 m-b ">
                    <div class="set-flex" style='height:25px;'>
                        <div class='pointer  m-t-none' ng-click="addCard() ">
                            <div class=" h-full set-flex flex-column middle-xs center-xs ">
                                <p class="m-t-none m-b-none grey ">
                                    Credit and debit cards</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-12 col-md-12 m-b " ng-repeat='card in cards track by $index'>
                    <div class="border-lineColor-b">
                        <div class="p-f-sm set-flex flex-column between-xs ">
                            <div class="set-flex " style="position: relative;">
                                <div class="m-r-sm set-flex bottom-xs flex-column paymentCardcss" style="border:1px solid #fda808; border-radius:40px; width:35px; text-align:center;height:35px; ">
                                    <i ng-if="card.brand=='Visa' " class="icon-visa text-3x "></i>
                                    <i ng-if="card.brand=='MasterCard' " class="icon-mastercard text-3x "></i>
                                    <i ng-if="card.brand=='American Express' " class="icon-amex text-3x "></i>
                                </div>
                                <div class="m-b-none flex-column">
                                    <p class='m-none' style="font-size:13px;">{{card.brand}}</p>
                                    <p class='m-none' style="font-size:13px;">Ending {{card.last4}}</p>
                                    <!-- <p class='m-none grey'>{{card.exp_month}} / {{card.exp_year}}</p>-->
                                </div>
                                <div class="set-flex" style="position: absolute; bottom: 0px; right: 0px;">
                                    <!-- <a class="noshow underline-hover p-t-sm p-b-sm m-none set-flex bottom-xs ">&emsp;</a>-->
                                    <a ng-click="removeConfirm(card) " class="underline-hover p-b-xs m-none set-flex bottom-xs grey" style="font-size:12px;">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 m-b ">
                    <div class="set-flex flex-center" style='height:25px;'>
                        <div class='pointer  m-t-none' ng-click="addCard() ">
                            <div class=" h-full set-flex flex-column middle-xs center-xs ">
                                <p class="m-t-none m-b-none red ">
                                    Add another card</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>