<div class="m-b">
  <div class="background-white r-3x p-f-2x ">
    <h6 class="m-t-none m-b-sm">Antsquare Gift Card</h6>
    <hr class="grey-light-hr">
    <div>
      <p class="bold m-none">Gift card balance: $ {{credits.credit}}</p>
    </div>
    <form angular-validator-submit="submitCode()" name="creditForm" class="" novalidate angular-validator>
      <p class="m-none error-color">{{creditError}}</p>
      <div class="row-edge form-group">
        <div class="col-sm-8 col-xs-12 p-none">
          <input type="text" name="code" placeholder="Enter code here" class="w-full form-control" ng-model="code.code" required-message="'required'" validate-on="blur" required>
        </div>
        <div class="col-sm-4 col-xs-12 center-xs start-sm">
          <button type="submit" class="btn btn-primary m-r btn-redcolor" ladda='creditLoading'>Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>