<navbar></navbar>
<div class="background-natural">
  <div class="container-edge p-none">
    <div class="row-edge product-container-m">
      <!-- LEFT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-8 p-none">
        <div class="productPage-l background-white">
          <div class="r-b-3x pos-rlt">
            <ul rn-carousel rn-carousel-index="slideIndex" rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container m-none background-lineColor" id="rn-carousel">
              <li ng-repeat="img in product.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
                <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
                </div>
              </li>
            </ul>
            <div class="set-flex  flex-grow-equal white pos-abt" style="bottom:0;left:0;">
              <a ui-sref="store({store_id:product.store_id})" class="m-r-sm m-b-sm m-l">
                <div class="thumb bg-img-center" style='background-image:url("{{product.store_info.logo}}"); border-radius:25px;'></div>
              </a>
              <a ui-sref="store({store_id:product.store_id})" class="m-t m-b-md">
                <div class="white">{{product.store_info.store_name | splitcharacters: characterLimit}}</div>
              </a>
            </div>
            <div ng-if="product" class="set-flex between-lg flex-grow-equal white pos-abt" style="bottom:0;right:0;">
              <p class="text-nowrap teal white" style="margin:115px 10px 0 0">$ {{product.price | priceTruncate}}
                <span class="m-none" ng-if="product.price_type === 'perhour'">/hour</span>
                <span class="m-none" ng-if="product.price_type === 'from'"> from</span>
                <span class="m-none" ng-if="product.price_type === 'noprice'"> </span>
              </p>
              <div class="hidden-sm hidden-xs set-flex" style="width:90px;">
                <button ng-click="followToggle();" class="btn-trn m-l-sm set-inline-flex flex-center" style="border-radius: 51px;
                            padding: 27px 0px; width: 80px; text-align: center; border-width: 2px; float:right; margin:0 10px 10px 0;">
                  <small ng-if="!product.user_info.is_following">Follow</small>
                  <small ng-if="product.user_info.is_following">Following</small>
                </button>
                <!-- <button class="btn-trn btn-sm m-l-sm set-inline-flex flex-center"><small>Message</small></button> -->
                <button class="btn-trn m-l-sm set-inline-flex flex-center pointer dropdown-menu btn-mute" style="border-radius: 51px;
                           padding: 27px 0px; width: 80px; text-align: center; border-width: 2px; float:right; margin:0 10px 10px 0;" dropdown-menu>
                  <small>Share</small>
                  <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{fbLink}}" target="_blank" class="mute">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-facebook fbColor text-lg m-r"></i>
                          <p class="m-none p-none">Facebook</p>
                        </div>
                      </a>
                    </li>
                    <!-- Twitter Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{twLink}}" class="mute" target="_blank">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-twitter twColor text-lg m-r"></i>
                          <p class="m-none p-none">Twitter</p>
                        </div>
                      </a>
                    </li>
                    <!-- Pintrest Share -->
                    <li class="dropdown-menu-list-item">
                      <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-pinterest pinColor text-lg m-r"></i>
                          <p class="m-none p-none">Pinterest</p>
                        </div>
                      </a>
                    </li>
                    <!-- Email Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{mailLink}}" class="mute" target="_top">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-mail primaryColor text-lg m-r"></i>
                          <p class="m-none p-none">Email</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </button>
              </div>
            </div>
            <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
              <p class="z-lg m-none no-select p-f-sm ">
                <a class=" text-lg white" ng-click='slideLeft(parameter.product)'>
                                 &#60;
                                </a>
            </div>
            <div ng-if="product.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
              </p>
              <p class="z-lg m-none no-select p-f-sm ">
                <a class=" text-lg white" ng-click='slideRight(parameter.product)'>
                                  &#62;
                                </a>
              </p>
            </div>
          </div>
          <div class="background-white r-b-3x text-left set-flex flex-column space-between">
            <div ng-if="product" class="set-flex w-full">
              <i class="icon-heartfill text-3x text-outline pointer" ng-class="product.liked ? 'secondaryColor' : 'grey-light'" ng-click="likeToggle()"></i>
              <div class="m-l-xl m-t teal"><small>{{product.distance_in_km}} from you</small></div>
              <rating star="product.store_info.average_rating" total="product.store_info.total_review" class="m-l-xxl m-t"></rating>
            </div>
            <div class="p-f-md">
              <!-- Name & Price -->
              <div class="set-flex between-xs">
                <h6 class=" m-none">{{product.name}}</h6>
              </div>
              <!-- Description -->
              <p>{{product.description}}</p>
              <p ng-bind-html-unsafe="{{product.description}} | emoji"></p>
              <div class="set-flex end-xs w-full">
                <button class="btn-none" ng-init="flagged = false" ng-click="flagProduct()" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                  <i ng-if="flagged" class="icon-flagfill text-sm primaryColor"></i>
                  <i ng-if="!flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
                </button>
                <!-- <button class="btn-none" ng-init="flagged = false" ng-click="flagProduct(); flagged = true">
                  <i ng-hide="flagged" class="icon-flag icon-sm grey"></i>
                  <i ng-show="flagged" class="icon-flagfill primaryColor icon-sm"></i>
                </button> -->
              </div>
              <div class="set-flex">
                <p ng-repeat="tag in product._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p>
              </div>
              <hr class="m-b grey-light-hr">
              <div class="set-flex start-xs flex-column-xs">
                <div class="m-r m-b-sm">
                  <a class="mute set-flex" ng-href="{{branchLink}}">
                    <button class="btn  set-flex flex-center">
                      Order on the App
                    </button>
                  </a>
                </div>
                <div class="m-r pointer dropdown-menu m-b-sm" dropdown-menu>
                  <button class="btn set-flex flex-center" style="padding: 8px 15px;">
                    <i class="icon-share secondaryColor m-none"></i>
                  </button>
                  <div class="dropdown-menu-triangle" style="margin-top: 8px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-left" style="top: 65px;">
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{fbLink}}" target="_blank" class="mute">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-facebook fbColor text-lg m-r"></i>
                          <p class="m-none p-none">Facebook</p>
                        </div>
                      </a>
                    </li>
                    <!-- Twitter Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{twLink}}" class="mute" target="_blank">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-twitter twColor text-lg m-r"></i>
                          <p class="m-none p-none">Twitter</p>
                        </div>
                      </a>
                    </li>
                    <!-- Pintrest Share -->
                    <li class="dropdown-menu-list-item">
                      <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-pinterest pinColor text-lg m-r"></i>
                          <p class="m-none p-none">Pinterest</p>
                        </div>
                      </a>
                    </li>
                    <!-- Email Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{mailLink}}" class="mute" target="_top">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-mail primaryColor text-lg m-r"></i>
                          <p class="m-none p-none">Email</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="m-r m-b-sm">
                  <button class="btn set-flex flex-center" style="padding: 8px 15px;" ng-click="showComments = !showComments" ng-init="showComments = false">
                    <div class='set-flex flex-center'>
                      <i class="icon-messages secondaryColor m-none"></i>
                      <small ng-if="product.comment.total" class="m-l-sm hidden-xs">({{product.comment.total}}) </small>
                      <i class="hidden-xs icon-dropdown p-l secondaryColor m-none"></i>
                    </div>
                  </button>
                </div>
              </div>
              <comments show='showComments' class="slide-down" product='product' user='userInfo'></comments>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-4 p-none">
        <div class="productPage-r background-white">
          <div class="row-edge">
            <section class="col-xs-12 col-sm-6 col-md-12 p-none hide-on-xs-sm">
              <store-profile-metric product="product"></store-profile-metric>
            </section>
            <hr class="m-b-none grey-light-hr m-l-md m-r-md w-full">
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <location-map-view product='product'></location-map-view>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <store-other-products product="product"></store-other-products>
            </section>
            <hr class="grey-light-hr w-full m-l-md m-r-md ">
            <section class="col-xs-12 col-sm-6 col-md-12 hidden-sm hidden-xs">
              <store-profile product="product"></store-profile>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <recommendation product='product'></recommendation>
  <as-footer></as-footer>
</div>
