.icon-facebook2016:before {
    content: '\e800';
}


/* '' */

.icon-follow2016:before {
    content: '\e801';
}


/* '' */

.icon-instagram2016:before {
    content: '\e802';
}


/* '' */

.icon-money:before {
    content: '\e803';
}


/* '' */

.icon-alertfilled:before {
    content: '\e804';
}


/* '' */

.icon-alert:before {
    content: '\e805';
}


/* '' */

.icon-antique:before {
    content: '\e806';
}


/* '' */

.icon-art:before {
    content: '\e807';
}


/* '' */

.icon-autopart:before {
    content: '\e808';
}


/* '' */

.icon-baby:before {
    content: '\e809';
}


/* '' */

.icon-back:before {
    content: '\e80a';
}


/* '' */

.icon-bike:before {
    content: '\e80b';
}


/* '' */

.icon-bikepart:before {
    content: '\e80c';
}


/* '' */

.icon-book:before {
    content: '\e80d';
}


/* '' */

.icon-calendar-1:before {
    content: '\e80e';
}


/* '' */

.icon-camera:before {
    content: '\e80f';
}


/* '' */

.icon-car:before {
    content: '\e810';
}


/* '' */

.icon-cash:before {
    content: '\e811';
}


/* '' */

.icon-childcare:before {
    content: '\e812';
}


/* '' */

.icon-cleaners:before {
    content: '\e813';
}


/* '' */

.icon-computerservice:before {
    content: '\e814';
}


/* '' */

.icon-dashboard:before {
    content: '\e815';
}


/* '' */

.icon-dashboardfilled:before {
    content: '\e816';
}


/* '' */

.icon-dollars:before {
    content: '\e817';
}


/* '' */

.icon-computeraccs:before {
    content: '\e818';
}


/* '' */

.icon-entertainment:before {
    content: '\e819';
}


/* '' */

.icon-electronics:before {
    content: '\e81a';
}


/* '' */

.icon-fitness:before {
    content: '\e81b';
}


/* '' */

.icon-furniture:before {
    content: '\e81c';
}


/* '' */

.icon-googleplus-1:before {
    content: '\e81d';
}


/* '' */

.icon-grid:before {
    content: '\e81e';
}


/* '' */

.icon-gridfilled:before {
    content: '\e81f';
}


/* '' */

.icon-hair:before {
    content: '\e820';
}


/* '' */

.icon-handshake:before {
    content: '\e821';
}


/* '' */

.icon-health:before {
    content: '\e822';
}


/* '' */

.icon-healthservice:before {
    content: '\e823';
}


/* '' */

.icon-clock:before {
    content: '\e824';
}


/* '' */

.icon-clothing:before {
    content: '\e825';
}


/* '' */

.icon-help:before {
    content: '\e826';
}


/* '' */

.icon-hobby:before {
    content: '\e827';
}


/* '' */

.icon-home:before {
    content: '\e828';
}


/* '' */

.icon-homeappliance:before {
    content: '\e829';
}


/* '' */

.icon-homeindoor:before {
    content: '\e82a';
}


/* '' */

.icon-homeoutdoor:before {
    content: '\e82b';
}


/* '' */

.icon-homereno:before {
    content: '\e82c';
}


/* '' */

.icon-info:before {
    content: '\e82d';
}


/* '' */

.icon-instagram-1:before {
    content: '\e82e';
}


/* '' */

.icon-jewelry:before {
    content: '\e82f';
}


/* '' */

.icon-locate:before {
    content: '\e830';
}


/* '' */

.icon-locatefilled:before {
    content: '\e831';
}


/* '' */

.icon-lock:before {
    content: '\e832';
}


/* '' */

.icon-mail:before {
    content: '\e833';
}


/* '' */

.icon-marker:before {
    content: '\e834';
}


/* '' */

.icon-menu:before {
    content: '\e835';
}


/* '' */

.icon-messages:before {
    content: '\e836';
}


/* '' */

.icon-messagesfill:before {
    content: '\e837';
}


/* '' */

.icon-more:before {
    content: '\e838';
}


/* '' */

.icon-morefilled:before {
    content: '\e839';
}


/* '' */

.icon-mp3:before {
    content: '\e83a';
}


/* '' */

.icon-musicservice:before {
    content: '\e83b';
}


/* '' */

.icon-notifications:before {
    content: '\e83c';
}


/* '' */

.icon-optical:before {
    content: '\e83d';
}


/* '' */

.icon-other:before {
    content: '\e83e';
}


/* '' */

.icon-otherservice:before {
    content: '\e83f';
}


/* '' */

.icon-payout:before {
    content: '\e840';
}


/* '' */

.icon-phone:before {
    content: '\e841';
}


/* '' */

.icon-phoneservice:before {
    content: '\e842';
}


/* '' */

.icon-photography:before {
    content: '\e843';
}


/* '' */

.icon-radius:before {
    content: '\e844';
}


/* '' */

.icon-search:before {
    content: '\e845';
}


/* '' */

.icon-settings:before {
    content: '\e846';
}


/* '' */

.icon-settingsfilled:before {
    content: '\e847';
}


/* '' */

.icon-shareandroid:before {
    content: '\e848';
}


/* '' */

.icon-shareios:before {
    content: '\e849';
}


/* '' */

.icon-shop:before {
    content: '\e84a';
}


/* '' */

.icon-shopfilled:before {
    content: '\e84b';
}


/* '' */

.icon-sport:before {
    content: '\e84c';
}


/* '' */

.icon-star:before {
    content: '\e84d';
}


/* '' */

.icon-starfilled:before {
    content: '\e84e';
}


/* '' */

.icon-tags:before {
    content: '\e84f';
}


/* '' */

.icon-ticket:before {
    content: '\e850';
}


/* '' */

.icon-tool:before {
    content: '\e851';
}


/* '' */

.icon-toy:before {
    content: '\e852';
}


/* '' */

.icon-trades:before {
    content: '\e853';
}


/* '' */

.icon-transactions:before {
    content: '\e854';
}


/* '' */

.icon-transactionsfilled:before {
    content: '\e855';
}


/* '' */

.icon-transit:before {
    content: '\e856';
}


/* '' */

.icon-trash:before {
    content: '\e857';
}


/* '' */

.icon-facebook-1:before {
    content: '\e858';
}


/* '' */

.icon-travel:before {
    content: '\e859';
}


/* '' */

.icon-tutor:before {
    content: '\e85a';
}


/* '' */

.icon-upload:before {
    content: '\e85b';
}


/* '' */

.icon-user:before {
    content: '\e85c';
}


/* '' */

.icon-userfilled:before {
    content: '\e85d';
}


/* '' */

.icon-verified:before {
    content: '\e85e';
}


/* '' */

.icon-videogame:before {
    content: '\e85f';
}


/* '' */

.icon-walk:before {
    content: '\e860';
}


/* '' */

.icon-watch:before {
    content: '\e861';
}


/* '' */

.icon-wedding:before {
    content: '\e862';
}


/* '' */

.icon-weibo:before {
    content: '\e863';
}


/* '' */

.icon-previewfilled:before {
    content: '\e864';
}


/* '' */

.icon-bank:before {
    content: '\e865';
}


/* '' */

.icon-bankfilled:before {
    content: '\e866';
}


/* '' */

.icon-creditcard:before {
    content: '\e867';
}


/* '' */

.icon-creditcardfilled:before {
    content: '\e868';
}


/* '' */

.icon-moving:before {
    content: '\e869';
}


/* '' */

.icon-unverified:before {
    content: '\e86a';
}


/* '' */

.icon-pinonmapfilled:before {
    content: '\e86b';
}


/* '' */

.icon-qrfilled:before {
    content: '\e86c';
}


/* '' */

.icon-tagfilled:before {
    content: '\e86d';
}


/* '' */

.icon-binoculars:before {
    content: '\e86e';
}


/* '' */

.icon-pinonmap:before {
    content: '\e86f';
}


/* '' */

.icon-qr:before {
    content: '\e870';
}


/* '' */

.icon-tag:before {
    content: '\e871';
}


/* '' */

.icon-otherfilled:before {
    content: '\e872';
}


/* '' */

.icon-otherservicefilled:before {
    content: '\e873';
}


/* '' */

.icon-close:before {
    content: '\e874';
}


/* '' */

.icon-openbox:before {
    content: '\e875';
}


/* '' */

.icon-business:before {
    content: '\e876';
}


/* '' */

.icon-preview:before {
    content: '\e877';
}


/* '' */

.icon-handbag:before {
    content: '\e878';
}


/* '' */

.icon-payoutfilled:before {
    content: '\e879';
}


/* '' */

.icon-social:before {
    content: '\e87a';
}


/* '' */

.icon-socialfilled:before {
    content: '\e87b';
}


/* '' */

.icon-notificationfilled:before {
    content: '\e87c';
}


/* '' */

.icon-plus:before {
    content: '\e87d';
}


/* '' */

.icon-check:before {
    content: '\e87e';
}


/* '' */

.icon-playbutton:before {
    content: '\e87f';
}


/* '' */

.icon-office:before {
    content: '\e880';
}


/* '' */

.icon-sales:before {
    content: '\e881';
}


/* '' */

.icon-support:before {
    content: '\e882';
}


/* '' */

.icon-hc:before {
    content: '\e883';
}


/* '' */

.icon-seattle:before {
    content: '\e884';
}


/* '' */

.icon-amex:before {
    content: '\e885';
}


/* '' */

.icon-discover:before {
    content: '\e886';
}


/* '' */

.icon-mastercard:before {
    content: '\e887';
}


/* '' */

.icon-visa:before {
    content: '\e888';
}


/* '' */

.icon-flag:before {
    content: '\e889';
}


/* '' */

.icon-flagfill:before {
    content: '\e88a';
}


/* '' */

.icon-accessories:before {
    content: '\e88b';
}


/* '' */

.icon-share:before {
    content: '\e88c';
}


/* '' */

.icon-edit:before {
    content: '\e88d';
}


/* '' */

.icon-logout:before {
    content: '\e88e';
}


/* '' */

.icon-extlink:before {
    content: '\e88f';
}


/* '' */

.icon-android:before {
    content: '\e890';
}


/* '' */

.icon-appstore:before {
    content: '\e891';
}


/* '' */

.icon-thumbs:before {
    content: '\e892';
}


/* '' */

.icon-divided:before {
    content: '\e893';
}


/* '' */

.icon-map:before {
    content: '\e894';
}


/* '' */

.icon-map-1:before {
    content: '\e895';
}


/* '' */

.icon-spin5:before {
    content: '\e896';
}


/* '' */

.icon-star-1:before {
    content: '\e897';
}


/* '' */

.icon-star-empty:before {
    content: '\e898';
}


/* '' */

.icon-star-half-alt:before {
    content: '\e899';
}


/* '' */

.icon-angle-right:before {
    content: '\e89a';
}


/* '' */

.icon-dropdownsm:before {
    content: '\e89b';
}


/* '' */

.icon-filter:before {
    content: '\e89c';
}


/* '' */

.icon-sort-alt-up:before {
    content: '\e89d';
}


/* '' */

.icon-facebook:before {
    content: '\e89e';
}


/* '' */

.icon-check-thick:before {
    content: '\e89f';
}


/* '' */

.icon-instagram:before {
    content: '\e8a0';
}


/* '' */

.icon-calendar:before {
    content: '\e8a1';
}


/* '' */

.icon-map_w_pin:before {
    content: '\e8a2';
}


/* '' */

.icon-twitter:before {
    content: '\e8a3';
}


/* '' */

.icon-youtube:before {
    content: '\e8a4';
}


/* '' */

.icon-dropdown:before {
    content: '\e8a5';
}


/* '' */

.icon-cart:before {
    content: '\e8a6';
}


/* '' */

.icon-linkedin:before {
    content: '\e8a7';
}


/* '' */

.icon-pinterest:before {
    content: '\e8a8';
}


/* '' */

.icon-request:before {
    content: '\e8a9';
}


/* '' */

.icon-twitter-outline:before {
    content: '\e8aa';
}


/* '' */

.icon-amex-1:before {
    content: '\e8ab';
}


/* '' */

.icon-music:before {
    content: '\e8ac';
}


/* '' */

.icon-visa-1:before {
    content: '\e8ad';
}


/* '' */

.icon-mastercard-1:before {
    content: '\e8ae';
}


/* '' */

.icon-twitterfilled:before {
    content: '\e8af';
}


/* '' */

.icon-weibofilled:before {
    content: '\e8b0';
}


/* '' */

.icon-facebookfilled:before {
    content: '\e8b1';
}


/* '' */

.icon-dropdown-1:before {
    content: '\e8b2';
}


/* '' */

.icon-googleplus:before {
    content: '\e8b3';
}


/* '' */

.icon-group:before {
    content: '\e8b4';
}


/* '' */

.icon-profiles_icon:before {
    content: '\e8b5';
}


/* '' */

.icon-messages_icon:before {
    content: '\e8b6';
}


/* '' */

.icon-video_icon_grid:before {
    content: '\e8b7';
}


/* '' */

.icon-archivedmessages:before {
    content: '\e8b8';
}


/* '' */

.icon-help-1:before {
    content: '\e8b9';
}


/* '' */

.icon-invitefriends:before {
    content: '\e8ba';
}


/* '' */

.icon-computer:before {
    content: '\e8bb';
}


/* '' */

.icon-linksocialmedia:before {
    content: '\e8bc';
}


/* '' */

.icon-logout-1:before {
    content: '\e8bd';
}


/* '' */

.icon-payments:before {
    content: '\e8be';
}


/* '' */

.icon-promos:before {
    content: '\e8bf';
}


/* '' */

.icon-dropdownsm-1:before {
    content: '\e8c0';
}


/* '' */

.icon-message2016:before {
    content: '\e8c1';
}


/* '' */

.icon-moments2016:before {
    content: '\e8c2';
}


/* '' */

.icon-pinterest2016:before {
    content: '\e8c3';
}


/* '' */

.icon-share2016:before {
    content: '\e8c4';
}


/* '' */

.icon-threedots2016:before {
    content: '\e8c5';
}


/* '' */

.icon-totallikes2016:before {
    content: '\e8c6';
}


/* '' */

.icon-twitter2016:before {
    content: '\e8c7';
}


/* '' */

.icon-youtube2016:before {
    content: '\e8c8';
}


/* '' */