<div class="container-edge p-f-lg z-lg" ng-class="backgroundColor">
  <div class="row-edge center-xs">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-3 set-flex p-r-n-lg m-b-xs center-xs ">
      <input class=" r-3x r-r-3x-n-lg flex-grow-equal searchBox-width " placeholder="Looking For..." ng-model="data.input" ng-class="{'background-white': data.input }" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-3 set-flex p-l-n-lg m-b-xs center-xs ">
      <!-- <input class="r-3x r-l-3x-n-lg flex-grow-equal searchBox-width" placeholder="In all categories" /> -->

      <select name="" class="r-3x r-l-3x-n-lg flex-grow-equal select-category" ng-model="data.category">
        <option value="" disabled selected>In all categories</option>
        <option value="0">baby</option>
        <option value="1">Jesus</option>
        <option value="2">Car</option>
        <option value="3">Food</option>
      </select>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4 set-flex m-b-xs center-xs ">
      <input class="r-l-3x w-full" placeholder="... in your location" style="max-width:230px;" ng-model="data.location" ng-class="{'background-white': data.location }" />
      <select dir='rtl' name="" class="r-r-3x w-full select-radius" style="max-width:120px;" ng-model="data.radius">
        <option value="5">5km</option>
        <option value="10">10km</option>
        <option value="15">15km</option>
        <option value="20">20km +</option>
      </select>
    </div>
    <!-- vissible only till md -->
    <div class="hidden-lg col-xs-12 col-sm-12 col-md-10 col-lg-2 set-flex m-b-xs center-xs">
      <div class="searchBox-submit-width w-full set-flex between-xs ">
        <div class="cap" type="submit" name="submit"> <i class="icon-plus m-r-xs"></i>More Filter</div>
        <button class="btn-primary" type="submit" name="submit"> <i class="icon-search m-r-xs"></i>Search</button>
      </div>
    </div>
    <!-- Vissible only in lg -->
    <div class="visible-lg-block set-flex flex-center">
      <div class="col-lg-3 m-b-xs center-xs visible-lg-block p-none">
        <button class="btn-primary" type="submit" name="submit"> <i class="icon-search m-r-xs"></i>Search</button>
      </div>
    </div>
  </div>
  <!-- <div class="row-edge start-xs visible-lg-block m-t-xs">
    <div class="col-lg-2 set-flex m-b-xs center-xs ">
      <div class="cap m-r-n-xl" type="submit" name="submit">
        <p><i class="icon-plus m-r"></i>More Filter</p>
      </div>
    </div>
  </div> -->

</div>
