<div ng-class="{'modal-fade-out-full': fadeOut, 'modal': !isMobile, 'modal-mobile': isMobile}" close-by-key='close(null)' modal-key-close>
  <div ng-class="{'modal-dialog-f' : !isMobile}">
    <div class="set-flex flex-column p-t-md p-b-xs h-full">
      <div class="p-md end-xs">
        <i ng-click="close()" class=" pointer icon-close white text-3x"></i>
      </div>
      <!-- <h5 class="text-center p-md m-t-none m-b-sm white h-full set-flex flex-center"> -->
      <div class="set-flex flex-center w-full h-full text-center">
        <video controls="" autoplay="">
            <source ng-src="{{video_url | trustUrl}}" type="video/mp4">
        </video>
      </div>
      <!-- </h5> -->

    </div>
  </div>
</div>
