<ng-busy loading="loading" delay='300'>
    <div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
        <div class="modal-dialog-sm r-3x background-white">
            <div class="set-flex flex-column p-t-md p-b-xs">
                <div class="p-md end-xs">
                    <i ng-click="close()" class=" pointer icon-close grey"></i>
                </div>
                <h5 class="text-center p-md m-t-none m-b-sm">
          Phone Verification
        </h5>
                <p class="text-center m-none">A code was sent to this number: {{data.phone_number}}</p>
                <p class="m-none text-center error-color">{{error}}</p>
                <p class="text-right m-none pointer">
                    <div class="p-f-lg">
                        <form name="loginForm" ng-submit="submit()" novalidate>
                            <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="data.code" placeholder="Enter Code">
                            <p class="set-flex end-xs m-t-none">
                                <a ng-click="resendCode(); $event.stopPropagation()" class="text-right m-none pointer"><small class='grey'>No verification code received?</small></a>
                            </p>
                            <input type="submit" style="position: absolute; left: -9999px" />
                        </form>
                        <div class="text-center">
                            <button class="cap btn btn-primary2" ladda='submting' ng-click="submit()">
                                Submit
                            </button>
                        </div>
                </p>
                </div>
            </div>
        </div>
    </div>
</ng-busy>