<navbar></navbar>
<div class="background-natural">
  <div class="container-edge p-none set-flex flex-center">
    <div class="row-edge product-container-2 w-full" style="margin-top: 55px; margin-bottom:20px;" id='card'>
      <div class="w-full m-md">
        <div class="set-flex flex-grow-equal" style="position:relative">
          <a ui-sref="store({store_id:product.store_id})" class="">
            <div class="thumb-md bg-img-center" style='background-image:url("{{event.user_info.store_info.logo}}");'></div>
          </a>
          <div class="m-l-sm set-flex flex-center flex-column top-xs">
            <a ui-sref="store({store_id:product.store_id})" class="m-none">
              <div class="">{{event.user_info.store_info.store_name}}</div>
            </a>
            <p class="m-none">
              <small class="text-nowrap product-info-bg">{{event.distance_in_miles}} away</small>&nbsp;|&nbsp;<small class="text-nowrap product-info-bg pointer " ng-click="showFollowers() " style="display: inline-block; ">{{event.user_info.store_info.total_followers}} followers</small>
            </p>
          </div>
          <div class="set-flex between-xs">
            <button ng-if="StoreFollowProduct" ng-click="followToggle();" class="set-inline-flex flex-center pos-abt" style="right:0;" ng-class="product.user_info.is_following ? 'btn-following' : 'btn-follow'">
                <small ng-if="!product.user_info.is_following">Follow</small>
                <small ng-if="product.user_info.is_following">Following</small>
              </button>
          </div>
        </div>

      </div>
      <!-- LEFT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-6 p-none background-white " id='leftPanel'>
        <div class="m-sm">
          <div class="pos-rlt">
            <ul rn-carousel rn-carousel-index="slideIndex" rn-carousel-buffered class=" product-img-container-2 m-none" id="rn-carousel">
              <li ng-repeat="img in event.images track by $index" ng-class="'id-' + $index" style="max-height:500px;">
                <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
                </div>
              </li>
            </ul>
            <!-- <div ng-if="product" class="set-flex flex-grow-equal white pos-abt m-l-md" style="bottom:0;left:0;margin-bottom:33px;"> -->
            <!--<div ng-if="product" class="set-flex flex-grow-equal white pos-abt m-l-md m-b-md" style="bottom:0;left:0;">
              <div class="text-nowrap product-info-bg set-flex">
                <small>{{product.distance_in_miles}} away</small>
              </div>
            </div>-->
            <div ng-if="event" class="set-flex m-b-md m-r-md flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
              <div class="text-right m-b-sm">
                <button class="btn-circle pointer dropdown-menu btn-circle-active" dropdown-menu>
                  <small>Share</small>
                  <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px; z-index:100002; ">
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{fbLink}} " target="_blank " class="mute ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-facebook fbColor text-lg m-r "></i>
                          <p class="m-none p-none ">Facebook</p>
                        </div>
                      </a>
                    </li>
                    <!-- Twitter Share -->
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{twLink}} " class="mute " target="_blank ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-twitter twColor text-lg m-r "></i>
                          <p class="m-none p-none ">Twitter</p>
                        </div>
                      </a>
                    </li>
                    <!-- Pintrest Share -->
                    <li class="dropdown-menu-list-item ">
                      <a data-pin-custom="true " data-pin-do="buttonPin " ng-href="{{pinLink}} " class="mute " target="_blank ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-pinterest pinColor text-lg m-r "></i>
                          <p class="m-none p-none ">Pinterest</p>
                        </div>
                      </a>
                    </li>
                    <!-- Email Share -->
                    <li class="dropdown-menu-list-item ">
                      <a ng-href="{{mailLink}} " class="mute " target="_top ">
                        <div class="set-flex flex-center start-xs ">
                          <i class="icon-mail primaryColor text-lg m-r "></i>
                          <p class="m-none p-none ">Email</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </button>
              </div>
              <div class="text-right ">
                <div class="end-xs set-flex ">
                </div>
              </div>
            </div>
            <div ng-if="slideIndex> 0" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
              <p class="z-lg m-none no-select p-f-sm " style="background-color: #CCC;font-weight: bold;">
                <a class=" text-lg" ng-click='slideLeft(parameter.event)'>
                                 &#60;
                                </a>
              </p>
            </div>
            <div ng-if="slideIndex < event.images.length-1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
              <p class="z-lg m-none no-select p-f-sm" style="background-color: #CCC;font-weight: bold;">
                <a class=" text-lg" ng-click='slideRight(parameter.event)'>
                                  &#62;
                                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="m-sm">
          <p class="m-t-sm m-b-sm">
            <span class="red">Location:</span><br>
            <span class="m-l-md">{{event.address1}},&nbsp;{{event.address2}}</span>
          </p>
        </div>
        <div class="store-setting-map-container pos-rlt">
          <div id='map'></div>
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
      <!-- RIGHT -->
      <div class="p-f-sm background-white flex-grow-equal flex-column set-flex" id="rightPanel">
        <div ng-if="ready">
          <div class="set-flex between-xs">
            <div class="set-flex flex-grow-equal">
              <div class="set-flex flex-center flex-column top-xs">
                <div class="set-flex m-l-xs" ng-style="productDescription">
                  <h4 class="m-none" style="max-width: 380px; word-break: break-all;" ng-bind-html="event.name | toHtml | tweetLinky"></h4>
                </div>
                <small ng-bind-html="product.tags | toHtml | tweetLinky"></small>
              </div>
            </div>
            <div class="text-right m-b-sm">
              <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleSmall2" style="margin-right:13px;" dropdown-menu>
                <small>   <i class="icon-threedots2016 text-2x red"></i></small>
                <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px; width: 100px;">
                  <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                    <a ui-sref="listing.product_service({id: product.id})" target="_blank" class="mute">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Edit</p>
                      </div>
                    </a>
                  </li>
                  <!-- Delete -->
                  <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                    <a ng-click="deletePrompt(product.id);$event.stopPropagation();">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Delete</p>
                      </div>
                    </a>
                  </li>
                  <!-- Flag -->
                  <li class="dropdown-menu-list-item">
                    <a ng-click="flagProduct()">
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Flag</p>
                      </div>
                    </a>
                  </li>
                  <!-- cancel -->
                  <li class="dropdown-menu-list-item">
                    <a>
                      <div class="set-flex flex-center start-xs">
                        <p class="m-none p-none">Cancel</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </button>
            </div>
          </div>
          <div class="set-flex between-xs flex-column top-xs m-xs">
            <div class="set-flex flex-grow-equal flex-row top-xs w-full" style="justify-content: space-between;">
              <div class="set-flex flex-center ">
                <div class="calendar-container">
                  <p class="m-none month">{{event.start | date:"MMM"}}</p>
                  <p class="m-none text-3x day">{{event.start | date:"d"}}</p>
                </div>
                <div class="set-flex m-l-sm red m-r-lg">
                  {{event.start | date:"EEEE, h:mm a"}}
                </div>
                <div class="set-flex flex-center m-l-lg">
                  {{total_likes}}
                  <!--<span class="btn-like"><i class="icon-totallikes2016 pointer like-heart" ng-class="event.is_liked ? 'red' : 'white' " ng-click="likeToggle() "></i></span>-->
                  <span class="pointer" ng-class="event.is_liked ? 'btn-like-red' :'btn-unlike-red'" ng-click="likeToggle()"></span>
                  <small class="text-nowrap product-info-bg pointer " ng-click="showLikes() ">{{event.total_likes}} Likes</small>
                  <!--<button class="btn-circle2 btn-product-info btn-circle-active " style="padding-top: 2px;">
                  <i class="icon-totallikes2016 pointer " ng-class="product.liked ? 'red' : 'grey' " ng-click="likeToggle() "></i>
                </button>-->
                </div>
              </div>
            </div>
            <div class="set-flex m-t-sm" ng-style="productDescription">
              <p class="m-none" style="max-width: 425px; word-break: break-word;" ng-bind-html="event.description | toHtml | tweetLinky"></p>
              <!-- <p class="m-none" ng-repeat="tag in moment._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p> -->
            </div>
            <small ng-bind-html="product.tags | toHtml | tweetLinky"></small>
          </div>
          <!--<div class="set-flex between-xs m-t-sm m-b-sm">
            <div class="set-flex flex-grow-equal">
              <div class="set-flex flex-center">
                <small class="text-nowrap product-info-bg pointer " ng-click="showLikes() ">{{event.total_likes_string}} Likes</small>
                <button class="btn-circle2 btn-product-info btn-circle-active " style="padding-top: 2px;">
                  <i class="icon-totallikes2016 pointer " ng-class="product.liked ? 'red' : 'grey' " ng-click="likeToggle() "></i>
                </button>
              </div>
            </div>
          </div>-->
          <div ng-style="rightscrollHeight" class="m-l-sm">
            <comments2 class="flex-grow-equal slide-down" product='event' user='userInfo'></comments2>
          </div>
        </div>
        <form ng-submit="submitComment()">
          <textcomplete members='members' message='content'>
            <input ng-model="content" class="w-full form-control" type='text' ng-trim="false" />
          </textcomplete>
          <!-- ng-click="dropdownTrigger('input')" -->
          <button type="submit" class="hidden"></button>
        </form>
      </div>
    </div>

  </div>
  <!-- <recommendation product='product'></recommendation> -->
  <as-footer></as-footer>
</div>