<!--Store profile-->
<div class="background-white r-3x p-f-2x ">
  <h6 class="m-t-none m-b-sm">Store Profile</h6>
  <hr class="grey-light-hr">
  <form angular-validator-submit="submitStoreProfile()" name="UserProfileForm" class="" novalidate angular-validator>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Title</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="text" name="store_name" class="w-full form-control" ng-model="data.store_name" required-message="'required'" validate-on="dirty" required>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Handle</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input ng-trim="false" type="text" name="store_handle" class="w-full form-control" ng-model="data.handle" required-message="'required'" validate-on="dirty" required>
        <div class="set-flex middle-xs">
          <label class="control-label">link: <a class="underline-hover" ui-sref="storeHandle2({store_id:data.handle})">{{data.handle}}</a></label>
        </div>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Description</label>
        </div>
      </div>
      <div class="col-xs-9">
        <textarea class="w-full form-control form-textarea" ng-model="data.description" name="" id="" cols="30" rows="5">
        </textarea>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Owner Bio</label>
        </div>
      </div>
      <div class="col-xs-9">
        <textarea class="w-full form-control form-textarea" ng-model="data.bio" name="" id="" cols="30" rows="5">
        </textarea>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Logo</label>
        </div>
      </div>
      <div class="col-xs-9">
        <div class="set-flex">
          <div ng-if="!file.logo" style='background-image:url("{{data.logo}}")' class="thumb-xl bg-img-center"></div>
          <img ng-if="file.logo  && !tempProfile.logo" ngf-as-background="true" ngf-thumbnail="file.logo" class="thumb-xl bg-img-center">
          <div ng-if="tempProfile.logo" style='background-image:url("{{tempProfile.logo}}")' class="thumb-xl bg-img-center"></div>
          <p class='m-none' ng-if="uploading"><small class="grey border-lineColor r-3x">Uploading</small></p>
        </div>
        <div class='m-t-sm'>
          <button class="btn-red" ngf-select ng-model="file.logo" ngf-change="fileInput($files,'logo')" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{ height: 300}">Select</button>
        </div>
      </div>
    </div>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Store Cover</label>
        </div>
      </div>
      <div class="col-xs-9">
        <div class="set-flex">
          <!-- <div style='background-image:url("{{profile.picture}}");height:160px;' class="border-lineColor w-full bg-img-center"></div> -->
          <div ng-if="!file.cover_image" style='background-image:url("{{data.cover_image}}");height:160px;' class="border-lineColor w-full bg-img-center"></div>
          <img ng-if="file.cover_image  && !tempProfile.cover_image" ngf-as-background="true" ngf-thumbnail="file.cover_image" class="border-lineColor w-full bg-img-center" style="height:160px;">
          <div ng-if="tempProfile.cover_image" style='background-image:url("{{tempProfile.cover_image}}");height:160px;' class="border-lineColor w-full bg-img-center"></div>
          <p class='m-none' ng-if="uploading"><small class="grey border-lineColor r-3x">Uploading</small></p>
        </div>
        <div class='m-t-sm'>
          <button class="btn-red" ngf-select ng-model="file.cover_image" name="file" ngf-change="fileInput($files,'cover_image')" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{ height: 300}">Select</button>
        </div>
      </div>
    </div>
    <div class="m-t">
      <div class="set-flex center-xs end-sm">
        <button type="button" ng-click="reset()" class="btn btn-redcolor m-r">Reset</button>
        <button type="submit" class="btn btn-redcolor m-r" ladda='submiting'>Submit</button>
      </div>
    </div>
  </form>
</div>
<!-- Settings -->
<div class="background-white r-3x p-f-2x m-t-md">
  <h6 class="m-t-none m-b-sm">Store Settings</h6>
  <hr class="grey-light-hr">
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label">Enable Store</label>
      </div>
    </div>
    <div class="col-xs-9">
      <button ng-click="storeStatusToggle()" ladda='statusToggle' class="btn m-r-sm" ng-class="!store.is_enabled ? 'btn-success' : 'btn-error' "> <span ng-if="!store.is_enabled">Enable</span>
        <span ng-if="store.is_enabled">Disable</span>
      </button>
    </div>
  </div>
</div>
<!-- Location -->
<div class="background-white r-3x p-f-2x  m-t-md">
  <h6 class="m-t-none m-b-sm">Store Location</h6>
  <hr class="grey-light-hr">
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label">Meet Up Location</label>
      </div>
    </div>
    <div class="col-xs-9">
      <form ng-submit="getLocation()">
        <input class="w-full" type="text" placeholder="Enter address" ng-model="location" g-places-autocomplete force-selection="true">
        <button type="submit" class="hidden"></button>
      </form>
      <div class="store-setting-map-container pos-rlt">
        <div id='map'></div>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
        </ui-gmap-google-map>
        <img src='https://antsquare-www.imgix.net/imgs/marker.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
      </div>
    </div>
  </div>
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label">Current Address</label>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="set-flex p-t-sm">
        <p class='m-none'>{{store.address1}} &nbsp;</p>
        <p class='m-none'>{{store.address2}}</p>
      </div>
    </div>
  </div>
  <div class="row-edge form-group p-t-none">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label">Selected Address</label>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="set-flex p-t-sm">
        <p class='m-none'> {{mapResult.address1}} &nbsp;</p>
        <p class='m-none'> {{mapResult.address2}} </p>
      </div>
    </div>
  </div>
  <div class="m-t">
    <div class="set-flex center-xs end-sm">
      <button type="submit" class="btn btn-redcolor m-r" ng-click="storeAddressUpdate()" ladda='submitAddress'>Submit</button>
    </div>
  </div>
</div>
<!-- CSV Import -->
<div class="background-white r-3x p-f-2x  m-t-md">
  <h6 class="m-t-none m-b-sm">CSV Import</h6>
  <hr class="grey-light-hr">
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label"></label>
      </div>
    </div>
    <div class="col-xs-9">
      <p class="grey m-none">
        <small>
          To add multiple items to your shop, upload a formatted CSV file.
        </small>
      </p>
      <p class="grey m-none">
        <small>
          Click <a href="http://antsqua.re/51y6gv" target="_blank" class="red">here</a> to download a sample CSV or visit our <a href="https://antsquare.zendesk.com/hc/en-us/articles/204834379" target="_blank" class="red">FAQ Page</a> for additional assistance.
        </small>
      </p>
    </div>
  </div>
  <form ng-submit="submitCSV()" name="uploadCSV">
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">Upload CSV</label>
        </div>
      </div>
      <div class="col-xs-9">
        <button ngf-drop ngf-select ng-model="input.files" class="btn-red" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.csv'" id='cover-input' type="button">
          Choose File
        </button>
        <p class='m-none' ng-if="uploadingCSV"><small class="grey border-lineColor r-3x">Uploading ({{loadingPct}}) </small></p>
      </div>
    </div>
    <div class="m-t">
      <div class="set-flex center-xs end-sm">
        <button type="submit" class="btn btn-redcolor m-r" ladda='CSVsubmiting'>Submit</button>
      </div>
    </div>
  </form>
</div>
<!-- Empty Store -->
<div class="background-white r-3x p-f-2x  m-t-md">
  <h6 class="m-t-none m-b-sm">Empty Store</h6>
  <hr class="grey-light-hr">
  <div class="row-edge form-group">
    <div class="col-xs-3">
      <div class="set-flex middle-xs end-sm">
        <label class="control-label"></label>
      </div>
    </div>
    <div class="col-xs-9">
      <p class="m-none">
        <small class="warning-color">
          Once you clear a store, there is no going back. Please be certain.
        </small>
      </p>
      <p class="m-none grey">
        <small>
          Please type in the word DELETE below to confirm
        </small>
      </p>
    </div>
  </div>
  <form angular-validator-submit="clearStore()" name="clearStoreForm" class="" novalidate angular-validator>
    <div class="row-edge form-group">
      <div class="col-xs-3">
        <div class="set-flex middle-xs end-sm">
          <label class="control-label">CODE</label>
        </div>
      </div>
      <div class="col-xs-9">
        <input type="text" name="delete" class="w-full form-control" ng-model="data.delete" ng-pattern="/DELETE/" invalid-message="'Please check your input'" required-message="'required.'" validate-on="dirty" required>
      </div>
    </div>
    <div class="m-t">
      <div class="set-flex center-xs end-sm">
        <button type="submit" class="btn btn-redcolor m-r" ladda='deleteing'>Submit</button>
      </div>
    </div>
  </form>
</div>