<navbar></navbar>
<div class="background-natural p-t-4x p-b-4x">
  <div class="modal-dialog-static r-3x background-white">
    <!-- SignUp -->
    <div class="set-flex flex-column p-t-md p-b-xs">
      <h5 class="text-center p-md m-t-none m-b-sm red">
        Welcome!
      </h5>
      <div class="p-f-lg">
        <form name="loginForm" ng-submit="submitForm()" novalidate>
          <span style="vertical-align: super;padding-left: 120px; padding-right: 15px;margin-top: 15px;display: inline-block; color: #9b9b9b;">Is Business Profile </span>
          <label class="toggleSwitch"><input ng-model="form.isBusiness" type="checkbox"><div class="toggleSlider"></div></label>
          <country-selector country="country"></country-selector>
          <input class="w-full m-b-sm m-t-sm text-center" type="tel" name="number" ng-model="form.phone" placeholder="Phone Number" maxlength="20">
          <input class="w-full m-b-sm m-t-sm text-center" type="password" placeholder="Password" ng-model="form.password" name="password">
          <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="form.name" placeholder="{{form.isBusiness?'Business Name':'Name'}}" name="name">
          <!--<input type="submit" style="position: absolute; left: -9999px" />-->
          <div ng-show="form.isBusiness">
            <div class="row-edge form-group p-t-none">
              <div class="col-xs-12 p-none">
                <div class="set-flex middle-xs">
                  <label class="control-label grey">Selected Address</label>
                </div>
              </div>
              <div class="col-xs-12 p-none">
                <div class="set-flex p-t-sm p-b-sm p-l-sm border-grey-light">
                  <p class='m-none'> {{mapResult.address1}} &nbsp;</p>
                  <p class='m-none'> {{mapResult.address2}} </p>
                </div>
              </div>
            </div>
            <div class="row-edge form-group">
              <div class="col-xs-12 p-none">
                <div class="set-flex middle-xs">
                  <label class="grey p-l-sm p-b-sm">Search Location</label>
                </div>
              </div>
              <div class="col-xs-12 p-none">
                <div class="store-setting-map-container pos-rlt">
                  <div id='map'></div>
                  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
                  </ui-gmap-google-map>
                  <img src='https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
                  <!--
                https://antsquare-www.imgix.net/imgs/marker.png-->
                </div>
                <form ng-submit="getLocation()">
                  <input class="w-full p-f-sm" type="text" placeholder="Search address" ng-model="location" g-places-autocomplete force-selection="true">
                  <button type="submit" class="hidden"></button>
                </form>
              </div>
            </div>
            <!--<div class="m-t">
              <div class="set-flex center-xs center-sm">
                <button type="submit" class="btn btn-redcolor btn-redcolorprofile m-r" ng-click="storeAddressUpdate()" ladda='submitAddress' style="font-size:12px !important;">Save Address</button>
              </div>
            </div>-->
            <country-selector country="country2"></country-selector>
            <input class="w-full m-b-sm m-t-sm text-center" type="tel" name="number" ng-model="form.businessPhone" placeholder="Business Phone Number (Optional)" maxlength="20">
            <input class="w-full m-b-sm m-t-sm text-center" type="text" ng-model="form.email" placeholder="Email (Optional)" name="email">
          </div>
        </form>
        <!-- <p class="text-right m-none pointer"><small class='grey'>Forgot password?</small></p> -->
        <p class="text-center"><small class="grey">By signing up, I agree to Antsquare's <a ui-sref="index.terms" target="_blank">Terms of Service &amp; Privacy Policy</a>.</small></p>
        <div class="text-center">
          <button class="cap btn btn-primary2" ng-click="submitForm()" ladda='signupLoading'>
                        Sign Up
                    </button>
          <!--<p>or sign up using <span class="fbColor bold pointer" ng-click="authenticate('facebook')">Facebook</span></p>-->
        </div>
      </div>
      <p class="m-none text-center error-color">{{error}}</p>
    </div>
  </div>
</div>
<as-footer></as-footer>