<section class="border-lineColor" style="height: calc(100vh - 122px);
    overflow-x: hidden;">
  <a ng-repeat="room in rooms track by $index" class="p-f-xs border-lineColor-b block contact-list-item" ui-sref-active="active" ui-sref="messages.current({id:room.key})" ng-click="clearRoomBadge(room.key, $index)">
    <div class='set-flex' ng-if="room.customer.id == user.id">
      <div class='pos-rlt avatar thumb m-r-sm bg-img-center background-grey-light' ng-style="{ 'background-image': 'url(' + room.store.logo + ')'}">
        <div class="w-full h-full pos-rlt" ng-if="room.count > 0">
          <div class="pos-abt background-yellow avatar text-xs thumb-cart" style="right:calc(-100% + 12px);">
          </div>
        </div>
      </div>
      <div class="flex-column flex-center flex-grow-equal">
        <div class='set-flex between-xs'>
          <p class="m-none"><small>{{room.store.name}} </small></p>
          <p class="m-none"><small><small>{{room.last_updated | amDateFormat:'MM/DD/YYYY'}}</small></small>
          </p>
        </div>
        <p class="m-b-none m-t-n-sm grey">
          <small>{{room.plaintext}}
            <span ng-if="!room.plaintext">&ensp;</span>
          </small>
        </p>
      </div>
    </div>

    <div class='set-flex' ng-if="room.customer.id != user.id">
      <div class='avatar thumb m-r-sm bg-img-center background-grey-light' ng-style="{ 'background-image': 'url(' + room.customer.picture + ')'}">
      </div>
      <div class="flex-column flex-center flex-grow-equal">
        <div class='set-flex between-xs'>
          <p class="m-none"><small>{{room.customer.name}}</small></p>
          <p class="m-none"><small><small>{{room.last_updated | amDateFormat:'MM/DD/YYYY'}}</small></small>
          </p>
        </div>
        <p class="m-b-none m-t-n-sm grey">
          <small>{{room.plaintext}}
            <span ng-if="!room.plaintext">&ensp;</span>
          </small>
        </p>
      </div>
    </div>
  </a>
</section>
