<navbar></navbar>
<div class=" pos-rlt z-lg">
    <div class="container-edge">
        <div class="row-edge">
            <ul class="set-flex flex-column-xs p-none" style="list-style: none;">
                <li>
                    <a class="red p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ng-class="{'bold': onStore}" ui-sref="messages.current">Current Messages</a>
                </li>
                <li>
                    <a class="red p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="messages.archived">Archived Messages</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-edge">
    <div class="row-edge ">
        <div class="col-xs-12 p-none">
            <div ui-view='col-12'></div>
        </div>
        <div class="col-sm-3 col-xs-12 p-none">
            <div ui-view='col-2'></div>
        </div>
        <div class="col-sm-9 col-xs-12 p-none">
            <div ui-view='col-10'></div>
        </div>
    </div>
</div>