<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.payment">Payment Methods</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.payout" ui-sref-opts="{reload: true}">Payout Method</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ng-class="{'bold': onTx}" ui-sref="settings.transaction.buying">Transaction History</a>
</div>
<!-- <div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.security">Security</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.linkedAccounts">Linked Accounts</a>
</div> -->
