<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.profile">Profile</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.linking">Linking Social Media</a>
</div>
