<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm bold primaryColor underline-hover" ui-sref="store({store_id: store.stores[0].id})">View My Store</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="listing">New Listing</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.products_services">Products / Services</a>
</div>
<!-- <div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.requests">Requests</a>
</div> 
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.promotions">Promotions</a>
</div>-->
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.settings">Store Settings</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.profile">Store Profile</a>
</div>
<div class='p-b-sm p-t-sm'>
  <a class="p-r-lg p-b-sm p-t-sm" ui-sref-active="bold" ui-sref="settings.store.moment">Moment</a>
</div>