<div ng-if="showBar" class="">
    <div class="mobile-app-bar-container">
    </div>
    <div class="mobile-app-bar-container set-flex w-full container-edge m-none p-none" style="position: fixed; top:0;left:0;">
        <div class="set-flex w-full">
            <div class="set-flex flex-center p-f-sm">
                <i class="icon-close icon-xs pointer" ng-click="barToggle()"></i>
            </div>
            <div class="background-white thumb-md r-3x set-flex flex-center" style="width:54px; height:54px;">
                <img src="https://d37pip7vd9logx.cloudfront.net/imgs/logored/logored.png?w=65&auto=format,compress">
            </div>
            <div class="set-flex flex-center p-f-sm">
                <div ng-if="isAndroid">
                    <p class="m-none">
                        <small>Antsquare for Android</small>
                    </p>
                    <p class="m-none">
                        <small><small>FREE - on Google Play</small></small>
                    </p>
                </div>
                <div ng-if="isIOS">
                    <p class="m-none">
                        <small>Antsquare for iOS</small>
                    </p>
                    <p class="m-none">
                        <small><small>FREE - on App Store</small></small>
                    </p>
                </div>
            </div>
        </div>
        <button ng-click="openApp()" class="set-flex flex-center btn-primary2 btn-primaryapp2 m-r">
            <p style='width:50px;' class="m-none text-center red">Open</p>
        </button>
    </div>
    <div style="height:75px;"></div>
</div>