<div class="background-white r-3x p-f-md">
  <h6 class="m-t-none m-b-sm">My Promotions</h6>
  <hr class="grey-light-hr">
  <div class="row-edge">
    <div class="col-sm-6 p-l-xs p-r-xs p-b-xs r-3x" ng-repeat="promotion in promotions track by $index">
      <div class="center-xs background-lineColor card-hover p-f-xs pos-rlt r-3x">
        <div class="pos-abt p-f-xs p-l-xs p-r-xs z-md" style="right:2px; top:0;" >
          <div class="set-flex">
            <!-- <a ui-sref="listing.promotionEdit({id:promotion.id})" ng-init="hoverEdit = false" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false"  class="set-flex flex-column flex-center pointer">
              <i class="icon-edit icon-md  text" ng-class="hoverEdit ? 'primaryColor' : 'bodyColor'"></i>
            </a> -->
            <div ng-click="PromotionDeletePrompt(promotion, $index);$event.stopPropagation();" ng-init="hoverDelete = false" ng-mouseover="hoverDelete = true" ng-mouseleave="hoverDelete = false"  class="set-flex flex-column flex-center pointer">
              <i class="icon-trash icon-md text" ng-class="hoverDelete ? 'primaryColor' : 'bodyColor'"></i>
            </div>
          </div>
        </div>
        <div class="text-center w-full">
          <p>{{promotion.description}}</p>
        </div>
        <div class="set-flex flex-center">
          <img ng-src="{{promotion.images[0]}}" alt="" style="max-height: 180px;max-width:100%;">
        </div>
      </div>
    </div>
    <div ng-if="promotions.length == 0">
        <p class="grey m-none">Currently you do not have any promotions.</p>
    </div>
  </div>
</div>
