<div class="p-f-lg">
  <div class="row-edge text-center">
    <div class="col-xs-12">
      <div class="set-flex between-sm flex-column-xs">
        <div class="set-flex">
          <p class="btn-fake">Moment</p>
        </div>
        <div ng-if="index > 0" class="">
          <i ng-click="close();$event.preventDefault()" class=" pointer icon-close grey"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row-edge form-group">
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Title</label>
      <div>
        <input ng-model="data.name" name="name{{index}}" type='text' class="w-full form-control" required-message="'required'" validate-on="blur" ng-trim="false" required/>
      </div>
    </div>
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Price</label>
      <div class="pos-rlt">
        <input ng-model="data.price" name="price{{index}}" class="w-full form-control" type='text' ng-pattern="/^(?!0+(\.0+)?$)\d{0,5}(.\d{1,2})?$/" required-message="'required'" validate-on="blur" ng-class="{'service-input': data.type === 'service'}" ng-trim="false" required/>
        <div ng-if="data.type === 'service'" class="pos-abt" style="top:6px;right:4px;">
          <button ng-click="data.price_type = 'perhour';$event.preventDefault()" class='btn-price-type' ng-class="{'active': data.price_type === 'perhour'}"><small>per hour</small></button>
          <button ng-click="data.price_type = 'from';$event.preventDefault()" class='btn-price-type' ng-class="{'active': data.price_type === 'from'}"><small>from</small></button>
        </div>
      </div>
    </div>
  </div>-->
<div class="row-edge form-group">
  <div class=" col-xs-12 ">
    <label for=" " class="p-b-sm clear ">Photos</label>
    <div class="pos-rlt ">
      <input name="imagess{{index}} " ng-model="data.files " required class=" pos-abt product-listing-dropzone w-full z-xs " ng-pattern="/[1-9]/ " invalid-message=" ' ' " required-message=" ' ' " validate-on="dirty " type='text' style="color:transparent !important ">
      <input ng-model="files " ngf-select ngf-change="uploadFiles($files) " ngf-drop="uploadFiles($files) " class="pointer product-listing-dropzone w-full pos-rlt z-md " ngf-multiple="false " ngf-allow-dir="false " accept="image/* " ngf-pattern="image/* " ng-class="{ 'has-error' : data.images.length < 1} " ngf-max-size="10MB " name="image{{index}} " type='button' style="background-color: transparent; " ng-click="removeVideo();$event.stopPropagation(); ">
      <div class="pos-abt w-full set-flex flex-center border-box p-f-sm " style="top:0; ">
        <div ng-repeat="img in product_imgs track by $index " class="m-l m-r pos-rlt z-lg " ng-init="hoverProductImage=false " ng-mouseover="hoverProductImage=true " ng-mouseleave="hoverProductImage=false ">
          <div style="background-image:url({{img.preview}}); " class="product-listing-image bg-img-center "></div>
          <div class="pos-abt w-full h-full " style="top: 0;left: " ng-class="{ 'product-img-hover-bg-listing' : hoverProductImage } ">
          </div>
          <div class="pos-abt w-full h-full " style="top: 0;left: 0;padding: 3px; ">
            <i ng-click="removeImg($index);$event.stopPropagation(); " class=" pointer icon-trash text-lg natural text "></i>
          </div>
        </div>
        <div ng-if="product_imgs.length < 1 " class="pos-rlt z-xs set-flex flex-column full-height flex-center " style="height: 105px; ">
          <div class="set-flex flex-center h-full ">
            <i class="text-xl icon-upload text-3x "></i>
          </div>
          <p class="grey ">Drag and Drop file to upload image.</p>
        </div>
      </div>
      <p style=" display: inline-block; ">{{filenameImage}}</p>
      <span class="progress " ng-show="fImage>= 0" style=" display: inline-block; width: 200px; border: 2px groove #CCC;">
                <div style="width:{{fImage}}%;     font-size: smaller;
    background: orange;" ng-bind="fImage + '%'">
                </div>
                </span>
      <p class="m-none grey"><small>
          Maximum image size we accept is 10MB & Maximum of 4 images.
        </small></p>
    </div>
  </div>
</div>
<div class="row-edge form-group">
  <div class="col-xs-12">
    <label for="" class="p-b-sm clear">Video</label>
    <div class="pos-rlt">
      <input name="imagess{{index}}" ng-model="data.files" required class=" pos-abt product-listing-dropzone w-full z-xs" ng-pattern="/[1-9]/" invalid-message="' '" required-message="' '" validate-on="dirty" type='text' style="color:transparent !important">
      <input ng-model="videofiles" ngf-select ngf-change="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="pointer product-listing-dropzone w-full pos-rlt z-md" ngf-multiple="false" ngf-allow-dir="false" accept="video/*" ngf-pattern="video/*" ng-class="{'has-error' : data.video_thumbnail === null }" ngf-max-size="10MB" ngf-resize="{ height: 300}" name="image{{index}}" type='button' style="background-color: transparent;" ng-click="removeImg($index);$event.stopPropagation();">
      <div class="pos-abt w-full set-flex flex-center border-box p-f-sm" style="top:0;">
        <div class="m-l m-r pos-rlt z-lg" ng-init="hoverProductVideo = false" ng-mouseover="hoverProductVideo = true" ng-mouseleave="hoverProductVideo = false" ng-if="product_videothumbnail !== null">
          <div style="background-image:url({{product_videothumbnail}});" class="product-listing-image bg-img-center"></div>
          <div class="pos-abt w-full h-full" style="top: 0;left:" ng-class="{ 'product-img-hover-bg-listing' : hoverProductVideo }">
          </div>
          <div class="pos-abt w-full h-full" style="top: 0;left: 0;padding: 3px;">
            <i ng-click="removeVideo();$event.stopPropagation();" class=" pointer icon-trash text-lg natural text"></i>
          </div>
        </div>
        <div ng-if="product_videothumbnail === null" class="pos-rlt z-xs set-flex flex-column full-height flex-center" style="height: 105px;">
          <div class="set-flex flex-center h-full">
            <i class="text-xl icon-upload text-3x"></i>
          </div>
          <p class="grey">Drag and Drop file to upload video.</p>
        </div>
      </div>
      <p style=" display: inline-block; ">{{filename}}</p>
      <span class="progress " ng-show="f>= 0" style=" display: inline-block; width: 200px; border: 2px groove #CCC;">
                <div style="width:{{f}}%;     font-size: smaller;
    background: orange;" ng-bind="f + '%'">
                </div>
                </span>
      <p class="m-none grey"><small>
          Maximum video size we accept is 10MB & Maximum of 1 video.
        </small></p>
    </div>
  </div>
</div>
<div class="row-edge form-group">
  <div class="col-xs-12">
    <label for="" class="p-b-sm clear">Description</label>
    <div>
      <textcomplete members='members' message='data.description'>
        <textarea ng-model="data.description" type="text" class="r form-control textarea-control w-full " name="description{{index}}" id="" cols="30" rows="3" ng-trim="false" required></textarea>
      </textcomplete>
    </div>
  </div>
  <!--<div>
    <p class="lead emoji-picker-container">
      <textarea class="r form-control textarea-control" ng-model="data.description" name="description{{index}}" data-emojiable="true" id="" cols="30" rows="3" ng-trim="false" required></textarea>
    </p>
  </div>-->
</div>
<div class="row-edge form-group">
  <div class="col-xs-12">
    <label for="" class="p-b-sm clear">Location</label>
    <form>
      <input ng-trim="false" class="w-full" type="text" placeholder="Enter address" ng-model="location" g-places-autocomplete force-selection="true">
      <button type="submit" class="hidden"></button>
      <div ng-if="mapNoResult">
        <p class="error_message" style="padding:11px 0 11px 15px; font-size: 13px; border:1px solid #e8e8e8; margin:0px 0 5px; border-radius: 3px;
      box-shadow: 0 3px 4px #e8e8e8; "><strong>Not Found</strong>
          <span class="grey">Make sure your search is spelled corretly.</span></p>
      </div>
    </form>
    <div class="store-setting-map-container pos-rlt">
      <div id='map'></div>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
      </ui-gmap-google-map>
      <img src='https://antsquare-www.imgix.net/imgs/marker.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
    </div>
    <div class="set-flex">
      <p class='m-none grey'><small> {{mapResult.address1}} &nbsp;</small></p>
      <p class='m-none grey'><small> {{mapResult.address2}} </small></p>
    </div>
  </div>
</div>
<div class="row-edge form-group">
  <div class="col-xs-12">
    <label for="" class="p-b-sm clear">Tag</label>
    <div>
      <tags-input ng-model="data.tempTag" min-length="1" add-on-enter='true' add-on-space='true' add-on-comma='true' add-on-paste='true' replace-spaces-with-dashes="false" on-tag-added="addHash($tag)" class="w-full" on-tag-removed="onTagRemoved($tag)"></tags-input>
    </div>
  </div>
</div>
</div>