<div class="p-f-lg">
  <div class="row-edge text-center">
    <div class="col-xs-12">
      <div class="set-flex between-sm flex-column-xs">
        <div class="set-flex">
          <p class="btn-fake ">Promotions</p>
        </div>
        <div ng-if="index > 0" class="">
          <i ng-click="close();$event.preventDefault()" class=" pointer icon-close grey"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Description</label>
      <div>
        <textarea class="r w-full form-control form-textarea" ng-model="data.description" type='text' name="namePromo{{description}}" id="" cols="30" rows="3" required-message="'required'" validate-on="dirty" ng-trim="false" required></textarea>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Photos</label>

      <div class="pos-rlt">
        <input ng-model="files" ngf-select ngf-change="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="pointer product-listing-dropzone w-full pos-rlt z-md" ngf-multiple="false" ngf-allow-dir="false" accept="image/jpg,image/png,image/jpeg" ngf-pattern="image/jpg,image/png,image/jpeg" ngf-max-size="10MB" ngf-resize="{ height: 300}" name="image" type='button' style="background-color: transparent;">
        <div class="z-sm pos-abt w-full set-flex flex-center border-box p-f-sm" style="top:0;">
          <div ng-repeat="img in product_imgs track by $index" class="m-l m-r pos-rlt z-lg" ng-init="hoverProductImage = false" ng-mouseover="hoverProductImage = true" ng-mouseleave="hoverProductImage = false">
            <div style="background-image:url({{img.preview}});" class="product-listing-image bg-img-center"></div>
            <div class="pos-abt w-full h-full" style="top: 0;left:" ng-class="{ 'product-img-hover-bg-listing' : hoverProductImage }">
            </div>
            <div class="pos-abt w-full h-full" style="top: 0;left: 0;padding: 3px;">
              <i ng-click="removeImg($index);$event.stopPropagation();" class=" pointer icon-trash text-lg natural text"></i>
            </div>
          </div>
          <div ng-if="product_imgs.length < 1" class="set-flex flex-column full-height flex-center" style="height: 105px;">
            <div class="set-flex flex-center h-full">
              <i class="text-xl icon-upload text-3x"></i>
            </div>
            <p class="grey">Drag and Drop file to upload image.</p>
          </div>
        </div>
        <p class="m-none grey"><small>
          Maximum image size we accept is 10MB & Maximum of 4 images
        </small></p>
      </div>
    </div>
  </div>

  <!-- <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Photos</label>

      <div>
        <div ng-model="files" ngf-select ngf-change="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="pointer product-listing-dropzone set-flex flex-center" ngf-multiple="false" ngf-allow-dir="false" accept="image/jpg,image/png,image/jpeg" ngf-pattern="image/jpg,image/png,image/jpeg"
          ngf-max-size="10MB" ngf-resize="{ height: 300}">

          <div ng-repeat="img in product_imgs track by $index" class="m-l m-r pos-rlt" ng-init="hoverProductImage = false" ng-mouseover="hoverProductImage = true" ng-mouseleave="hoverProductImage = false">
            <div style="background-image:url({{img.preview}});" class="product-listing-image bg-img-center"></div>
            <div class="pos-abt w-full h-full" style="top: 0;left:" ng-class="{ 'product-img-hover-bg-listing' : hoverProductImage }">
            </div>
            <div class="pos-abt w-full h-full" style="top: 0;left: 0;padding: 3px;">
              <i ng-click="removeImg($index)" class=" pointer icon-trash text-lg natural text"></i>
            </div>
          </div>
          <div ng-if="product_imgs.length < 1" class="set-flex flex-column full-height flex-center" style="height: 105px;">
            <div class="set-flex flex-center h-full">
              <i class="text-xl icon-upload text-3x"></i>
            </div>
            <p class="grey">Drag and Drop file to upload image.</p>
          </div>
        </div>
        <div ngf-no-file-drop>File Farg/Drop is not supported for this browser</div>
        <p class="m-none grey"><small>
          Maximum image size we accept is 10MB & Maximum of 1 image
        </small></p>
      </div>
    </div>
  </div> -->
</div>
