<div class="p-f-lg">
  <div class="row-edge text-center">
    <div class="col-xs-12">
      <div class="set-flex between-sm flex-column-xs">
        <div class="set-flex">
          <p class="btn-fake ">Request</p>
        </div>
        <div ng-if="index > 0" class="">
          <i ng-click="close();$event.preventDefault()" class=" pointer icon-close grey"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Title</label>
      <div>
        <input ng-model="data.name" name="nameRequest{{index}}" type='text' class="w-full form-control" required-message="'required'" validate-on="blur" ng-trim="false" required ng-trim="false" />
      </div>
    </div>
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Approx Price</label>
      <div class="pos-rlt">
        <input ng-model="data.price" is-number ng-pattern="/^(?!0+(\.0+)?$)\d{0,5}(.\d{1,2})?$/" name="priceRequest{{index}}" class="w-full form-control" type='text' invalid-message="'Invalid Price'" required-message="'required'" validate-on="blur" required/>
      </div>
    </div>
  </div>
  <div class="row-edge form-group">
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Test Price</label>
      <div class="pos-rlt">
        <number-only-input input-value="wks.number" input-name="wks.name"/>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Description</label>
      <div>
        <textarea class="r w-full form-control form-textarea" ng-trim="false" ng-model="data.description" name="descriptionRequest{{index}}" id="" cols="30" rows="3" required ng-trim="false"></textarea>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Expiry Date</label>


      <div class="pos-rlt">
      <div class="datepicker-directive">
        <input ng-trim="false" type="text" class="form-control w-full input-sm z-lg" autocomplete="off" datetimepicker placeholder="Pick a time" name="time" ng-model="data.expires_at" required>
      </div>
      </div>

      <!-- <div>
        <input type="datetime-local" ng-model="data.expires_at" class=" form-input-padding text-center" required name="dateRequest">
      </div> -->
    </div>
    <!-- <div class="col-xs-6">
      <label for="" class="p-b-sm clear">Share</label>
      <div class="set-flex">
        <i class="icon-facebook icon-lg pointer" ng-class="{'fbColor': data.fbShare}" ng-click="fbShareToggle();$event.preventDefault()"></i>
      </div>
    </div> -->
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Location</label>

      <form>
        <input ng-trim="false" class="w-full" type="text" placeholder="Enter address" ng-model="location" g-places-autocomplete force-selection="true">
        <button type="submit" class="hidden"></button>

        <div ng-if="mapNoResult" >
          <p class="error_message" style="padding:11px 0 11px 15px; font-size: 13px; border:1px solid #e8e8e8; margin:0px 0 5px; border-radius: 3px;
      box-shadow: 0 3px 4px #e8e8e8; "><strong>Not Found</strong>
          <span class="grey">Make sure your search is spelled corretly.</span></p>
        </div>
      </form>
      <div class="store-setting-map-container pos-rlt">
        <div id='map'></div>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events">
        </ui-gmap-google-map>
        <img src='https://antsquare-www.imgix.net/imgs/marker.png' style="position: absolute; top: calc(50% - 20px); left: calc(50% - 16px); pointer-events: none; width:32px; height:40px;">
      </div>

      <div class="set-flex">
        <p class='m-none grey'><small> {{mapResult.address1}} &nbsp;</small></p>
        <p class='m-none grey'><small> {{mapResult.address2}} </small></p>
      </div>
    </div>
  </div>

  <div class="row-edge form-group">
    <div class="col-xs-12">
      <label for="" class="p-b-sm clear">Tag</label>
      <div>
        <tags-input ng-model="data.tempTag" min-length="1" add-on-enter='true' add-on-space='true' add-on-comma='true' add-on-paste='true' replace-spaces-with-dashes="false" on-tag-added="addHash($tag)" class="w-full" on-tag-removed="onTagRemoved($tag)"></tags-input>
      </div>
    </div>
  </div>
</div>



