<section class="m-t-lg m-b-lg">
  <div class="container-edge">
    <div class="set-flex center-xs">
      <h5 class="title cap">testimonials</h5>
    </div>
    <div class="row-edge center-xs">
      <div class="col-xs-12 col-sm-6 col-md-4 m-b-lg">
        <div class="avatar thumb-xl pos-rlt bg-img-center" style="background-image: url('https://antsquare.imgix.net/image/2015/08/0511630251-99e8-4967-a8e4-9b90c5932918.jpeg?w=150&h=150&auto=format,compress');">
          <div class="avatar thumb pos-abt bg-img-center" style="right: -50px;bottom: -100px;background-image:url('https://antsquare.imgix.net/image/2015/08/305f6126fb-9b68-4b3a-aa5d-2fafb9c8d055.jpeg?w=50&h=50&auto=format,compress');"></div>
        </div>
        <div id="content-container" class="pos-rlt p-t" style="padding-bottom:20px;">
          <p class="m-none landing-testimonial">
            "Our mission is to create biodegradable and sustainable products in a distinctive and innovative way that is in perfect harmony with nature. Antsquare provides us with an alternative to shipping for our local customer and a sustainable method to sell locally."
          </p>
        </div>
        <div class="m-t m-b grey">
          <p class="m-none cap">Tatiana</p>
          <p class="m-none">Owner of <a class="secondaryColor" href="https://dashboard.antsquare.com/store/552" target="_blank">Tamposkine</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 m-b-lg">
        <div class="avatar thumb-xl pos-rlt bg-img-center" style="background-image: url('https://antsquare.imgix.net/image/2015/09/21/265444b1-dcf7-45f4-b5eb-776d0fde08a9.jpg?w=150&h=150&auto=format,compress');">
          <div class="avatar thumb pos-abt bg-img-center" style="right: -50px;bottom: -100px;background-image:url('https://antsquare.imgix.net/image/2015/08/20/db41dc65-0f76-44e1-b9e5-bf4a61d3aad2.jpg?w=50&h=50&auto=format,compress');"></div>
        </div>
        <div class="pos-rlt p-t content-container-copy" style="padding-bottom:20px;">
          <p class="m-none landing-testimonial">
            "Antsquare has become such a valuable tool for helping me to connect with my local customers!"
          </p>
        </div>
        <div class="m-t m-b grey">
          <p class="m-none cap">Emily</p>
          <p class="m-none">Owner of <a class="secondaryColor" href="https://dashboard.antsquare.com/store/679" target="_blank">Emily's Handmade Soap</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="avatar thumb-xl pos-rlt bg-img-center" style="background-image: url('https://antsquare.imgix.net/image/2015/08/03c42c3897-37fe-44b0-9329-79547aca8b6c.png?w=150&h=150&auto=format,compress');">
          <div class="avatar thumb pos-abt bg-img-center" style="right: -50px;bottom: -100px;background-image:url('https://antsquare.imgix.net/image/2015/08/2496152263-5086-466d-bf10-0eee33156432.jpeg?w=50&h=50&auto=format,compress');"></div>
        </div>
        <div class="pos-rlt p-t content-container-copy" style="padding-bottom:20px;">
          <p class="m-none landing-testimonial">
            "We have been running the savvy heart for 2 years and are always looking for ways to connect with local customers. Antsquare has provided us with a new platform to expand our local reach. It's great!"
          </p>
        </div>
        <div class="m-t m-b grey">
          <p class="m-none cap">Jacob &amp; Terra</p>
          <p class="m-none">Owner of <a class="secondaryColor" href="https://dashboard.antsquare.com/store/399" target="_blank">The Savvy Heart</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
