<div class="modal" ng-class="{'modal-fade-out': fadeOut}" close-by-key='close(null)' modal-key-close>
  <div class="modal-dialog-sm r-3x background-white">
    <div class="set-flex flex-column p-t-md p-b-xs">
      <div class="p-md end-xs">
        <i ng-click="close()" class=" pointer icon-close grey"></i>
      </div>
      <h5 class="text-center p-md m-t-none m-b-sm">
          Payout Detail
      </h5>
      <div class="p-f-md">
        <div ng-repeat="order in payout.orders track by $index">
          <p class="bold primaryColor">{{order.product_name}}</p>
          <div class="set-flex between-xs">
            <div>
              <p class="m-t-xs m-b set-flex  bodyColor start-xs ">
                <i class="icon-calendar m-r icon-md"></i> {{order.confirmed_date | amDateFormat:'MMM D YYYY'}}
              </p>
              <p class="m-none set-flex flex-center bodyColor">
                 {{order.antsquare_fee_percent | number:0}}% Processing Fee
              </p>
            </div>
            <div class="text-right">
              <p class="m-t-xs m-b set-flex flex-center bodyColor end-xs">
                ${{order.seller_amount}}
              </p>
              <p class="no-margin set-flex flex-center bodyColor">
                <i class="icon-calendar noshow m-r icon-md"></i> (${{order.seller_amount - order.payout | number:2}})
              </p>
            </div>
          </div>
          <hr class="divider m-t m-b">
        </div>
        <div class="set-flex between-xs">
          <p class="no-margin">
            <strong>Total</strong>
          </p>
          <p class="no-margin">
            <strong>${{payout.amount}}</strong>
          </p>
        </div>


      </div>


    </div>
  </div>
</div>
