<div id="infoWindow" ng-mouseover="parameter.mouseenter()" ng-mouseleave="parameter.mouseleave()">
  <div ng-if="parameter.product.type === 'product' || parameter.product.type === 'service'" ui-sref="product({product_id:parameter.product.id})">
    <div class="infoWindow-gradient  bg-img-center set-flex flex-column end-xs r-t-3x" style="height:245px;cursor:pointer;" ng-style="{ 'background-image': 'url(' + parameter.product.images[0] + ')'}">
      <div ng-if="parameter.product.displayImages.length > 1" class="set-flex  between-xs ng-scope m-b m-l m-r">
        <p class="z-lg no-select">
          <a class="white text-lg" ng-click='parameter.imgBack(parameter.product)'>
          &#60;
        </a>
        </p>
        <p class="z-lg no-select">
          <a class="white text-lg" ng-click='parameter.imgNext(parameter.product)'>
          &#62;
        </a>
        </p>
      </div>
      <a class='set-flex m-b m-r-md m-l-md m-t bottom-xs w-full pos-rlt z-lg' ui-sref="product({product_id:parameter.product.id})">
        <div class="white text-md ">$ {{parameter.product.price | priceTruncate}}</div>
        <div class="white text-md m-l">{{parameter.product.name | characters: 25 }}</div>
      </a>
    </div>
    <!--     <a class="set-flex m-l m-r m-t m-b" ui-sref="store({store_id:parameter.product.store_id})">
      <div class="bg-img-center avatar m-r" style="height:43px; width:43px" ng-style="{ 'background-image': 'url(' + parameter.product.logo + ')'}">
      </div>
      <div>
        <div class="m-none p-none text-md">{{parameter.product.store_name | characters: 15 }} </div>
        <rating star="parameter.product.average_rating" total="parameter.product.total_review"></rating>
      </div>
    </a> -->
  </div>
  <div ng-if="parameter.product.type === 'user'" ui-sref="user({user_id:parameter.product.id})">
    <div class="infoWindow-gradient  bg-img-center set-flex flex-column end-xs r-t-3x" style="height:245px;cursor:pointer;" ng-style="{ 'background-image': 'url(' + parameter.product.picture + ')'}">
      <a class='set-flex m-b m-r-md m-l-md m-t bottom-xs w-full pos-rlt z-lg' ui-sref="user({user_id:parameter.product.id})">
        <div class="white text-md">{{parameter.product.username | characters: 25 }}</div>
        <div class="white text-md m-l">{{parameter.product.distance_in_miles | characters: 25 }}</div>
      </a>
    </div>
  </div>
  <div ng-if="parameter.product.type === 'store'" ui-sref="store({store_id:parameter.product.id})">
    <div class="infoWindow-gradient  bg-img-center set-flex flex-column end-xs r-t-3x" style="height:245px;cursor:pointer;" ng-style="{ 'background-image': 'url(' + parameter.product.logo + ')'}">
      <a class='set-flex m-b m-r-md m-l-md m-t bottom-xs w-full pos-rlt z-lg' ui-sref="store({store_id:parameter.product.id})">
        <div class="white text-md">{{parameter.product.store_name | characters: 25 }}</div>
        <div class="white text-md m-l">{{parameter.product.distance_in_miles | characters: 25 }}</div>
      </a>
    </div>
  </div>
  <div ng-if="parameter.product.type === 'moment'" ui-sref="moment({moment_id:parameter.product.id})">
    <div class="infoWindow-gradient  bg-img-center set-flex flex-column end-xs r-t-3x" style="height:245px;cursor:pointer;" ng-style="{ 'background-image': 'url(' + parameter.product.images[0] + ')'}">
      <a class='set-flex m-b m-r-md m-l-md m-t bottom-xs w-full pos-rlt z-lg' ui-sref="moment({moment_id:parameter.product.id})">
        <div class="white text-md">{{parameter.product.description | characters: 25 }}</div>
        <div class="white text-md m-l">{{parameter.product.distance_in_miles | characters: 25 }}</div>
      </a>
    </div>
  </div>
  <div ng-if="parameter.product.type === 'request'" class="m-b m-t m-l m-r">
    <div class="set-flex flex-column " style="height:177px;">
      <a class='set-flex flex-center flex-column w-full h-full' ui-sref="request({request_id:parameter.product.id})">
        <p class="text-md m-t-none m-b-none">{{parameter.product.name}}</p>
        <p class="text-md m-none">{{parameter.product.distance_in_miles}}</p>
      </a>
      <div class="m-b m-t">
        <hr>
        <div class="text-md primaryColor ">$ {{parameter.product.price | priceTruncate}}</div>
      </div>
    </div>
    <div class="set-flex">
      <div class="bg-img-center m-r avatar" style="height:43px; width:43px" ng-style="{ 'background-image': 'url(' + parameter.product.user_info.picture + ')'}">
      </div>
      <div>
        <div class="m-none p-none text-md">{{parameter.product.user_info.name | characters: 15 }}</div>
        <!-- <rating star="parameter.product.average_rating" total="parameter.product.total_review"></rating> -->
      </div>
    </div>
  </div>
</div>