<!-- HEADDER -->
<section class="full-padding-3x container-fluid background-natural aboutPage" id="about">
  <div class="container">
    <div class="set-flex flex-center full-height flex-column  full-padding-lg">
      <div class="col-sm-9">
        <div class="m-t m-b">
          <h4 class="bodyColor">
            <strong>
              Antsquare is a location based marketplace platform. <br/>We strengthen local economies, build markets, and opportunities for local entrepreneurs.
            </strong>
          </h4>
          <h5>
            <small>
              We realized the disconnection between local small businesses and their community. Businesses have a hard time reaching customers within their own geographical area while customers have a hard time discovering local businesses.
            </small>
          </h5>
          <h5>
            <small>
              We help people connect to buy and sell their unique goods. Our platform provide tools for entrepreneurs to start, manage, and build their businesses whether online or offline. Our mission is to empower local businesses to strengthen their presence and build stronger relationships within their own communities.
            </small>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TEAM -->
<section class="full-padding-3x container-fluid background-white aboutPage">
  <div class="container">
    <div class="m-t-lg m-b-lg text-center">
      <h4 class="bodyColor">
        <strong>
          The Antsquare team
        </strong>
      </h4>
    </div>
    <div ng-repeat="member in team" class="col-xs-12 col-sm-6 col-md-4">
      <a ng-href="{{member.linkedin}}" target="_blank">
        <div class="m-b m-t full-padding-md pos-rel m-about-profile rounded-corners-md job-background">
          <div class="m-profile-img pos-abs">
            <img class="rounded-corners-md" ng-src="{{member.image}}">
          </div>
          <div class="m-img-padding m-about-card set-flex flex-center justify-start">
            <div>
              <p class="m-none">
                <strong>
                  {{member.name}}
                </strong>
              </p>
              <p class="m-none">
                {{member.title}}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- JOBS -->
<section class="full-padding-3x container-fluid background-white aboutPage" id='jobs'>
  <div class="container " ng-class="isMobile ? '' : 'set-flex flex-center'">
    <div>
      <div class="set-flex flex-center">
        <div class="col-sm-9">
          <div class="m-t-lg m-b-xl text-center">
            <h4 class="bodyColor">
              <strong>
                Careers
              </strong>
            </h4>
            <h6 class="text-left m-t-sm m-b-sm">
              Antsquare isn’t just your community marketplace. It’s also the next step in your career.
            </h6>
            <h6 class="text-left m-t-sm m-b-sm">
              We are seeking smart, passionate people to help us build the marketplace of the future. At Antsquare, we are redefining how people and businesses buy and sell stuff locally. We invite you to be a part of this next generation of retail.
            </h6>
          </div>
        </div>
      </div>
      <div class="set-flex flex-center">
        <div class="col-sm-9 col-xs-12">
          <div ng-repeat="job in jobs">
            <a class="m-b m-t full-padding-lg rounded-corners-md set-flex pointer space-between job-background" ng-click="toJob(job.job_id)" target="_blank">
              <h6 class="m-t-sm m-b-sm">
                <strong>{{job.title}}</strong>
              </h6>
              <h6 class="m-t-sm m-b-sm">
                {{job.location}}
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact -->
<section class="full-padding-3x container-fluid background-natural aboutPage" id='contact'>
  <div class="container">
    <div class="m-t-lg m-b-lg text-center">
      <h4 class="bodyColor">
        <strong>
          Get in Touch
        </strong>
      </h4>
    </div>
    <div class=" m-t-lg" ng-class="isMobile ? '' : 'set-flex flex-center'">
      <div ng-repeat="li in info" class="col-sm-3 col-xs-12 m-about-li m-b">
        <div class="">
          <i class="icon-lg m-l-n-xs {{li.image}}"></i>
          <h5 class='m-t-sm m-b-sm'>{{li.title}}</h5>
          <h6 class='m-t-sm m-b-sm'>{{li.content}}</h6>
          <h3 ng-if="li.content2" class='m-b-lg'>{{li.content2}}</h3>
        </div>
        <a ng-if='li.email' ng-href="mailto:{{li.link}}" class="primaryColor2">{{li.linkName}}</a>
        <a ng-if='!li.email' ng-href="{{li.link}}" target="{{li.target}}" class="primaryColor2">{{li.linkName}}</a>
        <p>
          {{li.number}}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="full-padding-3x container-fluid background-white aboutPage">
  <div class="container" ng-class="isMobile ? '' : 'set-flex flex-center'">
    <div class="col-sm-3 col-xs-12 m-t-lg m-b-lg">
      <i class="icon-lg m-l-n-xs  icon-seattle"></i>
      <h5 class='m-t m-b'>San Jose Office</h5>
      <h6 class='m-t-xs m-b-xs'>
        556 Villa Centre Way, San Jose, CA 95128</h6>
    </div>
    <div class='d-about-map col-xs-12 col-sm-9 m-t-lg m-b-lg rounded-corners-md' style="position: relative;
  
    width: 100%;">
      <ui-gmap-google-map center="sanjose.center" zoom="sanjose.zoom" options="sanjose.options" draggable="true" events="sanjose.events">
      </ui-gmap-google-map>
      <img ng-src='https://d37pip7vd9logx.cloudfront.net/marker/marker.png' style="position: absolute;
      top: 36.5%;
      left: 48%;
      pointer-events: none">
    </div>
  </div>
  <!--<div class="container set-flex">
        <div class="col-sm-3 col-xs-12 m-t-lg m-b-lg">
            <i class="icon-lg m-l-n-xs icon-office"></i>
            <h5 class='m-t m-b'>Vancouver Office</h5>
            <h6 class='m-t-xs m-b-xs'>955 Marine Drive West Vancouver, BC V7T 1A9, Canada</h6>
        </div>
        <div class='d-about-map col-xs-12 col-sm-9 m-t-lg m-b-lg rounded-corners-md' style="position: relative;
    
    width: 100%;">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="false" events="map.events">
            </ui-gmap-google-map>
            <img ng-src='https://antsquare-www.imgix.net/marker/marker.png' style="position: absolute;
      top: 36.5%;
      left: 48%;
      pointer-events: none">
        </div>
    </div>-->
</section>