<navbar></navbar>
<div class="background-natural">
  <section class="background-grey-dark p-t p-b">
    <div class="container-edge p-none">
      <div class="row-edge container-edge-p">
        <a ui-sref="store({store_id:product.store_id})">
          <div class=" avatar thumb m-r-sm bg-img-center" style='background-image:url("{{product.store_info.logo}}");'></div>
        </a>
        <div class="set-flex flex-grow-equal flex-column">
          <div class="set-flex flex-grow-equal white">
            <div>{{product.store_info.store_name | splitcharacters: characterLimit}}</div>
            <div class="m-l grey"><small>{{product.distance_in_km}} from you</small></div>
          </div>
          <div class="set-flex between-lg flex-grow-equal white">
            <rating star="product.store_info.average_rating" total="product.store_info.total_review"></rating>
            <div class="m-l hidden-sm hidden-xs set-flex">
              <!-- <button class="btn-trn btn-sm m-l-sm set-inline-flex flex-center"><small>Follow</small></button>
              <button class="btn-trn btn-sm m-l-sm set-inline-flex flex-center"><small>Message</small></button> -->
              <button class="btn-trn btn-sm m-l-sm set-inline-flex flex-center pointer dropdown-menu btn-mute" dropdown-menu>
                <small>Share</small>
                <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{fbLink}}" target="_blank" class="mute">

                      <div class="set-flex flex-center start-xs">
                        <i class="icon-facebook fbColor text-lg m-r"></i>
                        <p class="m-none p-none">Facebook</p>
                      </div>
                    </a>
                  </li>

                  <!-- Twitter Share -->
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{twLink}}" class="mute" target="_blank">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-twitter twColor text-lg m-r"></i>
                        <p class="m-none p-none">Twitter</p>
                      </div>
                    </a>
                  </li>

                  <!-- Pintrest Share -->
                  <li class="dropdown-menu-list-item">
                    <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">

                      <div class="set-flex flex-center start-xs">
                        <i class="icon-pinterest pinColor text-lg m-r"></i>
                        <p class="m-none p-none">Pinterest</p>
                      </div>
                    </a>
                  </li>

                  <!-- Email Share -->
                  <li class="dropdown-menu-list-item">
                    <a ng-href="{{mailLink}}" class="mute" target="_top">
                      <div class="set-flex flex-center start-xs">
                        <i class="icon-mail primaryColor text-lg m-r"></i>
                        <p class="m-none p-none">Email</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container-edge p-none">
    <div class="row-edge product-container-m">
      <!-- LEFT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-8 p-none">
        <div class="productPage-l background-white">
          <div class="background-white r-3x text-left set-flex flex-column space-between">
            <div class="p-f-md">
              <!-- Name & Price -->
              <p class="m-t-none grey">Requested {{product.created_at | amDateFormat:'MMM Do h:mm A'}}
                 | Expires {{product.expires_at | amDateFormat:'MMM Do h:mm A'}}</p>
              <div class="set-flex between-xs">
                <h6 class=" m-none">{{product.name}}</h6>
                <p class=" m-none teal">~ $ {{product.price | priceTruncate}}
                  <span class="m-none" ng-if="product.price_type === 'perhour'">/hour</span>
                  <span class="m-none" ng-if="product.price_type === 'from'"> from</span>
                </p>

              </div>

              <!-- Description -->
              <p>{{product.description}}</p>

              <div class="set-flex end-xs w-full">
                <button class="btn-none" ng-init="flagged = false" ng-click="flagRequest()" ng-init="hoverFlog = false" ng-mouseover="hoverFlog = true" ng-mouseleave="hoverFlog = false">
                  <i ng-if="flagged" class="icon-flagfill text-sm primaryColor"></i>
                  <i ng-if="!flagged" class="icon-flag grey text-sm" ng-class="hoverFlog ? 'icon-flagfill' : 'icon-flag'"></i>
                </button>

                <!-- <button class="btn-none" ng-init="flagged = false" ng-click="flagProduct(); flagged = true">
                  <i ng-hide="flagged" class="icon-flag icon-sm grey"></i>
                  <i ng-show="flagged" class="icon-flagfill primaryColor icon-sm"></i>
                </button> -->
              </div>

              <div class="set-flex">
                <p ng-repeat="tag in product._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p>
              </div>
              <hr class="m-b grey-light-hr">
              <div class="set-flex flex-center start-xs">
                <div class="m-r">
                  <a class="mute set-flex flex-center" href="https://itunes.apple.com/app/apple-store/id978186974?pt=113689808&ct=antsquare.com&mt=8" target="_blank">
                    <button class="btn  set-flex flex-center" ng-click="getApp()">
                      Order on the App
                    </button>
                  </a>
                </div>

                <div class="m-r pointer dropdown-menu" dropdown-menu>
                  <button class="btn set-flex flex-center" style="padding: 8px 15px;">
                    <i class="icon-share secondaryColor m-none"></i>
                  </button>
                  <div class="dropdown-menu-triangle" style="margin-top: 8px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-left" style="top: 65px;">
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{fbLink}}" target="_blank" class="mute">

                        <div class="set-flex flex-center start-xs">
                          <i class="icon-facebook fbColor text-lg m-r"></i>
                          <p class="m-none p-none">Facebook</p>
                        </div>
                      </a>
                    </li>

                    <!-- Twitter Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{twLink}}" class="mute" target="_blank">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-twitter twColor text-lg m-r"></i>
                          <p class="m-none p-none">Twitter</p>
                        </div>
                      </a>
                    </li>

                    <!-- Pintrest Share -->
                    <li class="dropdown-menu-list-item">
                      <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">

                        <div class="set-flex flex-center start-xs">
                          <i class="icon-pinterest pinColor text-lg m-r"></i>
                          <p class="m-none p-none">Pinterest</p>
                        </div>
                      </a>
                    </li>

                    <!-- Email Share -->
                    <li class="dropdown-menu-list-item">
                      <a ng-href="{{mailLink}}" class="mute" target="_top">
                        <div class="set-flex flex-center start-xs">
                          <i class="icon-mail primaryColor text-lg m-r"></i>
                          <p class="m-none p-none">Email</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- <div class="m-r">
                  <button class="btn set-flex flex-center" style="padding: 8px 15px;" ng-click="showComments = !showComments" ng-init="showComments = false">
                    <i class="icon-messages secondaryColor m-none"></i> <small class="m-l-sm hidden-xs">({{product.comment.total}}) </small>
                    <i class="hidden-xs icon-dropdown p-l secondaryColor m-none"></i>
                  </button>
                </div> -->
              </div>

              <!-- <comments show='showComments' class="slide-down" product='product'></comments> -->

            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT -->
      <div class="card-container-lg col-xs-12 col-sm-12 col-md-4 p-none">
        <div class="productPage-r background-white">
          <div class="row-edge">
            <!-- <section class="col-xs-12 col-sm-6 col-md-12 p-none hide-on-xs-sm">
              <store-profile-metric product="product"></store-profile-metric>
            </section> -->
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <store-profile product="product"></store-profile>
            </section>
            <hr class="grey-light-hr w-full m-l-md m-r-md ">
            <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <location-map-view product='product'></location-map-view>
            </section>
            <!-- <section class="col-xs-12 col-sm-6 col-md-12 p-none">
              <store-other-products product="product"></store-other-products>
            </section> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <recommendation product='product'></recommendation>
  <as-footer></as-footer>
</div>
