<navbar></navbar>
<div class="background-natural" ng-if="currentState === 'listing'">
  <div class="container-edge">
    <div class="text-center p-f-lg">
      <h6 class="m-none">Listing</h6>
      <p class="m-b-none m-t-sm grey">What type of item would you like to post.</p>
    </div>
    <div class="row-edge flex-center">
      <div class="col-sm-2 col-xs-12 m-b ">
        <a ui-sref="listing.products_services" ui-sref-opts="{reload: true}">
          <div class="background-white r-3x p-f-lg text-center  pointer">Product / Service</div>
        </a>
      </div>
      <!-- <div class="col-sm-2 col-xs-12 m-b ">
        <a ui-sref="listing.request" ui-sref-opts="{reload: true}">
          <div class="background-white r-3x p-f-lg text-center  pointer">Request</div>
        </a>
      </div> 
      <div class="col-sm-2 col-xs-12 m-b  ">
        <a ui-sref="listing.promotion" ui-sref-opts="{reload: true}">
          <div class="background-white r-3x p-f-lg text-center  pointer">Promotion</div>
        </a>
      </div>-->
      <div class="col-sm-2 col-xs-12 m-b ">
        <a ui-sref="listing.moment" ui-sref-opts="{reload: true}">
          <div class="background-white r-3x p-f-lg text-center  pointer">Moment</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>
<as-footer></as-footer>