<div class="background-natural">
  <div class="container-edge p-t-lg">
    <div class="background-white r-3x ">
      <form angular-validator-submit="submitMoment()" name="MomentList" novalidate angular-validator>
        <div ng-repeat="listing in listings track by $index">
          <hr ng-if="$index > 0;" class="grey-light-hr">
          <listing-card type="currentState" data="listing" index="$index" form="MomentList"></listing-card>
        </div>
        <div class="p-f-lg">
          <div class="row-edge text-right">
            <div class="col-xs-12">
              <div class="set-flex between-sm flex-column-xs">
                <!-- <button class="btn" ng-click="addListing();$event.preventDefault()">Add Listing</button>-->
                <button ladda="loading" type="submit" class="btn btn-red">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>