<div class="background-natural">
  <div class="container-edge p-t-lg">
    <div class="background-white r-3x ">
      <form angular-validator-submit="submitPromotion()" name="PormotionList" novalidate angular-validator>
        <!-- <div ng-repeat="listing in listings track by $index"> -->
          <listing-card type="currentState" data="listings[0]" index="$index"></listing-card>
        <!-- </div> -->
        <div class="p-f-lg">
          <div class="row-edge text-right">
            <div class="col-xs-12">
              <div class="set-flex end-sm flex-column-xs">
                <!-- <button class="btn" ng-click="addListing();$event.preventDefault()">Add Listing</button> -->
                <button ladda="loading" type="submit" class="btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
