<div class="background-natural">
  <div class="container-edge p-t-lg">
    <div class="background-white r-3x ">
      <form angular-validator-submit="submitListings()" name="RequestListing" novalidate angular-validator>
        <div ng-repeat="listing in listings track by $index">
          <listing-card type="currentState" data="listing" index="$index"></listing-card>
        </div>
        <div class="p-f-lg">
          <div class="row-edge text-right">
            <div class="col-xs-12">
              <div class="set-flex end-xs">
                <button ladda="loading" type="submit" class="btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
