<p class="m-none text-center error-color">
    {{error}}</p>
<!-- <div class="set-flex flex-center">
  <div class="set-flex btn-group ">
    <button ng-click="typeToggle(true);" class='btn' ng-class="{'active': viewToggle}">Checking Account</button>
    <button ng-click="typeToggle(false);" class='btn' ng-class="{'active': !viewToggle}">Visa or MC Debit</button>
  </div>
</div> -->
<div ng-show="viewToggle">
    <div class="set-flex flex-center w-full p-b-md">
        <img style="max-width:400px;" ng-src="https://antsquare-www.imgix.net/imgs/bankinfous.png">
    </div>
    <!-- CHECKING ACCOUNT FORM -->
    <form angular-validator-submit="addBank()" name="checkingAccountForm" novalidate angular-validator>
        <div class="row-edge form-group">
            <div class="col-xs-12">
                <label for="" class="p-b-sm clear">Account Number</label>
                <div>
                    <input ng-pattern="/^[0-9]{4,17}$/" ng-model="account.account_number" class="w-full form-control" name="account_number" type='text' invalid-message="'Check your account number'" required-message="'required'" validate-on="blur" required/>
                </div>
            </div>
        </div>
        <div class="row-edge form-group">
            <div class="col-xs-12">
                <label for="" class="p-b-sm clear">Routing Number</label>
                <div>
                    <input ng-pattern="/^[0-9]{9}$/" ng-model="account.routing_number" name="branch_number" type='text' class="w-full form-control" invalid-message="'Routing number is invalid'" required-message="'required'" validate-on="blur" required/>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="m-r btn btn-primary2" ng-click="$parent.addBankShow = false">
                Cancel
            </button>
            <button type="submit" class="cap btn btn-primary2" ladda='loading'>
                Submit
            </button>
        </div>
    </form>
</div>
<div class="p-f-lg" ng-show="!viewToggle">
    <!-- Visa OR MC Debit -->
    <form stripe-form="stripeCallback" name="debitForm" novalidate angular-validator>
        <div class="row-edge form-group">
            <div class="col-xs-12">
                <label for="" class="p-b-sm clear">Card Number</label>
                <div>
                    <input ng-model="number" class="w-full form-control" name="card" payments-format="card" type='text' payments-validate="card" invalid-message="'Check your card number'" required-message="'required'" validate-on="blur" required/>
                </div>
            </div>
        </div>
        <div class="row-edge form-group">
            <div class="col-xs-6">
                <label for="" class="p-b-sm clear">Expires On</label>
                <div>
                    <input ng-model="expiry" payments-format="expiry" payments-validate="expiry" name="expiry" type='text' class="w-full form-control" invalid-message="'Card expiration date invalid'" required-message="'required'" validate-on="dirty" required/>
                </div>
            </div>
            <div class="col-xs-6">
                <label for="" class="p-b-sm clear">Security code</label>
                <div>
                    <input ng-model="cvc" payments-format="cvc" payments-validate="cvc" name="cvc" class="w-full form-control" type='text' invalid-message="'Security code is invalid'" required-message="'required'" validate-on="dirty" required/>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="m-r btn btn-primary2" ng-click="close();">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary2" ladda='loading'>
                Submit
            </button>
        </div>
    </form>
</div>