<p class="m-none text-center error-color">{{error}}</p>
<div class="set-flex flex-center w-full">
    <img style="max-width:400px;" ng-src="https://antsquare-www.imgix.net/imgs/bankinfoca.png">
</div>
<form angular-validator-submit="addBank()" name="checkoutForm" novalidate angular-validator>
    <div class="row-edge form-group">
        <div class="col-xs-12">
            <label for="" class="p-b-sm clear">Account Number</label>
            <div>
                <input ng-pattern="/^[0-9]{1,12}$/" ng-model="account.account_number" class="w-full form-control" name="account_number" type='text' invalid-message="'Check your account number'" required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="row-edge form-group">
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">Transit Number</label>
            <div>
                <input ng-pattern="/^[0-9]{4,5}$/" ng-model="account.branch_number" name="branch_number" type='text' class="w-full form-control" invalid-message="'Transit number is invalid'" required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="" class="p-b-sm clear">Institution Number</label>
            <div>
                <input ng-pattern="/^[0-9]{3}$/" ng-model="account.institution_number" name="institution_number" class="w-full form-control" type='text' invalid-message="'Institution Number is invalid'" required-message="'required'" validate-on="blur" required/>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="m-r btn btn-primary2" ng-click="close();">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary2" ladda='loading'>
            Submit
        </button>
    </div>
</form>