<div class="container-fluid m-t-lg">
  <div class="row flex-column between-xs ">
    <div class="start-xs">
      <label>Lato</label>
      <h1>h1 Antsquare</h1>
      <h2>h2 Antsquare</h2>
      <h3>h3 Antsquare</h3>
      <h4>h4 Antsquare</h4>
      <h5>h5 Antsquare</h5>
      <h6>h6 Antsquare</h6>
      <p>p Antsquare</p>
      <p><small>p small Antsquare</small></p>
      <p><small><small>p small small Antsquare</small></small></p>
      <p><small><small><small>p small small small Antsquare</small></small></small></p>
    </div>

    <div class="start-xs title">
      <label> Raleway</label>
      <h1>h1 Antsquare</h1>
      <h2>h2 Antsquare</h2>
      <h3>h3 Antsquare</h3>
      <h4>h4 Antsquare</h4>
      <h5>h5 Antsquare</h5>
      <h6>h6 Antsquare</h6>
      <p>p Antsquare</p>
      <p><small>p small Antsquare</small></p>
      <p><small><small>p small small Antsquare</small></small></p>
      <p><small><small><small>p small small small Antsquare</small></small></small></p>
    </div>

    <div class="start-xs">
      <h1>h1 Antsquare</h1>
      <h2>h2 Antsquare</h2>
      <h3>h3 Antsquare</h3>
      <h4>h4 Antsquare</h4>
      <h5>h5 Antsquare</h5>
      <h6>h6 Antsquare</h6>
      <p>p Antsquare</p>
      <p><small>p small Antsquare</small></p>
      <p><small><small>p small small Antsquare</small></small></p>
      <p><small><small><small>p small small small Antsquare</small></small></small></p>
    </div>

  </div>

</div>
