<div ng-class="{'modal-fade-out': fadeOut, 'modal': !isMobile, 'modal-mobile modal-mobile2': isMobile}" close-by-key='close(null)' modal-key-close>
  <div class="h-full h-full2">
    <div class="h-full" style="z-index:2; position:absolute; top:0px; left:0px;     
    width: 100vw;
    height: 100vh;" ng-click="close()"></div>
    <div class="p-md end-xs">
      <i ng-click="close()" class=" white text-3x pointer icon-close grey" style="z-index:999999; position:relative;color: #9b9b9b !important;"></i>
    </div>
    <div class="container-edge p-none set-flex flex-center h-full">
      <div class="row-edge product-container-2 w-full background-white border-lineColor  m-t-n-lg" id='card' style="z-index:99999;">
        <!-- LEFT -->
        <div class="card-container-lg col-xs-12 col-sm-12 col-md-8 p-none" id='leftPanel'>
          <div class=" background-white">
            <div class="pos-rlt">
              <ul ng-show="!moment.video_url" rn-carousel rn-carousel-index="slideIndex" rn-carousel-auto-slide rn-carousel-buffered class=" product-img-container-2 m-none background-lineColor" id="rn-carousel" style="height:400px;">
                <li ng-repeat="img in moment.images track by $index" ng-class="'id-' + $index">
                  <div style='background-image:url("{{img}}");' class="product-detail-img h-full">
                  </div>
                </li>
              </ul>
              <video ng-show="moment.video_url" width="100%" height="100%" controls ng-src="{{moment.video_url | trustUrl}}" type="video/mp4">
              </video>
              <!-- <div ng-if="product" class="set-flex flex-grow-equal white pos-abt m-l-md" style="bottom:0;left:0;margin-bottom:33px;"> -->
              <div ng-if="moment" class="set-flex flex-grow-equal white pos-abt m-l-md m-b-md" style="bottom:0;left:0;">
                <div class="text-nowrap product-info-bg set-flex">
                  <small>{{moment.distance_in_miles}} away</small>
                </div>
              </div>
              <div ng-if="moment" class="set-flex m-b-md m-r-md flex-column flex-grow-equal white pos-abt" style="bottom:0;right:0;">
                <div class="text-right m-b-sm">
                  <button class="btn-circle pointer dropdown-menu btn-circle-active" dropdown-menu>
                    <small>Share</small>
                    <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                    <ul class="dropdown-menu-list dropdown-menu-list-right" style="top: 42px;">
                      <li class="dropdown-menu-list-item">
                        <a ng-href="{{fbLink}}" target="_blank" class="mute">
                          <div class="set-flex flex-center start-xs">
                            <i class="icon-facebook fbColor text-lg m-r"></i>
                            <p class="m-none p-none">Facebook</p>
                          </div>
                        </a>
                      </li>
                      <!-- Twitter Share -->
                      <li class="dropdown-menu-list-item">
                        <a ng-href="{{twLink}}" class="mute" target="_blank">
                          <div class="set-flex flex-center start-xs">
                            <i class="icon-twitter twColor text-lg m-r"></i>
                            <p class="m-none p-none">Twitter</p>
                          </div>
                        </a>
                      </li>
                      <!-- Pintrest Share -->
                      <li class="dropdown-menu-list-item">
                        <a data-pin-custom="true" data-pin-do="buttonPin" ng-href="{{pinLink}}" class="mute" target="_blank">
                          <div class="set-flex flex-center start-xs">
                            <i class="icon-pinterest pinColor text-lg m-r"></i>
                            <p class="m-none p-none">Pinterest</p>
                          </div>
                        </a>
                      </li>
                      <!-- Email Share -->
                      <li class="dropdown-menu-list-item">
                        <a ng-href="{{mailLink}}" class="mute" target="_top">
                          <div class="set-flex flex-center start-xs">
                            <i class="icon-mail primaryColor text-lg m-r"></i>
                            <p class="m-none p-none">Email</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </button>
                </div>
                <div class="text-right m-b-sm">
                  <small class="text-nowrap product-info-bg product-info-bg2 pointer" ng-click="showMomentLikes()" style="display: inline-block;">{{moment.total_likes_string}}</small>
                  <button class="btn-circle btn-product-info btn-circle-active" ng-class="{'btn-liked': moment.liked}">
                    <i class="icon-totallikes2016 text-3x text-outline pointer" ng-class="moment.liked ? 'white' : 'font-transparent'" ng-click="likeToggle()"></i>
                  </button>
                </div>
              </div>
              <div ng-if="moment.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideLeft(parameter.moment)'>
                                 &#60;
                                </a>
                </p>
              </div>
              <div ng-if="moment.images.length > 1" class="set-flex between-xs pos-abt" style="top:calc(50% - 11px);right:0;">
                <p class="z-lg m-none no-select p-f-sm ">
                  <a class=" text-lg white" ng-click='slideRight(parameter.moment)'>
                                  &#62;
                                </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- RIGHT -->
        <div class="p-f-sm background-white flex-grow-equal flex-column set-flex" id="rightPanel">
          <div ng-if="ready" class="">
            <div class="set-flex between-xs">
              <div class="set-flex flex-grow-equal">
                <a ui-sref="user({user_id:moment.user_id})" class="" ng-click="close()">
                  <div class="thumb bg-img-center" style='background-image:url("{{moment.user_info.picture}}"); border-radius:25px;'></div>
                </a>
                <div class="m-l-sm set-flex flex-center flex-column top-xs">
                  <a ui-sref="user({user_id:moment.user_id})" class="m-none" ng-click="close()">
                    <div class="">{{moment.user_info.name | splitcharacters: characterLimit}}</div>
                  </a>
                  <p class="m-none">
                    <small>{{moment.user_info.total_followers}} followers</small>
                  </p>
                </div>
              </div>
              <div class="text-right m-b-sm">
                <button class="set-inline-flex flex-center btn-circle pointer dropdown-menu btn-circle-active btn-circleSmall btn-circleSmall2" style="margin-right:13px;" dropdown-menu>
                  <small>   <i class="icon-threedots2016 text-2x red"></i></small>
                  <div class="dropdown-menu-triangle dropdown-menu-list-right" style="top: 10px;"></div>
                  <ul class="dropdown-menu-list dropdown-menu-list-right profiledropdown-menu-list " style="top: 42px;     width: 100px;">
                    <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                      <a ui-sref="listing.momentEdit({id: moment.id})" target="_blank" class="mute">
                        <div class="set-flex flex-center start-xs">
                          <p class="m-none p-none">Edit</p>
                        </div>
                      </a>
                    </li>
                    <!-- Delete -->
                    <li class="dropdown-menu-list-item" ng-if="!StoreFollowProduct">
                      <a ng-click="momentDeletePrompt(moment.id);$event.stopPropagation();">
                        <div class="set-flex flex-center start-xs">
                          <p class="m-none p-none">Delete</p>
                        </div>
                      </a>
                    </li>
                    <!-- Flag -->
                    <li class="dropdown-menu-list-item">
                      <a ng-click="flagMoment()">
                        <div class="set-flex flex-center start-xs">
                          <p class="m-none p-none">Flag</p>
                        </div>
                      </a>
                    </li>
                    <!-- Full View -->
                    <li class="dropdown-menu-list-item">
                      <a ui-sref="moment({moment_id: moment.id})" ng-click="close()">
                        <div class="set-flex flex-center start-xs">
                          <p class="m-none p-none">Full View</p>
                        </div>
                      </a>
                    </li>
                    <!-- cancel -->
                    <li class="dropdown-menu-list-item">
                      <a>
                        <div class="set-flex flex-center start-xs">
                          <p class="m-none p-none">Cancel</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </button>
              </div>
            </div>
            <div ng-style="rightscrollHeight">
              <!-- Name & Price -->
              <div class="set-flex between-xs">
                <h6 class=" m-none" ng-style="productDescription"></h6>
                <button ng-if="StoreFollowProduct" ng-click="followToggle();" class="set-inline-flex flex-center btn-circle btn-circleSmall" style="margin-right:13px;" ng-class="moment.user_info.is_following ? 'btn-following' : 'btn-follow'">
                  <small ng-if="!moment.user_info.is_following">Follow</small>
                  <small ng-if="moment.user_info.is_following">Following</small>
                </button>
              </div>
              <!-- Description -->
              <!-- <p ng-bind-html-unsafe="{{product.description}} | emoji"></p> -->
              <div class="set-flex" id="productDescription" ng-style="productDescription">
                <p class="m-none" ng-style="productDescription" ng-bind-html="moment.description | toHtml | tweetLinky"></p>
                <!-- <p class="m-none" ng-repeat="tag in moment._tags track by $index" class="grey"><small>#{{tag}} &nbsp; </small></p> -->
                <small ng-bind-html="moment.tags | toHtml | tweetLinky"></small>
              </div>
              <comments-moments2 class="flex-grow-equal slide-down" moment='moment' user='userInfo'></comments-moments2>
            </div>
            <form ng-submit="submitComment(content)">
              <textcomplete members='' message='content'>
                <input ng-model="content" class="w-full form-control" type='text' ng-trim="false" />
              </textcomplete>
              <!-- ng-click="dropdownTrigger('input')" -->
              <button type="submit" class="hidden"></button>
            </form>
          </div>
        </div>
      </div>
      <!-- <div ng-class="{'modal-dialog-sm r-3x background-white' : !isMobile}">
    <div class="set-flex flex-column p-t-md p-b-xs">
      <div class="p-md end-xs">
        <i ng-click="close()" class=" pointer icon-close grey"></i>
      </div>
      <h5 class="text-center p-md m-t-none m-b-sm">
          Are you sure?
        </h5>
      <p class="m-none text-center error-color">{{error}}</p>
      <p ng-if="message" class="text-center m-none">Please <span class="bold">Sign In</span> to {{message}}</p>
      <div class="p-f-lg">


        <div class="text-center">
          <button class="cap btn btn-primary m-l m-r" ng-click="close()">
            Cancel
          </button>
          <button class="cap btn btn-primary m-l m-r" ladda='loading' ng-click="submit()">
            Submit
          </button>
        </div>

      </div>
    </div>
  </div> -->
    </div>