<div class="set-flex ">
  <div ng-repeat="item in rating track by $index">
    <div class="set-flex flex-center">
      <i class="{{item.icon}} teal"></i>
    </div>
  </div>
  <small ng-if="total >= 0" class="m-l-sm flex-center set-flex">({{total}})</small>
</div>
