<div class="m-b">
  <div class="background-white r-3x p-f-2x settingTabs">
    <section class="background-white z-lg" sticky offset="52" style="z-index: 9999 !important;">
      <div class="row-edge profiletabs">
        <ul class="w-full m-none p-t-md p-b-md" ng-class="isMobile ? 'set-flex store-m-sub-menu' : 'row-edge flex-center landing-tags'">
          <li class="cap m-t-none n-b-none m-l-md m-r-md p-t-sm p-b-sm pointer"> Settings</li>
        </ul>
      </div>
    </section>
    <div class="background-white r-3x account-buttons" ng-show="isSet(1)">
      <ul id="nav-list" class="row-edge around-xs">
        <li>
          <a ui-sref="settings.store.profile">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-userfilled text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Edit profile</span>
        </li>
        <li>
          <a ui-sref="settings.payment">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-payments text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Payments</span>
        </li>
        <li>
          <a ui-sref="settings.payout">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-bankfilled text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Payouts</span>
        </li>
        <li>
          <a ui-sref="settings.linking">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-linksocialmedia text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Link social media</span>
        </li>
        <li>
          <a ui-sref="messages.archived">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-archivedmessages text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Archived messages</span>
        </li>
        <li>
          <a ui-sref="settings.transaction.buying">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-transactionsfilled text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Transactions</span>
        </li>
        <li>
          <a ui-sref="settings.promos">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-promos text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Promos</span>
        </li>
        <li>
          <a ui-sref="settings.wishlist">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-totallikes2016 text-outline pointer red" style="font-size:46px;"></i>
            </button>
          </a>
          <span class="red">Liked</span>
        </li>
        <li>
          <a href="https://antsquare.zendesk.com/hc/en-us">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-help-1 text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Help</span>
        </li>
        <li>
          <a ng-click='logout()' target="_blank">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-logout-1 text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red">Logout</span>
        </li>
        <li>
          <a ng-href="{{url.login}}" target="_blank" ng-show="userInfo.is_admin">
            <button class="btn-circle btn-circle3 btn-product-info">
              <i class="icon-profiles_icon text-outline pointer red" style="font-size:40px;"></i>
            </button>
          </a>
          <span class="red" ng-show="userInfo.is_admin">Admin</span>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <div class="background-white r-3x account-buttons" ng-show="isSet(2)">
      <ul id="nav-list" class="row-edge around-xs">
        <li>
          <a ui-sref="store({store_id: store.stores[0].id})">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <div class='avatar thumb-sm bg-img-center background-grey-light' ng-style="{ 'background-image': 'url(' + store.stores[0].logo + ')'}">
              </div>
            </button>
          </a>
          <span>Profile</span>
        </li>
        <li>
          <a ui-sref="settings.payout">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <i class="icon-payments text-outline pointer" style="font-size:40px;"></i>
            </button>
          </a>
          <span>Payouts</span>
        </li>
        <li>
          <a ui-sref="settings.transaction.buying">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <i class="icon-transactionsfilled text-outline pointer" style="font-size:40px;"></i>
            </button>
          </a>
          <span>Transactions</span>
        </li>
        <!--</ul>
      <ul id="nav-list" class="row-edge around-xs">-->
        <li>
          <a ui-sref="messages.archived">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <i class="icon-archivedmessages text-outline pointer" style="font-size:40px;"></i>
            </button>
          </a>
          <span>Archived messages</span>
        </li>
        <li>
          <a href="https://support.antsquare.com/hc/en-us">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <i class="icon-help-1 text-outline pointer" style="font-size:40px;"></i>
            </button>
          </a>
          <span>Help</span>
        </li>
        <li>
          <a ng-click='logout()' target="_blank">
            <button class="set-inline-flex flex-center btn-circle btn-circle3 btn-circle4 btn-product-info btn-circle4-active">
              <i class="icon-logout-1 text-outline pointer" style="font-size:40px;"></i>
            </button>
          </a>
          <span>Logout</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--<div class="background-white">
 <div class="container-edge">
    <div class="row-edge">
      <ul class="set-flex flex-column-xs p-none around-xs" style="list-style: none;">
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">Dashboard</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Orders</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Shop</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Request</a>
        </li> 
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onStore}" ui-sref="settings.store.products_services">My Store</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="settings.wishlist">Wish List</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onProfile}" ui-sref="settings.profile">Profile</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onAccount}" ui-sref="settings.payment">Account</a>
        </li>
      </ul>
    </div>
  </div>
</div>-->