<navbar></navbar>
<div class="background-white">
  <!--<div class="container-edge">
    <div class="row-edge">
      <ul class="set-flex flex-column-xs p-none around-xs" style="list-style: none;">
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">Dashboard</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Orders</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Shop</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="">My Request</a>
        </li> 
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onStore}" ui-sref="settings.store.products_services">My Store</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ui-sref-active="bold" ui-sref="settings.wishlist">Wish List</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onProfile}" ui-sref="settings.profile">Profile</a>
        </li>
        <li>
          <a class="white p-r-lg p-b-sm p-t-sm clear" ng-class="{'bold': onAccount}" ui-sref="settings.payment">Account</a>
        </li>
      </ul>
    </div>
  </div>-->
  <div class="background-natural">
    <div class="container-edge">
      <div class="row-edge p-t-lg p-b-lg">
        <div class="col-sm-12 col-xs-12">
          <div ui-view='col-12'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<as-footer></as-footer>