<div class="pos-rlt" style="height:0;width:0;">
  <div class=" dropdown-menu m-none" dropdown-menu style="top: 26px; left: 15px;width:60px;">
    <div class="country-select pointer" id="country-list-trigger">
      <div class="flag country-select {{country.class}}"></div>
      <i class="icon-dropdown m-l-sm"></i>
    </div>
    <ul class="pointer dropdown-menu-list m-none p-none" style="top: 25px;left: -10px;height:195px;overflow-y:scroll;" id="country-list">
      <li ng-repeat="country in countries track by $index" class="country-select-item m-none p-f-sm" ng-click="selectCountry(country);$event.stopPropagation()">
        <div class="dropdown-menu-list-item">
          <div class="set-flex dropdown-menu-list-item">
            <div class="country-select set-flex dropdown-menu-list-item">
              <div class="flag country-select m-r {{country.class}} dropdown-menu-list-item coutnry-flag"></div>
            </div>
            <div class="text-nowrap dropdown-menu-list-item coutnry-flag">{{country.name}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
